<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item"><a href="#">Admin</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>

        <div class="container-fluid">
            <spinner v-show="loading"></spinner>
            <!-- Listados de Asignaciones-->
            <template v-if="listado == 0">

                <div class="card">
                    
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> Asignaciones de Servicios
                        <button type="button" @click="abrirTemplate('asignar','registrar')" class="btn btn-primary"
                        data-toggle="tooltip" data-placement="bottom" title="Crar Nueva Asignacion">
                            <i class="icon-plus"></i>&nbsp;Nuevo
                        </button>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table cell-border hover order-column table-sm" id="myTable">
                                <thead>
                                    <tr>
                                        <th>N°</th>
                                        <th>Soli</th>
                                        <th>Tipo</th>
                                        <th>Razon</th>
                                        <th>Fecha</th>
                                        <!-- <th>Direccion</th>
                                        <th>Ciudad</th> -->
                                        <th>Total</th>
                                        <th>Estado</th>
                                        <th>Zona</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr v-for="asignar in arrayAsignar" :key="asignar.id">
                                        <td v-text="asignar.folio_asi"></td>
                                        <td v-text="asignar.soli_asi"></td>
                                        <td v-if="asignar.tipocli == 1"><span class="badge badge-pill badge-primary text-white">Empresa</span> </td>
                                        <td v-else><span class="badge badge-pill badge-primary text-white">Particular</span></td>
                                        <td v-text="asignar.razon"> </td>
                                        <td v-text="asignar.fecha_asi"></td>
                                        <td>{{formatPrice(asignar.total_asi)}}</td>
                                        <td><span class="badge badge-pill badge-success">{{asignar.nombre_es}}</span></td>
                                        <td v-text="asignar.nombre_zona"></td>
                                        <td>
                                            <button type="button" class="btn btn-outline-primary btn-sm" @click="abrirTemplate('asignar','verPdf', asignar)"
                                             title="Ver Asignacion en Pdf"> <i class="fa fa-file-text"></i>
                                            </button>

                                            <button type="button" class="btn btn-outline-success btn-sm" @click="abrirTemplate('asignar','actualizar', asignar)"
                                            title="Ver Detalles"> <i class="fa fa-eye"></i>
                                            </button>

                                            <button type="button" class="btn btn-outline-danger btn-sm" @click="eliminarSolicitud(asignar.idpresu)"
                                             title="Eliminar"> <i class="fa fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    <div class="card-footer">
                        <div class="text-center">
                            <div class="col-auto my-1">
                                
                            </div>
                        </div>
                    </div>
                </div>

            </template>
            <!-- Fin Asignaciones -->

            <!-- Registrar Asignacion -->
            <template v-if="listado == 1">

                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i>{{tituloModal}}
                    </div>

                    <div class="card-body">
                        <form>
                            <div class="form row">
                                <div class="col-md-8"><!--Cliente-->
                                    <div class="form-group">
                                        <label for="">Cliente: <span class="badge badge-pill badge-danger">(*)</span></label>
                                        <!-- <input v-model="razon"  class="form-control" placeholder="Cliñente"> -->
                                        <h5><b>{{razon}}</b></h5>
                                    </div>
                                </div>
                                <div class="form-group col-md-2 text-center">
                                    <label>Folio</label>
                                    <h5><b>N° {{folio}}</b></h5>
                                </div>  

                                <div class="form-group col-md-2 text-center">
                                    <label>Solicitud:</label>
                                    <h5><b>N° {{folio_soli}}</b></h5>
                                </div>  
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <button type="button" class="form-control btn btn-outline-success" @click="listarSolicitudes2()"
                                    data-toggle="tooltip" data-placement="bottom" title="Lista de Solicitudes"><i class="fa fa-search"></i>&nbsp;Solicitudes</button>
                                </div>

                                <div class="form-group col-md-6">
                                    <button type="button" class="form-control btn btn-outline-primary" @click="listarServicios()"
                                    data-toggle="tooltip" data-placement="bottom" title="Lista de Servicios"><i class="fa fa-search"></i>&nbsp;Servicios</button>
                                </div>
                            </div>

                            <div class="form-group row border">
                                <div class="form-group col-md-1">
                                    <label for="inputState">Nº:</label>
                                    <p><b>{{num_contra}}</b></p>
                                </div>

                                 <div class="form-group col-md-11">
                                    <label for="inputState">Contrato Seleccionado:</label>
                                    <p><b>{{nom_contra}}</b></p>
                                </div>

                                <div class="form-group col-md-12">
                                    <label for="inputState">Servicios Solicitados:</label>
                                    <p><b>{{observacion_soli}}</b></p>
                                </div>

                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-8">
                                    <label for="inputState">Empresa a Cargo</label>
                                    <select class="form-control" v-model="idem" disabled>
                                        <option value=0>Seleccionar...</option>
                                        <option v-for="empresa in arrayEmpresa" :key="empresa.id" :value="empresa.id" v-text="empresa.nombre_em">
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Fecha de Asignacion<span class="badge badge-pill badge-danger">(*)</span></label>
                                    <input v-model="fecha_pre" type="date" class="form-control" placeholder="Folio">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label>Observacion de la Asignacion <span class="badge badge-pill badge-danger">(*)</span></label>
                                    <textarea v-model="observacion" class="form-control" rows="3" placeholder="Observaciones de la Asignacion"></textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="table-responsive col-md-12">
                                    <table class="table table-bordered table-striped table-sm">
                                        <thead>
                                            <tr>
                                                <th>Opciones</th>
                                                <th>Servicios</th>
                                                <th class="numero">Cantidad</th>
                                                <th>Unidad Medida</th>
                                                <th class="numero">Valor Unitarios</th>
                                                <th class="ancho">Valor Neto</th>
                                            </tr>
                                        </thead>
                                        <tbody v-if="arrayItem.length">
                                            <tr v-for="(detalle,index) in arrayItem" :key="detalle.id">
                                                <td>
                                                    <button @click="eliminarItem(index)" type="button" class="btn btn-danger btn-sm">
                                                        <i class="icon-close"></i>
                                                    </button>
                                                    <!-- <button @click="eliminarDetalle(detalle.idprenda)" type="button" class="btn btn-danger btn-sm">
                                                        <i class="icon-close"></i>
                                                    </button> -->
                                                </td>
                                                <td v-text="detalle.nomb_servi"></td>

                                                 <td>
                                                    <input v-model.number="detalle.cantidad" type="number" value="1" min="1" class="form-control">
                                                </td>

                                                <td style="text-align: center;" v-text="detalle.nombre_costo"></td>

                                                <td>$ {{detalle.precio}}</td>
                                                
                                                <td>
                                                    $ {{ formatPrice(detalle.precio * detalle.cantidad)}}
                                                </td>
                                            </tr>
                                            <!-- Totales y Subtotales -->
                                            <tr style="background-color: #CEECF5;">
                                                <td colspan="5" align="right"><strong>Total Monto:</strong></td>
                                                <td colspan="5">$ {{formatPrice(totalMonto=calcularTotal)}}</td>
                                                
                                            </tr>

                                            <!-- El Pago de la Orden -->
                                            <tr style="background-color: #CEECF5;">
                                                <td colspan="5" align="right"><strong>Iva:</strong></td>      
                                                <td colspan="5">$ {{formatPrice(totalIva=calcularTotalIva)}}</td>
                                            </tr>

                                            <tr style="background-color: #CEECF5;">
                                                <td colspan="5" align="right"><strong>Total Neto:</strong></td>
                                                <td colspan="5">$ {{formatPrice(totalNeto = calcularTotalCompleto)}}</td>
                                            </tr>

                                        </tbody>

                                        <tbody v-else>
                                            <tr>
                                                <td class="text-center alert-secondary" colspan="6">
                                                    No hay Items Agregados
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>

                        </form>
                    </div>

                    <div class="card-footer">
                        <div class="text-center">
                            <div class="col-auto my-1">
                                <button type="button" class="btn btn-light" @click="cerrarTemplate()"
                                data-toggle="tooltip" data-placement="bottom" title="Cerrar"><i class="icon-check"></i> Cancelar</button> 
                                <button type="button" class="btn btn-primary" v-if="tipoAccion==1" @click="registrarAsig()"
                                data-toggle="tooltip" data-placement="bottom" title="Registrar Asignacion"><i class="icon-check"></i> Registrar Asignación</button> 
                            </div>
                        </div>
                    </div>
                </div>

            </template>
            <!-- Registrar Asignacion -->

            <!--Ver Pdf del presupuesto-->
            <template v-if="listado == 2">

                <div class="card" id="card-pdf">
                    <!-- <div class="card-header" >
                        <i class="fa fa-align-justify"></i>Formato de Asignacion de Servicio 
                    </div> -->

                    <div class="card-body">
                        <div class="container-fluid d-flex justify-content-between">
                            <div class="col-lg-6 pl-0">
                                <p class="text-left mt-3"><b>EMPRESA:</b></p>
                                <p class="mb-0 mt-2 text-uppercase" style="font-size:22px"><b>{{nombre_empre}}</b></p>
                            </div>

                            <div class="col-lg-6">
                                <p class="text-right mt-3"><b>ASIGNACION DE SERVICIO:</b></p>
                                <h3 class="text-right my-2"><b>N° {{folio}}</b></h3>
                                
                            </div>
                        </div>

                        <div class="container-fluid d-flex justify-content-between">

                            <div class="col-lg-9 pl-0">
                                <p class="mt-5 mb-2 text-uppercase"><b>{{razon}}</b></p>
                                <p class="mb-1 text-capitalize">Rut: {{rut}}</p>
                                <p class="text-capitalize mb-2">Telefono: {{tel_em}}</p>
                                <p class="mb-2 text-capitalize">Direccion Servicio: {{direccion_soli}}</p>
                            </div>

                            <div class="col-lg-3 pl-0">
                                <p class="mt-5 mb-2 text-uppercase text-right"><b>Contactos:</b></p>
                                <p class="text-right text-capitalize mb-1">Tlf: {{tel_contac}}</p>
                                <p class="text-right text-capitalize mb-1">Correo: {{correo_contac}}</p>
                                <br>
                            </div>

                        </div>

                        <div class="mt-4 container-fluid d-flex justify-content-center">
                            <div class="col-lg-12 px-0">
                                <p class="my-1 text-center text-uppercase"><b>Obervaciones:</b></p>
                                <p class="mb-1 text-capitalize">{{observacion_soli}}</p>
                            </div>
                        </div>

                        <hr>

                        <div class="container-fluid mt-2 d-flex justify-content-center w-100">
                            <div class="table-responsive w-100">
                                <table class="table">
                                    <thead>
                                        <tr class="bg-dark text-white">
                                            <th class="text-center">#</th>
                                            <th class="text-center">Servicios</th>
                                            <th class="text-center">Cantidad</th>
                                            <th class="text-center">Unidad</th>
                                            <th class="text-center">Valor Unitario</th>
                                            <th class="text-center">Valor Neto</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="text-justify text-uppercase" v-for="detalle in arrayItem" :key="detalle.id">
                                                <td class="text-center" v-text="detalle.servi_id"></td>
                                                <td class="text-center" v-text="detalle.nomb_servi"></td>
                                                <td class="text-center" v-text="detalle.cantidad"></td>
                                                <td class="text-center" v-text="detalle.nombre_costo"></td>
                                                <td class="text-center">$ {{formatPrice(detalle.valor_uni)}}</td>
                                                <td class="text-center">$ {{ formatPrice(detalle.valor_neto)}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>    
                        </div>

                        <div class="container-fluid mt-5 w-100">
                            <p class="text-right mb-1"><b>Monto:</b> ${{ formatPrice(totalMonto)}}</p>
                            <p class="text-right mb-1"><b>Iva:</b> ${{ formatPrice(totalIva)}}</p>
                            <h5 class="text-right mb-5"><b>Total:</b> ${{ formatPrice(totalNeto)}}</h5>

                            
                        </div>

                        <hr>

                    </div>

                    

                    <div class="card-footer">
                        <div class="container-fluid w-100">
                            <button class="btn btn-secondary float-left mt-4 ml-2" @click="cerrarTemplate()">
                                <i class="icon-close mr-1">
                                </i>
                                Cerrar
                            </button>
                        </div>

                        <div class="container-fluid w-100">
                            <button class="btn btn-primary float-right mt-4 ml-2" @click="pdfAsignacion()"><i class="icon-printer mr-1"></i>Imprimir</button>
                        </div>
                    </div>
                </div>

            </template>
            <!-- Ver Pdf del Presupuesto -->

            <!-- Ver y Editar Solicitud-->
            <template v-if="listado == 3">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i>Ver Detalles de la Asignacion
                    </div>

                    <div class="card-body">
                        <form>
                            <div class="form row">
                                <div class="col-md-7"><!--Cliente-->
                                    <div class="form-group">
                                        <label for="">Cliente <span class="badge badge-pill badge-danger">(*)</span></label>
                                        <h4><b>{{razon}}</b></h4>
                                    </div>
                                </div>

                                <div class="form-group col-md-3">
                                    <label>Fecha <span class="badge badge-pill badge-danger">(*)</span></label>
                                    <input v-model="fecha_pre" type="date" class="form-control" placeholder="Folio">
                                </div>
                                
                                <div class="form-group col-md-2">
                                    <label>Presupuesto</label>
                                    <h4><b>N° {{folio}}</b></h4>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label>Observacion Presupuesto <span class="badge badge-pill badge-danger">(*)</span></label>
                                    <textarea v-model="observacion_soli" class="form-control" rows="3" placeholder="Oservaciones del Presupuesto"></textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="table-responsive col-md-12">
                                    <table class="table table-bordered table-striped table-sm">
                                        <thead>
                                            <tr>
                                                <th>Opciones</th>
                                                <th>Servicios</th>
                                                <th class="numero">Cantidad</th>
                                                <th>Unidad Medida</th>
                                                <th class="numero">Valor Unitario</th>
                                                <th class="ancho">Valor Neto</th>
                                            </tr>
                                        </thead>
                                        <tbody v-if="arrayItem.length">
                                            <tr v-for="(detalle,index) in arrayItem" :key="detalle.id">
                                                <td>
                                                    <button @click="eliminarItem(index)" type="button" class="btn btn-danger btn-sm">
                                                        <i class="icon-close"></i>
                                                    </button>
                                                    <!-- <button @click="eliminarDetalle(detalle.idprenda)" type="button" class="btn btn-danger btn-sm">
                                                        <i class="icon-close"></i>
                                                    </button> -->
                                                </td>
                                                <td v-text="detalle.nomb_servi"></td>

                                                <td v-text="detalle.cantidad"></td>

                                                <td v-text="detalle.nombre_costo">
                                                </td>

                                                <td>
                                                    $ {{formatPrice(detalle.valor_uni)}}
                                                </td>
                                                
                                                <td>
                                                    $ {{ formatPrice(detalle.valor_neto)}}
                                                </td>
                                            </tr>
                                            <!-- Totales y Subtotales -->
                                            <tr style="background-color: #CEECF5;">
                                                <td colspan="5" align="right"><strong>Total Monto:</strong></td>
                                                <td colspan="5">$ {{formatPrice(totalMonto)}}</td>
                                                
                                            </tr>

                                            <!-- El Pago de la Orden -->
                                            <tr style="background-color: #CEECF5;">
                                                <td colspan="5" align="right"><strong>Iva:</strong></td>      
                                                <td colspan="5">$ {{formatPrice(totalIva)}}</td>
                                            </tr>

                                            <tr style="background-color: #CEECF5;">
                                                <td colspan="5" align="right"><strong>Total Neto:</strong></td>
                                                <td colspan="5">$ {{formatPrice(totalNeto)}}</td>
                                            </tr>

                                        </tbody>

                                        <tbody v-else>
                                            <tr>
                                                <td colspan="6">
                                                    No hay Prendas Agregadas
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                                
                            </div>
                        </form>
                    </div>

                    <div class="card-footer">
                        <div class="text-center">
                            <div class="col-auto my-1">
                                <button type="button" class="btn btn-light" @click="cerrarTemplate()"><i class="icon-check"></i> Cancelar</button> 
                                <button type="button" class="btn btn-primary" v-if="tipoAccion==1" @click="registrarPresu()"><i class="icon-check"></i> Registrar Solicitud</button> 
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            <!-- Ver y Editar Solicitud-->

            <!-- Modal Contratos Tabla mytable4-->
            <div v-if="modal==1" class="mostrar modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dark modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header justify-content-center">
                            <h4 class="modal-title">Lista de Contratos del Cliente</h4>
                            <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                            <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="div1">
                                <div class="table-responsive-xl">
                                    <table class="table" id="myTable4"> 
                                        <thead class="thead-dark">
                                            <tr>
                                                <th width="20px">N°</th>
                                                <th width="100px">Cliente</th>
                                                <th>Contrato</th>
                                                <th>Fecha</th>
                                                <th>Empresa</th>
                                                <th width="50px">Opciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="contratos in arrayContratos" :key="contratos.id">
                                                <td v-text="contratos.id_contra"></td>
                                                <td v-text="contratos.razon"></td>
                                                <td v-text="contratos.nombre_contra"></td>
                                                <td v-text="contratos.fecha_contra"></td>
                                                <td v-text="contratos.nombre_em"></td>
                                                <td>
                                                    <button type="button" @click="verTrabajo(contratos)" class="btn btn-outline-success btn-sm" 
                                                    data-toggle="tooltip" data-placement="bottom" title="Seleccionar Contrato y Cargar sus servicios">
                                                    <i class="icon-check"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>                    
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" @click="cerrarModal()">Cerrar</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- Contratos -->

            <!-- Modal Solicitudes myTable3-->
            <div v-if="modal==2" class="modal fade" :class="{'mostrar': modal}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-dark modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header justify-content-center">
                            <h4 class="modal-title">Lista de Solicitudes</h4>
                            <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                            <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="div1">
                                <div class="table-responsive">
                                    <table class="table" id="myTable3"> 
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>N°</th>
                                                <th>Tipo</th>
                                                <th>Razon</th>
                                                <th>F. Solicitada</th>
                                                <th>Estado</th>
                                                <th>Opciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="solicitudes in arraySolicitudes2" :key="solicitudes.id">
                                                <td v-text="solicitudes.folio_soli"></td>

                                                <td v-if="solicitudes.tipocli == 1"><span class="badge badge-pill badge-primary text-white">Empresa</span></td>
                                                <td v-else><span class="badge badge-pill badge-primary text-white">Particular</span></td>
                                                
                                                <td v-text="solicitudes.razon"></td>
                                                <td v-text="solicitudes.fecha_soli"></td>
                                                <td><span class="badge badge-pill badge-success">{{solicitudes.nombre_es}}</span></td>
                                                <td>
                                                    <button type="button" @click="agregarSolicitante(solicitudes)" class="btn btn-outline-success btn-sm"
                                                    data-toggle="tooltip" data-placement="bottom" title="Seleccionar Solicitud y Ver Lista de Contratos">
                                                    <i class="icon-check"></i></button>

                                                    <button type="button" @click="verSolicitud(solicitudes)" class="btn btn-outline-success btn-sm"
                                                    data-toggle="tooltip" data-placement="bottom" title="Ver los detalles de la Solicitud">
                                                    <i class="icon-eye"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>                    
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" @click="cerrarModal()">Cerrar</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- Solicitudes -->

             <!-- Ver Solicitud desde Formato -->
            <div v-if="modal2==1" class="modal fade" :class="{'mostrar': modal}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-dark modal-lg" role="document">

                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Datos de la Solicitud</h4>
                            <button type="button" class="close" @click="cerrarModal2()" aria-label="Close">
                            <span aria-hidden="true">×</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <div class="container-fluid d-flex">
                                <div class="col-lg-6 pl-0">
                                    <p class="mb-0 mt-2" style="font-size:20px"><b>{{razon2}}</b></p>
                                </div>

                                <div class="col-lg-6">
                                    <h4 class="text-right my-2"><b>N° {{folio_soli}}</b></h4>
                                </div>
                                
                            </div>

                            <div class="container-fluid d-flex justify-content-between">
                                <div class="col-lg-8 pl-0">
                                    <p class="mt-4 mb-2 text-uppercase"><b>{{razon2}}</b></p>
                                    <p class="mb-1 text-capitalize">Rut: {{rut}}</p>
                                    <p class="text-capitalize mb-1">Telefono: {{tel_em}}</p>
                                    <p class="text-capitalize mb-1">Fecha Creacion: {{fecha_creacion}}</p>
                                </div>
                            
                                <div class="col-lg-4 pl-0">
                                    <p class="mt-4 mb-2 text-uppercase text-right"><b>Contactos:</b></p>
                                    <p class="text-right text-capitalize mb-1">Tlf: {{tel_contac}}</p>
                                    <p class="text-right text-capitalize mb-1">Correo: {{tel_contac}}</p>
                                    <p class="text-right text-capitalize mb-1">Fecha Trabajo: {{fecha_soli}}</p>
                                    <br>
                                </div>    
                            </div>

                            <div class="mt-1 container-fluid d-flex justify-content-center">
                                <div class="col-lg-12 px-0">
                                    <p class="my-1 text-center text-uppercase pt-1"><b>Direccion Solicitud:</b></p>
                                    <p class="mb-1 text-capitalize">{{direccion_soli}}</p>
                                </div>
                            </div>

                            <hr>

                            <div class="mt-2 container-fluid d-flex justify-content-center">
                                <div class="col-lg-12 px-0">
                                    <p class="my-1 text-center text-uppercase bg-dark text-white py-2"><b>Obervaciones:</b></p>
                                    <p class="mb-1 text-capitalize">{{observacion_soli}}</p>
                                </div>
                            </div>
                            
                            
                        </div>                    

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" @click="cerrarModal2()">Cerrar</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- Formato -->

            <!-- Modal y Servicios myTable2-->
            <div v-if="modal2==2" class="mostrar modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dark modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header justify-content-center">
                            <h4 class="modal-title">Lista Servicios del Contrato</h4>
                            <button type="button" class="close" @click="cerrarModal2()" aria-label="Close">
                            <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="div1">
                                <div class="table-responsive-xl">
                                    <table class="table" id="myTable2"> 
                                        <thead class="thead-dark">
                                            <tr>
                                                <th width="90px">ID</th>
                                                <th>Servicios</th>
                                                <th>Forma C.</th>
                                                <th>Precio</th>
                                                <th width="90px">Opciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="servicios in arrayServicios" :key="servicios.id">
                                                <td v-text="servicios.id_servi"></td>
                                                <td v-text="servicios.nomb_servi"></td>
                                                <td v-text="servicios.nombre_costo"></td>
                                                <td>{{formatPrice(servicios.precio)}}</td>
                                                <td>
                                                    <button type="button" @click="agregarDetalleModal(servicios)" class="btn btn-outline-success btn-sm">
                                                    <i class="icon-check"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>                    
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" @click="cerrarModal2()">Cerrar</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- Servicios -->
        </div>
    </main>
</template>

<script>
import datatables from 'datatables';
export default {
    props : ['ruta'],
    data(){
        return{
            // Manejo de Datos
            // Arrays
            arrayAsignar: [],
            arrayCosto : [],
            arrayEmpresa : [],
            arrayItem: [],
            arraySolicitudes2:[],
            arrayServicios:[],
            arrayContratos:[],
            // 
            // Variables
            loading : true,
            modal: 0,
            modal2 : 0,
            tituloModal: '',
            tipoAccion:0,
            razon: '',
            razon2: '',
            observacion:'',
            folio:'',
            folio_soli:'',
            folio_pre:'',
            listado: 0,
            fecha_pre:'',
            fecha_soli:'',
            fecha_creacion:'',
            idem: 0,
            idesoli:0,
            idclientempre:0,
            valor : 0,
            // Variable solo para mostrar nombre de la empresa
            nombre_empre:'',

            nom_contra: '', //nom contra
            num_contra: 0, //num contra
            id_contra : 0,
            

            // variabes para ver el formato pdf
            correo_contac:'',
            rut:'',
            tel_em:'',
            tel_contac:'',
            direccion_soli:'',
            observacion_soli:'',
            idasig:0,
            id_empre: 0,

            totalNeto:0,
            totalIva:0,
            totalMonto:0,
            //

            // Manejo de Errores
            errorCamion: 0,
            errorMsjCamion:[],
            //
        }
    },
    computed:{
        calcularTotal : function(){
            var resultado=0.0;
            for(var i=0; i<this.arrayItem.length;i++){
                resultado=resultado+(this.arrayItem[i].precio*this.arrayItem[i].cantidad)
            }
            return resultado
        },
        calcularTotalIva : function(){
            var resultado=0.0;
            var total = 0.0;
            for(var i=0; i<this.arrayItem.length;i++){
                resultado=resultado+(this.arrayItem[i].precio*this.arrayItem[i].cantidad)
            }
            total = (resultado * 19)/100;
            return total
        },

        calcularTotalCompleto : function(){
            var resultado=0.0;
            var resultadoiva=0.0;
            var total = 0.0;
            var totalcompleto=0.0;

            for(var i=0; i<this.arrayItem.length;i++){
                resultado=resultado+(this.arrayItem[i].precio*this.arrayItem[i].cantidad)
            }

            for(var i=0; i<this.arrayItem.length;i++){
                resultadoiva=resultadoiva+(this.arrayItem[i].precio*this.arrayItem[i].cantidad)
            }
            total = (resultadoiva * 19)/100;

            totalcompleto = total + resultado;
            return totalcompleto
        },
    },

    methods:{
        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', ',')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
        },

         // Tabla Prespuestos
        mytable(){
            $(document).ready( function () {
                $('#myTable').DataTable({
                    "destroy":true,
                    "language": {
                        "info": "_TOTAL_ registros",
                        "search": "Buscar:",
                        "paginate" : {
                            "next" : "Siguiente",
                            "previous" : "Anterior"
                        },
                        "lengthMenu": 'Mostrar <select>'+
                                    '<option value="10">10</option>'+
                                    '<option value="25">25</option>'+
                                    '<option value="50">50</option>'+
                                    '<option value="100">100</option>'+
                                    '<option value="-1">Todos</option>'+
                                    '</select> registros',
                        "loadingRecords": "Cargando...",
                        "processing": "Procesando...",
                        "emptyTable": "No hay datos...",
                        "zeroRecords": "No Hay Coincidencias",
                        "infoEmpty": "...",
                        "infoFiltered":"..."
                    },
                    "order": [[0, "desc"]]
                    
                })

            });
        },
        // Tabla Servicios
        mytable2(){
            $(document).ready( function () {
                $('#myTable2').DataTable({
                    "destroy":true,
                    "language": {
                        "info": "_TOTAL_ registros",
                        "search": "Buscar:",
                        "paginate" : {
                            "next" : "Siguiente",
                            "previous" : "Anterior"
                        },
                        "lengthMenu": 'Mostrar <select>'+
                                    '<option value="10">10</option>'+
                                    '<option value="25">25</option>'+
                                    '<option value="50">50</option>'+
                                    '<option value="100">100</option>'+
                                    '<option value="-1">Todos</option>'+
                                    '</select> registros',
                        "loadingRecords": "Cargando...",
                        "processing": "Procesando...",
                        "emptyTable": "No hay datos...",
                        "zeroRecords": "No Hay Coincidencias",
                        "infoEmpty": "...",
                        "infoFiltered":"..."
                    },
                    "order": [[0, "desc"]]
                })

            } );
        },
        // Tabla Solicitudes
        mytable3(){
            $(document).ready( function () {
                $('#myTable3').DataTable({
                    "destroy":true,
                    "language": {
                        "info": "_TOTAL_ registros",
                        "search": "Buscar:",
                        "paginate" : {
                            "next" : "Siguiente",
                            "previous" : "Anterior"
                        },
                        "lengthMenu": 'Mostrar <select>'+
                                    '<option value="10">10</option>'+
                                    '<option value="25">25</option>'+
                                    '<option value="50">50</option>'+
                                    '<option value="100">100</option>'+
                                    '<option value="-1">Todos</option>'+
                                    '</select> registros',
                        "loadingRecords": "Cargando...",
                        "processing": "Procesando...",
                        "emptyTable": "No hay datos...",
                        "zeroRecords": "No Hay Coincidencias",
                        "infoEmpty": "...",
                        "infoFiltered":"..."
                    },
                    "order": [[0, "desc"]]
                })

            } );
        },

        // Tabla Contratos
        mytable4(){
            $(document).ready( function () {
                $('#myTable4').DataTable({
                    "destroy":true,
                    "language": {
                        "info": "_TOTAL_ registros",
                        "search": "Buscar:",
                        "paginate" : {
                            "next" : "Siguiente",
                            "previous" : "Anterior"
                        },
                        "lengthMenu": 'Mostrar <select>'+
                                    '<option value="10">10</option>'+
                                    '<option value="25">25</option>'+
                                    '<option value="50">50</option>'+
                                    '<option value="100">100</option>'+
                                    '<option value="-1">Todos</option>'+
                                    '</select> registros',
                        "loadingRecords": "Cargando...",
                        "processing": "Procesando...",
                        "emptyTable": "No hay datos...",
                        "zeroRecords": "No Hay Coincidencias",
                        "infoEmpty": "...",
                        "infoFiltered":"..."
                    },
                    "order": [[0, "desc"]]
                })

            } );
        },

        abrirTemplate(modelo, accion, data = []){
            switch(modelo){
                    case "asignar":
                    {
                        switch(accion){
                            case 'registrar':
                            {
                                this.tipoAccion = 1; //para mostrar el boton guardar
                                // this.modal = 1;//debe mostar ventana modal
                                this.listado=1;
                                this.generarCodig();
                                this.tituloModal = 'Registrar Asignacion'
                                this.razon='';
                                this.observacion = '';
                                this.fecha_soli = '';
                                break;
                            }
                            case 'actualizar':
                            {
                                let me = this;
                                $("#myTable").dataTable().fnDestroy();
                                me.title = 'Ver Detalles de la Asginacion';
                                me.arrayPrueba = [];
                                me.tipoAccion = 2;
                                me.listado= 2;
                                me.idesoli = data['soli_asi'];
                                me.folio = data['folio_asi'];
                                me.razon = data['razon'];
                                // me.fecha_soli = data['fecha_soli'];
                                me.rut = data['rut'];
                                me.correo_contac = data['correo_contac'];
                                me.tel_em = data['tel_em'];
                                // me.direccion_em = data['direccion_em'];
                                me.tel_contac = data['tel_contac'];
                                me.direccion_soli = data['direccion_soli'];
                                me.observacion_soli = data['observacion_asi'];
                                me.idasig = data['idasig'];
                                me.id_empre = data['id_empre'];
                                me.fecha_pre = data['fecha_asi'];

                                me.totalMonto = data['monto_asi'];
                                me.totalIva = data['iva_asi'];
                                me.totalNeto = data['total_asi'];

                                //Obtener Detalles
                                var url =this.ruta +'/asignaciones/obtenerDetalles?id=' + me.idasig;
                                axios.get(url).then(function (response) {
                                    var respuesta = response.data;
                                    me.arrayItem = respuesta.asignaciones;  
                                    
                                })
                                .catch(function (error) {
                                    console.log(error);
                                });

                                this.listado = 3;
                                break;

                            }

                            case 'verPdf':
                            {
                                let me = this;
                                $("#myTable").dataTable().fnDestroy();
                                me.arrayPrueba = [];
                                
                                me.listado= 2;
                                me.idesoli = data['soli_asi'];
                                me.folio = data['folio_asi'];
                                me.razon = data['razon'];
                                // me.fecha_soli = data['fecha_soli'];
                                me.rut = data['rut'];
                                me.correo_contac = data['correo_contac'];
                                me.tel_em = data['tel_em'];
                                // me.direccion_em = data['direccion_em'];
                                me.tel_contac = data['tel_contac'];
                                me.direccion_soli = data['direccion_soli'];
                                me.observacion_soli = data['observacion_asi'];
                                me.idasig = data['idasig'];
                                me.id_empre = data['id_empre'];
                                // Nombre de Empresa
                                me.nombre_empre = data['nombre_em'];
                                me.totalMonto = data['monto_asi'];
                                me.totalIva = data['iva_asi'];
                                me.totalNeto = data['total_asi'];

                                //Obtener Detalles
                                var url =this.ruta +'/asignaciones/obtenerDetalles?id=' + me.idasig;
                                axios.get(url).then(function (response) {
                                    var respuesta = response.data;
                                    me.arrayItem = respuesta.asignaciones;  
                                    
                                })
                                .catch(function (error) {
                                    console.log(error);
                                });

                                this.listado = 2;
                                break;

                            }
                        }
                    }
                }
        },

        generarCodig(){
            let me=this;
            var url =this.ruta +'/asignacion/codigo'
            axios.get(url).then(function (response) {
                var respuesta = response.data;
                if(respuesta.codigo == null){
                    me.folio = 1;
                }else{
                    me.valor = respuesta.codigo["folio_asi"];
                    me.folio = parseInt(me.valor);
                    me.folio ++;
                }
                    
                // this.valor = respuesta.codigo;
                })
                .catch(function (error) {
                    console.log(error);
                });
        },

        listarAsignaciones(){
            let me = this;
            var url =this.ruta +'/asignacion'; 
            axios.get(url)
            .then((response) => {
                    var respuesta = response.data;
                    me.arrayAsignar= respuesta.asignaciones;
                    me.mytable();
                    me.loading = false;
            })
            .catch(function(error) {
                    // handle error
                    console.log(error);
            });
        },


        listarEmpresa(){
            let me = this;
            var url =this.ruta +'/empresas'; 
            axios.get(url).then(function(response) {
                    var respuesta = response.data;
                    me.arrayEmpresa= respuesta.empresas;
            })
            .catch(function(error) {
                    // handle error
                    console.log(error);
            });
        },

        listarContratos(){
            let me = this;
            me.mytable2();
            me.modal=1;
        },

        // Debo Adaptarlo
        listarServicios(){
            let me = this;
            me.modal2 = 2;
            me.mytable2();
        },

        listarSolicitudes2(){
            let me = this;
            me.modal = 2;
            var url =this.ruta +'/solicitudes/asignar'; 
            axios.get(url).then(function(response) {
                    var respuesta = response.data;
                    me.arraySolicitudes2= respuesta.solicitudes;
                    me.mytable3();
            })
            .catch(function(error) {
                    // handle error
                    console.log(error);
            });
            
        },

        verSolicitud(data = []){
            let me = this;
            me.modal2=1;
            me.folio_soli = data['folio_soli'];
            me.razon2 = data['razon'];
            me.fecha_soli = data['fecha_soli'];
            me.rut = data['rut'];
            me.correo_contac = data['correo_contac'];
            me.tel_em = data['tel_em'];
            me.direccion_em = data['direccion_em'];
            me.tel_contac = data['tel_contac'];
            me.direccion_soli = data['direccion_soli'];
            me.observacion_soli = data['observacion'];
            me.idesoli = data['idesoli'];
            me.fecha_soli = data['fecha_soli'];
            me.fecha_creacion = data['created_at'];
        },

        verTrabajo(data = []){
            let me = this;
            $("#myTable4").dataTable().fnDestroy();
            me.modal=0;

            me.modal2=2;
            me.seleccionado2();
            me.nom_contra = data['nombre_contra'];
            me.num_contra= data['folio_contra'];
            me.id_contra = data['id_contra'];
            me.idem = data['id_empre'];
            me.arrayServicios = [];

            var url =this.ruta +'/contratos/servicioscli?id=' + data['id_cli'] + '&id_contra=' + me.id_contra;
            axios.get(url).then(function (response) {
                var respuesta = response.data;
                me.arrayServicios = respuesta.servi;  
                me.mytable2();
                
            })
            .catch(function (error) {
                console.log(error);
            });


        },
        seleccionado2(){
            swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'Contrato Seleccionado y Servicios Cargados',
                showConfirmButton: false,
                timer: 1200
                })
        },

        seleccionado(){
            swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'Lista de Contratos del Cliente',
                showConfirmButton: false,
                timer: 1200
                })
        },

        agregarSolicitante(data = []){
            let me = this;
            me.razon = data['razon'];
            me.folio_soli = data['folio_soli'];
            // id solicitud
            me.idesoli = data['idesoli'];
            // id de clientempresa
            me.idclientempre = data['ide'];
            me.observacion_soli = data['observacion'];
            me.arrayContratos=[];
            me.modal = 1;
            me.seleccionado();
            $("#myTable3").dataTable().fnDestroy();

            var url =this.ruta +'/contratos/cliente?id_cli=' +me.idclientempre; 
            axios.get(url).then(function(response) {
                    var respuesta = response.data;
                    me.arrayContratos= respuesta.contratos;
                    me.mytable4();
            })
            .catch(function(error) {
                    // handle error
                    console.log(error);
            });

            
            

        },

        agregarDetalleModal(data = []){
            let me=this;

            if(me.encuentra(data['id_servi'],data['id_con'])){
                    swal.fire({
                        icon:'error',
                        type: 'error',
                        title: 'Error...',
                        text: '!Servicio Agregado o Diferente Contrato!',
                        })

            }else{
                me.arrayItem.push({
                id_servi : data['id_servi'],
                nomb_servi: data['nomb_servi'],
                cantidad: 0,
                nombre_costo:data['nombre_costo'],
                idcosto: data['id_formac'],
                precio:data['precio'],
                id_con:data['id_con']
                }); 
            }
        },

        encuentra(id_servi,id_con){ //FUNCION PARA ENCONTRAR DATOS REPETIDOS EN LA TABLA DETALLES
            var sw=0;
            for(var i=0; i<this.arrayItem.length; ++i){
                if(this.arrayItem[i].id_servi == id_servi || this.arrayItem[i].id_con != id_con){
                    sw=true;
                }

            }
            return sw;
        },

        eliminarItem(index){
            let me=this;
            me.arrayItem.splice(index,1);
        },

        cerrarModal(){
            this.modal=0;
            // this.arrayServicios=[];
            this.arraySolicitudes2=[];
            // this.arrayItem = [];
            
        },

        cerrarModal2(){
            let me= this;
            me.modal2=0;
            // this.arrayPrueba = [];

        },

        cerrarTemplate(){
            this.listado=0;
            this.arrayItem=[];
            this.arrayServicios=[];
            this.razon='';
            this.folio = '';
            this.folio_soli = '';
            this.correo_contac='';
            this.rut='';
            this.tel_em='';
            this.tel_contac='';
            this.direccion_soli='';
            this.observacion_soli = '',
            this.fecha_asi = '';
            this.fecha_pre = '';
            this.totalIva= 0;
            this.totalMonto= 0;
            this.totalNeto= 0;
            this.observacion_soli = '';
            this.idesoli= 0;
            this.num_contra= 0;
            this.nom_contra= '';
            this.id_contra=0;
            // this.loading = true;
            this.arrayContratos = [];
            this.idem = 0;
            this.nombre_empre = '';
            $("#myTable").dataTable().fnDestroy();
            this.listarAsignaciones();
        },

        registrarAsig(){
            if(this.validarCliente()){
            return;
            }else{
                swal.fire({
                    title: '¿Esta Seguro de Realizar este Registro?',
                    text: "¡Tendra una Nueva Asignacion!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si, Registralo!'
                }).then((result) => {
                    if (result.value) {
                        
                    let me = this;
                    axios.post(this.ruta +'/asignacion/registrar',{ //la ruta , los datos q recibimos  enviamos a registrar
                    //campos de la bd : variabes de js
                        'folio_asi':this.folio,
                        'fecha_asi': this.fecha_pre,
                        'iva_asi': this.totalIva,
                        'monto_asi': this.totalMonto,
                        'total_asi': this.totalNeto,
                        'observacion_asi':this.observacion,
                        'soli_asi': this.idesoli,
                        'idclientempre': this.idclientempre,
                        'id_empre':this.idem,
                        'clicontratos': this.id_contra,
                        'data':this.arrayItem

                    }).then(function (response) {
                        me.cerrarTemplate();
                        swal.fire(
                        'Registro Exitoso!',
                        'La Asignacion ha sido Registrado.',
                        'success'
                        )
                        $("#myTable").dataTable().fnDestroy();
                        this.listarAsignaciones();//listar por defecto  
                        
                        
                        })
                        .catch(function (error) {
                            console.log(error.response);
                        });

                    
                    
                    }
                })
            }
        },

        validarCliente(){
            this.errorCamion= 0; //inicializamos en 0
            this.errorMsjCamion = []; //a este array le anexaremos los msj d errores con el metodo push
            
            
            if(!this.razon) this.errorMsjCamion.push("La Direccion no puede estar vacio");
            if(!this.observacion) this.errorMsjCamion.push("La Direccion no puede estar vacio");
            if(!this.fecha_pre) this.errorMsjCamion.push("Debe Selecionar una fecha");
            if(this.idem == "0" || this.idem == 0) this.errorMsjCamion.push("La Direccion no puede estar vacio");
            if(this.arrayItem > 1) this.errorMsjCamion.push("Debe Selecionar una fecha");
            if(this.errorMsjCamion.length) this.errorCamion = 1;
            //aqui retornamos el valor 1

            if(this.errorMsjCamion.length > 0){
                swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: '¡Existen Campos Vacios!',
                footer: '!Por Favor Corrija e Intente Nuevamente!'
                })
                return this.errorCamion = 1;
            }


        },

        pdfAsignacion(){
            let me = this;
            window.open(this.ruta +'/asignacion/pdf/' + me.idasig);
        },

    },
    mounted() {
        this.generarCodig();
        this.listarAsignaciones();
        this.listarEmpresa();
    }
}
</script>

<style>
    .ancho{
        width: 19%;
    }
    .numero {
        width: 15%;
    }

    .modal-content{
        border-radius: .3rem;
        width: 100% !important;
        position: absolute !important;
    }
    .modal-header{
        border-top-right-radius: .3rem;
        border-top-left-radius: .3rem;
        background-color: #3678A8;
        color: white;
        
    }
    
    .modal{
        overflow: auto !important;
    }
    .modal-largo {
        max-width: 1000px;
    }

    .mostrar{ /* cuando mostrar es igual a 1*/
        display: list-item !important;
        opacity: 1 !important;
        background-color: #3c29297a !important;
        overflow-y: auto !important;
        border-radius: .3rem;
    }
    .modal-header{
        border-top-right-radius: .3rem;
        border-top-left-radius: .3rem;
    }


    .mostrar{ /* cuando mostrar es igual a 1*/
        display: list-item !important;
        opacity: 1 !important;
        background-color: #3c29297a !important;
        overflow-y: auto;
    }

    .card{
        border: 0;
        border-radius: .3rem;
        box-shadow: 0 0 1px rgba(0,0,0,.125),0 1px 3px rgba(0,0,0,0.38);
    }
    .card-header{
        border: 0;
        border-top-left-radius: .3rem;
        border-top-right-radius: .3rem;
    }
    .card-footer{
        border: 0;
        border-radius: .3rem;
    }

    .form-control,.btn{
        border-radius: 3px;
    }

    #imagen{
        max-width: 240px;
        max-height: 80px;
    }

</style>

