<template>
    <main class="main">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <li @click="listarAsistencias()" class="breadcrumb-item"><a href="#" 
            title="Listado de Asistencias">Asistencias</a></li>

            <li @click="listarHoras()" class="breadcrumb-item"><a href="#"
            title="Listado de Horas Extras">Horas Extra</a></li>

            <li @click="listarTurnos()" class="breadcrumb-item"><a href="#"
            title="Listado de Turnos Extras">Turnos Extras</a></li>

            <li @click="listarResumen()" class="breadcrumb-item"><a href="#"
            title="Ver Resumenes de Trabajadores">Ver Resumen por Trabajador</a></li>

            <li class="breadcrumb-item">Fecha: {{fecha_hoy = fechas }}</li>
        </ol>
        <!---->

        <div class="container-fluid">
            <!-- <spinner v-show="loading"></spinner> -->

            <!-- Listados de Asistencias-->
            <template v-if="listado == 0">
                <div class="card">
                    
                    <div class="card-header d-flex justify-content-between">
                        <div>
                            <i class="fa fa-align-justify"></i> Listado de Asistencias
                            <button type="button" @click="abrirModalAsis('asistencia','registrar')" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Registrar Nueva Asistencia">
                                <i class="icon-plus"></i>&nbsp;Nuevo
                            </button>
                        </div>
                        <div>
                            <button type="button" @click="verMes()" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Ver Mes Completo de Asistencia">
                                <i class="icon-calendar"></i> Ver Mes
                            </button>
                        </div>

                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table cell-border hover order-column table-sm" id="myTable">
                                <thead>
                                    <tr>
                                        <th>N°</th>
                                        <th>Trabajador </th>
                                        <th>Fecha</th>
                                        <th>Hora</th>
                                        <th>Tipo</th>
                                        <th>Empresa</th>
                                        <th>Cargo</th>
                                        <th>Zona</th>
                                        <!-- <th>Usuario</th> -->
                                        <!-- <th>Observaciones</th> -->
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="asistencia in arrayAsistencia" :key="asistencia.id">
                                        <td v-text="asistencia.idasi"></td>
                                        <td>{{asistencia.nombre_tra +' '+ asistencia.apellido_tra}}</td>
                                        <td v-text="asistencia.fecha_asi" ></td>
                                        <td v-text="asistencia.hora_asi"></td>

                                        <td v-if="asistencia.tipo == 1"><span class="badge badge-pill badge-success text-white">{{asistencia.nombre_tipo}}</span></td>
                                        <td v-if="asistencia.tipo == 2"><span class="badge badge-pill badge-secondary text-white">{{asistencia.nombre_tipo}}</span></td>
                                        <td v-if="asistencia.tipo == 3" ><span class="badge badge-pill badge-danger text-white">{{asistencia.nombre_tipo}}</span></td>
                                        <td v-if="asistencia.tipo == 4"><span class="badge badge-pill badge-primary text-white">{{asistencia.nombre_tipo}}</span></td>
                                        <td v-if="asistencia.tipo == 5"><span class="badge badge-pill badge-info text-white">{{asistencia.nombre_tipo}}</span></td>
                                        <td v-if="asistencia.tipo == 6"><span class="badge badge-pill badge-dark text-white">{{asistencia.nombre_tipo}}</span></td>

                                        
                                        <td v-text="asistencia.nombre_em"></td>
                                        <td v-text="asistencia.nombre_depa"></td>
                                        <td v-text="asistencia.nombre_zona"></td>
                                        <!-- <td v-text="asistencia.usuario"></td> -->
                                        <!-- <td v-if ="asistencia.observa_asi == null"></td>
                                        <td v-else><span class="badge badge-pill badge-warning">Observaciones </span></td> -->
                                        <td>
                                            <button type="button" class="btn btn-outline-success btn-sm"  @click="abrirModalAsis('asistencia','actualizar', asistencia)" data-toggle="tooltip" data-placement="bottom" title="Ver o Editar Asistencia">
                                                <i class="fa fa-pencil"></i>
                                            </button>

                                            <button type="button" class="btn btn-outline-danger btn-sm" @click="eliminarAsistencia(asistencia.idasi)" data-toggle="tooltip" data-placement="bottom" title="Eliminar Asistencia">
                                                <i class="fa fa-trash"></i>
                                            </button>

                                            
                                            <button type="button" class="btn btn-outline-primary btn-sm" @click="verMesTra(asistencia.id_traba)" data-toggle="tooltip" data-placement="bottom" title="Ver la Asistencia en el Calendario">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    <div class="card-footer">
                        <div class="text-center">
                            <div class="col-auto my-1">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            <!-- Fin Asistencias -->

            <!-- Registrar Nueva Lista de Asistencia -->
            <template v-if="listado == 4">
                <div class="card">
                    
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> Registrar Nuevo Listado de Asistencias
                        <!-- <button type="button" @click="abrirModalTurnos('turnos','registrar')" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Crear Nueva Cotizacion">
                            <i class="icon-plus"></i>&nbsp;Nuevo
                        </button> -->
                    </div>

                    <div class="card-body">
                        <form>
                            <div class="form-group row">
                                <div class="form-group col-md-4">
                                    <label class="control-label">Fecha</label>
                                    <input type="date" v-model="fecha_asi" class="form-control" placeholder="Ingresar Año">
                                </div>

                                <div class="form-group col-md-4">
                                    <label class="control-label">Hora</label>
                                    <input v-model="hora_asi" type="time" class="form-control">
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="inputState">Tipo</label>
                                    <select  class="form-control"  @change="validarAsis()" v-model="tipo">
                                        <option value=''>Seleccionar...</option>
                                        <option v-for="tipo in arrayTipo" :key="tipo.id" :value="tipo.id" v-text="tipo.nombre_tipo">
                                        </option>
                                    </select>
                                </div>

                                
                                <div class="form-group col-md-12">
                                    <label>Observaciones <strong>(*)</strong></label>
                                    <textarea v-model="observa_asi" class="form-control" rows="3" placeholder="Ingresar Observaciones"></textarea>
                                </div>
                            </div>

                            
                                
                            <div class="form row py-1">
                                <div class="form-group col-md-12">
                                    <div class="text-center">
                                        <div class="col-auto my-1">
                                            <button type="button" class="form-control btn btn-outline-success" @click="listarTrabajadores()"><i class="fa fa-search"></i>&nbsp;Lista de Trabajadores</button>                                             
                                        </div>
                                    </div>
                                </div>
                                <!-- Lista de Asistencias -->
                                <div class="col-md-12">
                                    <p class="text-center alert-light">Lista de Asistencias</p>
                                    <hr>
                                </div>

                                <div class="table-responsive col-md-12">
                                    <hr>
                                    <table class="table table-bordered table-striped table-sm">
                                        <thead>
                                            <tr>
                                                <th>Opciones</th>
                                                <th>Nombre</th>
                                                <th>Fecha</th>
                                                <th>Hora</th>
                                                <th>Tipo</th>
                                                <th>Cargo</th>
                                                <th>Zona</th>
                                            </tr>
                                        </thead>
                                        <tbody v-if="arrayPresentes.length">
                                            <tr v-for="(presente,index) in arrayPresentes" :key="presente.id">
                                                 <td>
                                                    <button type="button" @click="eliminarItem(index)" class="btn btn-outline-danger btn-sm"
                                                    data-toggle="tooltip" data-placement="bottom" title="Borrar de la lista">
                                                    <i class="icon-close"></i></button>
                                                </td>

                                                <td>{{presente.nombre_tra +' '+ presente.apellido_tra}}</td>

                                                <td v-text="presente.fecha_asi"></td>
                                                
                                                <td v-text="presente.hora_asi"> </td>

                                                <td v-if="presente.tipo == 1">Entrada</td>
                                                <td v-if="presente.tipo == 2">Salida</td>
                                                <td v-if="presente.tipo == 3">Ausente</td>
                                                <td v-if="presente.tipo == 4">Vacaciones</td>
                                                <td v-if="presente.tipo == 5">Licencia Medica</td>
                                                <td v-if="presente.tipo == 6">Licencia Medica</td>

                                                <td v-text="presente.nom_depa"></td>

                                                <td v-text="presente.nombre_zona"></td>

                                            </tr>
                                        </tbody>
                                        
                                        <tbody v-else>
                                            <tr>
                                                <td colspan="7">
                                                    No hay Registros
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                                <!--  -->

                            </div>
                        </form>
                    </div>
                    
                    <div class="card-footer">
                        <div class="text-center">
                            <div class="col-auto my-1">
                                <button type="button" class="btn btn-light" @click="listarAsistencias()"
                                data-toggle="tooltip" data-placement="bottom" title="Cerrar"><i class="icon-check"></i> Cancelar</button> 

                                <button type="button" class="btn btn-primary" v-if="tipoAccion==1" @click="registrarAsistencia()"
                                data-toggle="tooltip" data-placement="bottom" title="Registrar Coordinacion"><i class="icon-check"></i> Registrar Asistencias</button> 
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            <!-- Fin Nueva Lista de Asistencia -->

            <!-- Listados de Horas Extras-->
            <template v-if="listado == 1">
                <div class="card">
                    
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> Listado de Horas Extras
                        <button type="button" @click="abrirModalHoras('horas','registrar')" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Crear Nueva Horas Extras">
                            <i class="icon-plus"></i>&nbsp;Nuevo
                        </button>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table cell-border hover order-column table-sm" id="myTable2">
                                <thead>
                                    <tr>
                                        <th>N°</th>
                                        <th>Trabajadores </th>
                                        <th>Fecha</th>
                                        <th>Hora</th>
                                        <th>Empresa</th>
                                        <th>Cargo</th>
                                        <th>Zona</th>
                                        <!-- <th>Usuario</th> -->
                                        <!-- <th>Observaciones</th> -->
                                        <th>Opciones</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr v-for="horas in arrayHoras" :key="horas.id">
                                        <td v-text="horas.idhora"></td>
                                        <td>{{horas.nombre_tra +' '+ horas.apellido_tra}}</td>
                                        <td v-text="horas.fecha"></td>
                                        <td class="text-center" v-text="horas.horas"></td>
                                        <td v-text="horas.nombre_em"></td>
                                        <td v-text="horas.nombre_depa"></td>
                                        <td v-text="horas.nombre_zona"></td>
                                        <!-- <td v-text="horas.usuario"></td> -->
                                        <td>
                                            <button type="button" class="btn btn-outline-success btn-sm"  @click="abrirModalHoras('horas','actualizar', horas)"
                                            data-toggle="tooltip" data-placement="bottom" title="Editar">
                                                <i class="fa fa-pencil"></i>
                                            </button>

                                            <button type="button" class="btn btn-outline-danger btn-sm" @click="eliminarHoras(horas.idhora)" 
                                            data-toggle="tooltip" data-placement="bottom" title="Eliminar">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    <div class="card-footer">
                        <div class="text-center">
                            <div class="col-auto my-1">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            <!-- Fin Horas Extras -->

            <!-- Listados de Turnos Extras-->
            <template v-if="listado == 2">
                <div class="card">
                    
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> Listado de Turnos Extras
                        <button type="button" @click="abrirModalTurnos('turnos','registrar')" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Crear Nueva Cotizacion">
                            <i class="icon-plus"></i>&nbsp;Nuevo
                        </button>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table cell-border hover order-column table-sm" id="myTable3">
                                <thead>
                                    <tr>
                                        <th>N°</th>
                                        <th>Trabajador </th>
                                        <th>Fecha</th>
                                        <th>Hora</th>
                                        <th>Tipo</th>
                                        <th>Empresa</th>
                                        <th>Cargo</th>
                                        <th>Zona</th>
                                        <!-- <th>Usuario</th> -->
                                        <!-- <th>Observaciones</th> -->
                                        <th>Opciones</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr v-for="turno in arrayTurnos" :key="turno.id">
                                        <td v-text="turno.idtur"></td>
                                        <td>{{turno.nombre_tra +' '+ turno.apellido_tra}}</td>
                                        <td v-text="turno.fecha_tur" ></td>
                                        <td v-text="turno.hora_tur"></td>
                                        <td v-text="turno.nombre_tipo"></td>
                                        <td v-text="turno.nombre_em"></td>
                                        <td v-text="turno.nombre_depa"></td>
                                        <td v-text="turno.nombre_zona"></td>
                                        <!-- <td v-text="turno.usuario"></td> -->
                                        <!-- <td v-if ="asistencia.observa_asi == null"></td>
                                        <td v-else><span class="badge badge-pill badge-warning">Observaciones </span></td> -->
                                        <td>
                                            <button type="button" class="btn btn-outline-success btn-sm"  @click="abrirModalTurnos('turnos','actualizar', turno)"
                                            data-toggle="tooltip" data-placement="bottom" title="Editar">
                                                <i class="icon-pencil"></i>
                                            </button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    <div class="card-footer">
                        <div class="text-center">
                            <div class="col-auto my-1">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            <!-- Fin Turnos Extras-->

            <!-- Listados de Informacion por trabajador-->
            <template v-if="listado == 3">
                <div class="card">
                    
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> Resumen detallado del trabajador
                    </div>

                    <div class="card-body">
                        <form>
                            <div class="form row py-1">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="">Trabajadores <span class="badge badge-pill badge-danger">(*)</span></label>
                                        <v-select
                                            :on-search="selectTrabaja" 
                                            label="nombre_tra"
                                            :options="arrayTra"
                                            placeholder="Buscar Trabajador"
                                            :onChange="getDatosTraba" 
                                        >
                                        </v-select>
                                    </div>
                                </div>  
     

                                
                                <div class="col-md-4">
                                    <p class="text-uppercase"><b>Nombre:</b> {{razon}}</p>
                                    <!-- <h5><b>Trabajador:</b> {{razon}}  {{rut_tra}} </h5> -->
                                </div>
                                <div class="col-md-4">
                                    <p class="text-uppercase"><b>Rut:</b>  {{rut_tra}}</p>
                                </div>

                                <div class="col-md-4">
                                    <p class="text-uppercase"><b>Cargo:</b> {{cargo}}</p>
                                </div>

                                <div class="col-md-4">
                                    <p class="text-uppercase"><b>Empresa:</b> {{empresa}}</p>
                                </div>

                                <div class="col-md-4">
                                    <p class="text-uppercase"><b>Zona:</b> {{zona}}</p>
                                </div>

                                <div class="col-md-6">
                                    <label class="control-label">Fecha Inicial:</label>
                                    <input type="date" v-model="fecha_asi" class="form-control" placeholder="Ingresar Año">
                                </div>   

                                <div class="col-md-6">
                                    <label class="control-label">Fecha Final:</label>
                                    <input type="date" v-model="fecha_fin" class="form-control" placeholder="Ingresar Año">
                                </div>   

                            </div>

                             <div class="my-1">
                                <p class="text-center alert-light">Informacion del Trabajador</p>
                                <hr>
                            </div>
                                
                            <div class="form row py-1">
                                <div class="form-group col-md-12">
                                    <div class="text-center">
                                        <div class="col-auto my-1">
                                            <button type="button" class="form-control btn btn-outline-success" @click="verConsulta()"><i class="fa fa-search"></i>&nbsp;Ver Resumen</button>                                             
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-md-12">
                                    <div class="row">

                                        <div class="col-md-6 col-lg-2">
                                            <div class="card bg-gradient-primary text-white text-center card-shadow-primary">
                                                <div class="card-body">
                                                    <h6 class="font-weight-normal">Entradas.°</h6>
                                                    <h6 class="mb-0">{{entraNormal}}</h6>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-lg-2">
                                            <div class="card bg-gradient-primary text-white text-center card-shadow-primary">
                                                <div class="card-body">
                                                    <h6 class="font-weight-normal">Salidas.°</h6>
                                                    <h6 class="mb-0">{{salidaNormal}}</h6>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-lg-2 grid-margin stretch-card">
                                            <div class="card bg-gradient-primary text-white text-center card-shadow-primary">
                                                <div class="card-body">
                                                    <h6 class="font-weight-normal">Entradas Extas</h6>
                                                    <h6  class="mb-0">{{entraExtra}}</h6>
                                                </div>
                                                <div></div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-lg-2 grid-margin stretch-card">
                                            <div class="card bg-gradient-primary text-white text-center card-shadow-primary">
                                                <div class="card-body">
                                                    <h6 class="font-weight-normal">Salidas Extras°</h6>
                                                    <h6 class="mb-0">{{saliExtra}}</h6>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-lg-4 grid-margin stretch-card">
                                            <div class="card bg-gradient-primary text-white text-center card-shadow-primary">
                                                <div class="card-body">
                                                    <h6 class="font-weight-normal">Horas Extras°</h6>
                                                    <h6 class="mb-0">{{totalHoras}}</h6>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <!-- Lista de Asistencias -->
                                <div class="col-md-12">
                                    <p class="text-center alert-light">Lista de Asistencias</p>
                                    <hr>
                                </div>

                                <div class="table-responsive col-md-12">
                                    <hr>
                                    <table class="table table-bordered table-striped table-sm">
                                        <thead>
                                            <tr>
                                                <th>Fecha</th>
                                                <th>Hora</th>
                                                <th>Tipo</th>
                                                <th>Cargo</th>
                                                <th>Zona</th>
                                            </tr>
                                        </thead>
                                        <tbody v-if="arrayresuAsis.length">
                                            <tr v-for="asis in arrayresuAsis" :key="asis.id">

                                                <td v-text="asis.fecha_asi"></td>
                                                
                                                <td v-text="asis.hora_asi"> </td>

                                                <td v-text="asis.nombre_tipo"> </td>

                                                <td v-text="asis.nombre_depa"></td>

                                                <td v-text="asis.nombre_zona"></td>

                                            </tr>
                                        </tbody>
                                        
                                        <tbody v-else>
                                            <tr>
                                                <td colspan="5">
                                                    No hay Registros
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                                <!--  -->

                                <!-- Lista de Turnos Extras -->
                                <div class="col-md-12">
                                    <p class="text-center alert-light">Lista de Turnos Extras</p>
                                    <hr>
                                </div>

                                <div class="table-responsive col-md-12">
                                    <hr>
                                    <table class="table table-bordered table-striped table-sm">
                                        <thead>
                                            <tr>
                                                <th>Feha</th>
                                                <th>Hora</th>
                                                <th>Tipo</th>
                                                <th>Cargo</th>
                                                <th>Zona</th>
                                            </tr>
                                        </thead>
                                        <tbody v-if="arrayresuTur.length">
                                            <tr v-for="tur in arrayresuTur" :key="tur.id">

                                                <td v-text="tur.fecha_tur"></td>
                                                
                                                <td v-text="tur.hora_tur"> </td>

                                                <td v-text="tur.nombre_tipo"> </td>

                                                <td v-text="tur.nombre_depa"></td>

                                                <td v-text="tur.nombre_zona"></td>

                                            </tr>
                                        </tbody>
                                        
                                        <tbody v-else>
                                            <tr>
                                                <td colspan="5">
                                                    No hay Registros
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                                <!--  -->

                                <!-- Horas Extras -->
                                <div class="col-md-12">
                                    <p class="text-center alert-light">Lista de Horas Extras</p>
                                    <hr>
                                </div>

                                <div class="table-responsive col-md-12">
                                    <hr>
                                    <table class="table table-bordered table-striped table-sm">
                                        <thead>
                                            <tr>
                                                <th>Fecha</th>
                                                <th>Horas</th>
                                                <th>Cargo</th>
                                                <th>Zona</th>
                                            </tr>
                                        </thead>
                                        <tbody  v-if="arrayresuHoras.length">
                                            <tr  v-for="horas in arrayresuHoras" :key="horas.id">

                                                <td v-text="horas.fecha"></td>
                                                
                                                <td v-text="horas.horas"></td>

                                                <td v-text="horas.nombre_depa"></td>

                                                <td v-text="horas.nombre_zona"></td>

                                            </tr>
                                        </tbody>
                                        <tbody v-else>
                                            <tr>
                                                <td colspan="4">
                                                    No Hay Registros
                                                </td>
                                            </tr>
                                        </tbody>
                                        

                                    </table>
                                </div>
                                <!--  -->
                            </div>
                        </form>
                    </div>
                    
                    <div class="card-footer">
                        <div class="text-center">
                            <div class="col-auto my-1">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            <!-- Fin Informacion por trabajador-->
            
        </div>

        <!--Inicio del modal agregar/actualizar-->
        <div v-if="modal == 1" class="modal fade" :class="{'mostrar': modal}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" v-text="tituloModal"></h5>
                        <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                        <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">

                            <div class="form-group row">
                                <div class="col-md-6">
                                    <p class="text-uppercase"><b>Nombre:</b> {{razon}}</p>
                                    <!-- <h5><b>Trabajador:</b> {{razon}}  {{rut_tra}} </h5> -->
                                </div>
                                <div class="col-md-2">
                                    <p class="text-uppercase"><b>Rut:</b>  {{rut_tra}}</p>
                                </div>

                                <div class="col-md-2">
                                    <p class="text-uppercase"><b>Cargo:</b> {{cargo}}</p>
                                </div>

                                <div class="col-md-6">
                                    <p class="text-uppercase"><b>Empresa:</b> {{empresa}}</p>
                                </div>

                                <div class="col-md-6">
                                    <p class="text-uppercase"><b>Zona:</b> {{zona}}</p>
                                </div>
                            </div>

                            <hr>

                            <div class="form-group row">
                                <div v-if="tipoAccion == 1" class="col-md-8">
                                    <div class="form-group">
                                        <label for="">Trabajadores <strong>(*)</strong></label>
                                        <v-select
                                            :on-search="selectTrabaja" 
                                            label="nombre_tra"
                                            :options="arrayTra"
                                            placeholder="Buscar Trabajador"
                                            :onChange="getDatosTraba" 
                                        >
                                        </v-select>
                                    </div>
                                </div>

                                <div v-if="listado == 0 || listado == 2 " class="form-group col-md-4">
                                    <label for="inputState">Tipo <strong>(*)</strong></label>
                                    <select  class="form-control"  @change="validarAsis()" v-model="tipo">
                                        <option value=''>Seleccionar...</option>
                                        <option v-for="tipo in arrayTipo" :key="tipo.id" :value="tipo.id" v-text="tipo.nombre_tipo">
                                        </option>
                                    </select>
                                </div>

                            </div>

                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label class="control-label">Fecha <strong>(*)</strong></label>
                                    <input type="date" v-model="fecha_asi" class="form-control" placeholder="Ingresar Año">
                                </div>

                                <div v-if="listado == 0 || listado == 2" class="col-md-6">
                                    <label class="control-label">Hora <strong>(*)</strong></label>
                                    <input v-model="hora_asi" type="time" class="form-control">
                                </div>

                                <div v-if="listado == 1" class="col-md-6">
                                    <label class="control-label">Cantidad de Horas <strong>(*)</strong></label>
                                    <input v-model="hora_asi" type="number" class="form-control">
                                </div>

                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label>Observaciones <strong>(*)</strong></label>
                                    <textarea v-model="observa_asi" class="form-control" rows="3" placeholder="Ingresar Observaciones"></textarea>
                                </div>
                            </div>


                        </form>
                    </div>

                    <!-- este bloque muestra los errrores, se muestra si errrorTipotrabajo=1 -->
                    <div v-show="errorAsistencia" class="align-self-center alert alert-danger text-center ml-2">
                        <div class="text-center">
                        <!-- recorremos todos loserrores denro del array y los mostramos con v-text -->
                        <div v-for="error in errorMsjAsistencia" :key="error" v-text="error"></div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" v-if="listado == 0" @click="cerrarModal()" 
                        data-toggle="tooltip" data-placement="bottom" title="Cerrar">Cerrar</button>

                        <button type="button" class="btn btn-secondary" v-if="listado == 1" @click="cerrarModalHoras()"
                        data-toggle="tooltip" data-placement="bottom" title="Cerrar">Cerrar</button>

                        <button type="button" class="btn btn-secondary" v-if="listado == 2" @click="cerrarModalTurnos()" 
                        data-toggle="tooltip" data-placement="bottom" title="Cerrar">Cerrar</button>

                        <button type="button"  v-if="tipoAccion== '1' && listado == 0" class="btn btn-primary" @click="registrarAsistencia()"
                        data-toggle="tooltip" data-placement="bottom" title="Guardar">Guardar Asistencia</button>
                        
                        <button type="button"  v-if="tipoAccion == '2' && listado == 0"  class="btn btn-primary" @click="actualizarAsistencia()"
                        data-toggle="tooltip" data-placement="bottom" title="Actualizar">Actualizar</button>

                        <button type="button"  v-if="tipoAccion== '1' && listado == 1" class="btn btn-primary" @click="registrarHoras()"
                        data-toggle="tooltip" data-placement="bottom" title="Guardar">Guardar Horas</button>
                        <button type="button"  v-if="tipoAccion== '2' && listado == 1" class="btn btn-primary" @click="actualizarHoras()"
                        data-toggle="tooltip" data-placement="bottom" title="Actualizar">Actualizar Horas</button>

                        <button type="button"  v-if="tipoAccion== '1' && listado == 2" class="btn btn-primary" @click="registrarTurnos()"
                        data-toggle="tooltip" data-placement="bottom" title="Guardar">Guardar Turno</button>
                        <button type="button"  v-if="tipoAccion== '2' && listado == 2" class="btn btn-primary" @click="actualizarTurnos()"
                        data-toggle="tooltip" data-placement="bottom" title="Actualizar">Actualizar Turno</button>

                        
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!--Fin del modal-->

         <!--Inicio del modal Trabajadores-->
        <div v-if="modal == 2" class="modal fade" :class="{'mostrar': modal}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dark modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">
                        <h5 class="modal-title " v-text="tituloModal"></h5>
                        <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                        <span class="text-white" aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <table class="table cell-border hover order-column table-sm" id="myTable4"> 
                                <thead class="thead-dark">
                                    <tr>
                                        <th>ID</th>
                                        <th>Rut</th>
                                        <th>Nombres</th>
                                        <th>Cargo</th>
                                        <th>Zona</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    <tr v-for="trabajadores in arrayTrabajadores" :key="trabajadores.id">
                                        <td v-text="trabajadores.id"></td>
                                        <td v-text="trabajadores.rut"></td>
                                        <td v-text="trabajadores.nombre_tra  +' '+  trabajadores.apellido_tra"></td>
                                        <td v-text="trabajadores.nombre_depa"></td>
                                        <td v-text="trabajadores.nombre_zona"></td>
                                        <td>
                                            <button type="button" @click="agregarDetalleModal2(trabajadores)" class="btn btn-outline-info btn-sm">
                                            <i class="icon-check"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        

                    </div>                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @click="cerrarModal2()">Cerrar</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!--Fin del modal Trabajadores-->

    </main>
</template>

<script>
    import vSelect from 'vue-select';
    import datatables from 'datatables';
    import Multiselect from 'vue-multiselect';
    export default {
        props : ['ruta'],
        data(){
            return{
                // loading: false,
                listado: 0,

                // datos para regitros
                id_traba:'',
                fecha_asi:'',
                fecha_fin:'',
                hora_asi:'',
                razon:'',
                rut_tra:'',
                empresa:'',
                cargo:'',
                zona:'',
                idzona:'',
                observa_asi:'',
                tipo:'',
                idasi:'',
                valorAsis:0,

                // Indicadores
                entraNormal:0,
                salidaNormal:0,
                entraExtra:0,
                saliExtra:0,
                totalHoras:0,
                // Indicadores

                arrayTipo:[],
                arrayTra:[],
                arrayAsistencia:[],
                arrayHoras:[],
                arrayTurnos:[],

                arrayPresentes:[],
                arrayTrabajadores:[],

                // Arrays de resumenes
                arrayresuAsis:[],
                arrayresuHoras:[],
                arrayresuTur:[],
                // 

                tipoAccion:0,
                tituloModal:'',
                modal : 0,

                // Manejo de Errores
                errorAsistencia2: 0,
                errorAsistencia: 0,
                errorMsjAsistencia:[],
                // Manejo de Errores
                fecha_hoy:'', //fecha para la consulta
            }
        },

        components:{
            vSelect,
            Multiselect
        },
        computed:{
            fechas : function(){

                var hoy = new Date();
                var  dd = hoy.getDate();
                var  mm = hoy.getMonth()+1;
                var  yyyy = hoy.getFullYear();

                function addZero(i) {
                    if (i < 10) {
                        i = '0' + i;
                    }
                    return i;
                }

                mm=addZero(mm);
                dd=addZero(dd);

                return hoy = yyyy+'-'+mm+'-'+dd;
            },
            
        },

        methods:{
            mytable(){
                $(document).ready( function () {
                    $('#myTable').DataTable({
                        "destroy":true,
                        "language": {
                            "info": "_TOTAL_ registros",
                            "search": "Buscar:",
                            "paginate" : {
                                "next" : "Siguiente",
                                "previous" : "Anterior"
                            },
                            "lengthMenu": 'Mostrar <select>'+
                                        '<option value="10">10</option>'+
                                        '<option value="25">25</option>'+
                                        '<option value="50">50</option>'+
                                        '<option value="100">100</option>'+
                                        '<option value="-1">Todos</option>'+
                                        '</select> registros',
                            "loadingRecords": "Cargando...",
                            "processing": "Procesando...",
                            "emptyTable": "No hay datos...",
                            "zeroRecords": "No Hay Coincidencias",
                            "infoEmpty": "...",
                            "infoFiltered":"..."
                        },
                        "order": [[0, "desc"]]
                    })

                } );
            },

            mytable2(){
                $(document).ready( function () {
                    $('#myTable2').DataTable({
                        "destroy":true,
                        "language": {
                            "info": "_TOTAL_ registros",
                            "search": "Buscar:",
                            "paginate" : {
                                "next" : "Siguiente",
                                "previous" : "Anterior"
                            },
                            "lengthMenu": 'Mostrar <select>'+
                                        '<option value="10">10</option>'+
                                        '<option value="25">25</option>'+
                                        '<option value="50">50</option>'+
                                        '<option value="100">100</option>'+
                                        '<option value="-1">Todos</option>'+
                                        '</select> registros',
                            "loadingRecords": "Cargando...",
                            "processing": "Procesando...",
                            "emptyTable": "No hay datos...",
                            "zeroRecords": "No Hay Coincidencias",
                            "infoEmpty": "...",
                            "infoFiltered":"..."
                        },
                        "order": [[0, "desc"]]
                    })

                } );
            },

            mytable3(){
                $(document).ready( function () {
                    $('#myTable3').DataTable({
                        "destroy":true,
                        "language": {
                            "info": "_TOTAL_ registros",
                            "search": "Buscar:",
                            "paginate" : {
                                "next" : "Siguiente",
                                "previous" : "Anterior"
                            },
                            "lengthMenu": 'Mostrar <select>'+
                                        '<option value="10">10</option>'+
                                        '<option value="25">25</option>'+
                                        '<option value="50">50</option>'+
                                        '<option value="100">100</option>'+
                                        '<option value="-1">Todos</option>'+
                                        '</select> registros',
                            "loadingRecords": "Cargando...",
                            "processing": "Procesando...",
                            "emptyTable": "No hay datos...",
                            "zeroRecords": "No Hay Coincidencias",
                            "infoEmpty": "...",
                            "infoFiltered":"..."
                        },
                        "order": [[0, "desc"]]
                    })

                } );
            },

            mytable4(){
                $(document).ready( function () {
                    $('#myTable4').DataTable({
                        "destroy":true,
                        "language": {
                            "info": "_TOTAL_ registros",
                            "search": "Buscar:",
                            "paginate" : {
                                "next" : "Siguiente",
                                "previous" : "Anterior"
                            },
                            "lengthMenu": 'Mostrar <select>'+
                                        '<option value="10">10</option>'+
                                        '<option value="25">25</option>'+
                                        '<option value="50">50</option>'+
                                        '<option value="100">100</option>'+
                                        '<option value="-1">Todos</option>'+
                                        '</select> registros',
                            "loadingRecords": "Cargando...",
                            "processing": "Procesando...",
                            "emptyTable": "No hay datos...",
                            "zeroRecords": "No Hay Coincidencias",
                            "infoEmpty": "...",
                            "infoFiltered":"..."
                        },
                        "order": [[0, "desc"]]
                    })

                } );
            },

            abrirModalAsis(modelo, accion, data = []){ //se encarga de abrir el modal y los diferentes casos Y estados
                
                switch(modelo){
                    case 'asistencia':
                    {
                        switch(accion){
                            case 'registrar':
                            {   
                                let me = this;
                                // $("#myTable").dataTable().fnDestroy();
                                this.tipoAccion = 1; //para mostrar el boton guardar
                                // this.modal = 1;//debe mostar ventana modal
                                this.listado=4;
                                me.tituloModal = 'Registrar Asistencia';
                                this.id_traba='';
                                this.fecha_asi = '';
                                this.hora_asi = '';
                                break;
                            }
                            
                            case 'actualizar':
                            {
                                let me = this;
                                me.modal = 1;
                                me.tipoAccion = 2; //tipo de accion para actualizr es 2
                                me.tituloModal = "Ver Detalles de la Asistencia"; //que se muetre este titulo
                                me.razon = data['nombre_tra'] + ' ' +data['apellido_tra']; 
                                me.rut_tra = data['rut'];
                                me.cargo = data['nombre_depa'];
                                me.empresa = data['nombre_em'];
                                me.zona = data['nombre_zona'];
                                me.tipo = data['tipo'];
                                me.fecha_asi = data['fecha_asi'];
                                me.hora_asi = data['hora_asi'];
                                me.observa_asi = data['observa_asi'];
                                me.idasi  = data['idasi'];
                                me.id_traba  = data['id_traba'];
                                break;
                            }

                            case 'verPdf':
                            {
                                let me = this;
                                me.listado= 3;
                                me.folio = data['folio_ot'];
                                me.razon = data['razon'];
                                me.id_pre = data['id_presu'];
                                me.rut = data['rut'];
                                me.tel_em = data['tel_em'];
                                me.correo_contac = data['correo_contac'];
                                me.tel_contac = data['tel_contac'];
                                me.direccion_soli = data['direccion_soli'];
                                me.totalMonto = data['monto_ot'];
                                me.totalIva = data['iva_ot'];
                                me.totalNeto = data['total_ot'];
                                me.id_orden = data['id'];
                                me.id_empre = data['id_empre'];
                                me.observacion = data['observac_ot'];
                                $("#myTable").dataTable().fnDestroy();
                                //Obtener Detalles de la Coordinacion
                                var url =this.ruta +'/presupuesto/obtenerDetalles?id=' + me.id_pre;
                                axios.get(url).then(function (response) {
                                    var respuesta = response.data;
                                    me.arrayItem = respuesta.presupuestos;  
                                    me.arrayMonto = respuesta.montospresu;
                                })
                                .catch(function (error) {
                                    console.log(error);
                                });

                                //Obtener Detalles de La OT
                                var url =this.ruta +'/ordenes/obtenerDetalles?id=' + me.id_orden;
                                axios.get(url).then(function (response) {
                                    var respuesta = response.data;
                                    me.arrayItemServi = respuesta.tra_ordenes; //Servicios
                                    me.arrayItemOrden = respuesta.orden; //Montos
                                    
                                })
                                .catch(function (error) {
                                    console.log(error);
                                });

                                

                                this.listado = 3;
                                break;

                            }
                        }
                    }
                }
            },

            abrirModalHoras(modelo, accion, data = []){ //se encarga de abrir el modal y los diferentes casos Y estados
                
                switch(modelo){
                    case 'horas':
                    {
                        switch(accion){
                            case 'registrar':
                            {
                                // $("#myTable").dataTable().fnDestroy();
                                this.tipoAccion = 1; //para mostrar el boton guardar
                                this.modal = 1;//debe mostar ventana modal
                                // this.listado=0;
                                this.tituloModal = 'Registrar Horas Extras';
                                this.id_traba='';
                                this.fecha_asi = '';
                                this.hora_asi = '';
                                break;
                            }
                            
                            case 'actualizar':
                            {
                                let me = this;
                                me.modal = 1;
                                me.tipoAccion = 2; //tipo de accion para actualizr es 2
                                me.tituloModal = "Ver Detalles de la Hora Extra"; //que se muetre este titulo
                                me.razon = data['nombre_tra'] + ' ' +data['apellido_tra']; 
                                me.rut_tra = data['rut'];
                                me.cargo = data['nombre_depa'];
                                me.empresa = data['nombre_em'];
                                me.zona = data['nombre_zona'];
                                me.fecha_asi = data['fecha'];
                                me.hora_asi = data['horas'];
                                me.observa_asi = data['observa_horas'];
                                me.idasi  = data['idhora'];
                                me.id_traba  = data['id_traba'];
                                // this.modal = 2;
                                break;
                            }

                            case 'verPdf':
                            {
                                let me = this;
                                me.listado= 3;
                                me.folio = data['folio_ot'];
                                me.razon = data['razon'];
                                me.id_pre = data['id_presu'];
                                me.rut = data['rut'];
                                me.tel_em = data['tel_em'];
                                me.correo_contac = data['correo_contac'];
                                me.tel_contac = data['tel_contac'];
                                me.direccion_soli = data['direccion_soli'];
                                me.totalMonto = data['monto_ot'];
                                me.totalIva = data['iva_ot'];
                                me.totalNeto = data['total_ot'];
                                me.id_orden = data['id'];
                                me.id_empre = data['id_empre'];
                                me.observacion = data['observac_ot'];
                                $("#myTable").dataTable().fnDestroy();
                                //Obtener Detalles de la Coordinacion
                                var url =this.ruta +'/presupuesto/obtenerDetalles?id=' + me.id_pre;
                                axios.get(url).then(function (response) {
                                    var respuesta = response.data;
                                    me.arrayItem = respuesta.presupuestos;  
                                    me.arrayMonto = respuesta.montospresu;
                                })
                                .catch(function (error) {
                                    console.log(error);
                                });

                                //Obtener Detalles de La OT
                                var url =this.ruta +'/ordenes/obtenerDetalles?id=' + me.id_orden;
                                axios.get(url).then(function (response) {
                                    var respuesta = response.data;
                                    me.arrayItemServi = respuesta.tra_ordenes; //Servicios
                                    me.arrayItemOrden = respuesta.orden; //Montos
                                    
                                })
                                .catch(function (error) {
                                    console.log(error);
                                });
                                break;

                            }
                        }
                    }
                }
            },

            abrirModalTurnos(modelo, accion, data = []){ //se encarga de abrir el modal y los diferentes casos Y estados
                switch(modelo){
                    case 'turnos':
                    {
                        switch(accion){
                            case 'registrar':
                            {
                                // $("#myTable").dataTable().fnDestroy();
                                this.tipoAccion = 1; //para mostrar el boton guardar
                                this.modal = 1;//debe mostar ventana modal
                                // this.listado=0;
                                this.tituloModal = 'Registrar Turnos Extras';
                                this.id_traba='';
                                this.fecha_asi = '';
                                this.hora_asi = '';
                                
                                break;
                            }
                            
                            case 'actualizar':
                            {
                                let me = this;
                                me.modal = 1;
                                me.tipoAccion = 2; //tipo de accion para actualizr es 2
                                me.tituloModal = "Ver Detalles del Turno"; //que se muetre este titulo
                                me.razon = data['nombre_tra'] + ' ' +data['apellido_tra']; 
                                me.rut_tra = data['rut'];
                                me.cargo = data['nombre_depa'];
                                me.empresa = data['nombre_em'];
                                me.zona = data['nombre_zona'];
                                me.tipo = data['tipo_tur'];
                                me.fecha_asi = data['fecha_tur'];
                                me.hora_asi = data['hora_tur'];
                                me.observa_asi = data['observa_tur'];
                                me.idasi  = data['idtur'];
                                me.id_traba  = data['id_traba'];
                                break;
                            }

                            case 'verPdf':
                            {
                                let me = this;
                                me.listado= 3;
                                me.folio = data['folio_ot'];
                                me.razon = data['razon'];
                                me.id_pre = data['id_presu'];
                                me.rut = data['rut'];
                                me.tel_em = data['tel_em'];
                                me.correo_contac = data['correo_contac'];
                                me.tel_contac = data['tel_contac'];
                                me.direccion_soli = data['direccion_soli'];
                                me.totalMonto = data['monto_ot'];
                                me.totalIva = data['iva_ot'];
                                me.totalNeto = data['total_ot'];
                                me.id_orden = data['id'];
                                me.id_empre = data['id_empre'];
                                me.observacion = data['observac_ot'];
                                $("#myTable").dataTable().fnDestroy();
                                //Obtener Detalles de la Coordinacion
                                var url =this.ruta +'/presupuesto/obtenerDetalles?id=' + me.id_pre;
                                axios.get(url).then(function (response) {
                                    var respuesta = response.data;
                                    me.arrayItem = respuesta.presupuestos;  
                                    me.arrayMonto = respuesta.montospresu;
                                })
                                .catch(function (error) {
                                    console.log(error);
                                });

                                //Obtener Detalles de La OT
                                var url =this.ruta +'/ordenes/obtenerDetalles?id=' + me.id_orden;
                                axios.get(url).then(function (response) {
                                    var respuesta = response.data;
                                    me.arrayItemServi = respuesta.tra_ordenes; //Servicios
                                    me.arrayItemOrden = respuesta.orden; //Montos
                                    
                                })
                                .catch(function (error) {
                                    console.log(error);
                                });

                                

                                this.listado = 3;
                                break;

                            }
                        }
                    }
                }
            },

            cerrarModal2(){
                let me = this;
                me.modal = 0;
            },
            
            cerrarModal(){
                this.listado = 0;
                this.modal=0;
                this.tituloModal = '';
                this.id_traba = '';
                this.fecha_asi = '';
                this.hora_asi = '';
                this.tipo = '';
                this.observa_asi = '';
                this.razon= '';
                this.rut_tra = '';
                this.cargo = '';
                this.empresa = '';
                this.zona = '';
                this.arrayPresentes = [];
                this.arrayTrabajadores = [];

                this.tipoAccion = 0;
                this.tituloModal = '';
                this.errorAsistencia= 0; 
                this.errorMsjAsistencia = [];
                this.listarAsistencias();
            },

            cerrarModalHoras(){
                this.listado = 0;
                this.modal=0;
                this.tituloModal = '';
                this.id_traba = '';
                this.fecha_asi = '';
                this.hora_asi = '';
                this.tipo = '';
                this.observa_asi = '';
                this.razon= '';
                this.rut_tra = '';
                this.cargo = '';
                this.empresa = '';
                this.zona = '';

                this.tipoAccion = 0;
                this.tituloModal = '';
                this.errorAsistencia= 0; 
                this.errorMsjAsistencia = [];
                this.listarHoras();
            },

            cerrarModalTurnos(){
                this.listado = 0;
                this.modal=0;
                this.tituloModal = '';
                this.id_traba = '';
                this.fecha_asi = '';
                this.hora_asi = '';
                this.tipo = '';
                this.observa_asi = '';
                this.razon= '';
                this.rut_tra = '';
                this.cargo = '';
                this.empresa = '';
                this.zona = '';

                this.tipoAccion = 0;
                this.tituloModal = '';
                this.errorAsistencia= 0; 
                this.errorMsjAsistencia = [];
                this.listarTurnos();
            },

            limpiarResumen(){
                let me = this;
                // Inicializar en vacio las tablas de Resumen
                me.arrayresuAsis = []; //asistencias en vacio
                me.arrayresuTur = [] ;//turnos en vacio
                me.arrayresuHoras = []; //horas en vacio
                me.arrayTrabajadores = []; //Trabajadores en vacio
                me.arrayPresentes = []; //Trabajadores en vacio
                me.arrayTra = [];
                
                //Indicadores
                me.entraNormal = 0;
                me.salidaNormal = 0;
                me.entraExtra = 0;
                me.salidaExtra = 0;
                me.totalHoras = 0;
                // 

                me.razon = '';
                me.rut_tra = '';
                me.cargo = '';
                me.empresa = '';
                me.zona = '';
                me.id_traba = '';
                me.idzona = '';
                me.fecha_asi = '';
                me.fecha_fin = ''
                // 
            },

            selectTrabaja(search,loading){
                let me=this;
                loading(true);

                var url =this.ruta +'/asistencia/trabajadores?filtro='+search;
                axios.get(url).then(function (response) {
                    let respuesta = response.data;
                    q:search
                    me.arrayTra = respuesta.trabajadores; 
                    loading(false)

                })
                .catch(function (error) {
                        console.log(error);
                });
            },

            getDatosTraba(val1){
                let me = this;
                me.loading = true;
                me.id_traba = val1.id_traba; //id del tabajador en taba_empresas
                me.rut_tra = val1.rut;
                me.razon = val1.nombre_tra + ' ' +  val1.apellido_tra
                me.empresa = val1.nombre_em;
                me.cargo = val1.nombre_depa;
                me.zona = val1.nombre_zona;
                me.idzona = val1.idzona;
            
            },

            // Asistencias //

            listarAsistencias(){
                let me = this;
                me.listado = 0;
                // inicializo en cerro y elimino la tabla
                me.limpiarResumen();

                me.arrayAsistencia = [];
                $("#myTable").dataTable().fnDestroy();

                me.arrayHoras = [];
                $("#myTable2").dataTable().fnDestroy();

                me.arrayTurnos = [];
                $("#myTable3").dataTable().fnDestroy();

                var url =this.ruta +'/asistencias'; 
                axios.get(url)
                .then((response) => {
                        var respuesta = response.data;
                        me.arrayAsistencia = respuesta.asistencias;
                        
                        me.mytable();
                        // me.loading = false;
                })
                .catch(function(error) {
                        // handle error
                        console.log(error);
                });
            },

            registrarAsistencia(){
                if(this.validarAsis()){
                    return;

                }else{
                    swal.fire({
                        title: '¿Esta Seguro de Realizar este Registro?',
                        text: "¡Tendra un Nuevo Registro de Asistencia!",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, Registralo!'
                    }).then((result) => {
                    if (result.value) {

                    let me = this;
                    axios.post(this.ruta +'/asistencia/registrar',{ //la ruta , los datos q recibimos  enviamos a registrar
                    //campos de la bd : variabes de js
                        // 'id_traba': this.id_traba,
                        // 'fecha_asi': this.fecha_asi,
                        // 'hora_asi': this.hora_asi,
                        // 'tipo': this.tipo,
                        // 'observa_asi': this.observa_asi,
                        // 'idzona': this.idzona
                        'data':this.arrayPresentes

                    }).then(function (response) {
                        me.cerrarModal();
                        $("#myTable").dataTable().fnDestroy();
                        me.listarAsistencias();//listar por defecto  
                        // me.registroExito();
                        swal.fire(
                        'Registro Exitoso!',
                        'Asistencia Registrada.',
                        'success'
                        )
                        })
                        .catch(function (error) {
                            console.log(error.response);
                        });

                        
                    }
                    
                    })
                    }
            },

            actualizarAsistencia(){
                if(this.validarAsis()){
                    return;
                }else{
                    let me = this;
                    axios.put(this.ruta +'/asistencia/actualizar',{ //la ruta , los datos q recibimos  enviamos a registrar
                    //campos de la bd : variabes de js
                        'fecha_asi': this.fecha_asi,
                            'hora_asi': this.hora_asi,
                            'tipo': this.tipo,
                            'observa_asi': this.observa_asi,
                            'idzona': this.idzona,
                            'id': this.idasi
                    }).then(function (response) {
                        me.cerrarModal();
                        me.listarAsistencias();//listar por defecto  
                        swal.fire(
                        'Registro Exitoso!',
                        'Asistencia Actualizada.',
                        'success'
                        )
                        })
                        .catch(function (error) {
                            console.log(error.response);
                        });
                }
            },

            eliminarAsistencia(id){
                 let me = this;
                 swal.fire({
                    title: '¿Desea eliminar el Registro?',
                    text: "¡Eliminara el registro de la lista de Asistencia!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si, Deseo Eliminarlo!'

                }).then((result) => {

                if (result.value) {

                axios.put(this.ruta +'/asistencia/eliminar',{ //la ruta , los datos q recibimos  enviamos a registrar
                //campos de la bd : variabes de js
                    'id': id
                }).then(function (response) {

                    $("#myTable").dataTable().fnDestroy();
                    me.listarAsistencias();//listar por defecto  
                    
                    swal.fire(
                    'Eliminado!',
                    'El registro ha sido eliminado con éxito.',
                    'success'
                    )   

                    })
                    .catch(function (error) {
                        console.log(error.response);
                    });
                }else if(result.dismiss == swal.DismissReason.cancel){

                }
                })
            },
            //  //

            // Horas Extras //
            listarHoras(){
                let me = this;
                me.listado = 1;
                me.limpiarResumen();    
                // inicializo en cerro y elimino la tabla
                me.arrayAsistencia = [];
                $("#myTable").dataTable().fnDestroy();

                me.arrayHoras = [];
                $("#myTable2").dataTable().fnDestroy();

                me.arrayTurnos = [];
                $("#myTable3").dataTable().fnDestroy();

                var url =this.ruta +'/horas'; 
                axios.get(url)
                .then((response) => {
                        var respuesta = response.data;
                        me.arrayHoras = respuesta.horas;
                        // $("#myTable2").dataTable().fnDestroy();
                        me.mytable2();
                        // me.loading = false;
                })
                .catch(function(error) {
                        // handle error
                        console.log(error);
                });
            },

            registrarHoras(){
                // if(this.validarAsis()){
                //     return;

                // }else{
                    swal.fire({
                        title: '¿Esta Seguro de Realizar este Registro?',
                        text: "¡Tendra un Nuevo Registro de Horas Extras!",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, Registralo!'
                    }).then((result) => {
                    if (result.value) {

                    let me = this;
                    axios.post(this.ruta +'/hora/registrar',{ //la ruta , los datos q recibimos  enviamos a registrar
                    //campos de la bd : variabes de js
                        'id_traba': this.id_traba,
                        'fecha': this.fecha_asi,
                        'horas': this.hora_asi,
                        'observa_horas': this.observa_asi,
                        'idzona': this.idzona
                    }).then(function (response) {
                        me.cerrarModal();
                        $("#myTable2").dataTable().fnDestroy();
                        me.listarHoras();//listar por defecto  
                            swal.fire(
                            'Registro Exitoso!',
                            'Horas Registrada.',
                            'success'
                            )
                        })
                        .catch(function (error) {
                            console.log(error.response);
                        });

                        
                    }
                    
                    })
                    // }
            },

            actualizarHoras(){
                if(this.validarAsis()){
                    return;
                }else{
                    let me = this;
                    axios.put(this.ruta +'/hora/actualizar',{ //la ruta , los datos q recibimos  enviamos a registrar
                    //campos de la bd : variabes de js
                            'fecha_asi': this.fecha_asi,
                            'hora_asi': this.hora_asi,
                            'observa_asi': this.observa_asi,
                            'id': this.idasi
                    }).then(function (response) {
                        me.cerrarModalHoras();
                        me.listarHoras();
                        swal.fire(
                            'Registro Exitoso!',
                            'Horas Actualizadas.',
                            'success'
                            )

                        })
                        .catch(function (error) {
                            console.log(error.response);
                        });
                }
            },

            eliminarHoras(id){
                 let me = this;
                 swal.fire({
                    title: '¿Desea eliminar el Registro?',
                    text: "¡Eliminara el registro de la lista de Horas!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si, Deseo Eliminarlo!'

                }).then((result) => {

                if (result.value) {

                axios.put(this.ruta +'/hora/eliminar',{ //la ruta , los datos q recibimos  enviamos a registrar
                //campos de la bd : variabes de js
                    'id': id
                }).then(function (response) {

                    
                    me.listarHoras();
                    
                    swal.fire(
                    'Eliminado!',
                    'El registro ha sido eliminado con éxito.',
                    'success'
                    )   

                    })
                    .catch(function (error) {
                        console.log(error.response);
                    });
                }else if(result.dismiss == swal.DismissReason.cancel){

                }
                })
            },
            // //

            // Turnos Extras //
            listarTurnos(){
                let me = this;
                me.listado = 2;
                me.limpiarResumen();

                me.arrayAsistencia = [];
                $("#myTable").dataTable().fnDestroy();

                me.arrayHoras = [];
                $("#myTable2").dataTable().fnDestroy();

                me.arrayTurnos = [];
                $("#myTable3").dataTable().fnDestroy();

                var url =this.ruta +'/turnos'; 
                axios.get(url)
                .then((response) => {
                        var respuesta = response.data;
                        me.arrayTurnos = respuesta.turnos;
                        // $("#myTable").dataTable().fnDestroy();
                        me.mytable3();
                        me.loading = false;
                })
                .catch(function(error) {
                        // handle error
                        console.log(error);
                });
            },

            registrarTurnos(){
                // if(this.validarAsis()){
                //     return;

                // }else{
                swal.fire({
                    title: '¿Esta Seguro de Realizar este Registro?',
                    text: "¡Tendra un Nuevo Registro de Turnos Extras!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si, Registralo!'
                }).then((result) => {
                if (result.value) {

                let me = this;
                axios.post(this.ruta +'/turnos/registrar',{ //la ruta , los datos q recibimos  enviamos a registrar
                //campos de la bd : variabes de js
                    'id_traba': this.id_traba,
                    'fecha': this.fecha_asi,
                    'horas': this.hora_asi,
                    'tipo': this.tipo,
                    'observa_tur': this.observa_asi,
                    'idzona': this.idzona
                }).then(function (response) {
                    me.cerrarModalTurnos();
                    me.listarHoras();
                    swal.fire(
                    'Registro Exitoso!',
                    'Horas Registrada.',
                    'success'
                    )

                    })
                    .catch(function (error) {
                        console.log(error.response);
                    });

                    
                }
                
                })
                // }
            },

            actualizarTurnos(){
                if(this.validarAsis()){
                    return;
                }else{
                    let me = this;
                    axios.put(this.ruta +'/turnos/actualizar',{ //la ruta , los datos q recibimos  enviamos a registrar
                    //campos de la bd : variabes de js
                            'fecha': this.fecha_asi,
                            'horas': this.hora_asi,
                            'tipo': this.tipo,
                            'observa_tur': this.observa_asi,
                            'id': this.idasi
                    }).then(function (response) {
                        me.cerrarModalTurnos();
                        me.listarTurnos();
                        // me.registroExito();
                        swal.fire(
                        'Registro Exitoso!',
                        'Turno Actualizado.',
                        'success'
                        )
                        })
                        .catch(function (error) {
                            console.log(error.response);
                        });
                }
            },
            // 

            // Resumen //
            listarResumen(){
                let me = this;
                me.listado = 3;
                me.limpiarResumen();
            },

            verConsulta() {
                let me = this;
                var url =this.ruta +'/turnos/fecha?id='+ me.id_traba +'&fechaini=' + me.fecha_asi + '&fechafin=' + me.fecha_fin ; 
                axios.get(url)
                .then((response) => {
                        var respuesta = response.data;
                        me.arrayresuTur = respuesta.turnos;
                        me.arrayresuHoras = respuesta.horas;
                        me.arrayresuAsis = respuesta.asistencias;
                        me.entraNormal = respuesta.entradas[0].entrada;
                        me.salidaNormal = respuesta.salidas[0].salida;
                        me.entraExtra = respuesta.entraextras[0].entrada;
                        me.saliExtra = respuesta.saliextras[0].salida;
                        me.totalHoras = respuesta.horasextras[0].horas;
                        // $("#myTable").dataTable().fnDestroy();
                        // me.mytable3();
                        // me.loading = false;
                })
                .catch(function(error) {
                        // handle error
                        console.log(error);
                });


            },
            //

            validarDepartamento(){
                this.errorAsistencia= 0; //inicializamos en 0
                this.errorMsjAsistencia = []; //a este array le anexaremos los msj d errores con el metodo push
                //evaluamos si nombre esta vacio agregamos este mensaje al array
               
                if(!this.id_traba) this.errorMsjAsistencia.push("Debe Selecionar un Trabajador");
                if(!this.tipo) this.errorMsjAsistencia.push("Debe Selecionar un Tipo");
                if(!this.fecha_asi) this.errorMsjAsistencia.push("Debe Selecionar una Fecha");
                if(!this.hora_asi) this.errorMsjAsistencia.push("Debe Selecionar una Hora");
                // if(!this.observa_asi) this.errorMsjAsistencia.push("Debe Selecionar una Fecha");
                
                if(this.errorMsjAsistencia.length) this.errorAsistencia = 1;
                
                //aqui retornamos el valor 1
                return this.errorAsistencia;

            },

            listarTipo(){
                let me = this;
            
                var url =this.ruta +'/asistencia/tipos'; 
                axios.get(url).then(function(response) {
                        var respuesta = response.data;
                        me.arrayTipo= respuesta.tipos;
                        
                })
                .catch(function(error) {
                        // handle error
                        console.log(error);
                });
            },


            validarAsis(id){
                let me=this;
                me.errorAsistencia2 = 0;
                var sw=0;
                var url =me.ruta +'/asistencia/verasis?id_traba=' + id + '&fecha_asi=' + me.fecha_asi + '&tipo=' + me.tipo;
                axios.get(url).then(function (response) {
                    if(response.data == 1){
                        // me.valorAsis = response.data;
                        me.arrayPresentes.pop(); //eliminar el ultimo elemento agregado
                        sw = true;
                        swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: '¡Ya Existe una Asistencia en este rango de Fechas!',
                        footer: '!Por Favor Corregir e Intentar Nuevamente!'
                        })  
                        return me.errorAsistencia2 = 1;
                    }
                })
                .catch(function (error) {
                    console.log(error);
                });
            },

            verMes(){
                let me = this;
                window.open(this.ruta +'/Asistencia/indexAsis' );    
            },

            verMesTra(id){
                let me = this;
                window.open(this.ruta +'/Asistencia/indexAsis/personal/' + id );    
            
            },

            listarTrabajadores(){
                let me = this;
                // 
                var url =this.ruta +'/asistencia/tracontra'; 
                axios.get(url).then(function(response) {
                        var respuesta = response.data;
                        me.arrayTrabajadores= respuesta.trabajadores;
                        me.mytable4();
                        me.modal = 2;
                })
                .catch(function(error) {
                        // handle error
                        console.log(error);
                });
            },

            // Para el modulo de Pasar asistencias masivamente
            agregarDetalleModal2(data = []){
                let me=this; 

                if(me.validarAsis(data['id'])){

                    swal.fire({
                        icon:'error',
                        title: 'Error...',
                        text: '¡Debe Correguir algunos detalles!',
                        });

                }else if(me.encuentra(data['id'])){
                    swal.fire({
                        icon:'error',
                        title: 'Error...',
                        text: 'Ya se encuentra agregado!',
                        footer: '¡No se Pueden agregar 2 veces el mismo Trabajador!'
                        })
                }else{

                    me.arrayPresentes.push({
                    id : data['id'],
                    fecha_asi: me.fecha_asi,
                    hora_asi : me.hora_asi,
                    tipo : me.tipo,
                    observa_asi : me.observa_asi,
                    rut: data['rut'],
                    idzona : data['idzona'],
                    nombre_zona : data['nombre_zona'],
                    depa: data['depa'],
                    nom_depa: data['nombre_depa'],
                    nombre_tra: data['nombre_tra'],
                    apellido_tra: data['apellido_tra'],
                    }); 

                }
            },

            encuentra(id){ //FUNCION PARA ENCONTRAR DATOS REPETIDOS EN LA TABLA DETALLES
                var sw=0;

                for(var i=0; i<this.arrayPresentes.length; ++i){
                    // el 2 es para validar que sea solo 1 chofer por OT
                    if(this.arrayPresentes[i].id == id){
                        sw=true;
                    }
                }

                return sw;
            },

            eliminarItem(index){
                let me=this;
                me.arrayPresentes.splice(index,1);
            },

            // 

            
        },

        mounted() {
            this.listarTipo();
            this.listarAsistencias();
            // this.listarTrabajadores();
            // this.listarHoras();
        }
    }
</script>

<style>
.modal-content{
        border-radius: .3rem;
        width: 100% !important;
        position: absolute !important;
    }
    .modal-header{
        border-top-right-radius: .3rem;
        border-top-left-radius: .3rem;
        background-color: #3678A8;
        color: white;
    }

    .mostrar{ /* cuando mostrar es igual a 1*/
        display: list-item !important;
        opacity: 1 !important;
        background-color: #3c29297a !important;
        overflow-y: auto;
    }

    .card{
        border: 0;
        border-radius: .3rem;
        box-shadow: 0 0 1px rgba(0,0,0,.125),0 1px 3px rgba(0,0,0,0.38);
    }
    .card-header{
        border: 0;
        border-top-left-radius: .3rem;
        border-top-right-radius: .3rem;
    }

    .card-footer{
        border: 0;
        border-radius: .3rem;
    }
    .form-control,.btn{
        border-radius: 3px;
    }
        .form-control,.btn{
        border-radius: 3px;
    }
</style>