<template>
    <main class="main">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item"><a href="#">Admin</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="container-fluid">
            <!-- Ejemplo de tabla Listado -->
            <spinner v-show="loading"></spinner>
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Camiones
                    <button type="button" @click="abrirModal('camiones','registrar')" class="btn btn-primary"
                    data-toggle="tooltip" data-placement="bottom" title="Registrar un Nuevo Camion">
                        <i class="icon-plus"></i>&nbsp;Nuevo
                    </button>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table cell-border hover order-column table-sm"  id="myTable">
                            <thead>
                                <tr>
                                    <th width="60px">Codigo</th>
                                    <th>PPU</th>
                                    <th>Año</th>
                                    <th>Marca</th>
                                    <th>Km</th>
                                    <th>Color</th>
                                    <th>Foto</th>
                                    <th>Empresa</th>
                                    <th width="60px">Zona</th>
                                    <th width="60px">Estado</th>
                                    <th width="60px">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="camiones in arrayCamion" :key="camiones.id">
                                    <td v-text="camiones.codigo_camion"></td>
                                    <td v-text="camiones.ppu"></td>
                                    <td v-text="camiones.anio"></td>
                                    <td v-text="camiones.marca"></td>
                                    <td>{{formatPrice(camiones.km)}}</td>
                                    <td v-text="camiones.color"></td>
                                    <td v-text="camiones.foto_camion"></td>
                                    <td v-text="camiones.nombre_em"></td>
                                    <td v-text="camiones.nombre_zona"></td>
                                    <td v-if="camiones.estado_camion == 1">
                                        <span class="badge badge-pill badge-success">Activo</span>
                                    </td>
                                    <td v-else>
                                        <span class="badge badge-pill badge-danger">Desactivado</span>
                                    </td>
                                    <td>
                                        <button type="button"  class="btn btn-outline-success btn-sm" @click="abrirModal('camiones','actualizar', camiones)">
                                        <i class="fa fa-pencil"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-danger btn-sm" @click="eliminarCamion(camiones.id)">
                                        <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Paginacion -->

                </div>
                
                <div class="card-footer">
                    <div class="text-center">
                        <div class="col-auto my-1">
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fin ejemplo de tabla Listado -->
        </div>

        <!-- Errores -->
        
        <!-- /Errores -->

        <!--Inicio del modal agregar/actualizar-->
        <div class="modal fade" :class="{'mostrar': modal}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog  modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title justify-content-center" v-text="tituloModal"></h5>
                        <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                        <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                            <div class="form-group row">
                                <label class="col-md-1 control-label" for="text-input">Codigo Camion</label>
                                <div class="col-md-5">
                                    <input type="text" readonly v-model="codigo_cami" class="form-control" placeholder="Codigo de La Empresa">
                                </div>
                            
                                <label class="col-md-1 control-label" for="text-input">PPU</label>
                                <div class="col-md-5">
                                    <input type="text" v-model="ppu_cami" class="form-control" placeholder="Ingrear PPU">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-1 control-label">Año</label>
                                <div class="col-md-5">
                                    <input type="date" v-model="anio_cami" class="form-control" placeholder="Ingresar Año">
                                </div>
                            
                                <label class="col-md-1 control-label" for="email-input">Marca</label>
                                <div class="col-md-5">
                                    <input v-model="marca_cami" class="form-control" rows="3" placeholder="Ingresar Marca">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-1 control-label" for="email-input">Km</label>
                                <div class="col-md-5">
                                    <input v-model="km_cami" class="form-control" rows="3" placeholder="Ingresar el Kilometraje">
                                </div>
                            
                                <label class="col-md-1 control-label">Color</label>
                                <div class="col-md-5">
                                    <input v-model="color_cami" class="form-control" rows="3" placeholder="Ingresar el Color">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-1 control-label" for="email-input">Foto</label>
                                <div class="col-md-5">
                                    <input v-model="foto_cami" class="form-control" rows="3" placeholder="Ingresar Foto">
                                </div>

                                <label class="col-md-1 control-label">Empresa</label>
                                <div class="col-md-5">
                                    <select class="form-control" v-model="idem">
                                            <option value="0">Seleccione una Empresa</option>
                                        <option v-for="emp in arrayEmpresa" :key="emp.id" :value="emp.id" v-text="emp.nombre_em">
                                        </option>
                                    </select>
                                </div>

                            </div>

                            <div class="form-group row">
                                <label class="col-md-1 form-control-label">Zona</label>
                                <div class="col-md-11">
                                    <select class="form-control" v-model="idzona">
                                            <option value="0">Seleccione una zona</option>
                                        <option v-for="zona in arrayZonas" :key="zona.id" :value="zona.id" v-text="zona.nombre_zona">
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div v-if="tipoAccion==1" class="form-group row">
                                <label class="col-md-1 control-label">Servicios</label>
                                
                                <div class="col-md-11">
                                    <multiselect
                                        v-model="servicio"
                                        :options="arrayServicios"
                                        :multiple="true"
                                        label="nomb_servi" 
                                        track-by="id"
                                        placeholder="Seleccione uno o más Servicios">
                                    </multiselect>
                                </div>
                            </div>

                        </form>
                    </div>                    
                    <!-- este bloque muestra los errrores, se muestra si errrorTipotrabajo=1 -->
                    <div v-show="errorCamion" class="align-self-center alert alert-danger text-center ml-2">
                        <div class="text-center">
                        <!-- recorremos todos loserrores denro del array y los mostramos con v-text -->
                        <div v-for="error in errorMsjCamion" :key="error" v-text="error"></div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @click="cerrarModal()" data-toggle="tooltip" data-placement="bottom" 
                        title="Cerrar">Cerrar</button>

                        <button type="button"  v-if="tipoAccion== '1'" class="btn btn-primary" @click="registrarCamion()"
                        data-toggle="tooltip" data-placement="bottom" title="Guardar el nuevo Camion">Guardar</button>

                        <button type="button"  v-if="tipoAccion == '2'"  class="btn btn-primary" @click="actualizarCamion()"
                        data-toggle="tooltip" data-placement="bottom" title="Actualizar datos del Camion">Actualizar</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!--Fin del modal-->
        
    </main>
</template>

<script>
    import Multiselect from 'vue-multiselect';
    import datatables from 'datatables';
    export default {
        props : ['ruta'],
        data(){
            return{
                loading: true,
                arrayCamion:[],
                arrayServicios:[],
                arrayAsignar:[],
                arrayEmpresa:[],
                arrayZonas:[],
                servicio:[],
                modal : 0,
                idzona:0,
                codigo_cami:'',
                ppu_cami:'',
                anio_cami:'',
                marca_cami:'',
                color_cami:'',
                foto_cami:'',
                id_cami:'',
                km_cami:'',
                tituloModal:'',
                servi_id:'',
                tipoAccion:0,
                
                date:'',
                idem:0,

                // Manejo de Errores
                errorCamion: 0,
                errorMsjCamion:[],
                // Manejo de Errores

                paginacion: {
                    'total' : 0,
                    'pagina_actual' : 0, // current_page
                    'pag_mostrar' : 0, //numero de registros por pagina per_page
                    'pag_alfinal' : 0, // last_page hasta ultima pagina
                    'pag_actual' : 0, //from desde la pagina donde me encuentro
                    'pag_ultima' : 0, //to hasta la pagina
                },
                offset:3,
                criterio: 'codigo_camion', 
                buscar : '' 
            }
            
        },
        components:{
            Multiselect,
        },
        computed:{

        },

        methods: {
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', ',')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
            },
            // Funcionalidades
            mytable(){
                $(document).ready( function () {
                       $('#myTable').DataTable({
                            "destroy":true,
                            "language": {
                                "info": "_TOTAL_ registros",
                                "search": "Buscar:",
                                "paginate" : {
                                    "next" : "Siguiente",
                                    "previous" : "Anterior"
                                },
                                "lengthMenu": 'Mostrar <select>'+
                                            '<option value="10">10</option>'+
                                            '<option value="25">25</option>'+
                                            '<option value="50">50</option>'+
                                            '<option value="100">100</option>'+
                                            '<option value="-1">Todos</option>'+
                                            '</select> registros',
                                "loadingRecords": "Cargando...",
                                "processing": "Procesando...",
                                "emptyTable": "No hay datos...",
                                "zeroRecords": "No Hay Coincidencias",
                                "infoEmpty": "...",
                                "infoFiltered":"..."
                            },
                            "order": [[0, "desc"]]
                            
                        })

                    } );
            },

            generarCodig(){
                let me=this;
                var url =this.ruta +'/camiones/codigo'
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    if(respuesta.codigo == null){
                        me.codigo_cami = 1;
                    }else{
                        me.valor = respuesta.codigo["codigo_camion"];
                        me.codigo_cami = parseInt(me.valor);
                        me.codigo_cami ++;
                    }
                        
                    // this.valor = respuesta.codigo;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            selectEmpresa(){
                let me=this;
                var url =this.ruta +'/empresa/selectem';
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    me.arrayEmpresa = respuesta.empresas;//porque asi esta en e controlador
                    
                })
                .catch(function (error) {
                        console.log(error);
                });
            },

            listarCamiones(){
                let me = this;
                
                var url =this.ruta +'/camiones'; 
                axios.get(url)
                .then((response) => {
                        var respuesta = response.data;
                        me.arrayCamion= respuesta.camiones;
                        // me.paginacion = respuesta.paginacion;
                        me.mytable();
                        me.loading = false;
                })
                .catch(function(error) {
                        // handle error
                        console.log(error);
                });
                
            },

            listarServicios(){
                let me = this;
            
                var url =this.ruta +'/servicios/listarTodo'; 
                axios.get(url).then(function(response) {
                        var respuesta = response.data;
                        me.arrayServicios= respuesta.servicios;
                })
                .catch(function(error) {
                        // handle error
                        console.log(error);
                });
            },
            
            registrarCamion(){
                if(this.validarCamion()){
                    return;
                }else{
                    let me = this;
                    axios.post(this.ruta +'/camiones/registrar',{ //la ruta , los datos q recibimos  enviamos a registrar
                    //campos de la bd : variabes de js
                        'codigo':this.codigo_cami,
                        'ppu': this.ppu_cami,
                        'anio': this.anio_cami,
                        'marca' : this.marca_cami,
                        'km': this.km_cami,
                        'color':this.color_cami,
                        'foto_camion': this.foto_cami,
                        'data':this.servicio,
                        'empresa':this.idem,
                        'idzona':this.idzona
                    }).then(function (response) {
                        me.cerrarModal();
                        $("#myTable").dataTable().fnDestroy();
                        me.listarCamiones(1, '', 'nombre');//listar por defecto  
                        me.registroExito();
                        })
                        .catch(function (error) {
                            console.log(error.response);
                        });
                }
            },

            actualizarCamion(){
                if(this.validarCamion()){
                    return;
                }else{
                    let me = this;
                    axios.put(this.ruta +'/camiones/actualizar',{ //la ruta , los datos q recibimos  enviamos a registrar
                    //campos de la bd : variabes de js
                        'ppu': this.ppu_cami,
                        'anio': this.anio_cami,
                        'marca': this.marca_cami,
                        'km': this.km_cami,
                        'color': this.color_cami,
                        'foto': this.foto_cami,
                        'id': this.id_cami,
                        'empresa': this.idem,
                        'idzona':this.idzona
                    }).then(function (response) {
                        me.cerrarModal();
                        me.listarCamiones();//listar por defecto  
                        me.registroExito();
                        })
                        .catch(function (error) {
                            console.log(error.response);
                        });
                }
            },

            eliminarCamion(id){
               let me = this;
                 swal.fire({
                    title: '¿Desea eliminar este Camion?',
                    text: "¡No Podra Seguir Usando este Camion!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si, Deseo Eliminarlo!'

                }).then((result) => {

                if (result.value) {

                axios.put(this.ruta +'/camiones/eliminar',{ //la ruta , los datos q recibimos  enviamos a registrar
                    'id': id
                }).then(function (response) {

                     $("#myTable").dataTable().fnDestroy();
                    me.listarCamiones();//listar por defecto  
                    
                    swal.fire(
                    'Eliminado!',
                    'El registro ha sido eliminado con éxito.',
                    'success'
                    )   

                    })
                    .catch(function (error) {
                        console.log(error.response);
                    });
                }else if(result.dismiss == swal.DismissReason.cancel){

                }
                })
            },

            abrirModal(modelo, accion, data = []){ //se encarga de abrir el modal y los diferentes casos Y estados
                
                switch(modelo){
                    case "camiones":
                    {
                        switch(accion){
                            case 'registrar':
                            {
                                // this.selectEmpresa();
                                this.tipoAccion = 1; //para mostrar el boton guardar
                                this.modal = 1;//debe mostar ventana modal
                                this.tituloModal = 'Registrar Camiones'
                                this.nombre = '';
                                this.descripcion = '';
                                this.generarCodig();
                                this.listarServicios();
                                
                                break;
                            }
                            case 'actualizar':
                            {
                                let me = this;

                                this.tipoAccion = 2; //tipo de accion para actualizr es 2
                                this.tituloModal = "Actualizar Camiones"; //que se muetre este titulo
                                this.codigo_cami = data['codigo_camion']; 
                                this.ppu_cami = data['ppu']; 
                                this.anio_cami = data['anio']; 
                                this.marca_cami = data['marca']; 
                                this.km_cami = data['km']; 
                                this.color_cami = data['color'];  
                                this.foto_cami = data['foto_camion'];  
                                this.id_cami = data['id'];
                                this.idem = data['empresa'];
                                this.idzona = data['idzona'];
                                this.modal = 1;
                                break;

                            }
                        }
                    }
                }
            },

            
            validarCamion(){
                this.errorCamion= 0; //inicializamos en 0
                this.errorMsjCamion = []; //a este array le anexaremos los msj d errores con el metodo push
                //evaluamos si nombre esta vacio agregamos este mensaje al array
               if(!this.ppu_cami) this.errorMsjCamion.push("El PPU no puede estar vacio");
               if(!this.anio_cami) this.errorMsjCamion.push("El Año no puede estar vacio");
               if(!this.marca_cami) this.errorMsjCamion.push("La Marca no puede estar vacio");
               if(!this.km_cami) this.errorMsjCamion.push("Los Km no pueden estar vacios");
               if(!this.color_cami) this.errorMsjCamion.push("El Color no pueden estar vacios");
               if(!this.foto_cami) this.errorMsjCamion.push("Por favor asociar alguna foto");
                // if(this.servicio.length <= 0 | !this.servicio) this.errorMsjCamion.push("Debe Asociarles Servicios");
                //evaluamos si este array tiene al menos 1 elmento, cambiamos errortipotrabajo a 1

                if(this.errorMsjCamion.length) this.errorCamion = 1;
                //aqui retornamos el valor 1
                return this.errorCamion;

            },

            cerrarModal(){
                this.modal=0;
                this.tituloModal = '';
                this.anio_cami = '';
                this.color_cami = '';
                this.codigo_cami = '';
                this.foto_cami = '';
                this.marca_cami = '';
                this.ppu_cami = '';
                this.km_cami = '';
                this.idem = 0;
                this.idzona = 0;
                this.errorCamion= 0; 
                this.errorMsjCamion = [];
                this.servicio=[];
                this.servicios=[];
                
            },

            registroExito(){
                swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'Registro Exitoso',
                showConfirmButton: false,
                timer: 1200
                })
            },

            listarZonas(){
                let me=this;
                var url =this.ruta +'/zonas';
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    me.arrayZonas = respuesta.zonas;//porque asi esta en e controlador
                    
                })
                .catch(function (error) {
                        console.log(error);
                });
            }
        },
        

        mounted() {
            this.listarCamiones(1,this.buscar, this.criterio);
            this.listarServicios();
            this.listarZonas();
            this.selectEmpresa();
        }
    }
</script>

<style>

    .modal-content{
        border-radius: .3rem;
        width: 100% !important;
        position: absolute !important;
    }
    .modal-header{
        border-top-right-radius: .3rem;
        border-top-left-radius: .3rem;
        background-color: #3678A8;
        color: white;
    }

    .mostrar{ /* cuando mostrar es igual a 1*/
        display: list-item !important;
        opacity: 1 !important;
        background-color: #3c29297a !important;
        overflow-y: auto;
    }

    .card{
        border: 0;
        border-radius: .3rem;
        box-shadow: 0 0 1px rgba(0,0,0,.125),0 1px 3px rgba(0,0,0,0.38);
    }
    .card-header{
        border: 0;
        border-top-left-radius: .3rem;
        border-top-right-radius: .3rem;
    }

    .card-footer{
        border: 0;
        border-radius: .3rem;
    }
    .form-control,.btn{
        border-radius: 3px;
    }
        .form-control,.btn{
        border-radius: 3px;
    }
</style>
