<template>
    <main class="main">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item"><a href="#">Admin</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        
        <div class="container-fluid">
            <!-- Ejemplo de tabla Listado -->
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Cartolas
                    <!-- <button type="button" @click="abrirModal('finiquitos','registrar')" class="btn btn-primary">
                        <i class="icon-plus"></i>&nbsp;Nuevo
                    </button> -->
                </div>
                
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table cell-border hover order-column table-sm" id="myTable">
                            <thead>
                                <tr>
                                    <th>N°</th>
                                    <th>Fecha</th>
                                    <th>Origen</th>
                                    <th>Folio</th>
                                    <th >Cuenta</th>
                                    <th>Numero</th>
                                    <th>Ingresos</th>
                                    <th>Egresos</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="cartola in arrayCartolas" :key="cartola.id">
                                    <td v-text="cartola.id"></td>
                                    <td v-text="cartola.fecha"></td>
                                    <td v-text="cartola.origen"></td>
                                    <td v-text="cartola.numero"></td>
                                    <td v-text="cartola.nombre_cuenta"></td>
                                    <td v-text="cartola.num_cuenta"></td>
                                    <td v-text="cartola.ingresos"></td>
                                    <td v-text="cartola.egresos"></td>
                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-sm" @click="abrirModal('finiquitos','actualizar', servicios)">
                                        <i class="fa fa-pencil"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-danger btn-sm" @click="eliminarServi(finiquitos.id)">
                                        <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card-footer">
                    <div class="text-center">
                        <div class="col-auto my-1">
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fin ejemplo de tabla Listado -->
        </div>

        <!-- Errores -->
        
        <!-- /Errores -->
    </main>
</template>

<script>
import datatables from 'datatables';
export default {
   props : ['ruta'],
   data(){
       return{
           modal:0,
           listado:0,

            //Arrays
            arrayCartolas:[]

            // 
       }
   },
   
   methods:{
    formatPrice(value) {
        let val = (value/1).toFixed(2).replace('.', ',')
        return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
    },
    mytable(){
        $(document).ready( function () {
            $('#myTable').DataTable({
                "destroy":true,
                "language": {
                    "info": "_TOTAL_ registros",
                    "search": "Buscar:",
                    "paginate" : {
                        "next" : "Siguiente",
                        "previous" : "Anterior"
                    },
                    "lengthMenu": 'Mostrar <select>'+
                                '<option value="10">10</option>'+
                                '<option value="25">25</option>'+
                                '<option value="50">50</option>'+
                                '<option value="100">100</option>'+
                                '<option value="-1">Todos</option>'+
                                '</select> registros',
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "emptyTable": "No hay datos...",
                    "zeroRecords": "No Hay Coincidencias",
                    "infoEmpty": "...",
                    "infoFiltered":"..."
                },
                "order": [[0, "desc"]]
            })

        });
    },

    listarCartolas(){
        let me = this;
    
        var url =this.ruta +'/cartolas'; 
        axios.get(url).then(function(response) {
                var respuesta = response.data;
                me.arrayCartolas= respuesta.cartolas;
                me.mytable();
        })
        .catch(function(error) {
                // handle error
                console.log(error);
        });
    },
   },

   mounted(){
       this.listarCartolas();
   }
}
</script>