import datatables from 'datatables';
<template>
  <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item"><a href="#">Admin</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>

        <div class="container-fluid">
            <!-- Tabla Listado -->
            <template v-if="listado == 0">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> Cheques
                        <button type="button" @click="abrirTemplate('cheques','registrar')" class="btn btn-primary">
                            <i class="icon-plus"></i>&nbsp;Nuevo
                        </button>
                    </div>
                    
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table cell-border hover order-column table-sm" id="myTable">
                                <thead>
                                    <tr>
                                        <th>N°</th>
                                        <th>Cuenta</th>
                                        <th>N° Cheque</th>
                                        <th>F. Emision</th>
                                        <th>F. Real</th>
                                        <th>F. Pago</th>
                                        <th>Monto</th>
                                        <th>Estado</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="cheque in arrayCheques" :key="cheque.id">
                                        <td v-text="cheque.idcheque"></td>
                                        <td v-text="cheque.nombre_cuenta"></td>
                                        <td v-text="cheque.n_cheque"></td>
                                        <td v-text="cheque.fecha_emi"></td>
                                        <td v-text="cheque.fecha_pago"></td>
                                        <td v-text="cheque.fecha_real"></td>
                                        <td v-text="cheque.monto_che"></td>
                                        <td><span class="badge badge-pill badge-success">{{cheque.nombre_es}}</span></td>

                                        <td>
                                            <button type="button" class="btn btn-outline-success btn-sm" @click="abrirTemplate('cheques','actualizar', cheque)" title="Ver Detalles">
                                            <i class="fa fa-eye"></i>
                                            </button>

                                            <button v-if="cheque.pro_che == 13" type="button" class="btn btn-outline-success btn-sm" @click="abrirTemplate('cheques','pagar', cheque)" title="Culminar Proceso">
                                            <i class="fa fa-money"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="card-footer">
                        <div class="text-center">
                            <div class="col-auto my-1">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            <!-- Tabla Listado -->

            <!-- Registrar Cheque -->
            <template v-if="listado == 1">
                <div class="card">
                    <div class="card-header" v-text="tituloTemplate">
                        <i class="fa fa-align-justify"></i> 
                    </div>

                    <div class="card-body">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label>Fecha de Emision<strong> ( * )</strong></label>
                                    <input v-model="fechaemi" type="date" class="form-control" placeholder="Fecha">
                                </div>

                                <div class="form-group col-md-3">
                                    <label>Fecha de Pago<strong> ( * )</strong></label>
                                    <input v-model="fechapago" type="date" class="form-control" placeholder="Fecha">
                                </div>

                                <div class="form-group col-md-6">
                                    <label class="control-label">Cuenta Origen <strong> ( * ) </strong>:</label>
                                    <v-select 
                                        :options="arrayCuentas"
                                        placeholder="Seleccionar Cuenta"
                                        label="nombre_cuenta"
                                        :onChange="cargarDatos" 
                                    >           
                                    </v-select>
                                </div>

                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label class="control-label">Empresa</label>
                                    <input type="text" v-model="nombre_em" class="form-control" placeholder="Empresa">
                                </div>

                                 <div class="form-group col-md-4">
                                    <label class="control-label">Banco</label>
                                    <input type="text" v-model="nom_banco" class="form-control" placeholder="Banco">
                                </div>

                                <div class="form-group col-md-4">
                                    <label class="control-label">Numero de Cuenta </label>
                                    <input type="text" v-model="num_cuenta" class="form-control" placeholder="Cuenta">
                                </div>
                            </div>

                            <div class="form-row">
                               <div class="form-group col-md-6">
                                    <label class="control-label">Numero de Cheque <strong> ( * )</strong></label>
                                    <input type="text" v-model="n_cheque" class="form-control" placeholder="Cheque">
                                </div>
                                
                                <div class="form-group col-md-6">
                                    <label class="control-label">Ingresar Monto a Pagar <strong> ( * ) </strong>:</label>
                                    <input type="number" min="0" v-model="montoPagar" class="form-control" placeholder="Ingresar Monto $">
                                </div>
                                
                            </div>

                            <div class="row" style="margin-bottom: 20px">
                                <div class="col-md-6">
                                </div>
                                
                                <div class="col-md-6" style="text-align: center;">
                                    <div class="row">
                                        <div class="col-md-6" style="padding:0">
                                            <hr>
                                            <h5>Saldo Actual:</h5>
                                        </div>
                                        <div class="col-md-6" style="padding:0">
                                            <hr>
                                            <h5 id="total_final">${{formatPrice(monto)}}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label>Glosa <strong> ( * )</strong></label>
                                    <textarea v-model="glosa" class="form-control" rows="5" placeholder="Observaciones Importantes"></textarea>
                                </div>
                            </div>  

                            <div class="my-2">
                                <hr>
                            </div>

                            <!-- Div de los Errores -->
                            <div v-show="errorCheque" class="align-self-center alert alert-danger text-center ml-2">
                                <div class="text-center">
                                <div v-for="error in errorMsjCheque" :key="error" v-text="error"></div>
                                </div>
                            </div>
                            <!--  -->

                        </form>
                    </div>

                    <div class="card-footer">
                        <div class="text-center">
                            <button type="button" class="btn btn-light" @click="cerrarTemplate()"
                            data-toggle="tooltip" data-placement="bottom" title="Cancelar">
                            <i class="icon-check"></i> Cancelar</button> 

                            <button type="button" class="btn btn-primary" v-if="tipoAccion==1" @click="registrarCheque()"
                                title="Registrar Factura"><i class="icon-check"></i> Registrar Cheque
                            </button> 

                            <button type="button" class="btn btn-primary" v-if="tipoAccion==2" @click="actualizarCuenta()"
                                title="Actualizar Factura"><i class="icon-check"></i> Actualizar Cheque
                            </button> 
                        </div>
                    </div>
                </div>
            </template>
            <!-- /Registrar Cheque -->

            <!-- Editar Cheque -->
            <template v-if="listado == 2">
                <div class="card">
                    <div class="card-header" v-text="tituloTemplate">
                        <i class="fa fa-align-justify"></i> 
                    </div>

                    <div class="card-body">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label>Fecha de Emision<strong> ( * )</strong></label>
                                    <input v-model="fechaemi" type="date" class="form-control" placeholder="Fecha">
                                </div>

                                <div class="form-group col-md-3">
                                    <label>Fecha de Pago<strong> ( * )</strong></label>
                                    <input v-model="fechapago" type="date" class="form-control" placeholder="Fecha">
                                </div>

                                <div class="form-group col-md-6">
                                    <label class="control-label">Cuenta Origen <strong> ( * ) </strong>:</label>
                                    <input v-model="nom_cuenta" type="text" class="form-control" placeholder="Nombre de la Cuenta">
                                </div>

                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label class="control-label">Empresa</label>
                                    <input type="text" v-model="nombre_em" class="form-control" placeholder="Empresa">
                                </div>

                                 <div class="form-group col-md-4">
                                    <label class="control-label">Banco</label>
                                    <input type="text" v-model="nom_banco" class="form-control" placeholder="Banco">
                                </div>

                                <div class="form-group col-md-4">
                                    <label class="control-label">Numero de Cuenta </label>
                                    <input type="text" v-model="num_cuenta" class="form-control" placeholder="Cuenta">
                                </div>
                            </div>

                            <div class="form-row">
                               <div class="form-group col-md-6">
                                    <label class="control-label">Numero de Cheque <strong> ( * )</strong></label>
                                    <input type="text" v-model="n_cheque" class="form-control" placeholder="Cheque">
                                </div>
                                
                                <div class="form-group col-md-6">
                                    <label class="control-label">Monto Ingresado <strong> ( * ) </strong>:</label>
                                    <input type="number" min="0" v-model="montoPagar" class="form-control" placeholder="Ingresar Monto $">
                                </div>
                                
                            </div>


                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label>Glosa <strong> ( * )</strong></label>
                                    <textarea v-model="glosa" class="form-control" rows="5" placeholder="Observaciones Importantes"></textarea>
                                </div>
                            </div>  

                            <div class="my-2">
                                <hr>
                            </div>

                            <!-- Div de los Errores -->
                            <div v-show="errorCheque" class="align-self-center alert alert-danger text-center ml-2">
                                <div class="text-center">
                                <div v-for="error in errorMsjCheque" :key="error" v-text="error"></div>
                                </div>
                            </div>
                            <!--  -->

                        </form>
                    </div>

                    <div class="card-footer">
                        <div class="text-center">
                            <button type="button" class="btn btn-light" @click="cerrarTemplate()"
                            data-toggle="tooltip" data-placement="bottom" title="Cancelar">
                            <i class="icon-check"></i> Cancelar</button> 

                            <button type="button" class="btn btn-primary" v-if="tipoAccion==1" @click="registrarCheque()"
                                title="Registrar Factura"><i class="icon-check"></i> Registrar Factura
                            </button> 

                            <button type="button" class="btn btn-primary" v-if="tipoAccion==2" @click="actualizarCuenta()"
                                title="Actualizar Factura"><i class="icon-check"></i> Actualizar la Factura
                            </button> 
                        </div>
                    </div>
                </div>
            </template>
            <!-- /Editar Cheque -->

            <!-- Pagar -->
            <div v-if="modal==1" class="modal fade in" :class="{'mostrar': modal}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
             <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{tituloModal}} | N° {{n_cheque}}</h5>
                        <button type="button" class="close" @click="cerrarModalPagar()" aria-label="Close">
                        <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputState">Forma de Pago <strong> ( * ) </strong>:</label>
                                    <select class="form-control" v-model="estadoPago">
                                        <option value=0>Seleccionar...</option>
                                        <option value=14>Orden de No Pago</option>
                                        <option value=15>Potestado</option>
                                        <option value=16>Pagado</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label">Fecha <strong> ( * ) </strong>:</label>
                                    <input v-model="fecha_pago" type="date" class="form-control" placeholder="Fecha">
                                </div>
                            </div>


                            <div class="row" style="margin-bottom: 20px">

                                <div class="col-md-6 text-center">
                                    <div class="row">
                                        <div class="col-md-6 p-0 text-center">
                                            <hr>
                                            <h5>Total Cuenta:</h5>
                                        </div>
                                        <div class="col-md-6 p-0">
                                            <hr>
                                            <h5>${{formatPrice(montoCuenta)}}</h5>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-6" style="text-align: center;">
                                    <div class="row">
                                        <div class="col-md-6 p-0" >
                                            <hr>
                                            <h5>Total Pagar:</h5>
                                        </div>
                                        <div class="col-md-6 p-0" >
                                            <hr>
                                            <h5 id="total_final">${{formatPrice(monto)}}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>                    

                    <!-- Div de los Errores -->
                        <div v-show="errorPago" class="align-self-center alert alert-danger text-center ml-2">
                            <div class="text-center">
                            <div v-for="errorp in errorMsjPago" :key="errorp" v-text="errorp"></div>
                            </div>
                        </div>
                        <!--  -->

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @click="cerrarModalPagar()" 
                        data-toggle="tooltip" data-placement="bottom" title="Cerrar">Cerrar</button>

                        <button type="button" class="btn btn-primary" @click="registrarPago()"
                        data-toggle="tooltip" data-placement="bottom" title="Guardar">Registrar</button>
                    </div>
                </div>
                <!-- /.modal-content -->
             </div>
            <!-- /.modal-dialog -->
            </div>
           <!-- Pagar -->

        </div>
  </main>
</template>

<script>
import datatables from 'datatables';
import vSelect from 'vue-select';
export default {
    props : ['ruta'],
    data(){
        return{
            modal:0,
            listado:0,
            tipoAccion:1,
            listado:0,
            modal: 0,
            
            // Datos a registrar
            fechaemi:'',
            fechapago:'',
            fechareal:'',
            glosa:'',
            nombre_em:'',
            nom_banco:'',
            num_cuenta:'',
            nom_cuenta:'',
            idcuenta:0,
            montoPagar:0,
            montoActual:0,
            monto:0,
            montoCuenta:0,
            montoResta:0,
            n_cheque:0,
            estadoPago:0,

            cheque_id :0,
            



            // Array
            arrayCheques : [],
            arrayCuentas : [],

            // Titulo
            tituloTemplate:'',
            tituloModal:'',

            errorCheque:0,
            errorMsjCheque:[],
            errorPago : 0,
            errorMsjPago :[]
        }
    },
    components:{
        vSelect
    },

    methods:{
        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', ',')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
        },

        mytable(){
            $(document).ready( function () {
                $('#myTable').DataTable({
                    "destroy":true,
                    "language": {
                        "info": "_TOTAL_ registros",
                        "search": "Buscar:",
                        "paginate" : {
                            "next" : "Siguiente",
                            "previous" : "Anterior"
                        },
                        "lengthMenu": 'Mostrar <select>'+
                                    '<option value="10">10</option>'+
                                    '<option value="25">25</option>'+
                                    '<option value="50">50</option>'+
                                    '<option value="100">100</option>'+
                                    '<option value="-1">Todos</option>'+
                                    '</select> registros',
                        "loadingRecords": "Cargando...",
                        "processing": "Procesando...",
                        "emptyTable": "No hay datos...",
                        "zeroRecords": "No Hay Coincidencias",
                        "infoEmpty": "...",
                        "infoFiltered":"..."
                    },
                    "order": [[0, "desc"]]
                })

            });
        },

        listarCheques(){
            let me = this;
        
            var url =this.ruta +'/cheques'; 
            axios.get(url).then(function(response) {
                    var respuesta = response.data;
                    me.arrayCheques= respuesta.cheques;
                    me.arrayCuentas= respuesta.cuentas;
                    me.mytable();
            })
            .catch(function(error) {
                    // handle error
                    console.log(error);
            });
        },

        abrirTemplate(modelo,accion, data = []){
            switch(modelo){
                case "cheques":
                {
                    switch(accion){
                        case "registrar":
                        {
                            this.tipoAccion = 1;
                            this.listado = 1;
                            this.tituloTemplate = "Registrar Nuevo Cheque";

                            break;
                        }

                        case "actualizar":
                        {
                            let me = this;
                            this.tipoAccion = 2;
                            me.listado = 2;
                            me.tituloTemplate = 'Editar Cheque';
                            me.fechaemi = data['fecha_emi'];
                            me.fechapago = data['fecha_pago'];
                            me.idcuenta = data['idcuenta'];
                            me.glosa = data['glosa_che'];
                            
                            me.n_cheque = data['n_cheque'];
                            me.nom_cuenta = data['nombre_cuenta'];
                            me.nombre_em = data['nombre_em'];
                            me.nom_banco = data['nom_banco'];
                            me.num_cuenta = data['num_cuenta'];
                            me.montoPagar = data['monto_che'];

                            break;
                        }

                        case "pagar":
                            let me = this;
                            me.modal = 1;
                            me.tituloModal = "Cheque";
                            me.n_cheque = data['n_cheque'];
                            me.cheque_id = data['idcheque'];
                            me.idcuenta = data['idcuenta'];

                            me.montoCuenta = parseFloat(data['total']);
                            me.monto = parseFloat(data['monto_che']);
                            me.montoResta = me.montoCuenta - me.monto;

                    }
                }
            }
        },

        cargarDatos(val1){
            let me = this;
            me.num_cuenta = val1.num_cuenta;
            me.nom_banco =val1.nom_banco;
            me.nombre_em =val1.nombre_em;
            me.idcuenta =val1.idcuenta;
            me.monto = parseFloat(val1.total);
        },

        validarCheque(){
            this.errorCheque= 0; 
            this.errorMsjCheque = []; 

            if(!this.fechaemi) this.errorMsjCheque.push("Debe seleccionar una fecha de Emision.");
            if(!this.fechapago) this.errorMsjCheque.push("Debe seleccionar una fecha de pago.");
            if(!this.idcuenta) this.errorMsjCheque.push("Debe seleccionar una cuenta.");
            if(!this.montoPagar || this.montoPagar == 0) this.errorMsjCheque.push("Debe Ingresar un monto a pagar.");
            if(!this.n_cheque) this.errorMsjCheque.push("Debe seleccionar una forma de pago.");

            if(this.montoPagar > this.monto) this.errorMsjCheque.push("El monto a pagar no puede ser mayor que el total de la cuenta.");

            this.montoActual = this.monto - this.montoPagar;

            // if(this.montoPagar > this.montoResta) this.errorMsjPago.push("El monto a pagar no puede ser mayor que el restante.")
            // if(this.montoPagar == this.montoResta ) this.activo = 1;

            if(this.errorMsjCheque.length) this.errorCheque = 1;
            return this.errorCheque;
        },
        
        registrarCheque(){
            if(this.validarCheque()){
                return;
            }else{
                swal.fire({
                    title: '¿Esta seguro de realizar este Registro?',
                    text: "¡Tendra un Nuevo Cheque!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si, Registralo!'
                }).then((result) => {
                    if (result.value) {
                        
                    let me = this;
                    axios.post(this.ruta +'/cheques/registrar',{
                        'id_cuenta': this.idcuenta, //folio
                        'n_cheque' : this.n_cheque,
                        'fecha_emi': this.fechaemi,
                        'fecha_pago': this.fechapago,
                        'monto_che':this.montoPagar,
                        'montoactual':this.montoActual,
                        'glosa_che': this.glosa,



                    }).then(function (response) {
                        
                        me.cerrarTemplate();
                        // $("#myTable").dataTable().fnDestroy();
                        // me.listarEstados();//listar por defecto  
                        swal.fire(
                        '¡Registro Exitoso!',
                        'El Cheque ha sido Registrado.',
                        'success'
                        )
                        
                        })
                        .catch(function (error) {
                            console.log(error.response);
                        });

                    }
                })
            }
        },

        validarPago(){
            this.errorPago= 0; 
            this.errorMsjPago = []; 

            if(!this.estadoPago) this.errorMsjPago.push("Debe seleccionar una fecha de pago.");
            if(!this.fecha_pago) this.errorMsjPago.push("Debe seleccionar una fecha de pago.");
            if(!this.cheque_id) this.errorMsjPago.push("Debe seleccionar un Cheque.");
            if(!this.idcuenta) this.errorMsjPago.push("Debe seleccionar una cuenta.");
            if(!this.monto || this.monto == 0) this.errorMsjPago.push("Debe Ingresar un monto a pagar.");
            if(!this.montoResta || this.montoResta == 0) this.errorMsjPago.push("Debe Ingresar un monto a pagar.");
            if(!this.montoCuenta || this.montoCuenta == 0) this.errorMsjPago.push("Debe Ingresar un monto a pagar.");

            if(this.monto > this.montoCuenta) this.errorMsjPago.push("El monto a pagar no puede ser mayor que el restante.");


            if(this.errorMsjPago.length) this.errorPago = 1;
            return this.errorPago;
        },

        registrarPago(){
            if(this.validarPago()){
                return;
            }else{
                swal.fire({
                    title: '¿Esta Seguro de Finalizar el Proceso?',
                    text: "¡Tendra un Cheque Finalizado!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si, Registralo!'
                }).then((result) => {
                    if (result.value) {
                        
                    let me = this;
                    axios.post(this.ruta +'/cheques/pagar',{
                    
                        'fecha_pago' : this.fecha_pago,
                        'cheque_id': this.cheque_id,
                        'idcuenta': this.idcuenta,
                        'monto_che': this.monto,
                        'id_cuenta':this.idcuenta,
                        'montoactual': this.montoResta,
                        'id_cheque': this.cheque_id,
                        'estadopago': this.estadoPago

                    }).then(function (response) {
                        
                        me.cerrarModalPagar();
                        // $("#myTable").dataTable().fnDestroy();
                        // me.listarEstados();//listar por defecto  
                        swal.fire(
                        '¡Registro Exitoso!',
                        'Proceso Culminado.',
                        'success'
                        )
                        
                        })
                        .catch(function (error) {
                            console.log(error.response);
                        });

                    }
                })
            }
        },

        cerrarTemplate(){
            let me = this;
            me.listado=0;
            me.idcuenta=0;
            me.n_cheque=0,
            me.fechaemi='',
            me.fechapago='',
            me.nombre_em = '';
            me.nom_banco = '';
            me.num_cuenta = '';
            me.montoPagar= 0;
            me.monto = 0;
            me.glosa = '';
            me.montoActual = 0;
            $("#myTable").dataTable().fnDestroy();
            me.errorCheque = 0;
            me.errorMsjCheque = [];
            me.listarCheques();
        },

        cerrarModalPagar(){
            let me = this;
            me.modal = 0;
            me.n_cheque = 0;
            me.monto = 0;
            me.cheque_id = 0;
            me.idcuenta = 0;
            me.montoCuenta = 0;
            me.monto = 0;
            me.montoResta = 0;
            me.listarCheques();
            
        },
    },

    mounted() {
        this.listarCheques();
    }

}


</script>


<style>

</style>