<template>
    <main class="main">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item"><a href="#">Admin</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="container-fluid">
            <spinner v-show="loading"></spinner>
            <!-- Listados de Contratos -->
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Cliente Empresa
                    <button type="button" @click="abrirModal('clientes','registrar')" class="btn btn-primary"
                    data-toggle="tooltip" data-placement="bottom" title="Crear Nuevo Cliente">
                        <i class="icon-plus"></i>&nbsp;Nuevo
                    </button>
                </div>
                
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table cell-border hover order-column table-sm" id="myTable">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Razon   </th>
                                    <th>Rut</th>
                                    <th>Telefono</th>
                                    <th>Nombre Contacto</th>
                                    <th>Tlf Contacto</th>
                                    <th width="60px">Contratos</th>
                                    <th>Zona</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="clientes in arrayClientes" :key="clientes.id">
                                    <td v-text="clientes.id"> </td>
                                    <td v-text="clientes.razon"> </td>
                                    <td v-text="clientes.rut"></td>
                                    <td v-text="clientes.tel_em"></td>
                                    <td v-text="clientes.nombre_contac"></td>
                                    <td v-text="clientes.tel_contac"></td>
                                    <td>
                                        <div v-if="clientes.contrato">
                                            <spa class="badge badge-pill badge-success">Contrato</spa>
                                        </div>

                                        <div v-else>
                                            <span class="badge badge-pill badge-primary">N/A</span>
                                        </div>
                                    </td>
                                    <td v-text="clientes.nombre_zona"></td>
                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-sm" @click="abrirModal('clientes','actualizar', clientes)"
                                        data-toggle="tooltip" data-placement="bottom" title="Editar">
                                        <i class="fa fa-pencil"></i>
                                        </button>
                                        <!-- <button type="button" class="btn btn-outline-info btn-sm" @click="abrirModal('trabajadores','actualizar', clientes)">
                                        <i class="icon-eye"></i>
                                        </button> -->
                                        <button type="button" class="btn btn-outline-danger btn-sm" @click="eliminarCliente(clientes.id)" 
                                        data-toggle="tooltip" data-placement="bottom" title="Eliminar">
                                        <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                </div>

                <div class="card-footer">
                    <div class="text-center">
                        <div class="col-auto my-1">
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fin ejemplo de tabla Listado -->
        </div>

        <!-- Errores -->
        
        <!-- /Errores -->

        <!--Inicio del modal agregar/actualizar-->
        <div v-if="modal==1" class="modal fade" :class="{'mostrar': modal}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog  modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" v-text="tituloModal"></h5>
                        <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                        <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                            <div class="form-group row">
                                <label class="col-lg-1 control-label" for="text-input">Rut:</label>
                                <div class="col-lg-5">
                                    <input type="text" v-model="rut" class="form-control" placeholder="Ingresar Rut Empresa">
                                </div>

                                <label class="col-lg-1 control-label">Telefono:</label>
                                <div class="col-lg-5">
                                    <input type="text" v-model="tel_em" class="form-control" placeholder="Ingresar Telefono Empresa">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-1 control-label" for="text-input">Razon:</label>
                                <div class="col-lg-11">
                                    <input type="text" v-model="razon" class="form-control" placeholder="Ingresar Razon Social">
                                </div> 
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-1 control-label" for="text-input">Direccion:</label>
                                <div class="col-lg-11">
                                    <input type="text" v-model="direccion_em" class="form-control" placeholder="Ingresar Direccion">
                                </div>   
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-1 control-label" for="text-input">Nombre Contacto:</label>
                                <div class="col-lg-11">
                                    <input type="text" v-model="nombre_contac" class="form-control" placeholder="Ingresar Nombre de Contacto">
                                </div> 
                            </div>


                            <div class="form-group row">
                                <label class="col-lg-1 control-label">Telefono Contacto:</label>
                                <div class="col-lg-11">
                                    <input v-model="tel_contac" class="form-control" rows="3" placeholder="Ingresar Telefono Encargado">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-1 control-label" for="email-input">Correo Contacto:</label>
                                <div class="col-lg-11">
                                    <input v-model="correo_contac" class="form-control" rows="3" placeholder="Ingresar Correo Encargado">
                                </div>
                            </div> 

                            <div class="form-group row">
                                <label class="col-md-1 form-control-label">Zona</label>
                                <div class="col-md-11">
                                    <select class="form-control" v-model="idzona">
                                            <option value="0">Seleccione una zona</option>
                                        <option v-for="zona in arrayZonas" :key="zona.id" :value="zona.id" v-text="zona.nombre_zona">
                                        </option>
                                    </select>
                                </div>
                            </div>

                        </form>
                    </div>                    
                    <!-- este bloque muestra los errrores, se muestra si errrorTipotrabajo=1 -->
                    <div v-show="errorCamion" class="align-self-center alert alert-danger text-center ml-2">
                        <div class="text-center">
                        <!-- recorremos todos loserrores denro del array y los mostramos con v-text -->
                        <div v-for="error in errorMsjCamion" :key="error" v-text="error"></div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @click="cerrarModal()"
                        data-toggle="tooltip" data-placement="bottom" title="Cerrar">Cerrar</button>

                        <button type="button"  v-if="tipoAccion== '1'" class="btn btn-primary" @click="registrarCliente()"
                        data-toggle="tooltip" data-placement="bottom" title="Guardar">Guardar</button>
                        <button type="button"  v-if="tipoAccion == '2'"  class="btn btn-primary" @click="actualizarCliente()"
                        data-toggle="tooltip" data-placement="bottom" title="Actualizar">Actualizar</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!--Fin del modal-->
        
    </main>
</template>

<script>
import datatables from 'datatables';
export default {
    props : ['ruta'],
    data(){
        return{
            loading : true,
            arrayTrabajadores:[],
            arrayClientes:[],
            arrayAsignar:[],
            arrayZonas:[],
            idzona:0,
            modal : 0,
            rut:'',
            razon:'',
            direccion_em:'',
            tel_em:'',
            nombre_contac:'',
            correo_contac:'',
            tel_contac:'',

            tituloModal:'',
            tra_id:'',
            tipoAccion:0,
            servicio:'',
            date:'',

            // Manejo de Errores
            errorCamion: 0,
            errorMsjCamion:[],
            // Manejo de Errores

            paginacion: {
                'total' : 0,
                'pagina_actual' : 0, // current_page
                'pag_mostrar' : 0, //numero de registros por pagina per_page
                'pag_alfinal' : 0, // last_page hasta ultima pagina
                'pag_actual' : 0, //from desde la pagina donde me encuentro
                'pag_ultima' : 0, //to hasta la pagina
            },
            offset:3,
            criterio: 'codigo_camion', 
            buscar : '' 
        }
        
    },
    components:{
    },
    computed:{
        isActived: function(){
            return this.paginacion.pagina_actual;
        },
        //calcula los elementos de la paginacion
        pagesNumber :function(){
            if(!this.paginacion.pag_ultima){
                return [];
            }

            var from = this.paginacion.pagina_actual - this.offset;
            if(from < 1 ){
                from = 1;
            }

            var to = from + (this.offset * 2);
            if (to >= this.paginacion.pag_alfinal ){
                to = this.paginacion.pag_alfinal;
            }

            var pagesArray = [];
            while (from <= to){
                pagesArray.push(from);
                from++;
            }
            return pagesArray;
        }
    },

    methods: {
        // Manejo de la Paginacion
        cambiarPagina(page,buscar,criterio){
            let me = this;
            //Actualiza a la pagina actual
            me.paginacion.pagina_actual = page;
            //Ahora enviamos la peticion para visualizar la data de dicha pag
            me.listarTrabajador(page,buscar,criterio);

        },
        // Manejo de la Paginacion
        
        // Funcionalidades
        mytable(){
            $(document).ready( function () {
                $('#myTable').DataTable({
                    "destroy":true,
                    "language": {
                        "info": "_TOTAL_ registros",
                        "search": "Buscar:",
                        "paginate" : {
                            "next" : "Siguiente",
                            "previous" : "Anterior"
                        },
                        "lengthMenu": 'Mostrar <select>'+
                                    '<option value="10">10</option>'+
                                    '<option value="25">25</option>'+
                                    '<option value="50">50</option>'+
                                    '<option value="100">100</option>'+
                                    '<option value="-1">Todos</option>'+
                                    '</select> registros',
                        "loadingRecords": "Cargando...",
                        "processing": "Procesando...",
                        "emptyTable": "No hay datos...",
                        "zeroRecords": "No Hay Coincidencias",
                        "infoEmpty": "...",
                        "infoFiltered":"..."
                    },
                    "order": [[0, "desc"]]
                })

            } );
        },

        listarCliente(){
            let me = this;
            var url =this.ruta +'/clientempresa'; 
            axios.get(url)
            .then((response) => {
                    var respuesta = response.data;
                    me.arrayClientes= respuesta.clientes;
                    me.mytable();
                    me.loading = false;
            })
            .catch(function(error) {
                    // handle error
                    console.log(error);
            });
        },

        registrarCliente(){
                    if(this.validarCliente()){
                return;
            }else{
                swal.fire({
                    title: 'Esta Seguro de Realizar este Registro',
                    text: "¡Tendra un Nuevo Cliente Empresa!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si, Registralo!'
                }).then((result) => {
                    if (result.value) {
                        
                    let me = this;
                    axios.post(this.ruta +'/clientempresa/registrar',{ //la ruta , los datos q recibimos  enviamos a registrar
                    //campos de la bd : variabes de js
                        'rut': this.rut,
                        'razon': this.razon,
                        'direccion_em': this.direccion_em,
                        'tel_em' : this.tel_em,
                        'nombre_contac': this.nombre_contac,
                        'correo_contac': this.correo_contac,
                        'tel_contac':this.tel_contac,
                        'idzona':this.idzona
                    }).then(function (response) {
                        me.cerrarModal();
                        $("#myTable").dataTable().fnDestroy();
                        me.listarCliente();//listar por defecto  
                            swal.fire(
                        'Registro Exitoso!',
                        'El Cliente ha sido Registrado.',
                        'success'
                        )
                        
                        })
                        .catch(function (error) {
                            console.log(error.response);
                        });

                    
                    
                    }
                })
            }
        },

        actualizarCliente(){
            if(this.validarCliente()){
                return;
            }else{
                let me = this;
                axios.put(this.ruta +'/clientempresa/actualizar',{ //la ruta , los datos q recibimos  enviamos a registrar
                //campos de la bd : variabes de js
                    'rut':this.rut,
                    'razon': this.razon,
                    'direccion_em': this.direccion_em,
                    'tel_em' : this.tel_em,
                    'nombre_contac': this.nombre_contac,
                    'correo_contac': this.correo_contac,
                    'tel_contac':this.tel_contac,
                    'id':this.tra_id,
                    'idzona': this.idzona
                }).then(function (response) {
                    me.cerrarModal();
                    me.registroExito();
                    $("#myTable").dataTable().fnDestroy();
                    me.listarCliente();//listar por defecto  
                    })
                    .catch(function (error) {
                        console.log(error.response);
                    });
            }
        },

        eliminarCliente(id){
            let me = this;
                swal.fire({
                title: '¿Desea eliminar el Cliente?',
                text: "¡No Podra Seguir Usando este Cliente!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si, Deseo Eliminarlo!'

            }).then((result) => {

            if (result.value) {

            axios.put(this.ruta +'/clientempresa/eliminar',{ //la ruta , los datos q recibimos  enviamos a registrar
                'id': id
            }).then(function (response) {

                $("#myTable").dataTable().fnDestroy();
                me.listarCliente();//listar por defecto  
                
                swal.fire(
                'Eliminado!',
                'El registro ha sido eliminado con éxito.',
                'success'
                )   

                })
                .catch(function (error) {
                    console.log(error.response);
                });
            }else if(result.dismiss == swal.DismissReason.cancel){

            }
            })
        },

        abrirModal(modelo, accion, data = []){ //se encarga de abrir el modal y los diferentes casos Y estados
            switch(modelo){
                case "clientes":
                {
                    switch(accion){
                        case 'registrar':
                        {
                            this.tipoAccion = 1; //para mostrar el boton guardar
                            this.modal = 1;//debe mostar ventana modal
                            this.tituloModal = 'Registrar Cliente Empresas'
                            this.rut='';
                            this.razon='';
                            this.direccion_em='';
                            this.tel_em='';
                            this.correo_contac='';
                            this.tel_contac='';
                            this.nombre_contac='';

                            break;
                        }
                        case 'actualizar':
                        {

                            this.tipoAccion = 2; //tipo de accion para actualizr es 2
                            this.tituloModal = "Actualizar Trabajador"; //que se muetre este titulo
                            this.rut = data['rut']; 
                            this.razon = data['razon']; 
                            this.direccion_em = data['direccion_em']; 
                            this.tel_em = data['tel_em']; 
                            this.nombre_contac = data['nombre_contac']; 
                            this.correo_contac = data['correo_contac']; 
                            this.tel_contac = data['tel_contac'];  
                            this.tra_id = data['id'];  
                            this.modal = 1;
                            break;
                        }
                    }
                }
            }
        },

        
        validarCliente(){
            this.errorCamion= 0; //inicializamos en 0
            this.errorMsjCamion = []; //a este array le anexaremos los msj d errores con el metodo push
            //evaluamos si nombre esta vacio agregamos este mensaje al array
            if(!this.rut) this.errorMsjCamion.push("El Rut no puede estar vacio");
            if(!this.razon) this.errorMsjCamion.push("La Razon no puede estar vacio");
            if(!this.direccion_em) this.errorMsjCamion.push("La Direccion no puede estar vacio");
            if(!this.tel_em) this.errorMsjCamion.push("El Telefono no pueden estar vacios");
            if(!this.correo_contac) this.errorMsjCamion.push("El Correo no pueden estar vacios");
            if(!this.tel_contac) this.errorMsjCamion.push("El Telefono no puede estar vacio");
            //evaluamos si este array tiene al menos 1 elmento, cambiamos errortipotrabajo a 1
            if(this.errorMsjCamion.length) this.errorCamion = 1;
            //aqui retornamos el valor 1
            return this.errorCamion;

        },

        cerrarModal(){
            this.modal=0;
            this.nombre_contac='';
            this.tituloModal = '';
            this.anio_cami = '';
            this.color_cami = '';
            this.codigo_cami = '';
            this.foto_cami = '';
            this.marca_cami = '';
            this.ppu_cami = '';
            this.km_cami = '';
            this.errorCamion= 0; 
            this.errorMsjCamion = [];
            this.servicio=[];
            this.servicios=[];
            
        },

        registroExito(){
            swal.fire({
            position: 'top-end',
            icon: 'success',
            title: 'Registro Exitoso',
            showConfirmButton: false,
            timer: 1200
            })
        },

        listarZonas(){
            let me=this;
            var url =this.ruta +'/zonas';
            axios.get(url).then(function (response) {
                var respuesta = response.data;
                me.arrayZonas = respuesta.zonas;//porque asi esta en e controlador
                
            })
            .catch(function (error) {
                    console.log(error);
            });
        }

    },
    
    mounted() {
        this.listarCliente();
        this.listarZonas();
        
    }
}
</script>

<style>

    .modal-content{
        border-radius: .3rem;
        width: 100% !important;
        position: absolute !important;
    }
    .modal-header{
        border-top-right-radius: .3rem;
        border-top-left-radius: .3rem;
        background-color: #3678A8;
        color: white;
        
    }
    .mostrar{ /* cuando mostrar es igual a 1*/
        display: list-item !important;
        opacity: 1 !important;
        background-color: #3c29297a !important;
        overflow-y: auto;
    }

    .card{
        border: 0;
        border-radius: .3rem;
        box-shadow: 0 0 1px rgba(0,0,0,.125),0 1px 3px rgba(0,0,0,0.38);
    }
    .card-header{
        border: 0;
        border-top-left-radius: .3rem;
        border-top-right-radius: .3rem;
    }
    .card-footer{
        border: 0;
        border-radius: .3rem;
    }

    .form-control,.btn{
        border-radius: 3px;
    }
</style>
