<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item"><a href="#">Admin</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="container-fluid">
            <spinner v-show="loading"></spinner>
            <!-- Listado de Contratos -->
            <template v-if="listado == 0">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> Contratos de Servicios
                        <button type="button" @click="abrirModal('contrato','registrar')" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Crear Nuevo Contrato">
                            <i class="icon-plus"></i>&nbsp;Nuevo
                        </button>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="myTable" class="table cell-border hover order-column table-sm">
                                <thead>
                                    <tr>
                                        <th class="w-5" >N°</th>
                                        <th>Cliente</th>
                                        <th>Rut</th>
                                        <th>Fecha</th>
                                        <!-- <th>Nombre Contrato</th> -->
                                        <th>Direccion</th>
                                        <th>Empresa</th>
                                        <th>Zona</th>
                                        <th class="w-5">Opciones</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr v-for="contratos in arrayContratos" :key="contratos.id">
                                        <td v-text="contratos.folio_contra"></td>
                                        <td v-text="contratos.razon"></td>
                                        <td v-text="contratos.rut"></td>
                                        <td v-text="contratos.fecha_contra"></td>
                                        <!-- <td v-text="contratos.nombre_contra"></td> -->
                                        <td v-text="contratos.direccion_em"></td>
                                        <td v-text="contratos.nombre_em"></td>
                                        <td v-text="contratos.nombre_zona"></td>
                                        <td>
                                            <button type="button" @click="verTrabajo2(contratos)" class="btn btn-outline-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="Agregar Servicios al Contrato">
                                                <i  class="fa fa-plus-circle"></i>
                                            </button>

                                            <!--Boton Ver-->
                                            <button type="button" @click="verTrabajo(contratos)" class="btn btn-outline-success btn-sm" data-toggle="tooltip" data-placement="bottom" title="Ver Servicios del Contrato">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>

                    <div class="card-footer">
                        <div class="text-center">
                            <div class="col-auto my-1">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            <!--  -->

            <!--Template para crear el contrato-->
            <template v-if="listado == 1">
                <div class="card">
                    <div class="card-header" v-text="tituloModal">  
                        <i class="fa fa-align-justify"></i> 
                    </div>

                    <div class="card-body">
                        <form>
                            <div class="form row py-1">
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label for="">Clientes <span class="badge badge-pill badge-danger">(*)</span></label>
                                        <v-select
                                            :on-search="selectEm" 
                                            label="razon"
                                            :options="arrayEm"
                                            placeholder="Buscar Cliente"
                                            :onChange="getDatosEm" 
                                        >
                                        </v-select>
                                    </div>
                                </div>          

                                <div class="form-group col-md-3 text-center">
                                    <label>Folio</label>
                                    <h5><b>N° {{folio}}</b></h5>
                                </div>
                                
                                <div class="form-group col-md-9">
                                    <label>Nombre del Contrato  <span class="badge badge-pill badge-danger">(*)</span></label>
                                    <input type="text" v-model="nombre_contra" class="form-control" placeholder="Ingresar Nombre del Contrato">
                                </div>

                                <div class="form-group col-md-3">
                                    <label for="inputState">Empresa <span class="badge badge-pill badge-danger">(*)</span></label>
                                    <select class="form-control" v-model="idem">
                                        <option value=''>Seleccionar...</option>
                                        <option v-for="emp in arrayEmpresa" :key="emp.id" :value="emp.id" v-text="emp.nombre_em">
                                        </option>
                                    </select>
                                </div>
                            </div>
                                <div class="my-1">
                                    <p class="text-center alert-light">Informacion Adicional del Cliente</p>
                                    <hr>
                                </div>
                            
                            <div class="form row py-1">
                                <div class="form-group col-md-8">
                                    <label>Direccion del Cliente</label>
                                    <input type="text" v-model="direccion_em" class="form-control" placeholder="Ingresar Direccion">
                                </div>

                                <div class="form-group col-md-4">
                                    <label>Rut del Cliente</label>
                                    <input type="text" v-model="rut" class="form-control" placeholder="Rut">
                                </div>

                                <div class="form-group col-md-4">
                                    <label>Nombre de Contacto</label>
                                    <input type="text" v-model="nombre_contac" class="form-control" placeholder="Correo Electronico">
                                </div>

                                <div class="form-group col-md-4">
                                    <label>Correo de Contacto</label>
                                    <input type="text" v-model="correo_contac" class="form-control" placeholder="Correo Electronico">
                                </div>
                                

                                <div class="form-group col-md-4">
                                    <label>Telefono de Contacto</label>
                                    <input type="text" v-model="tel_em" class="form-control" placeholder="Ingresar Telefono">
                                </div>

                                <div class="form-group col-md-12">
                                    <div class="text-center">
                                        <hr>
                                        <div class="col-auto my-1">
                                            <button type="button" class="form-control btn btn-outline-success" @click="listarServicios()"><i class="fa fa-search"></i>&nbsp;Servicios</button>                                             
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="table-responsive col-md-12">
                                    <hr>
                                    <table class="table table-bordered table-striped table-sm">
                                        <thead>
                                            <tr>
                                                <th width="80px">Opciones</th>
                                                <th width="80px">ID</th>
                                                <th>Servicio</th>
                                                <th>Forma C.</th>
                                                <th width="300px">Precio</th>
                                            </tr>
                                        </thead>
                                        <tbody v-if="arrayCargarServi.length">
                                            <tr v-for="(servi,index) in arrayCargarServi" :key="servi.id">

                                                <td>
                                                    <button @click="eliminarItem(index)" type="button" class="btn btn-danger btn-sm">
                                                        <i class="icon-close"></i>
                                                    </button>
                                                </td>
                                                
                                                <td v-text="servi.id"> </td>

                                                <td v-text="servi.nomb_servi"> </td>

                                                <td>
                                                    <select class="form-control" v-model="servi.idcosto">
                                                        <option v-for="emp in arrayCargarServi[index].costos" :key="emp.id" :value="emp.id"  v-text="emp.nombre_costo">
                                                        </option>
                                                    </select>
                                                </td>

                                                <td>
                                                    <input v-model="servi.precio" type="number" value="1" min="1" class="form-control">
                                                </td>

                                            </tr>
                                        </tbody>
                                        
                                        <tbody v-else>
                                            <tr>
                                                <td colspan="6">
                                                    No hay Servicios Agregados
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="card-footer">
                        <div class="text-center">
                            <div class="col-auto my-1">
                                <button type="button" class="btn btn-light" @click="cerrarTemplate()" 
                                data-toggle="tooltip" data-placement="bottom" title="Cancelar"><i class="icon-check"></i> Cancelar</button> 

                                <button type="button" class="btn btn-primary" v-if="tipoAccion==1" @click="registrarContra()" 
                                data-toggle="tooltip" data-placement="bottom" title="Registrar Contrato"><i class="icon-check"></i> Registrar Contrato</button> 
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            <!--  -->

            <!-- Template para modificar y eliminar los servicios-->
            <template v-if="listado==2">
                <div class="card">
                    <div class="card-header" v-text="tituloModal">  
                        <i class="fa fa-align-justify"></i> 
                    </div>

                    <div class="card-body">
                        <form>
                            <div class="form row py-1">
                                <div class="col-md-8">
                                    <label for="">Cliente(*)</label>
                                    <h5 class="card-title mb-4"> <b>{{razon}}</b></h5>
                                </div>          

                                <div class="form-group col-md-4 text-center">
                                    <label>Folio</label>
                                    <h4><b>N° {{folio}}</b></h4>
                                </div>
                                
                                <div class="form-group col-md-8">
                                    <label>Nombre del Contrato  <span class="badge badge-pill badge-danger">(*)</span></label>
                                    <input type="text" v-model="nombre_contra" class="form-control" placeholder="Ingresar Nombre del Contrato">
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="inputState">Empresa</label>
                                    <select class="form-control" v-model="idem">
                                        <option value=''>Seleccionar...</option>
                                        <option v-for="emp in arrayEmpresa" :key="emp.id" :value="emp.id" v-text="emp.nombre_em">
                                        </option>
                                    </select>
                                </div>


                                <div class="form-group col-md-8">
                                    <label>Direccion del Cliente</label>
                                    <input type="text" v-model="direccion_em" class="form-control" placeholder="Ingresar Direccion">
                                </div>

                                <div class="form-group col-md-4">
                                    <label>Rut del Cliente</label>
                                    <input type="text" v-model="rut" class="form-control" placeholder="Rut">
                                </div>

                                <div class="form-group col-md-4">
                                    <label>Nombre de Contacto</label>
                                    <input type="text" v-model="correo_contac" class="form-control" placeholder="Correo Electronico">
                                </div>


                                <div class="form-group col-md-4">
                                    <label>Correo de Contacto</label>
                                    <input type="text" v-model="correo_contac" class="form-control" placeholder="Correo Electronico">
                                </div>

                                <div class="form-group col-md-4">
                                    <label>Telefono de Contacto</label>
                                    <input type="text" v-model="tel_em" class="form-control" placeholder="Ingresar Telefono">
                                </div>
                            </div>

                            <hr>
                                <p class="text-center alert-light">Servicios Contratados.</p>
                                <hr>
                            <hr>

                            <div v-if="cargando == true" class="">
                                <spinner></spinner>
                            </div>

                            <div v-if="cargando == false" class="form-group row">
                                <div class="table-responsive col-md-12">
                                    <table class="table table-bordered table-striped table-sm">
                                        <thead>
                                            <tr>
                                                <th width="80px">Opciones</th>
                                                <th width="80px">ID</th>
                                                <th>Servicio</th>
                                                <th>Forma C.</th>
                                                <th width="300px">Precio</th>
                                            </tr>
                                        </thead>

                                        <tbody v-if="arrayCargarServi.length">
                                            <tr v-for="(detalle) in arrayCargarServi" :key="detalle.id">
                                                <td>
                                                    <button @click="borrarDetalle(detalle.id)" type="button" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="bottom" title="Borrar Servicio del Cliente">
                                                        <i class="icon-trash"></i>
                                                    </button>
                                                    <button @click="actualizarDetalle(detalle.id,detalle.precio)" type="button" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="Actualizar Servicio del Cliente">
                                                        <i class="icon-reload"></i>
                                                    </button>
                                                </td>
                                                
                                                <td v-text="detalle.id_servi"> 
                                                </td>

                                                <td v-text="detalle.nomb_servi"> 
                                                </td>

                                                <td v-text="detalle.nombre_costo"> 
                                                </td>

                                                <td>
                                                    <input v-model="detalle.precio" type="number" value="1" min="1" class="form-control">
                                                </td>

                                            </tr>
                                        </tbody>

                                        <tbody v-else>
                                            <tr>
                                                <td colspan="6">
                                                    No hay Servicios Agregados
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                           <div class="card-footer">
                                <div class="text-center">
                                    <div class="col-auto my-1">
                                        <button type="button" class="btn btn-light" @click="cerrarTemplate()"><i class="icon-check"></i> Cerrar</button> 
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </template>
            <!-- /Listado Card Body 1-->

            <!--Template para agregar nuevos servicios al contrato-->
            <template v-if="listado == 3">
                <div class="card">
                    <div class="card-header" v-text="tituloModal">  
                        <i class="fa fa-align-justify"></i> 
                    </div>

                    <div class="card-body">
                        <form>
                            <div class="form row py-1">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="">Cliente(*)</label>
                                        <h5 class="card-title mb-4"> <b>{{razon}}</b></h5>
                                    </div>
                                </div>  
                                
                                <div class="form-group col-md-4 text-center">
                                    <label>Folio</label>
                                    <h4><b>N° {{folio}}</b></h4>
                                </div>
                                
                                <div class="form-group col-md-12">
                                    <label>Nombre del Contrato </label>
                                    <input type="text" v-model="nombre_contra" class="form-control" placeholder="Ingresar Nombre del Contrato">
                                </div>

                                <div class="form-group col-md-8">
                                    <label>Correo</label>
                                    <input type="text" v-model="correo_contac" class="form-control" placeholder="Correo Electronico">
                                </div>

                                <div class="form-group col-md-4">
                                    <label>Rut</label>
                                    <input type="text" v-model="rut" class="form-control" placeholder="Rut">
                                </div>

                                <div class="form-group col-md-8">
                                    <label>Direccion</label>
                                    <input type="text" v-model="direccion_em" class="form-control" placeholder="Direccion">
                                </div>

                                <div class="form-group col-md-4">
                                    <label>Tel de Contacto</label>
                                    <input type="text" v-model="tel_em" class="form-control" placeholder="Telefono">
                                </div>

                                

                                <div class="form-group col-md-12">
                                    <div class="text-center">
                                        <hr>
                                        <div class="col-auto my-1">
                                            <button type="button" class="form-control btn btn-outline-success" @click="listarServicios()"><i class="fa fa-search"></i>&nbsp;Servicios</button>                                             
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="table-responsive col-md-12">
                                    <hr>
                                    <table class="table table-bordered table-striped table-sm">
                                        <thead>
                                            <tr>
                                                <th width="80px">Opciones</th>
                                                <th width="80px">ID</th>
                                                <th>Servicio</th>
                                                <th>Forma C.</th>
                                                <th width="300px">Precio</th>
                                            </tr>
                                        </thead>
                                        <tbody v-if="arrayNuevaCarga.length">
                                            <tr v-for="(servi,index) in arrayNuevaCarga" :key="servi.id">

                                                <td>
                                                    <button @click="eliminarItem2(index)" type="button" class="btn btn-danger btn-sm">
                                                        <i class="icon-close"></i>
                                                    </button>
                                                </td>
                                                
                                                <td v-text="servi.id"> </td>

                                                <td v-text="servi.nomb_servi"> </td>

                                                <td>
                                                    <select class="form-control" v-model="servi.idcosto">
                                                        <option v-for="emp in arrayNuevaCarga[index].costos" :key="emp.id" :value="emp.id"  v-text="emp.nombre_costo">
                                                        </option>
                                                    </select>
                                                </td>

                                                <td>
                                                    <input v-model="servi.precio" type="number" value="1" min="1" class="form-control">
                                                </td>

                                            </tr>
                                        </tbody>
                                        
                                        <tbody v-else>
                                            <tr>
                                                <td colspan="6">
                                                    No hay Servicios Agregados
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="card-footer">
                        <div class="text-center">
                            <div class="col-auto my-1">
                                <button type="button" class="btn btn-light" @click="cerrarTemplate()"><i class="icon-check"></i> Cancelar</button> 
                                <button type="button" class="btn btn-primary" @click="anexarServi()"><i class="icon-check"></i> Anexar Servicios</button> 
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            <!--  -->

            <!-- Modal y Servicios -->
            <div v-if="modal==1" class="mostrar modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dark modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Lista de Servicios</h4>
                            <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                            <span aria-hidden="true">×</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <div class="table-responsive">
                                <table class="table" id="myTable2"> 
                                    <thead class="thead-dark">
                                        <tr>
                                            <th width="80px">ID</th>
                                            <th>Nombre</th>
                                            <th width="80px">Agregar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="servicios in arrayModalServi" :key="servicios.id">
                                            <td v-text="servicios.id"></td>
                                            <td v-text="servicios.nomb_servi"></td>
                                            <td>
                                                <button v-if="listado != 3" type="button" @click="agregarDetalleModal(servicios)" class="btn btn-outline-success btn-sm">
                                                <i class="icon-check"></i></button>

                                                <button v-if="listado == 3" type="button" @click="agregarDetalleModal2(servicios)" class="btn btn-outline-success btn-sm">
                                                <i class="icon-check"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>                    

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" @click="cerrarModal()">Cerrar</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- Servicios -->
            
        </div>
    </main>
</template>

<script>
import datatables from 'datatables';
import vSelect from 'vue-select';
    export default{
        props : ['ruta'],
        data(){
            return{
                loading : true,
                // Manejo de datos
                listado : 0,
                modal:0,
                valor:0,
                folio:0,
                tra_id : 0,
                rut : 0 ,
                razon : '',
                direccion_em : '',
                tel_em : 0,
                nombre_contac : '',
                correo_contac : '',
                prueba : 0,
                cargando : false,
                id_contra : 0,
                nombre_contra : '',
                idem:'',
                
                //

                // Array de Datos
                arrayContratos:[],
                arrayEm : [],
                arrayEmpresa : [],
                arrayServicios : [],
                arrayCargarServi: [],
                arrayNuevaCarga: [],
                arrayModalServi : [],
                arrayCosto : [],
                //

                // Manejo de Errores
                errorCamion: 0,
                errorMsjCamion:[],
                // Manejo de Errores
            }
        },
        components : {
            vSelect
        },
        methods:{
            // Funcionalidades
            mytable(){
                $(document).ready( function () {
                    $('#myTable').DataTable({
                        "destroy":true,
                        "language": {
                            "info": "_TOTAL_ registros",
                            "search": "Buscar:",
                            "paginate" : {
                                "next" : "Siguiente",
                                "previous" : "Anterior"
                            },
                            "lengthMenu": 'Mostrar <select>'+
                                        '<option value="10">10</option>'+
                                        '<option value="25">25</option>'+
                                        '<option value="50">50</option>'+
                                        '<option value="100">100</option>'+
                                        '<option value="-1">Todos</option>'+
                                        '</select> registros',
                            "loadingRecords": "Cargando...",
                            "processing": "Procesando...",
                            "emptyTable": "No hay datos...",
                            "zeroRecords": "No Hay Coincidencias",
                            "infoEmpty": "...",
                            "infoFiltered":"..."
                        },
                        "order": [[0, "desc"]]
                    })

                } );
            },

            mytable2(){
                $(document).ready( function () {
                    $('#myTable2').DataTable({
                        "destroy":true,
                        "language": {
                            "info": "_TOTAL_ registros",
                            "search": "Buscar:",
                            "paginate" : {
                                "next" : "Siguiente",
                                "previous" : "Anterior"
                            },
                            "lengthMenu": 'Mostrar <select>'+
                                        '<option value="10">10</option>'+
                                        '<option value="25">25</option>'+
                                        '<option value="50">50</option>'+
                                        '<option value="100">100</option>'+
                                        '<option value="-1">Todos</option>'+
                                        '</select> registros',
                            "loadingRecords": "Cargando...",
                            "processing": "Procesando...",
                            "emptyTable": "No hay datos...",
                            "zeroRecords": "No Hay Coincidencias",
                            "infoEmpty": "...",
                            "infoFiltered":"..."
                        },
                        "order": [[0, "desc"]]
                    })

                } );
            },
            generarCodig(){
                let me=this;
                var url =this.ruta +'/contratos/codigo'
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    if(respuesta.codigo == null){
                        me.folio = 1;
                    }else{
                        me.valor = respuesta.codigo["folio_contra"];
                        me.folio = parseInt(me.valor);
                        me.folio ++;
                    }
                        
                    // this.valor = respuesta.codigo;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            listarContratos(){
                let me = this;
                var url =this.ruta +'/contratos'; 
                axios.get(url)
                .then((response) => {
                        var respuesta = response.data;
                        me.arrayContratos= respuesta.contratos;
                        this.mytable();
                        me.loading = false;
                })
                .catch(function(error) {
                        // handle error
                        console.log(error);
                });
            },

            listarServicios(){
                let me = this;
                me.modal = 1;
                var url =this.ruta +'/servicios'; 
                axios.get(url)
                .then((response) => {
                        var respuesta = response.data;
                        me.arrayModalServi= respuesta.servicios;
                        me.mytable2();
                })
                .catch(function(error) {
                        // handle error
                        console.log(error);
                });
            },

            listarCostos(){
                let me = this;
                me.arrayCosto=[];
                var url =this.ruta +'/formasc'; 
                axios.get(url).then(function(response) {
                        var respuesta = response.data;
                        me.arrayCosto= respuesta.formac;
                })
                .catch(function(error) {
                        // handle error
                        console.log(error);
                });
            },

            selectEm(search,loading){
                let me=this;
                loading(true);

                var url =this.ruta +'contratos/selectcli?filtro='+search;
                axios.get(url).then(function (response) {
                    let respuesta = response.data;
                    q:search
                    me.arrayEm = respuesta.empresa; 
                    loading(false)

                })
                .catch(function (error) {
                        console.log(error);
                });

            },

            getDatosEm(val1){
                let me = this;
                // me.loading = true;
                me.tra_id = val1.id;
                me.rut = val1.rut;
                me.razon = val1.razon;
                me.direccion_em = val1.direccion_em;
                me.tel_em = val1.tel_em;
                me.correo_contac = val1.correo_contac;
                me.nombre_contac = val1.nombre_contac;
                
            },

            agregarDetalleModal(data = []){
                let me=this;

                if(me.encuentra(data['id'])){
                        swal.fire({
                            icon:'error',
                            title: 'Error...',
                            text: 'Este Servicio ya se encuentra agregado!',
                            })

                    }else{
                        me.arrayCargarServi.push({
                        id : data['id'],
                        idcosto: 0,
                        nomb_servi: data['nomb_servi'],
                        precio:0,
                        costos: this.arrayCosto
                        }); 
                    }
            },

            agregarDetalleModal2(data = []){
                let me=this;

                if(me.encuentra2(data['id'])){
                    swal.fire({
                        icon:'error',
                        title: 'Error...',
                        text: 'Este Servicio ya se encuentra agregado!'
                        })

                }else{
                    me.arrayNuevaCarga.push({
                    id : data['id'],
                    idcosto: 0,
                    nomb_servi: data['nomb_servi'],
                    precio:0,
                    costos: this.arrayCosto
                    }); 
                }
            },

            verTabla(){
                let me = this;
                 var url =this.ruta +'/contratos/servicioscli?id=' + me.tra_id + '&id_contra=' + me.id_contra;
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    me.arrayCargarServi = respuesta.servi;  
                    me.cargando = false;
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            
            registrarContra(){
                if(this.validarCliente()){
                return;
                }else{
                    swal.fire({
                        title: '¿Esta Seguro de Realizar este Registro?',
                        text: "¡Tendra un Nuevo Contrato!",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, Registralo!'
                    }).then((result) => {
                        if (result.value) {
                            
                        let me = this;
                        axios.post(this.ruta +'contratos/registrar',{ //la ruta , los datos q recibimos  enviamos a registrar
                        //campos de la bd : variabes de js
                            'folio_contra':this.folio,
                            'id_cli': this.tra_id,
                            'nombre_contra' : this.nombre_contra,
                            'id_empre' : this.idem,
                            'data':this.arrayCargarServi,
                        }).then(function (response) {
                            me.cerrarTemplate();
                            swal.fire(
                            'Registro Exitoso!',
                            'El Contrato ha sido Registrado.',
                            'success'
                            )
                            $("#myTable").dataTable().fnDestroy();
                            this.listarContratos();//listar por defecto  
                            
                            
                            })
                            .catch(function (error) {
                                console.log(error.response);
                            });

                        
                       
                        }
                    })
                }
            },

            anexarServi(){

                if(this.validarCliente2()){
                return;
                }else{
                    swal.fire({
                        title: '¿Esta Seguro de Realizar este Registro?',
                        text: "¡Tendra nuevos Servicios!",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, Registralo!'
                    }).then((result) => {
                        if (result.value) {
                            
                        let me = this;
                        axios.post(this.ruta +'/contratos/serviregistrar',{
                            'id_cli' : this.tra_id,
                            'id_con': this.id_contra,
                            'nombre_contra' : this.nombre_contra,
                            'data':this.arrayNuevaCarga,

                        }).then(function (response) {
                            me.cerrarTemplate();
                            swal.fire(
                            'Registro Exitoso!',
                            'Los Servicios han sido Anexados.',
                            'success'
                            )
                            $("#myTable").dataTable().fnDestroy();
                            this.listarContratos();//listar por defecto  
                            
                            
                            })
                            .catch(function (error) {
                                console.log(error.response);
                            });

                        
                       
                        }
                    })
                }
            },

            actualizarDetalle(id,precio){
                let me=this;
                
                swal.fire({
                    title: '¿Esta Seguro de actualizar el Servicio?',
                    text: "¡Tendra Nuevos Precios!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si, Actualizarlo!'
                }).then((result) =>  {

                if(result.value){
                    me.cargando = true;
                    
                    axios.put(this.ruta +'/contratos/actualizarprecio',{
                    
                    'id' : id,
                    'precio' : precio,
                    //aprovecho de actualizar el nombre
                    'nombre_contra' : this.nombre_contra,
                    'id_contra' : this.id_contra,    

                    }).then(function (response) { //cuando se ejecuta correctamente la peticion ajax
                                                                  
                        swal.fire(
                        'Actualizado!',
                        'El Servicio ha sido ha sido actualizado.',
                        'success'
                        )    
                        me.verTabla();
                    }).catch(function (error) {
                        console.log(error);
                    });
                    
                    
                }else if(result.dismiss == swal.DismissReason.cancel){

                }
                })            

            },

            borrarDetalle(id){
                let me=this;
                swal.fire({
                title: '¿Estás seguro?',
                text: "¡No podrás revertir esto!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, Eliminalo!'
                }).then((result) => {

                if(result.value){
                    me.cargando = true;
                    axios.put(this.ruta +'/contratos/eliminarprecio',{
                    'id' : id

                    }).then(function (response) { //cuando se ejecuta correctamente la peticion ajax

                        // me.cliente='';
                        // me.idcliente = '';
                        // me.arrayPrendasCli = [];
                        me.listado = 2;                        
                        
                        swal.fire(
                        '¡Eliminado!',
                        'El Servicio ha sido eliminado con Exito.',
                        'success'
                        )    
                        
                        
                        me.verTabla();

                    }).catch(function (error) {
                        console.log(error);
                    });

                   

                    
                    
                }else if(result.dismiss == swal.DismissReason.cancel){

                }
                })            

            },

            eliminarItem(index){
                let me=this;
                me.arrayCargarServi.splice(index,1);
            },

            eliminarItem2(index){
                let me=this;
                me.arrayNuevaCarga.splice(index,1);
            },

            validarCliente(){
                let me=this;
                this.errorCamion= 0; //inicializamos en 0
                this.errorMsjCamion = []; //a este array le anexaremos los msj d errores con el metodo push

               if(this.tra_id == 0) this.errorMsjCamion.push("La Direccion no puede estar vacio");
               if(this.prueba == 1) this.errorMsjCamion.push("Debe Selecionar una fecha");
               if(this.nombre_contra == '') this.errorMsjCamion.push("Debe Selecionar una fecha");
               if(this.arrayCargarServi.length < 1) this.errorMsjCamion.push("Debe Selecionar una fecha");
               if(this.errorMsjCamion.length) this.errorCamion = 1;



                if(this.errorMsjCamion.length > 0){
                    swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: '¡Existen Campos Vacios!',
                    footer: '!Por Favor Corrija e Intente Nuevamente!'
                    })
                    return this.errorCamion = 1;
                }
            },

            validarCliente2(){
                let me=this;
                this.errorCamion= 0; //inicializamos en 0
                this.errorMsjCamion = []; //a este array le anexaremos los msj d errores con el metodo push

                if(this.tra_id == 0) this.errorMsjCamion.push("La Direccion no puede estar vacio");
                if(this.prueba == 1) this.errorMsjCamion.push("Debe Selecionar una fecha");
                if(this.arrayNuevaCarga.length < 1) this.errorMsjCamion.push("Debe Selecionar una fecha");
                if(this.errorMsjCamion.length) this.errorCamion = 1;

                if(this.errorMsjCamion.length > 0){
                    swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: '¡Existen Campos Vacios!',
                    footer: '!Por Favor Corrija e Intente Nuevamente!'
                    })
                    return this.errorCamion = 1;
                }
            },

            listarEmpresa(){
                let me = this;
            
                var url =this.ruta +'/empresas'; 
                axios.get(url).then(function(response) {
                        var respuesta = response.data;
                        me.arrayEmpresa= respuesta.empresas;
                })
                .catch(function(error) {
                        // handle error
                        console.log(error);
                });
            },

            encuentra(id){ //FUNCION PARA ENCONTRAR DATOS REPETIDOS EN LA TABLA DETALLES
                var sw=0;
                for(var i=0; i<this.arrayCargarServi.length; ++i){
                    if(this.arrayCargarServi[i].id == id){
                        sw=true;
                    }
                }
                return sw;
            },

            encuentra2(id){ //Para encontrar al agregar nuevos servicios a un contrato
                var sw=0;
                for(var i=0; i<this.arrayCargarServi.length; ++i){
                    if(this.arrayCargarServi[i].id_servi == id ){
                        sw=true;
                    }
                }

                for(var i=0; i<this.arrayNuevaCarga.length; ++i){
                    if(this.arrayNuevaCarga[i].id == id){
                        sw=true;
                    }
                }
                return sw;
            },

            abrirModal(modelo, accion, data = []){ //se encarga de abrir el modal y los diferentes casos Y estadosx|
                switch(modelo){
                    case "contrato":
                    {
                        switch(accion){
                            case 'registrar':
                            {
                                this.tipoAccion = 1; //para mostrar el boton guardar
                                // this.modal = 1;//debe mostar ventana modal
                                this.listado=1;
                                this.generarCodig();
                                this.tituloModal = 'Registrar Contrato de Servicios'
                                this.rut='';
                                this.razon='';
                                this.direccion_em='';
                                this.tel_em='';
                                this.correo_contac='';
                                this.tel_contac='';
                                break;
                            }
                            case 'actualizar':
                            {
                                let me = this;
                                this.tipoAccion = 2; //tipo de accion para actualizr es 2
                                this.tituloModal = "Actualizar Contrato de Servicios"; //que se muetre este titulo
                                this.rut = data['rut']; 
                                this.razon = data['razon']; 
                                this.direccion_em = data['direccion_em']; 
                                this.tel_em = data['tel_em']; 
                                this.correo_contac = data['correo_contac']; 
                                this.tel_contac = data['tel_contac'];  
                                this.tra_id = data['id'];  
                                this.folio = data['folio_soli'];
                                this.listado = 2;
                                break;
                            }

                            case 'verServi':
                            {
                                let me = this;
                                // this.tipoAccion = 2; //tipo de accion para actualizr es 2
                                this.tituloModal = "Actualizar Solicitud Particular"; //que se muetre este titulo
                                this.rut = data['rut']; 
                                this.razon = data['razon']; 
                                this.direccion_em = data['direccion_em']; 
                                this.tel_em = data['tel_em']; 
                                this.correo_contac = data['correo_contac']; 
                                this.tel_contac = data['tel_contac'];  
                                this.tra_id = data['id'];  
                                this.folio = data['folio_soli'];
                                this.modal = 1;
                                break;
                            }
                        }
                    }
                }
            },

            verTrabajo(data = []){
                let me = this;
                $("#myTable").dataTable().fnDestroy();

                me.listado=2;
                me.razon = data['razon'];
                me.folio = data['folio_contra'];
                me.correo_contac = data['correo_contac'];
                me.rut = data['rut'];
                me.direccion_em = data['direccion_em'];
                me.tel_em = data['tel_em'];
                me.tra_id = data['id_cli'];
                me.id_contra = data['id_contra'];
                me.nombre_contra = data['nombre_contra'];
                me.idem = data['id_empre'];
                me.arrayCargarServi=[];
                me.tituloModal = "Ver Detalles del Contrato";

                var url =this.ruta +'/contratos/servicioscli?id=' + me.tra_id + '&id_contra=' + me.id_contra;
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    me.arrayCargarServi = respuesta.servi;  
                    
                })
                .catch(function (error) {
                    console.log(error);
                });


            },

            verTrabajo2(data = []){
                let me = this;
                $("#myTable").dataTable().fnDestroy();

                me.listado=3;
                me.razon = data['razon'];
                me.folio = data['folio_contra'];
                me.correo_contac = data['correo_contac'];
                me.rut = data['rut'];
                me.direccion_em = data['direccion_em'];
                me.tel_em = data['tel_em'];
                me.tra_id = data['id_cli'];
                me.id_contra = data['id_contra'];
                me.nombre_contra = data['nombre_contra'];

                me.arrayCargarServi=[];
                me.tituloModal = "Agregar Nuevos Servicios";

                var url =this.ruta +'/contratos/servicioscli?id=' + me.tra_id + '&id_contra=' + me.id_contra;
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    me.arrayCargarServi = respuesta.servi;  
                    
                })
                .catch(function (error) {
                    console.log(error);
                });


            },

            cerrarModal(){
                let me = this;
                me.arrayModalServi = [];
                me.modal = 0;
            },

            cerrarTemplate(){
                this.listado=0;
                this.arrayCargarServi=[];
                this.arrayItem=[];
                this.arrayNuevaCarga = [];
                this.razon='';
                this.folio = 0;
                this.tra_id = 0;
                this.tel_em='';
                this.direccion_em= '';
                this.nombre_contra = '';
                this.id_contra = 0;
                this.idem = '';
                this.loading = true;
                this.correo_contac = '';
                $("#myTable").dataTable().fnDestroy();
                this.listarContratos();
            },
        },

        mounted(){
            this.generarCodig();
            this.listarContratos();
            this.listarCostos();
            this.listarEmpresa();
        }
    }
</script>

<style>

    .modal-content{
        border-radius: .3rem;
        width: 100% !important;
        position: absolute !important;
    }
    .modal-header{
        border-top-right-radius: .3rem;
        border-top-left-radius: .3rem;
        background-color: #3678A8;
        color: white;
        
    }
    
    .modal{
        overflow: auto !important;
    }
    .modal-largo {
        max-width: 1000px;
    }

    .mostrar{ /* cuando mostrar es igual a 1*/
        display: list-item !important;
        opacity: 1 !important;
        background-color: #3c29297a !important;
        overflow-y: auto !important;
    }

    .card{
        border: 0;
        border-radius: .3rem;
        box-shadow: 0 0 1px rgba(0,0,0,.125),0 1px 3px rgba(0,0,0,0.38);
    }
    .card-header{
        border: 0;
        border-top-left-radius: .3rem;
        border-top-right-radius: .3rem;
    }
    .card-footer{
        border: 0;
        border-radius: .3rem;
    }

    .form-control,.btn{
        border-radius: 3px;
    }
</style>