<template>
    <main class="main">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item"><a href="#">Admin</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="container-fluid">
            <!-- Listados de Cordinaciones -->
            <spinner v-show="loading"></spinner>
            <!-- Listado -->
            <template v-if="listado == 0">
                <div class="card">

                    <div class="card-header d-flex justify-content-between">
                        <div class="col-lg-9">
                            <i class="fa fa-align-justify"></i> Coordinaciones de Servicios
                            <button type="button" @click="abrirModal('coordinacion','registrar')" class="btn btn-primary"
                            data-toggle="tooltip" data-placement="bottom" title="Crar Nueva Coordinacion">
                                <i class="icon-plus"></i>&nbsp;Nuevo
                            </button>
                        </div>
                        <div class="col-lg-3 text-right">
                            <button type="button" @click="verMes()" class="btn btn-primary"
                            data-toggle="tooltip" data-placement="bottom" title="Ve Calendario de Coordinaciones">
                                <i class="icon-calendar"></i> Ver Mes
                            </button>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table cell-border hover order-column table-sm" id="myTable"> 
                                <thead>
                                    <tr>
                                        <th>N°</th>
                                        <th>Soli.</th>
                                        <th>Cliente  </th>
                                        <th>Fecha</th>
                                        <!-- <th>Direccion</th> -->
                                        <th>Ciudad</th>
                                        <th>Contrato</th>
                                        <th>Tipo</th>
                                        <th width="40px">Estado</th>
                                        <th>Zona</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr v-for="coordinaciones in arrayCoordinaciones" :key="coordinaciones.id">
                                        <td v-text="coordinaciones.folio_cordi"> </td>
                                        <td v-text="coordinaciones.folio_soli"> </td>

                                        <td v-text="coordinaciones.razon"> </td>
                                        <td>{{coordinaciones.fecha +' '+ coordinaciones.hora}}</td>
                                        <!-- <td v-text="coordinaciones.direccion_soli"></td> -->
                                        <td v-text="coordinaciones.ciudad"></td>

                                        <td v-if="coordinaciones.contrato == 0"><span class="badge badge-pill badge-success">N/A</span></td>
                                        <td v-else><span class="badge badge-pill badge-success">Si Aplica</span></td>

                                        <td v-if="coordinaciones.desplaza == 0"><span class="badge badge-pill badge-success">Orden T.</span></td>
                                        <td v-else><span class="badge badge-pill badge-success">Guia D.</span></td>

                                        <td><span class="badge badge-pill badge-success">{{coordinaciones.nombre_es}}</span></td>
                                        <td v-text="coordinaciones.nombre_zona"></td>
                                        <td>
                                            <button type="button" class="btn btn-outline-success btn-sm" @click="abrirModal('coordinacion','actualizar', coordinaciones)">
                                            <i class="fa fa-pencil"></i>
                                            </button>
                                            <!-- <button type="button" class="btn btn-outline-info btn-sm" @click="abrirModal('solicitud','actualizar', solicitudes)">
                                            <i class="icon-eye"></i>
                                            </button> &nbsp; -->

                                            <button type="button" class="btn btn-outline-primary btn-sm" @click="verCordi(coordinaciones.id)">
                                            <i class="fa fa-file-text"></i>
                                            </button>

                                            <button type="button" class="btn btn-outline-danger btn-sm" @click="eliminarSolicitud(coordinaciones.idesoli)">
                                            <i class="fa fa-trash"></i>
                                            </button>
                                        </td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                    </div>

                    <div class="card-footer">
                        <div class="text-center">
                            <div class="col-auto my-1">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            <!-- Fin Cordinaciones -->
            
            <!-- Registrar Coordinacion -->
            <template v-if="listado == 1">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i>
                        Registrar Coordinacion
                    </div>

                    <div class="card-body">
                        <h5 class="card-title mb-4">Cliente: <b>{{razon}}</b></h5>
                        <hr>
                        <form>
                            <div class="form row">
                                <div class="form-group col-md-4 text-center">
                                    <label>Coordinacion:</label>
                                    <h6><b>N° {{folio}}</b></h6>
                                </div>

                                <div class="form-group col-md-4 text-center">
                                    <label v-text="text_acti"></label>
                                    <h6><b>N° {{folio_pre}}</b></h6>
                                </div>

                                <div class="form-group col-md-4 text-center">
                                    <label>Acciones:</label>
                                    <div class="d-block">
                                        <span class="badge badge-pill badge-secondary text-white">{{total_pre}}</span>
                                        <button type="button" class="btn btn-outline-primary"  @click="listarPresu()" data-toggle="tooltip" data-placement="bottom" title="Lista de Cotizaciones"><i class="icon-magnifier"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-success"  @click="listarAsig()" data-toggle="tooltip" data-placement="bottom" title="Lista de Asignaciones"><i class="icon-magnifier"></i>
                                        </button>
                                            <span class="badge badge-pill badge-secondary text-white">{{total_asi}}</span>
                                    </div>

                                </div>
                            </div>

                            <div class="form row">
                                <div class="col-md-3"> 
                                    <label>Fecha Inicial<strong> ( * )</strong></label>
                                    <input v-model="fecha_soli" type="date" class="form-control" placeholder="Folio">
                                </div>
                                
                                <div class="col-md-3">
                                    <label for="">Hora de Inicial<strong> ( * )</strong></label>
                                    <input v-model="time" type="time" class="form-control">
                                </div>
                                

                                <div class="col-md-3">
                                    <label>Fecha Final<strong> ( * )</strong></label>
                                    <input v-model="fecha_fin" type="date" class="form-control" placeholder="Folio">
                                </div>

                                <div class="col-md-3">
                                    <label for="">Hora de Final<strong> ( * )</strong></label>
                                    <input v-model="hora_fin" type="time" class="form-control">
                                </div>
                            </div>

                            <div class="form-row mt-2">
                                <div class="form-group col-md-12">
                                    <label>Observaciones de Coordinacion <strong> ( * )</strong></label>
                                    <textarea v-model="observacion" class="form-control" rows="3" placeholder="Observaciones de Coordinacion"></textarea>
                                </div>
                            </div>

                            <hr>

                            <div class="container d-flex justify-content-center mb-2">
                                <button @click="listarCamiones()" type="button" class="btn btn-outline-primary mr-1"
                                data-toggle="tooltip" data-placement="bottom" title="Lista de Camiones"><i class="icon-mouse"></i> Camiones</button>

                                <button @click="listarTrabajadores()" type="button" class="btn btn-outline-success ml-1"
                                data-toggle="tooltip" data-placement="bottom" title="Lista de Trabajadores"><i class="icon-people"></i> Trabajadores</button>
                            </div>

                            <div class="container-fluid d-flex">

                                <div class="col-lg-6 pl-0">
                                    <div class="table-responsive table-borderless">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th class="py-2">Ppu</th>
                                                    <th class="py-2">Camion</th>
                                                    <th class="py-2">Opcion</th>
                                                </tr>
                                            </thead>
                                            <tbody v-if="arrayItem.length">
                                                <tr v-for="(item,index) in arrayItem" :key="item.id">
                                                    <td v-text="item.id"></td>
                                                    <td v-text="item.ppu"></td>
                                                    <td>
                                                        <button type="button" @click="eliminarItem(index)" class="btn btn-outline-danger btn-sm"
                                                        data-toggle="tooltip" data-placement="bottom" title="Borrar de la lista">
                                                        <i class="icon-close"></i></button>
                                                    </td>
                                                </tr>
                                            </tbody>

                                            <tbody v-else>
                                                <tr>
                                                    <td class="text-center alert-secondary" colspan="6">
                                                        No hay Items Agregados
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="col-lg-6 pl-0 pr-0">
                                    <div class="table-responsive table-borderless">
                                        <table class="table" >
                                            <thead>
                                                <tr>
                                                    <th class="py-2">Rut</th>
                                                    <th class="py-2">Trabajador</th>
                                                    <th class="py-2">Cargo</th>
                                                    <th class="py-2">Opcion</th>
                                                </tr>
                                            </thead>
                                            <tbody v-if="arrayAsig.length">
                                                <tr v-for="(asig,index) in arrayAsig" :key="asig.id">
                                                    <td v-text="asig.rut"></td>
                                                    <td v-text="asig.nombre_tra +' '+ asig.apellido_tra"></td>
                                                    <td v-text="asig.nom_depa"></td>
                                                    <td>
                                                        <button type="button" @click="eliminarAsig(index)" class="btn btn-outline-danger btn-sm"
                                                        data-toggle="tooltip" data-placement="bottom" title="Borrar de la lista">
                                                        <i class="icon-close"></i></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tbody v-else>
                                                <tr>
                                                    <td class="text-center alert-secondary" colspan="6">
                                                        No hay Items Agregados
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>

                    <div class="card-footer">
                        <div class="text-center">
                            <div class="col-auto my-1">
                                <button type="button" class="btn btn-light" @click="cerrarTemplate()"
                                data-toggle="tooltip" data-placement="bottom" title="Cerrar"><i class="icon-check"></i> Cancelar</button> 

                                <button type="button" class="btn btn-primary" v-if="tipoAccion==1" @click="registrarCoordinacion()"
                                data-toggle="tooltip" data-placement="bottom" title="Registrar Coordinacion"><i class="icon-check"></i> Registrar Coordinacion</button> 
                            </div>
                        </div>
                    </div>   
                </div>
            </template>
            <!-- Registrar Coordinacion -->

            <!-- Ver Coordinacion Editar -->
            <template v-if="listado == 2">
                <div class="card">
                    <div class="card-header" v-text="tituloModal">
                        <i class="fa fa-align-justify"></i> 
                    </div>
                    <div class="card-body">
                        <form>

                            <div class="form row">
                                <div class="form-group col-md-8">
                                    <h5 class="card-title">Cliente: <b>{{razon}}</b></h5>
                                </div>

                                <div class="form-group col-md-4 text-center">
                                    <label>Coordinacion:</label>
                                    <h6><b>N° {{folio}}</b></h6>
                                </div>

                            </div>
                            <hr>
                            
                            <div class="form row">
                                <div class="col-md-3">
                                    <label>Fecha Inicial<span class="badge badge-pill badge-danger">(*)</span></label>
                                    <input v-model="fecha_soli" type="date" class="form-control" placeholder="Folio">
                                </div>
                                
                                <div class="col-md-3">
                                    <label for="">Hora de Inicial<span class="badge badge-pill badge-danger">(*)</span></label>
                                    <input v-model="time" type="time" class="form-control">
                                </div>
                                

                                <div class="col-md-3">
                                    <label>Fecha Fnal<span class="badge badge-pill badge-danger">(*)</span></label>
                                    <input v-model="fecha_fin" type="date" class="form-control" placeholder="Folio">
                                </div>

                                <div class="col-md-3">
                                    <label for="">Hora de Final<span class="badge badge-pill badge-danger">(*)</span></label>
                                    <input v-model="hora_fin" type="time" class="form-control">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label>Observaciones de Coordinacion <span class="badge badge-pill badge-danger">(*)</span></label>
                                    <textarea v-model="observacion" class="form-control" rows="5" placeholder="Observaciones de Coordinacion"></textarea>
                                </div>
                            </div>

                            <hr>

                            <div class="container d-flex justify-content-center mb-2">
                                <!-- <button @click="listarCamiones()" type="button" class="btn btn-outline-primary mr-1"><i class="icon-mouse"></i> Camiones</button>
                                <button @click="listarTrabajadores()" type="button" class="btn btn-outline-success ml-1"><i class="icon-people"></i> Trabajadores</button> -->
                            </div>

                            <div class="container-fluid d-flex">
                                <div class="col-lg-6 pl-0">
                                    <div class="table-responsive table-borderless">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th class="py-2">Ppu</th>
                                                    <th class="py-2">Camion</th>
                                                    <th class="py-2">Opcion</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="item in arrayItem" :key="item.id">
                                                    <td v-text="item.id"></td>
                                                    <td v-text="item.ppu"></td>
                                                    <td>
                                                        <button type="button" @click="listarCamiones(item.id)" class="btn btn-outline-success btn-sm"
                                                        data-toggle="tooltip" data-placement="bottom" title="Borrar de la lista">
                                                        <i class="icon-pencil"></i></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="col-lg-6 pl-0 pr-0">
                                    <div class="table-responsive table-borderless">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th class="py-2">Rut</th>
                                                    <th class="py-2">Trabajador</th>
                                                    <th class="py-2">Cargo</th>
                                                    <th class="py-2">Opciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="asig in arrayAsig" :key="asig.id">
                                                    <td v-text="asig.rut"></td>
                                                    <td v-text="asig.nombre_tra +' '+ asig.apellido_tra"></td>
                                                    <td v-text="asig.nombre_depa"></td>
                                                    <td>
                                                        <button type="button" @click="listarTrabajadores(asig)" class="btn btn-outline-success btn-sm"
                                                        data-toggle="tooltip" data-placement="bottom" title="Borrar de la lista">
                                                        <i class="icon-pencil"></i></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>

                    <div class="card-footer">
                        <div class="text-center">
                            <div class="col-auto my-1">
                                <button type="button" class="btn btn-light" @click="cerrarTemplate()"><i class="icon-check"></i> Cancelar</button> 
                                 <button type="button" class="btn btn-primary" v-if="tipoAccion==2" @click="actualizarCliente()"><i class="icon-check"></i> Actualizar Solicitud</button> 
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            <!-- Ver Coordinacion Editar -->        
        </div>

        <!--Inicio del modal camiones-->
        <div v-if="modal==1" class="modal fade" :class="{'mostrar': modal}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dark modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">
                        <h5 class="modal-title " v-text="tituloModal"></h5>
                        <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                        <span class="text-white" aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div >
                            <table class="table cell-border hover order-column table-sm" id="myTable2"> 
                                <thead class="thead-dark">
                                    <tr>
                                        <th>ID</th>
                                        <th>PPU</th>
                                        <th>Marco</th>
                                        <th>Color</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="camiones in arrayCamiones" :key="camiones.id">
                                        <td v-text="camiones.id"></td>
                                        <td v-text="camiones.ppu"></td>
                                        <td v-text="camiones.marca"></td>
                                        <td v-text="camiones.color"></td>
                                        <td>
                                            <button v-if="listado == 1" type="button" @click="agregarDetalleModal(camiones)" class="btn btn-outline-info btn-sm">
                                            <i class="icon-check"></i></button>

                                            <button v-if="listado == 2" type="button" @click="actualizarDetalle(camiones.id,camiones.ppu)" class="btn btn-outline-info btn-sm">
                                            <i class="icon-check"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @click="cerrarModal()">Cerrar</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!--Fin del modal Camiones-->

        <!--Inicio del modal Trabajadores-->
        <div v-if="modal==2" class="modal fade" :class="{'mostrar': modal}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dark modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">
                        <h5 class="modal-title " v-text="tituloModal"></h5>
                        <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                        <span class="text-white" aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <table class="table cell-border hover order-column table-sm" id="myTable3"> 
                                <thead class="thead-dark">
                                    <tr>
                                        <th>ID</th>
                                        <th>Rut</th>
                                        <th>Nombres</th>
                                        <th>Cargo</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    <tr v-for="trabajadores in arrayTra" :key="trabajadores.id">
                                        <td v-text="trabajadores.id"></td>
                                        <td v-text="trabajadores.rut"></td>
                                        <td v-text="trabajadores.nombre_tra  +' '+  trabajadores.apellido_tra"></td>
                                        <td v-text="trabajadores.nombre_depa"></td>
                                        <td>
                                            <button v-if="listado == 1" type="button" @click="agregarDetalleModal2(trabajadores)" class="btn btn-outline-info btn-sm">
                                            <i class="icon-check"></i></button>

                                            <button v-if="listado == 2" type="button" @click="actualizarTrabajador(trabajadores)" class="btn btn-outline-info btn-sm">
                                            <i class="icon-check"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        

                    </div>                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @click="cerrarModal2()">Cerrar</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!--Fin del modal Trabajadores-->

         <!--Inicio del modal Cotizaciones-->
        <div v-if="modal==3" class="modal fade" :class="{'mostrar': modal}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dark modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">
                        <h5 class="modal-title " v-text="tituloModal"></h5>
                        <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                        <span class="text-white" aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <div class="table-responsive">
                                <table class="table cell-border hover order-column table-sm" id="myTable4"> 
                                    <thead class="thead-dark">
                                        <tr>   
                                            <th>N°</th>
                                            <th>Soli</th>
                                            <th>Tipo</th>
                                            <th class="text-center">Razon</th>
                                            <th width="60px">F. Trabajo</th>
                                            <th>Direccion</th>
                                            <th>Estado</th>
                                            <th width="60px">Opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        <tr v-for="presu in arrayPresu" :key="presu.id">
                                            <td v-text="presu.folio_pre"></td>
                                            <td v-text="presu.folio_soli"></td>
                                            <td v-if="presu.tipocli==1"><span class="badge badge-pill badge-primary">Empresa</span></td>
                                            <td v-else><span class="badge badge-pill badge-primary">Particular</span></td>
                                            <td class="text-center" v-text="presu.razon"></td>
                                            <td v-text="presu.fecha_soli"></td>
                                            <td v-text="presu.direccion_soli"></td>
                                            <td><span class="badge badge-pill badge-success">{{presu.nombre_es}}</span></td>
                                            <td>
                                                <!-- <button type="button" @click="agregarDetalleModal3(presu.idpresu,presu.folio_pre,presu.soli_id,presu.razon)" class="btn btn-outline-info btn-sm">
                                                <i class="icon-check"></i></button> -->

                                                <button type="button" @click="verSolicitud(presu,'Detalles de Cotizacion')" class="btn btn-outline-success btn-sm" 
                                                data-toggle="tooltip" data-placement="bottom" title="Ver y Seleccionar Cotizacion">
                                                <i class="icon-eye"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @click="cerrarModal2()">Cerrar</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!--Fin del modal Presupuestos-->

        <!--Inicio del modal Asignaciones-->
        <div v-if="modal==5" class="modal fade" :class="{'mostrar': modal}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dark modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">
                        <h5 class="modal-title " v-text="tituloModal"></h5>
                        <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                        <span class="text-white" aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <div class="table-responsive">
                                <table class="table cell-border hover order-column table-sm" id="myTable5"> 
                                    <thead class="thead-dark">
                                        <tr>   
                                            <th>N°</th>
                                            <th>Soli</th>
                                            <th width="60px">Tipo</th>
                                            <th class="text-center">Razon</th>
                                            <th width="100px">Fecha</th>
                                            <th width="60px">Estado</th>
                                            <th>Opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        <tr v-for="asig in arrayAsigna" :key="asig.id">
                                            <td v-text="asig.folio_asi"></td>
                                            <td v-text="asig.folio_soli"></td>
                                            <td v-if="asig.tipocli==1"><span class="badge badge-pill badge-primary">Empresa</span></td>
                                            <td v-else><span class="badge badge-pill badge-primary">Particular</span></td>
                                            <td class="text-center" v-text="asig.razon"></td>
                                            <td v-text="asig.fecha_asi"></td>
                                            <td><span class="badge badge-pill badge-success">{{asig.nombre_es}}</span></td>
                                            <td>
                                                <!-- <button type="button" @click="agregarDetalleModal3(presu.idpresu,presu.folio_pre,presu.soli_id,presu.razon)" class="btn btn-outline-info btn-sm">
                                                <i class="icon-check"></i></button> -->

                                                <button type="button" @click="verAsig(asig,'Asignacion de Servicios')" class="btn btn-outline-success btn-sm">
                                                <i class="icon-eye"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @click="cerrarModal2()">Cerrar</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!--Fin del modal Asignaciones-->

        <!-- Ver Pdf de Solicitud -->
        <div v-if="modal == 4" class="modal fade" :class="{'mostrar': modal}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dark">

                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" v-text="tituloModal"></h4>
                        <button type="button" class="close" @click="cerrarModal2()" aria-label="Close">
                        <span aria-hidden="true">×</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="container-fluid d-flex">
                            <div class="col-lg-6 pl-0">
                                <p class="mb-0 mt-2 text-" style="font-size:20px"><b>{{razon}}</b></p>
                            </div>
                            <div class="col-lg-6">
                                <h4 class="text-right my-2"><b>N°{{folio_pre}}</b></h4>
                            </div>
                        </div>

                        <div class="container-fluid d-flex justify-content-between">

                            <div class="col-lg-9 pl-0">
                                <p class="mt-4 mb-2 text-uppercase"><b>{{razon}}</b></p>
                                <p class="mb-1 text-capitalize">Rut: {{rut}}</p>
                                <p class="text-capitalize mb-2">Telefono: {{tel_em}}</p>
                                <p class="mb-2 text-capitalize">Direccion Servicio: {{direccion_soli}}</p>
                            </div>

                            <div class="col-lg-3 pl-0">
                                <p class="mt-4 mb-2 text-uppercase text-right"><b>Contactos:</b></p>
                                <p class="text-right text-capitalize mb-1">Tlf: {{tel_contac}}</p>
                                <p class="text-right text-capitalize mb-1">Correo: {{tel_contac}}</p>
                                <br>
                            </div>

                        </div>

                        <div class="mt-4 container-fluid d-flex justify-content-center">
                            <div class="col-lg-12 px-0">
                                <p class="my-1 text-center text-uppercase"><b>Obervaciones:</b></p>
                                <p class="mb-1 text-capitalize">{{observacion_presu}}</p>
                            </div>
                        </div>

                        <hr>
                        <div class="container-fluid mt-3 d-flex justify-content-center w-100">
                            <div class="table-responsive w-100">
                                <table class="table">
                                    <thead>
                                        <tr class="bg-dark text-white">
                                            <th class="text-center">#</th>
                                            <th class="text-center">Servicios</th>
                                            <th class="text-center">Cantidad</th>
                                            <th class="text-center">Unidad</th>
                                            <th class="text-center">Valor Unitario</th>
                                            <th class="text-center">Valor Neto</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="text-justify text-uppercase" v-for="detalle in arrayServi" :key="detalle.id">
                                            <td class="text-center" v-text="detalle.servi_id"></td>
                                            <td class="text-center" v-text="detalle.nomb_servi"></td>
                                            <td class="text-center" v-text="detalle.cantidad"></td>
                                            <td class="text-center" v-text="detalle.nombre_costo"></td>
                                            <td class="text-center">$ {{formatPrice(detalle.valor_uni)}}</td>
                                            <td class="text-center">$ {{ formatPrice(detalle.valor_neto)}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>    
                        </div>

                        <div class="container-fluid mt-5 w-100">
                            <p class="text-right mb-1"><b>Monto:</b> ${{ formatPrice(totalMonto)}}</p>
                            <p class="text-right mb-1"><b>Iva:</b> ${{ formatPrice(totalIva)}}</p>
                            <h5 class="text-right mb-5"><b>Total:</b> ${{ formatPrice(totalNeto)}}</h5>

                            
                        </div>

                    </div>

                    <div class="modal-footer" >
                        <button type="button" class="btn btn-secondary" @click="cerrarModal2()"
                        data-toggle="tooltip" data-placement="bottom" title="Cerrar">Cerrar</button>
                    </div>

                </div>
            </div>
        </div>
        <!-- Ver Pdf de Solicitud -->
        
    </main>
</template>

<script>
    import Multiselect from 'vue-multiselect';
    import vSelect from 'vue-select';
    import datatables from 'datatables';
    export default {
        props : ['ruta'],
        data(){
            return{
                loading : true,
                arrayTrabajadores:[],
                arrayCoordinaciones:[],
                arrayCamiones:[],
                arrayTra:[],
                arrayAsig:[],
                arrayItem:[],
                arrayServi:[],
                arrayEm:[],
                arrayPresu:[],
                arrayAsigna:[],
                asignaTotal:0,

                disableButton : false,
                tamano:false,
                id_asig : 0,
                id_presu:0,

                // Desplazamiento o no
                desplaza:'',

                folio_pre:0,
                folio_asig:0,
                id_cordi:0,
                observacion_presu:'',
                observacion:'',
                modal : 0,
                rut:'',
                razon:'',
                direccion_em:'',
                ciudad:'',
                direccion_soli:'',
                tel_em:'',
                correo_contac:'',
                tel_contac:'',
                folio:0,
                fecha_soli:'',
                valor:'',
                idesoli:0,
                listado: 0,
                tituloModal:'',
                tra_id:'',
                tipoAccion:0,
                servicio:'',
                date:'',
                time:'',
                inicio:'',
                final:'',
                soli_id:0,
                totalNeto:0,
                totalIva:0,
                totalMonto:0,
                text_acti:'Tipo de Proceso',

                total_pre : 0, //variable para contar total de presupuestos
                total_asi : 0, //variable para contar total de Asignaciones

                //tipo 1 es Presupuesto, 0 es Asignacion
                tipo: '',
                valorTra:0,

                fecha_fin:'',
                hora_fin:'',

                // Manejo de Errores
                errorCamion: 0,
                errorMsjCamion:[],
                // Manejo de Errores

                paginacion: {
                    'total' : 0,
                    'pagina_actual' : 0, // current_page
                    'pag_mostrar' : 0, //numero de registros por pagina per_page
                    'pag_alfinal' : 0, // last_page hasta ultima pagina
                    'pag_actual' : 0, //from desde la pagina donde me encuentro
                    'pag_ultima' : 0, //to hasta la pagina
                },
                offset:3,
                criterio: 'codigo_camion', 
                buscar : '' 
            }
            
        },
        components:{
            Multiselect,
            vSelect
        },
        computed:{
            isActived: function(){
                return this.paginacion.pagina_actual;
            },
            //calcula los elementos de la paginacion
            pagesNumber :function(){
                if(!this.paginacion.pag_ultima){
                    return [];
                }

                var from = this.paginacion.pagina_actual - this.offset;
                if(from < 1 ){
                    from = 1;
                }

                var to = from + (this.offset * 2);
                if (to >= this.paginacion.pag_alfinal ){
                    to = this.paginacion.pag_alfinal;
                }

                var pagesArray = [];
                while (from <= to){
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;
            },
            calcularTotal : function(){
                var resultado=0.0;
                for(var i=0; i<this.arrayItem.length;i++){
                    resultado=resultado+(this.arrayItem[i].precio*this.arrayItem[i].cantidad)
                }
                return resultado
            },
            calcularTotalIva : function(){
                var resultado=0.0;
                var total = 0.0;
                for(var i=0; i<this.arrayItem.length;i++){
                    resultado=resultado+(this.arrayItem[i].precio*this.arrayItem[i].cantidad)
                }
                total = (resultado * 19)/100;
                return total
            },

            calcularTotalCompleto : function(){
                var resultado=0.0;
                var resultadoiva=0.0;
                var total = 0.0;
                var totalcompleto=0.0;

                for(var i=0; i<this.arrayItem.length;i++){
                    resultado=resultado+(this.arrayItem[i].precio*this.arrayItem[i].cantidad)
                }

                for(var i=0; i<this.arrayItem.length;i++){
                    resultadoiva=resultadoiva+(this.arrayItem[i].precio*this.arrayItem[i].cantidad)
                }
                total = (resultadoiva * 19)/100;

                totalcompleto = total + resultado;
                return totalcompleto
            },
        },

        methods: {
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', ',')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
            },

            // Manejo de la Paginacion
            cambiarPagina(page,buscar,criterio){
                let me = this;
                //Actualiza a la pagina actual
                me.paginacion.pagina_actual = page;
                //Ahora enviamos la peticion para visualizar la data de dicha pag
                me.listarTrabajador(page,buscar,criterio);

            },
            // Manejo de la Paginacion

            // Funcionalidades
            mytable(){
                $(document).ready( function () {
                    $('#myTable').DataTable({
                        "destroy":true,
                        "language": {
                            "info": "_TOTAL_ registros",
                            "search": "Buscar:",
                            "paginate" : {
                                "next" : "Siguiente",
                                "previous" : "Anterior"
                            },
                            "lengthMenu": 'Mostrar <select>'+
                                        '<option value="10">10</option>'+
                                        '<option value="25">25</option>'+
                                        '<option value="50">50</option>'+
                                        '<option value="100">100</option>'+
                                        '<option value="-1">Todos</option>'+
                                        '</select> registros',
                            "loadingRecords": "Cargando...",
                            "processing": "Procesando...",
                            "emptyTable": "No hay datos...",
                            "zeroRecords": "No Hay Coincidencias",
                            "infoEmpty": "...",
                            "infoFiltered":"..."
                        },
                        "order": [[0, "desc"]]
                    })

                } );
            },

            mytable2(){
                $(document).ready( function () {
                    $('#myTable2').DataTable({
                        "destroy":true,
                        "language": {
                            "info": "_TOTAL_ registros",
                            "search": "Buscar:",
                            "paginate" : {
                                "next" : "Siguiente",
                                "previous" : "Anterior"
                            },
                            "lengthMenu": 'Mostrar <select>'+
                                        '<option value="10">10</option>'+
                                        '<option value="25">25</option>'+
                                        '<option value="50">50</option>'+
                                        '<option value="100">100</option>'+
                                        '<option value="-1">Todos</option>'+
                                        '</select> registros',
                            "loadingRecords": "Cargando...",
                            "processing": "Procesando...",
                            "emptyTable": "No hay datos...",
                            "zeroRecords": "No Hay Coincidencias",
                            "infoEmpty": "...",
                            "infoFiltered":"..."
                        },
                        "order": [[0, "desc"]]
                    })

                } );
            },

            mytable3(){
                $(document).ready( function () {
                    $('#myTable3').DataTable({
                        "destroy":true,
                        "language": {
                            "info": "_TOTAL_ registros",
                            "search": "Buscar:",
                            "paginate" : {
                                "next" : "Siguiente",
                                "previous" : "Anterior"
                            },
                            "lengthMenu": 'Mostrar <select>'+
                                        '<option value="10">10</option>'+
                                        '<option value="25">25</option>'+
                                        '<option value="50">50</option>'+
                                        '<option value="100">100</option>'+
                                        '<option value="-1">Todos</option>'+
                                        '</select> registros',
                            "loadingRecords": "Cargando...",
                            "processing": "Procesando...",
                            "emptyTable": "No hay datos...",
                            "zeroRecords": "No Hay Coincidencias",
                            "infoEmpty": "...",
                            "infoFiltered":"..."
                        },
                        "order": [[0, "desc"]]
                    })

                } );
            },

            mytable4(){
                $(document).ready( function () {
                    $('#myTable4').DataTable({
                        "destroy":true,
                        "language": {
                            "info": "_TOTAL_ registros",
                            "search": "Buscar:",
                            "paginate" : {
                                "next" : "Siguiente",
                                "previous" : "Anterior"
                            },
                            "lengthMenu": 'Mostrar <select>'+
                                        '<option value="10">10</option>'+
                                        '<option value="25">25</option>'+
                                        '<option value="50">50</option>'+
                                        '<option value="100">100</option>'+
                                        '<option value="-1">Todos</option>'+
                                        '</select> registros',
                            "loadingRecords": "Cargando...",
                            "processing": "Procesando...",
                            "emptyTable": "No hay datos...",
                            "zeroRecords": "No Hay Coincidencias",
                            "infoEmpty": "...",
                            "infoFiltered":"..."
                        },
                        "order": [[0, "desc"]]
                    })

                } );
            },

            mytable5(){
                $(document).ready( function () {
                    $('#myTable5').DataTable({
                        "destroy":true,
                        "language": {
                            "info": "_TOTAL_ registros",
                            "search": "Buscar:",
                            "paginate" : {
                                "next" : "Siguiente",
                                "previous" : "Anterior"
                            },
                            "lengthMenu": 'Mostrar <select>'+
                                        '<option value="10">10</option>'+
                                        '<option value="25">25</option>'+
                                        '<option value="50">50</option>'+
                                        '<option value="100">100</option>'+
                                        '<option value="-1">Todos</option>'+
                                        '</select> registros',
                            "loadingRecords": "Cargando...",
                            "processing": "Procesando...",
                            "emptyTable": "No hay datos...",
                            "zeroRecords": "No Hay Coincidencias",
                            "infoEmpty": "...",
                            "infoFiltered":"..."
                        },
                        "order": [[0, "desc"]]
                    })

                } );
            },

            generarCodig(){
                let me=this;
                var url =this.ruta +'/coordinacion/codigo'
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    if(respuesta.codigo == null){
                        me.folio = 1;
                    }else{
                        me.valor = respuesta.codigo["folio_cordi"];
                        me.folio = parseInt(me.valor);
                        me.folio ++;
                    }
                        
                    // this.valor = respuesta.codigo;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            verSolicitud(data = [], texto){
                let me = this;
                me.modal=4;
                me.tituloModal = texto;

                me.folio_pre = data['folio_pre'];

                me.razon = data['razon'];
                me.fecha_pre = data['fecha_pre'];
                me.rut = data['rut'];
                me.correo_contac = data['correo_contac'];
                me.tel_em = data['tel_em'];
                me.direccion_em = data['direccion_em'];
                me.tel_contac = data['tel_contac'];
                me.direccion_soli = data['direccion_soli'];
                me.observacion_presu = data['observacion_presu'];
                me.totalMonto = data['monto_pre'];
                me.totalIva = data['iva_pre'];
                me.totalNeto = data['total_pre'];
                me.soli_id = data['soli_id'];
                me.id_presu = data['idpresu'];

                me.desplaza = data['desplaza'];

                me.text_acti = 'Cotizacion';
                me.id_asig = '';
                
                //Obtener Detalles
                var url =this.ruta +'/presupuesto/obtenerDetalles?id=' + this.id_presu;
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    me.arrayServi = respuesta.presupuestos;  
                    
                })
                .catch(function (error) {
                    console.log(error);
                });

            },

            verAsig(data = [],texto){
                let me = this;
                me.tituloModal = texto;
                me.modal=4;

                me.folio_pre = data['folio_asi'];

                me.razon = data['razon'];
                me.fecha_pre = data['fecha_pre'];
                me.rut = data['rut'];
                me.correo_contac = data['correo_contac'];
                me.tel_em = data['tel_em'];
                me.direccion_em = data['direccion_em'];
                me.tel_contac = data['tel_contac'];
                me.direccion_soli = data['direccion_soli'];
                me.observacion_presu = data['observacion_asi'];
                me.totalMonto = data['monto_asi'];
                me.totalIva = data['iva_asi'];
                me.totalNeto = data['total_asi'];
                me.soli_id = data['soli_asi'];
                // falta este
                me.text_acti = 'Asignacion';
                me.id_presu = '';
                me.id_asig = data['idasig'];

                //Obtener Detalles
                var url =this.ruta +'/asignaciones/obtenerDetalles?id=' + me.id_asig;
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    me.arrayServi = respuesta.asignaciones;  
                    
                })
                .catch(function (error) {
                    console.log(error);
                });

            },

            listarCoordinaciones(){
                let me = this;
                var url =this.ruta +'/coordinacion'; 
                axios.get(url)
                .then((response) => {
                        var respuesta = response.data;
                        me.arrayCoordinaciones= respuesta.coordinaciones;
                        me.arrayEm= respuesta.empresas;
                        me.mytable();
                        me.loading = false;
                })
                .catch(function(error) {
                        // handle error
                        console.log(error);
                });
            },

            listarPresu(){
                let me = this;
                me.modal = 3;
                me.tituloModal = 'Listado de Cotizaciones';
                me.arrayCamiones=[];
                var url =this.ruta +'/presupuesto_apro'; 
                axios.get(url).then(function(response) {
                        var respuesta = response.data;
                        me.arrayPresu= respuesta.presupuesto;
                        me.mytable4();
                })
                .catch(function(error) {
                        // handle error
                        console.log(error);
                });
            },

            listarTotalPresu(){
                let me = this;
                var url =this.ruta +'/presupuesto/total' 
                axios.get(url).then(function(response) {
                        var respuesta = response.data;
                        me.total_pre= respuesta.totalpresu[0].totalpresu;
                })
                .catch(function(error) {
                        // handle error
                        console.log(error);
                });
            },

            listarTotalAsi(){
                let me = this;
                var url =this.ruta +'/asignacion/total' 
                axios.get(url).then(function(response) {
                        var respuesta = response.data;
                        me.total_asi= respuesta.totalasig[0].totalasig;
                        
                })
                .catch(function(error) {
                        // handle error
                        console.log(error);
                });
            },

            listarAsig(){
                let me = this;
                me.modal = 5;
                me.tituloModal = 'Asignaciones de Servicios';
                me.arraySolicitudes=[];
                var url =this.ruta +'/asignacion/cordi'; 
                axios.get(url).then(function(response) {
                        var respuesta = response.data;
                        me.arrayAsigna= respuesta.asignaciones;
                        me.mytable5();
                })
                .catch(function(error) {
                        // handle error
                        console.log(error);
                });
            },

            listarCamiones(id){
                console.log(id);
                let me = this;
                if(me.fecha_soli == "" || me.fecha_fin == "" || me.time == "" || me.hora_fin == ""){

                    swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: '¡Existen Campos Vacios!',
                    footer: '!Por Favor Corregir e Intentar Nuevamente!'
                    })
                    
                }
                else{
                    
                    me.modal = 1;
                    me.tituloModal = 'Lista de Camiones';
                    me.arrayCamiones=[];
                    var url =this.ruta +'/camiones'; 
                    axios.get(url).then(function(response) {
                            var respuesta = response.data;
                            me.arrayCamiones= respuesta.camiones;
                            me.mytable2();
                    })
                    .catch(function(error) {
                            // handle error
                            console.log(error);
                    });

                }
            },

            listarTrabajadores(asig){
                // console.log(asig.id);
                let me = this;
                if( me.listado == 2){
                me.valorTra= asig.id;
                }

                if(me.fecha_soli == "" || me.fecha_fin == "" || me.time == "" || me.hora_fin == ""){

                    swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: '¡Existen Campos Vacios!',
                    footer: '!Por Favor Corregir e Intentar Nuevamente!'
                    })
                    
                }else{

                    me.modal = 2;
                    me.tituloModal = 'Lista de Trabajadores';
                    me.arrayCamiones=[];
                    var url =this.ruta +'/personal/coordinacion'; 
                    axios.get(url).then(function(response) {
                            var respuesta = response.data;
                            me.arrayTra= respuesta.trabajadores;
                            me.mytable3();
                    })
                    .catch(function(error) {
                            // handle error
                            console.log(error);
                    });
                }
            },

            agregarDetalleModal(data = []){
                let me=this;

                if(me.validarCami(data['id'])){

                    swal.fire({
                        icon:'error',
                        title: 'Error...',
                        text: 'Este Camion ya se encuentra en otra Coordinacion!',
                        });

                }else if(me.encuentra(data['id'])){

                    swal.fire({
                        icon:'error',
                        title: 'Error...',
                        text: 'Solo se puede asignar 1 Camion por Coordinacion!',
                        });
                }else{
                    
                    me.arrayItem.push({
                    id : data['id'],
                    ppu: data['ppu'],
                    }); 
                }
            },

            validarCami(cami){
                var sw=0;
                let me=this;
                
                me.inicio = me.time + ":00";
                me.final = me.hora_fin + ":00";
                var url =this.ruta +'/camion/validar?cami=' + cami + '&fechasoli=' +  me.fecha_soli + '&fechafin=' +  me.fecha_fin + '&ini=' + me.inicio + '&fin=' + me.final;
                axios.get(url).then(function (response){
                if(response.data == 1){
                    sw = true;
                    me.arrayItem.pop(); //eliminar el ultimo elemento agregado
                    swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: '¡El Camión ya ha sido Coordinado!',
                    footer: '!Por Favor Corregir e Intentar Nuevamente!'
                    })
                    
                }

                })
                .catch(function (error) {
                    console.log(error);
                });                

                return sw;
            },

            validarTra(tra){
                var sw=0;
                let me=this;
                me.inicio = me.time + ":00";
                me.final = me.hora_fin + ":00";
                var url =this.ruta +'/trabajador/validar?tra=' + tra + '&fechasoli=' +  me.fecha_soli + '&fechafin=' +  me.fecha_fin + '&ini=' + me.inicio + '&fin=' + me.final;
                axios.get(url).then(function (response){
                if(response.data == 1){
                    sw = true;
                    me.arrayAsig.pop(); //eliminar el ultimo elemento agregado
                    swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: '¡El Trabajador ya ha sido Coordinado!',
                    footer: '!Por Favor Corregir e Intentar Nuevamente!'
                    })
                }

                })
                .catch(function (error) {
                    console.log(error);
                });                

                return sw;
            },

            agregarDetalleModal2(data = []){
                let me=this;
                
                if(me.validarTra(data['id'])){

                swal.fire({
                    icon:'error',
                    title: 'Error...',
                    text: 'Este Camion ya se encuentra en otra coordinacion!',
                    });

                }else if(me.encuentra2(data['id'],data['depa'])){
                    swal.fire({
                        icon:'error',
                        title: 'Error...',
                        text: 'Ya se encuentra agregado!',
                        footer: '¡No se Pueden agregar 2 veces el mismo Trabajador o 2 Choferes!'
                        })
                }
                else{
                    me.arrayAsig.push({
                    id : data['id'],
                    rut: data['rut'],
                    depa: data['depa'],
                    nom_depa: data['nombre_depa'],
                    nombre_tra: data['nombre_tra'],
                    apellido_tra: data['apellido_tra'],
                    }); 
                }
            },

            agregarDetalleModal3(id,folio,soli_id,razon){
                let me=this;        
                me.id_presu = id;
                me.folio_pre = folio;
                me.idesoli = soli_id;
                me.razon = razon;
                
            },

            encuentra(id){ //FUNCION PARA ENCONTRAR DATOS REPETIDOS EN LA TABLA DETALLES
                var sw=0;
                // for(var i=0; i<this.arrayItem.length; ++i){
                if(this.arrayItem.length >= 1){
                    sw=true;
                }
                // }
                return sw;
            },

            encuentra2(id,depa){ //FUNCION PARA ENCONTRAR DATOS REPETIDOS EN LA TABLA DETALLES
                console.log("persona ="+id + "Cargo ="+depa);
                var sw=0;

                for(var i=0; i<this.arrayAsig.length; ++i){
                    // el 2 es para validar que sea solo 1 chofer por OT
                    if(this.arrayAsig[i].id == id){
                        sw=true;
                    }
                }

                // if(depa == 1) {
                //     for(var i=0; i<this.arrayAsig.length; ++i){
                //         // el 2 es para validar que sea solo 1 chofer por OT
                //         if(this.arrayAsig[i].depa == 1){
                //             sw=true;
                //         }
                //     }
                // }

                return sw;
            },

            registrarCoordinacion(){
                if(this.validarCliente()){
                    return;
                }else{
                    swal.fire({
                        title: '¿Esta Seguro de Realizar este Registro?',
                        text: "¡Tendra una Nueva Coordinacion Registrada!",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, Registralo!'
                    }).then((result) => {
                        if (result.value) {
                            
                        let me = this;
                        axios.post(this.ruta +'/coordinacion/registrar',{ //la ruta , los datos q recibimos  enviamos a registrar
                        //campos de la bd : variabes de js
                            'folio_cordi':this.folio,
                            'fecha': this.fecha_soli,
                            'hora': this.time,
                            'fecha_fin': this.fecha_fin,
                            'hora_fin': this.hora_fin,
                            'observacion_cordi': this.observacion,
                            'soli_id': this.soli_id,
                            'pre_id': this.id_presu,

                            'desplaza': this.desplaza,

                            'id_asig' : this.id_asig,
                            'folio_pre' : this.folio_pre,
                            'razon' : this.razon,
                            'data':this.arrayItem,
                            'data2':this.arrayAsig,

                        }).then(function (response) {
                            me.cerrarTemplate();
                            me.listarCoordinaciones(1, '', 'nombre');//listar por defecto  
                             swal.fire(
                            'Registro Exitoso!',
                            'La Coordinacion ha sido Registrada.',
                            'success'
                            )
                            
                            })
                            .catch(function (error) {
                                console.log(error.response);
                            });

                        
                       
                        }
                    })
                }
            },

            actualizarCliente(){
                if(this.validarCliente()){
                    return;
                }else{
                    let me = this;
                    axios.put(this.ruta +'/coordinacion/actualizar',{ //la ruta , los datos q recibimos  enviamos a registrar
                    //campos de la bd : variabes de js
                        'fecha_soli': this.fecha_soli,
                        'ciudad' : this.ciudad,
                        'direccion_soli': this.direccion_soli,
                        'observacion': this.observacion,
                        'id':this.idesoli
                    }).then(function (response) {
                        me.listarCoordinaciones(1,'','');
                        me.listado = 0;
                        me.registroExito();
                        })
                        .catch(function (error) {
                            console.log(error.response);
                        });
                }
            },

            eliminarSolicitud(id){
                let me = this;
                axios.put(this.ruta +'/coordinacion/eliminar',{ //la ruta , los datos q recibimos  enviamos a registrar
                    'id': id
                }).then(function (response) {
                    me.listarCoordinaciones(1, '', 'nombre');//listar por defecto  
                    })
                    .catch(function (error) {
                        console.log(error.response);
                    });
            },

            // Editar Camion antes registrado
            actualizarDetalle(id,ppu){
                let me=this;

                if(me.validarCami(id)){

                    swal.fire({
                        icon:'error',
                        title: 'Error...',
                        text: 'Este Camion ya se encuentra en otra Coordinacion!',
                        });

                }else{
                
                    swal.fire({
                        title: '¿Esta Seguro de actualizar el Servicio?',
                        text: "¡Tendra Nuevos Precios!",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, Actualizarlo!'
                    }).then((result) =>  {

                    if(result.value){
                        me.cargando = true;
                        
                        axios.put(this.ruta +'/coordinacion/actualizarcamion',{
                        
                        'id' : me.id_cordi,
                        'camion' : id,    
                        'ppu' : ppu

                        }).then(function (response) { //cuando se ejecuta correctamente la peticion ajax
                                                                    
                            swal.fire(
                            'Actualizado!',
                            'El Servicio ha sido ha sido actualizado.',
                            'success'
                            )    
                            me.refreshTablas();
                        }).catch(function (error) {
                            console.log(error);
                        });
                        
                        
                    }else if(result.dismiss == swal.DismissReason.cancel){

                    }
                    })            
                }
            },
            //

            // Editar Camion antes registrado
            actualizarTrabajador(trabajadores){
                let me=this;
                if(me.validarTra(trabajadores.id)){

                swal.fire({
                    icon:'error',
                    title: 'Error...',
                    text: 'Este Camion ya se encuentra en otra coordinacion!',
                    });

                // }else if(me.encuentra2(data['id'],data['depa'])){
                //     swal.fire({
                //         icon:'error',
                //         title: 'Error...',
                //         text: 'Ya se encuentra agregado!',
                //         footer: '¡No se Pueden agregar 2 veces el mismo Trabajador o 2 Choferes!'
                //         })
                // }
                }
                else{
                    swal.fire({
                        title: '¿Esta Seguro de actualizar el Servicio?',
                        text: "¡Tendra Nuevos Precios!",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, Actualizarlo!'
                    }).then((result) =>  {

                    if(result.value){
                        me.cargando = true;
                        
                        axios.put(this.ruta +'/coordinacion/actualizartraba',{
                        
                        // 'id' : me.id_cordi,
                        'idt' : me.valorTra,
                        'id_tra' : trabajadores.id,    
                        'nombre_tra' : trabajadores.nombre_tra

                        }).then(function (response) { //cuando se ejecuta correctamente la peticion ajax
                                                                    
                            swal.fire(
                            'Actualizado!',
                            'El Servicio ha sido ha sido actualizado.',
                            'success'
                            )    
                            me.refreshTablas();
                        }).catch(function (error) {
                            console.log(error);
                        });
                        
                        
                    }else if(result.dismiss == swal.DismissReason.cancel){

                    }
                    })            
                }
            },
            //
            
            
            refreshTablas(){
                let me = this;
                var url =this.ruta +'coordinacion/obtenerDetalles?id=' + this.id_cordi + '&codi=' + this.tipo;
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    me.arrayItem = respuesta.camiones;  
                    me.arrayAsig = respuesta.personal;
                    me.folio_asig = respuesta.folio_identi;
                    
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            // 

            verCordi(id){
                let me = this;
                window.open(this.ruta +'/Evento/details/' + id );    
            
            },

            verMes(){
                let me = this;
                window.open(this.ruta +'/Evento/index' );    
            
            },

            verPresu(id,razon){
                let me = this;
                me.listado = 3;   
            
            },
            
            abrirModal(modelo, accion, data = []){ //se encarga de abrir el modal y los diferentes casos Y estados
                switch(modelo){
                    case "coordinacion":
                    {
                        switch(accion){
                            case 'registrar':
                            {
                                this.tipoAccion = 1; //para mostrar el boton guardar
                                $("#myTable").dataTable().fnDestroy();
                                // this.modal = 1;//debe mostar ventana modal
                                this.listado=1;
                                this.listarTotalPresu();
                                this.listarTotalAsi();
                                this.generarCodig();
                                this.tituloModal = 'Registrar Coordinacion de Servicios'
                                this.rut='';
                                this.razon='';
                                this.direccion_em='';
                                this.tel_em='';
                                this.ciudad='';
                                this.correo_contac='';
                                this.tel_contac='';
                                this.observacion = '';
                                this.direccion_soli = '';
                                this.fecha_soli = '';
                                break;
                            }
                            case 'actualizar':
                            {
                                let me = this;
                                $("#myTable").dataTable().fnDestroy();
                                // this.tipoAccion = 2; //tipo de accion para actualizr es 2
                                this.tituloModal = "Actualizar Cordinacion de Servicios"; //que se muetre este titulo
                                this.rut = data['rut']; 
                                this.razon = data['razon']; 
                                this.fecha_soli = data['fecha'];
                                this.time = data['hora'];
                                this.fecha_fin = data['fecha_fin'];
                                this.hora_fin = data['hora_fin'];
                                this.observacion = data['observacion_cordi'];
                                this.id_cordi = data['id'];
                                this.tipo = data['tipo'];
                                //Obtener Detalles
                                var url =this.ruta +'coordinacion/obtenerDetalles?id=' + this.id_cordi + '&codi=' + this.tipo;
                                axios.get(url).then(function (response) {
                                    var respuesta = response.data;
                                    me.arrayItem = respuesta.camiones;  
                                    me.arrayAsig = respuesta.personal;
                                    me.folio_asig = respuesta.folio_identi;
                                    
                                })
                                .catch(function (error) {
                                    console.log(error);
                                });

                                this.listado = 2;
                                break;
                            }       
                           
                        }
                    }
                }
            },
            
            validarCliente(){
                this.errorCamion= 0; //inicializamos en 0
                this.errorMsjCamion = []; //a este array le anexaremos los msj d errores con el metodo push
                //evaluamos si nombre esta vacio agregamos este mensaje al array
               if(this.folio_cordi == 0) this.errorMsjCamion.push("La Razon no puede estar vacio");


               if(!this.folio) this.errorMsjCamion.push("La Razon no puede estar vacio");
               if(!this.fecha_soli) this.errorMsjCamion.push("La Direccion no puede estar vacio");
               if(!this.time) this.errorMsjCamion.push("El Telefono no puede estar vacio");
               if(!this.fecha_fin) this.errorMsjCamion.push("La Direccion no puede estar vacio");
               if(!this.hora_fin) this.errorMsjCamion.push("La Direccion no puede estar vacio");
               if(!this.observacion) this.errorMsjCamion.push("La Direccion no puede estar vacio");
               if(!this.soli_id) this.errorMsjCamion.push("La Direccion no puede estar vacio");
               if(!this.id_presu && !this.id_asig) this.errorMsjCamion.push("La Direccion no puede estar vacio");
               
               if(!this.razon) this.errorMsjCamion.push("La Direccion no puede estar vacio");
               if(this.arrayItem.length == 0) this.errorMsjCamion.push("Direccion de Solicitud no puede estar vacia");
               if(this.arrayAsig.length == 0) this.errorMsjCamion.push("Debe Selecionar una fecha");
               
                if(this.errorMsjCamion.length) this.errorCamion = 1;
                //aqui retornamos el valor 1

                if(this.errorMsjCamion.length > 0){
                    swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: '¡Existen Campos Vacios!',
                    footer: '!Por Favor Corrija e Intente Nuevamente!'
                    })
                    return this.errorCamion = 1;
                }


            },

            cerrarModal(){
                this.modal=0;
                this.arrayCamiones=[];
                
            },

            cerrarModal2(){
                this.modal=0;
                this.arrayServi=[];
                this.valorTra = 0;
                
            },

            cerrarTemplate(){
                let me = this;
                this.listado=0;
                this.arrayCamiones=[];
                this.arrayItem=[];
                this.correo_contac='';
                this.direccion_em='';
                this.razon='';
                this.rut='';
                this.tel_contac='';
                this.tel_em='';
                this.arrayItem = [];
                this.arrayAsig=[];
                me.id_presu = 0;
                me.folio_pre = 0;
                me.idesoli = 0;
                me.razon = '';
                me.fecha_fin='';
                me.hora_fin='';
                me.time = '';
                this.loading = true;
                $("#myTable").dataTable().fnDestroy();
                this.listarCoordinaciones();
            },

            registroExito(){
                swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'Registro Exitoso',
                showConfirmButton: false,
                timer: 1200
                })
            },

            eliminarItem(index){
                let me=this;
                me.arrayItem.splice(index,1);
            },

            eliminarAsig(index){
                let me=this;
                me.arrayAsig.splice(index,1);
                
            },

        },
        

        mounted() {
            this.generarCodig();
            this.listarCoordinaciones();
            
        }
    }
</script>

<style>

    
    .modal-content{
        width: 100% !important;
        position: fixed !important;
        border: 0;
        border-radius: .3rem;
    }

    .modal-header{
        border-top-right-radius: .3rem;
        border-top-left-radius: .3rem;
        background-color: #3678A8;
        color: white;
        
    }
    
    .modal{
        overflow: auto !important;
    }
    .modal-largo {
        max-width: 1000px;
    }

    .mostrar{ /* cuando mostrar es igual a 1*/
        display: list-item !important;
        opacity: 1 !important;
        background-color: #3c29297a !important;
        /* overflow-y: auto !important; */
        border-radius: .3rem;
    }
    .modal-header{
        border-top-right-radius: .3rem;
        border-top-left-radius: .3rem;
    }


    .card{
        border: 0;
        border-radius: .3rem;
        box-shadow: 0 0 1px rgba(0,0,0,.125),0 1px 3px rgba(0,0,0,0.38);
    }
    .card-header{
        border: 0;
        border-top-left-radius: .3rem;
        border-top-right-radius: .3rem;
    }
    .card-footer{
        border: 0;
        border-radius: .3rem;
    }

    .form-control,.btn{
        border-radius: 3px;
    }

</style>
