<template>
  <main class="main">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item"><a href="#">Admin</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>

        
    <div class="container-fluid">
        <!-- Lista de Cuentas -->
        <template v-if="listado == 0">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Cuentas
                    <button type="button" @click="abrirTemplate('cuentas','registrar')" class="btn btn-primary"
                    data-toggle="tooltip" data-placement="bottom" title="Crear Nueva Empresas">
                        <i class="icon-plus"></i>&nbsp;Nuevo
                    </button>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table cell-border hover order-column table-sm" id="myTable">
                            <thead>
                                <tr>
                                    <th>N°</th>
                                    <th>Nombre</th>
                                    <th>Empresa</th>
                                    <th >Banco</th>
                                    <th>N° Cuenta</th>
                                    <th>Tipo</th>
                                    <th>Total</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="cuentas in arrayCuentas" :key="cuentas.id">
                                    <td v-text="cuentas.idcuenta"></td>
                                    <td v-text="cuentas.nombre_cuenta"></td>
                                    <td v-text="cuentas.nombre_em"></td>
                                    <td v-text="cuentas.nom_banco"></td>
                                    <td v-text="cuentas.num_cuenta"></td>
                                    
                                    <td v-if="cuentas.tipo_cuenta == 1"><span class="badge badge-pill badge-light">Ahorro</span></td>
                                    <td v-if="cuentas.tipo_cuenta == 2"><span class="badge badge-pill badge-light">Corriente</span></td>
                                    <td v-if="cuentas.tipo_cuenta == 3"><span class="badge badge-pill badge-light">Vista</span></td>

                                    <td v-text="cuentas.total"></td>
                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-sm" @click="abrirModal('empresas','actualizar', empresas)"
                                        data-toggle="tooltip" data-placement="bottom" title="Editar Nombre de la Empresa">
                                        <i class="fa fa-pencil"></i>
                                        </button>
                                        
                                        <!--Boton Ver-->
                                        <button type="button" @click="abrirTemplate('cuentas','actualizar',cuentas)" class="btn btn-outline-success btn-sm" data-toggle="tooltip" data-placement="bottom" title="Ver Servicios del Contrato">
                                            <i class="fa fa-eye"></i>
                                        </button> &nbsp;
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card-footer">
                    <div class="text-center">
                        <div class="col-auto my-1">
                            
                        </div>
                    </div>
                </div>

            </div>
        </template>
    
        <!-- /Lista de Cuentas -->

        <!-- Registrar Cuentas -->
        <template v-if="listado == 1">
            <div class="card">
                <div class="card-header" v-text="tituloTemplate">
                    <i class="fa fa-align-justify"></i> 
                </div>
                <div class="card-body">
                    <div v-if="cargando2 == true" class="">
                        <spinner></spinner>
                    </div>

                    <div v-if="cargando2 == false">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label>Nombre de la cuenta <span>(*)</span></label>
                                    <input v-model="nombre_cuenta"  class="form-control" placeholder="Nombre para identificar la Cuenta">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-6 control-label">
                                    <label for="inputState">Empresa <span>(*)</span></label>
                                    <select class="form-control" v-model="idem">
                                        <option value=0>Seleccionar...</option>
                                        <option v-for="empresa in arrayEmpresa" :key="empresa.id" :value="empresa.id" v-text="empresa.nombre_em">
                                        </option>
                                    </select>
                                </div>

                                <div class="form-group col-md-6">
                                    <label>Banco <span>(*)</span></label>
                                    <select class="form-control" v-model="banco">
                                        <option value=0>Seleccionar...</option>
                                        <option v-for="banco in arrayBancos" :key="banco.id" :value="banco.id" v-text="banco.nom_banco">
                                        </option>                                    
                                    </select>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputState">Seleccionar Tipo de Cuenta <span>(*)</span></label>
                                    <select class="form-control" v-model="tipo_cuenta">
                                        <option value=0>Seleccionar...</option>
                                        <option value=1>Ahorro</option>
                                        <option value=2>Corriente</option>
                                        <option value=3>Vista</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Numero de cuenta <span>(*)</span></label>
                                    <input v-model="num_cuenta"  class="form-control" placeholder="Numero Cuenta">
                                </div>
                            </div>  

                            <div class="my-2">
                                <p class="text-center alert-light">Lista de Creditos</p>
                                <hr>
                            </div>

                            <!-- Div de los Errores -->
                            <div v-show="errorCuenta" class="align-self-center alert alert-danger text-center ml-2">
                                <div class="text-center">
                                <!-- recorremos todos loserrores denro del array y los mostramos con v-text -->
                                <div v-for="error in errorMsjCuenta" :key="error" v-text="error"></div>
                                </div>
                            </div>
                            <!--  -->

                            
                            <div v-if="tipoAccion== 1" class="text-center">
                                <div class="form-group col-auto">
                                        <button type="button" class="form-control btn btn-outline-primary text-center" @click="abrirModal('creditos','registrar','')"
                                        data-toggle="tooltip" data-placement="bottom" title="Abrir Lista de Servicios"><i class="fa fa-search"></i>&nbsp;Crear Creditos</button>
                                </div>
                            </div>
                            
                            <div v-if="cargando == true" class="">
                                <spinner></spinner>
                            </div>

                            <div v-if="cargando == false" class="form-group row">
                                <div class="table-responsive col-md-12">
                                    <table class="table table-bordered table-striped table-sm">
                                        <thead>
                                            <tr>
                                                <th width="80px">Opciones</th>
                                                <th>Nombre</th>
                                                <th>Descripcion</th>
                                                <th width="200px">Monto</th>
                                            </tr>
                                        </thead>
                                        <tbody v-if="arrayCreditos.length">
                                            <tr v-for="(credito,index) in arrayCreditos" :key="credito.id">
                                                <td>
                                                    <button v-if="tipoAccion== 1" @click="eliminarItem(index)" type="button" class="btn btn-danger btn-sm">
                                                        <i class="icon-close"></i>
                                                    </button>
                                                    
                                                    <button v-if="tipoAccion== 2" @click="borrarDetalle(detalle.id)" type="button" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="bottom" title="Borrar Servicio del Cliente">
                                                        <i class="icon-trash"></i>
                                                    </button>

                                                    <button v-if="tipoAccion== 2" @click="actualizarDetalle(credito.id,credito.monto)" type="button" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="Actualizar Servicio del Cliente">
                                                        <i class="icon-reload"></i>
                                                    </button>
                                                </td>

                                                <td v-text="credito.nombre"></td>
                                                <td v-text="credito.descripcion"></td>

                                                <!-- <td v-if="tipoAccion == 1" v-text="credito.monto"></td> -->
                                                <td>
                                                    <input v-model="credito.monto" type="number" value="1" min="1" class="form-control">
                                                </td>
                                            </tr>
                                        </tbody>

                                        <tbody v-else>
                                            <tr>
                                                <td class="text-center alert-secondary" colspan="6">
                                                    No hay Items Agregados
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>

                            <div class="row" style="margin-bottom: 20px">
                                <div class="col-md-6">
                                </div>
                                
                                <div class="col-md-6" style="text-align: center;">
                                    <div class="row">
                                        <div class="col-md-6" style="padding:0">
                                            <hr>
                                            <h1>Total:</h1>
                                        </div>
                                        <div class="col-md-6" style="padding:0">
                                            <hr>
                                            <h2 id="total_final">${{total}}</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

                <div class="card-footer">
                    <div class="text-center">
                        <div class="col-auto my-1">
                            <button type="button" class="btn btn-light" @click="cerrarTemplate()"
                            data-toggle="tooltip" data-placement="bottom" title="Cancelar">
                            <i class="icon-check"></i> Cancelar</button> 

                            <button type="button" class="btn btn-primary" v-if="tipoAccion==1" @click="registrarCuenta()"
                            data-toggle="tooltip" data-placement="bottom" title="Registrar Cuenta"><i class="icon-check"></i> Registrar Cuenta</button> 

                            <button type="button" class="btn btn-primary" v-if="tipoAccion==2" @click="actualizarCuenta()"
                                data-toggle="tooltip" data-placement="bottom" title="Actualizar la Cuenta"><i class="icon-check"></i> Actualizar la Cuenta
                            </button> 
                        </div>
                    </div>
                </div>
            </div>
        </template>
        <!-- Registrar Cuentas -->
    </div>

    <!--Inicio del modal agregar/actualizar-->
    <div v-if="modal==1" class="modal fade in" :class="{'mostrar': modal}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" v-text="tituloModal"></h5>
                    <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                    <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-lg-2 control-label" for="text-input">Nombres</label>
                            <div class="col-lg-10">
                                <input type="text" v-model="nombre" class="form-control" placeholder="Nombre del Credito">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-2 control-label">Descripcion</label>
                            <div class="col-lg-10">
                                <input type="text" v-model="descripcion" class="form-control" placeholder="Descripcion">
                            </div>
                        </div>

                        <div class="form-group row">
                                <label class="col-lg-2 control-label" for="email-input">Monto</label>
                            <div class="col-lg-10">
                                <input type="number" value="0" min="0" v-model="monto" class="form-control" placeholder="Ingresar Monto">
                            </div>
                        </div>

                    </form>
                </div>                    

                <!-- este bloque muestra los errrores, se muestra si errrorTipotrabajo=1 -->
                <div v-show="errorModal" class="align-self-center alert alert-danger text-center ml-2">
                    <div class="text-center">
                        <div v-for="error in errorMsjModal" :key="error" v-text="error"></div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @click="cerrarModal()" 
                    data-toggle="tooltip" data-placement="bottom" title="Cerrar">Cerrar</button>

                    <button type="button"  v-if="tipoAccion== '1'" class="btn btn-primary" @click="agregarDetalleModal()"
                    data-toggle="tooltip" data-placement="bottom" title="Guardar">Agregar</button>

                    <button type="button"  v-if="tipoAccion == '2'"  class="btn btn-primary" @click="actualizarCliente()"
                    data-toggle="tooltip" data-placement="bottom" title="Actualizar">Actualizar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!--Fin del modal-->

    

  </main>
</template>

<script>
import datatables from 'datatables';
export default {
    props : ['ruta'],
    data(){
        return{
            modal:0,
            listado:0,
            
            idem:0,
            tipo_cuenta:0,
            num_cuenta:'',
            banco:0,
            total:0,

            id_cuenta:0,

            nombre:'',
            nombre_cuenta:'',
            descripcion:'',
            monto:0,

            tipoAccion:1,
            
            cargando : false,
            cargando2 : false,

            // Arrays
            arrayBancos:[],
            arrayCuentas:[],
            arrayCreditos:[],
            arrayEmpresa:[],

            errorCuenta: 0,
            errorMsjCuenta:[],

            errorModal: 0,
            errorMsjModal:[],
            // Manejo de Errores

            // Titulos
            tituloTemplate:''

        }
    },
    
    methods:{
        mytable(){
            $(document).ready( function () {
                $('#myTable').DataTable({
                    "destroy":true,
                    "language": {
                        "info": "_TOTAL_ registros",
                        "search": "Buscar:",
                        "paginate" : {
                            "next" : "Siguiente",
                            "previous" : "Anterior"
                        },
                        "lengthMenu": 'Mostrar <select>'+
                                    '<option value="10">10</option>'+
                                    '<option value="25">25</option>'+
                                    '<option value="50">50</option>'+
                                    '<option value="100">100</option>'+
                                    '<option value="-1">Todos</option>'+
                                    '</select> registros',
                        "loadingRecords": "Cargando...",
                        "processing": "Procesando...",
                        "emptyTable": "No hay datos...",
                        "zeroRecords": "No Hay Coincidencias",
                        "infoEmpty": "...",
                        "infoFiltered":"..."
                    },
                    
                })

            });
        },

        listarEmpresa(){
            let me = this;
        
            var url =this.ruta +'/empresas'; 
            axios.get(url).then(function(response) {
                    var respuesta = response.data;
                    me.arrayEmpresa= respuesta.empresas;
            })
            .catch(function(error) {
                    // handle error
                    console.log(error);
            });
        },

        listarCuenta(){
            let me = this;
        
            var url =this.ruta +'/cuentas'; 
            axios.get(url)
            .then((response) => {
                    var respuesta = response.data;
                    me.arrayCuentas= respuesta.cuentas;
                    me.arrayBancos= respuesta.bancos;
                    me.mytable();
                    // this.loading = false;
            })
            .catch(function(error) {
                    // handle error
                    console.log(error);
            });
        },

        abrirTemplate(modelo, accion, data = []){ //se encarga de abrir el modal y los diferentes casos Y estados
            switch(modelo){
                case "cuentas":
                {
                    switch(accion){
                        case 'registrar':
                        {
                            this.tipoAccion = 1; //para mostrar el boton guardar
                            this.listado=1;
                            this.tituloTemplate = 'Registrar Cuentas Empresas'
                            break;
                        }
                        
                        case 'actualizar':
                        {
                            let me = this;
                            $("#myTable").dataTable().fnDestroy();
                            me.tipoAccion = 2; //para mostrar el boton guardar
                            me.tituloTemplate = "Ver Detalles de la Cuenta";
                            me.listado=1;
                            me.idem = data['id_em'];
                            me.banco = data['banco'];
                            me.tipo_cuenta = data['tipo_cuenta'];
                            me.num_cuenta= data['num_cuenta'];
                            me.nombre_cuenta= data['nombre_cuenta'];
                            me.total= data['total'];
                            me.id_cuenta = data['idcuenta'];

                            

                            var url =this.ruta +'/cuentas/creditos?id=' + me.id_cuenta;
                            axios.get(url).then(function (response) {
                                var respuesta = response.data;
                                me.arrayCreditos = respuesta.creditos;  
                                
                            })
                            .catch(function (error) {
                                console.log(error);
                            });

                            break;
                        }
                    }
                }
            }
        },

        abrirModal(modelo, accion, data = []){ //se encarga de abrir el modal y los diferentes casos Y estados
            switch(modelo){
                case "creditos":
                {
                    switch(accion){
                        case 'registrar':
                        {
                            this.tipoAccion = 1; //para mostrar el boton guardar
                            this.modal = 1;//debe mostar ventana modal
                            this.tituloModal = 'Registrar Creditos'
                            this.nombre='';
                            this.descripcion='';
                            this.monto=0;
                            break;
                        }
                        case 'actualizar':
                        {

                            this.tipoAccion = 2; //tipo de accion para actualizr es 2
                            this.tituloModal = "Actualizar Cliente"; //que se muetre este titulo
                            this.nombre_clip = data['razon']; 
                            this.direccion_clip= data['direccion_em']; 
                            this.telefono_clip = data['tel_em']; 
                            this.correo_clip = data['correo_contac']; 
                            this.tra_id = data['id'];  
                            this.idzona = data['idzona'];  
                            this.modal = 1;
                            break;
                        }
                    }
                }
            }
        },

        agregarDetalleModal(data = []){
            let me=this;

            if(me.validarModal()){
                return;
            }else{
                me.arrayCreditos.push({
                nombre : this.nombre,
                descripcion: this.descripcion,
                monto: this.monto,
                }); 
                me.limpiarModal();
            }
            
        },

        validarCuenta(){
            this.errorCuenta= 0; //inicializamos en 0
            this.errorMsjCuenta = []; //a este array le anexaremos los msj d errores con el metodo push
            
            
            if(!this.idem) this.errorMsjCuenta.push("Debe Seleccionar una Empresa");
            if(!this.nombre_cuenta) this.errorMsjCuenta.push("Debe Ingresar un Nombre de Cuenta");
            if(!this.banco) this.errorMsjCuenta.push("Debe Seleccionar un Banco");
            if(!this.tipo_cuenta) this.errorMsjCuenta.push("Debe Selecionar un tipo de Cuenta");
            if(!this.num_cuenta) this.errorMsjCuenta.push("El Numero de Cuenta no puede estar Vacio");
            // if(this.arrayItem.length <= 0) this.errorMsjCuenta.push("Debe Selecionar una fecha");
            if(this.errorMsjCuenta.length) this.errorCuenta = 1;
            
            return this.errorCuenta;
        },

        validarModal(){
            this.errorModal= 0; //inicializamos en 0
            this.errorMsjModal = []; //a este array le anexaremos los msj d errores con el metodo push
            
            
            if(!this.nombre) this.errorMsjModal.push("El nombre no puede estar vacio");
            if(!this.descripcion) this.errorMsjModal.push("La descripcion no puede estar vacio");
            if(this.monto == 0) this.errorMsjModal.push("Debe ingresar un monto");
            // if(this.arrayItem.length <= 0) this.errorMsjCuenta.push("Debe Selecionar una fecha");
            if(this.errorMsjModal.length) this.errorModal = 1;
            
            return this.errorModal;
        },

        registrarCuenta(){
            if(this.validarCuenta()){
                return;
            }else{
                swal.fire({
                    title: 'Esta Seguro de Realizar este Registro',
                    text: "¡Tendra una Nueva Cuenta!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si, Registralo!'
                }).then((result) => {
                    if (result.value) {
                        
                    let me = this;
                    axios.post(this.ruta +'/cuentas/registrar',{ //la ruta , los datos q recibimos  enviamos a registrar
                    //campos de la bd : variabes de js
                        'nombre_cuenta':this.nombre_cuenta,
                        'empresa_id':this.idem,
                        'tipo_cuenta': this.tipo_cuenta,
                        'num_cuenta': this.num_cuenta,
                        'banco_id': this.banco,
                        'data':this.arrayCreditos

                    }).then(function (response) {
                        me.cerrarTemplate();
                        swal.fire(
                        'Registro Exitoso!',
                        'La Cuenta ha sido Registrado.',
                        'success'
                        )
                        $("#myTable").dataTable().fnDestroy();
                        this.listarPresupuestos();//listar por defecto  
                        
                        
                        })
                        .catch(function (error) {
                            console.log(error.response);
                        });
                    
                    }
                })
            }
        },

        actualizarDetalle(id,precio){
            let me=this;
            
            swal.fire({
                title: '¿Esta seguro de actualizar el Credito?',
                text: "¡Tendras creditos Actualizado!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si, Actualizarlo!'
            }).then((result) =>  {

            if(result.value){
                me.cargando = true;
                
                axios.put(this.ruta +'/cuentas/actucreditos',{
                
                'id' : id,
                'monto' : precio,
                //aprovecho de actualizar el nombre
                // 'nombre_contra' : this.nombre_contra,
                // 'id_contra' : this.id_contra,    

                }).then(function (response) { //cuando se ejecuta correctamente la peticion ajax
                                                                
                    swal.fire(
                    'Actualizado!',
                    'El Credito ha sido ha sido actualizado.',
                    'success'
                    )    
                    me.verCuenta();
                }).catch(function (error) {
                    console.log(error);
                });
                
                
            }else if(result.dismiss == swal.DismissReason.cancel){

            }
            })            

        },

        actualizarCuenta(){
            let me=this;
            swal.fire({
                title: '¿Esta seguro que desea actualizar la cuenta?',
                text: "¡Tendras datos Actualizado!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si, Actualizarlo!'
            }).then((result) =>  {

            if(result.value){
                me.cargando2 = true;
                
                axios.put(this.ruta +'/cuentas/actualizar',{
                
                'id' : this.id_cuenta,
                'empresa_id' : this.idem,
                'tipo_cuenta' : this.tipo_cuenta,
                'banco_id' : this.banco,    
                'num_cuenta' : this.num_cuenta,

                }).then(function (response) { //cuando se ejecuta correctamente la peticion ajax
                                                                
                    swal.fire(
                    'Actualizado!',
                    'La Cuenta ha sido ha sido actualizado.',
                    'success'
                    )    
                    me.cargando2 = false;
                }).catch(function (error) {
                    console.log(error);
                });
                
                
            }else if(result.dismiss == swal.DismissReason.cancel){

            }
            })            

        },

        verCuenta(){
            let me = this;
            var url =this.ruta +'/cuentas/creditos?id=' + this.id_cuenta;
                axios.get(url).then(function (response) {
                var respuesta = response.data;
                me.arrayCreditos = respuesta.creditos;  
                me.cargando = false;
                
            })
            .catch(function (error) {
                console.log(error);
            });
        },

        limpiarModal(){
            this.nombre = '';
            this.descripcion = '';
            this.monto = 0;
        },

        cerrarModal(){
            this.modal=0;
            this.tituloModal = '';
            this.nombre = '';
            this.descripcion = '';
            this.monto = 0;
            this.errorMsjModal = [];
            this.errorModal = 0;
        },

        cerrarTemplate(){
            this.listado=0;
            this.arrayCreditos=[];
            this.idem=0,
            this.banco=0,
            this.tipo_cuenta=0,
            this.num_cuenta='',
            this.nombre_cuenta='',
            this.total=0,
            this.errorCuenta = 0,
            this.arrayCuentas = []

            $("#myTable").dataTable().fnDestroy();
            this.listarCuenta();
        },

        eliminarItem(index){
            let me=this;
            me.arrayCreditos.splice(index,1);
        },


        // /cuentas/actualizar

    },

    mounted() {
        this.listarCuenta();
        this.listarEmpresa();
    }

}
</script>

<style>

</style>
