<template>
    <main class="main">
        <!-- Breadcrum -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Escritorio</a></li>
        </ol>

        <div class="container">

            
                <div class="row">

                    <div class="col-md-6 col-lg-4">
                        <div class="card bg-gradient-primary text-white text-center card-shadow-primary">
                            <div class="card-body">
                                <h6 class="font-weight-normal">Solicitudes P.°</h6>
                                <h2 class="mb-0">{{solipen}}</h2>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 grid-margin stretch-card">
                        <div class="card bg-gradient-primary text-white text-center card-shadow-primary">
                            <div class="card-body">
                                <h6 class="font-weight-normal">Estado de Pago (OT)°</h6>
                                <h2  class="mb-0">{{pendiot}}</h2>
                            </div>
                            <div></div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 grid-margin stretch-card">
                        <div class="card bg-gradient-primary text-white text-center card-shadow-primary">
                            <div class="card-body">
                                <h6 class="font-weight-normal">Estado de Pago (GUIA)°</h6>
                                <h2 class="mb-0">{{pendigui}}</h2>
                            </div>
                        </div>
                    </div>
                </div>

                

                <div class="row">
                    <!-- Trabajadores Por Empresas -->
                    <div class="col-md-6 col-lg-4 grid-margin stretch-card">
                        <div class="card bg-gradient-primary text-white text-center card-shadow-primary">
                            <div class="card-body">
                                <h6 class="font-weight-normal">ECOFOSA</h6>
                                <h2  class="mb-0" >{{eco}}</h2>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 grid-margin stretch-card">
                        <div class="card bg-gradient-primary text-white text-center card-shadow-primary">
                            <div class="card-body">
                                <h6 class="font-weight-normal">INDUCLEAN SPA</h6>
                                <h2  class="mb-0" >{{ind}}</h2>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 grid-margin stretch-card">
                        <div class="card bg-gradient-primary text-white text-center card-shadow-primary">
                            <div class="card-body">
                                <h6 class="font-weight-normal">INDUCLEAN EIRL</h6>
                                <h2  class="mb-0" >{{eir}}</h2>
                            </div>
                        </div>
                    </div>
                </div>

            <div class="card">
                <div class="card-header">

                </div>

                <div class="card-body">
                    <div class="row"> 
                        <!-- Ordenes -->
                        <div class="col-md-6">
                            <div class="card card-chart">
                                <div class="card-header">
                                    <h4 class="text-center">Ordenes</h4>
                                </div>

                                <div class="card-content">
                                    <div class="ct-chart">
                                        <canvas id="ordenes">

                                        </canvas>
                                    </div>
                                </div>

                                <div class="card-footer">
                                    <p>Ordenes Actuales del año actual</p>
                                </div>
                            </div>
                        </div>



                        <!-- Guias -->
                        <div class="col-md-6">
                            <div class="card card-chart">
                                <div class="card-header">
                                    <h4 class="text-center">Guias</h4>
                                </div>
                                <div class="card-content">
                                    <div class="ct-chart">
                                        <canvas id="guias">
                                        </canvas>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <p>Guias de Despachos del año actual</p>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>

    </main>
</template>

<script>
export default {
    data(){
        return {
            varOrdenes:null,
            charIngresos:null,
            ordenes:[],
            varTotalOrdenes:[],
            varMesOrdenes:[],

            varGuias:null,
            charGuias:null,
            guias:[],
            varTotalGuias:[],
            varMesGuias:[],
            
            solipen:0, 
            eco:0,
            eir:0, 
            ind:0,
            pendiot:0, //Ordens de trabajo pendientes de cobrar
            pendigui:0 //Guias pendientes de Cobrar
        }
    },

    methods : {
        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', ',')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
        },


        getOrdenes() {
            let me = this;
            var url = '/dashboard';
            axios.get(url).then(function(response){
                var respuesta = response.data;
                me.ordenes = respuesta.ordenes;

                me.ind = respuesta.indu[0].indu; //para cargar los de induclean
                me.eir = respuesta.eirl[0].eirl; //para cargar los de induclean
                me.eco = respuesta.ecofosa[0].ecofosa;
                me.solipen = respuesta.pendientes[0].pendientes;
                me.pendiot = respuesta.estado_ot[0].estado_pen;
                me.pendigui = respuesta.estado_guia[0].estado_pen;

                // Cargamos los datos del Chart
                me.loadOrdenes();
            })
        },

        getGuias() {
            let me = this;
            var url = '/dashboard';
            axios.get(url).then(function(response){
                var respuesta = response.data;
                me.guias = respuesta.guias;
                // Cargamos los datos del Chart
                me.loadGuias();
            })
        },

        // Recorremos todos los valores del array Ordenes usando el metofo maps
        loadOrdenes(){
            let me = this;
            me.ordenes.map(function(x){
                if(x.mes == 1){
                    me.varMesOrdenes.push("Enero");
                    me.varTotalOrdenes.push(x.numero);
                }

                if(x.mes == 2){
                    me.varMesOrdenes.push("Febrero");
                    me.varTotalOrdenes.push(x.numero);
                }

                if(x.mes == 3){
                    me.varMesOrdenes.push("Marzo");
                    me.varTotalOrdenes.push(x.numero);
                }

                if(x.mes == 4){
                    me.varMesOrdenes.push("Abril");
                    me.varTotalOrdenes.push(x.numero);
                }

                if(x.mes == 5){
                    me.varMesOrdenes.push("Mayo");
                    me.varTotalOrdenes.push(x.numero);
                }
                
                if(x.mes == 6){
                    me.varMesOrdenes.push("Junio");
                    me.varTotalOrdenes.push(x.numero);
                }

                if(x.mes == 7){
                    me.varMesOrdenes.push("Julio");
                    me.varTotalOrdenes.push(x.numero);
                }

                if(x.mes == 8){
                    me.varMesOrdenes.push("Agosto");
                    me.varTotalOrdenes.push(x.numero);
                }

                if(x.mes == 9){
                    me.varMesOrdenes.push("Septiembre");
                    me.varTotalOrdenes.push(x.numero);
                }

                if(x.mes == 10){
                    me.varMesOrdenes.push("Octubre");
                    me.varTotalOrdenes.push(x.numero);
                }

                if(x.mes == 11){
                    me.varMesOrdenes.push("Noviembre");
                    me.varTotalOrdenes.push(x.numero);
                }

                if(x.mes == 12){
                    me.varMesOrdenes.push("Diciembre");
                    me.varTotalOrdenes.push(x.numero);
                }

            });
            me.varOrdenes =document.getElementById('ordenes').getContext('2d');

            me.charIngresos = new Chart(me.varOrdenes, {
                type: 'bar',
                data: {
                    labels: me.varMesOrdenes, //que me aparezacan todos los mese abajo
                    datasets: [{
                        label: 'Ordenes',
                        data: me.varTotalOrdenes, //la info de mi arreglo
                        backgroundColor:'rgba(255, 99, 132, 0.3)',
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        },

        loadGuias(){
            let me = this;
            me.guias.map(function(x){
                if(x.mes == 1){
                    me.varMesGuias.push("Enero");
                    me.varTotalGuias.push(x.numero);
                }

                if(x.mes == 2){
                    me.varMesGuias.push("Febrero");
                    me.varTotalGuias.push(x.numero);
                }

                if(x.mes == 3){
                    me.varMesGuias.push("Marzo");
                    me.varTotalGuias.push(x.numero);
                }

                if(x.mes == 4){
                    me.varMesGuias.push("Abril");
                    me.varTotalGuias.push(x.numero);
                }

                if(x.mes == 5){
                    me.varMesGuias.push("Mayo");
                    me.varTotalGuias.push(x.numero);
                }
                if(x.mes == 6){
                    me.varMesGuias.push("Junio");
                    me.varTotalGuias.push(x.numero);
                }
                if(x.mes == 7){
                    me.varMesGuias.push("Julio");
                    me.varTotalGuias.push(x.numero);
                }
                if(x.mes == 8){
                    me.varMesGuias.push("Agosto");
                    me.varTotalGuias.push(x.numero);
                }
                if(x.mes == 9){
                    me.varMesGuias.push("Septiembre");
                    me.varTotalGuias.push(x.numero);
                }
                if(x.mes == 10){
                    me.varMesGuias.push("Octubre");
                    me.varTotalGuias.push(x.numero);
                }
                if(x.mes == 11){
                    me.varMesGuias.push("Noviembre");
                    me.varTotalGuias.push(x.numero);
                }
                if(x.mes == 12){
                    me.varMesGuias.push("Diciembre");
                    me.varTotalGuias.push(x.numero);
                }
            });
            me.varGuias =document.getElementById('guias').getContext('2d');

            me.charGuias = new Chart(me.varGuias, {
                type: 'bar',
                data: {
                    labels: me.varMesGuias, //que me aparezacan todos los mese abajo
                    datasets: [{
                        label: 'Guias',
                        data: me.varTotalGuias, //la info de mi arreglo
                        backgroundColor:'rgba(0, 96, 189, 0.4)',
                        borderColor: 'rgba(35, 155, 255, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        },
    },

    mounted() {
        this.getOrdenes();
        this.getGuias();
        // this.solpendi();
        // this.ecofosa();
        // this.eirl();
        // this.induclean();
    }
}
</script>

<style>

    
    .modal-content{
        width: 100% !important;
        position: fixed !important;
        border: 0;
        border-radius: .3rem;
    }

    .modal-header{
        border-top-right-radius: .3rem;
        border-top-left-radius: .3rem;
        background-color: #3678A8;
        color: white;
        
    }
    
    .modal{
        overflow: auto !important;
    }
    .modal-largo {
        max-width: 1000px;
    }

    .mostrar{ /* cuando mostrar es igual a 1*/
        display: list-item !important;
        opacity: 1 !important;
        background-color: #3c29297a !important;
        /* overflow-y: auto !important; */
        border-radius: .3rem;
    }
    .modal-header{
        border-top-right-radius: .3rem;
        border-top-left-radius: .3rem;
    }


    .card{
        border: 0;
        border-radius: .3rem;
        box-shadow: 0 0 1px rgba(0,0,0,0),0 1px 3px rgba(0,0,0,0.38);
    }
    .card-header{
        border: 0;
        border-top-left-radius: .3rem;
        border-top-right-radius: .3rem;
    }
    .card-footer{
        border: 0;
        border-radius: .3rem;
    }

    .form-control,.btn{
        border-radius: 3px;
    }

    .bg-gradient-primary {
    background: linear-gradient(to bottom, #3074e1,  #2d3f5b);
    }

</style>