<template>
    <main class="main">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item"><a href="#">Admin</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="container-fluid">
            <!-- Ejemplo de tabla Listado -->
            <spinner v-show="loading"></spinner>
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Empresas
                    <button type="button" @click="abrirModal('empresas','registrar')" class="btn btn-primary"
                    data-toggle="tooltip" data-placement="bottom" title="Crear Nueva Empresas">
                        <i class="icon-plus"></i>&nbsp;Nuevo
                    </button>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table cell-border hover order-column table-sm" id="myTable">
                            <thead>
                                <tr>
                                    <th width="60px">Codigo</th>
                                    <th>Imagen</th>
                                    <th>Nombre</th>
                                    <th>Descripción</th>
                                    <th>Direccion</th>
                                    <th width="60px">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="empresas in arrayEmpresa" :key="empresas.id">
                                    <td v-text="empresas.codigo_em"></td>
                                    <td width="80" ><img :src="empresas.empre_image" alt="Image" width="80"></td>
                                    <td v-text="empresas.nombre_em"></td>
                                    <td v-text="empresas.descrip_em"></td>
                                    <td v-text="empresas.direccion_em"></td>
                                    <!-- <td v-if="empresas.descrip_em == 1">
                                        <span class="badge badge-success">Activo</span>
                                    </td> -->
                                    <td>
                                        <button type="button" class="btn btn-outline-danger btn-sm" @click="abrirModal('empresas','actualizar', empresas)"
                                        data-toggle="tooltip" data-placement="bottom" title="Editar Nombre de la Empresa">
                                        <i class="fa fa-trash"></i>
                                        </button>
                                        <!-- <button type="button" class="btn btn-outline-danger btn-sm" @click="eliminarEmpre(empresas.id)">
                                        <i class="icon-trash"></i>
                                        </button> -->
                                    </td>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="text-center">
                        <div class="col-auto my-1">
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fin ejemplo de tabla Listado -->
        </div>

        <!-- Errores -->
        
        <!-- /Errores -->

        <!--Inicio del modal agregar/actualizar-->
        <div class="modal fade" :class="{'mostrar': modal}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-center" v-text="tituloModal"></h5>
                        <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                        <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                            <div class="form-group row">
                                <label class="col-md-3 control-label" for="text-input">Codigo Empresa</label>
                                <div class="col-md-9">
                                    <input type="text" readonly v-model="codigo_em" class="form-control" placeholder="Codigo de La Empresa">

                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-3 control-label" for="text-input">Rut</label>
                                <div class="col-md-9">
                                    <input type="text" v-model="rut_em" class="form-control" placeholder="Rut Empresa">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-3 control-label" for="text-input">Nombre</label>
                                <div class="col-md-9">
                                    <input type="text" v-model="nombre_em" class="form-control" placeholder="Nombre de la Empresa">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-3 control-label" for="text-input">Telefono</label>
                                <div class="col-md-9">
                                    <input type="text" v-model="telefono_em" class="form-control" placeholder="Telefono Empresa">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-3 control-label" for="text-input">Correo</label>
                                <div class="col-md-9">
                                    <input type="text" v-model="correo_em" class="form-control" placeholder="Correo Empresa">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-3 control-label" for="text-input">Direccion Empresa</label>
                                <div class="col-md-9">
                                    <input type="text" v-model="direccion_em" class="form-control" placeholder="Direccion Empresa">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-3 control-label" for="text-input">Giro</label>
                                <div class="col-md-9">
                                    <input type="text" v-model="giro" class="form-control" placeholder="Giro">
                                </div>
                            </div>

                            <div class="form-group row" >
                                <label class="col-md-3 control-label" for="exampleFormControlInput1">Imagen</label>
                                <div class="col-md-9">
                                    <input type="file" id="file" class="form-control" ref="file" v-on:change="onUploadImage()">
                                </div>
                            </div>
                        </form>

                        <div class="form-group row">
                            <label class="col-md-3 control-label" for="text-input">Descripcion</label>
                            <div class="col-md-9">
                                <input type="text" v-model="descrip_em" class="form-control" rows="3" placeholder="Pequeña descripcion Empresa">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 control-label" for="text-input">Descripcion 2</label>
                            <div class="col-md-9">
                                <input type="text" v-model="descrip_dos" class="form-control" rows="3" placeholder="Pequeña descripcion Empresa">
                            </div>
                        </div>
                    </div>
                    <!-- este bloque muestra los errrores, se muestra si errrorTipotrabajo=1 -->
                    <div v-show="errorEmpresa" class="align-self-center alert alert-danger text-center ml-2">
                        <div class="text-center">
                        <!-- recorremos todos loserrores denro del array y los mostramos con v-text -->
                        <div v-for="error in errorMsjEmpresa" :key="error" v-text="error"></div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @click="cerrarModal()"
                        data-toggle="tooltip" data-placement="bottom" title="Cerrar">Cerrar</button>

                        <button type="button"  v-if="tipoAccion== '1'" class="btn btn-primary" @click="sendNetwordCreateProduct()"
                        data-toggle="tooltip" data-placement="bottom" title="Guardar Nueva Empresa">Guardar</button>

                        <button type="button"  v-if="tipoAccion == '2'"  class="btn btn-primary" @click="actualizarEmpresa()"
                        data-toggle="tooltip" data-placement="bottom" title="Actualizar Nombre de la Empresa">Actualizar</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!--Fin del modal-->
        
    </main>
</template>

<script>
import datatables from 'datatables';
export default {
    props : ['ruta'],
    data(){
        return{
            arrayEmpresa:[],
            modal : 0,

            codigo_em:'',
            rut_em:'',
            telefono_em:'',
            correo_em:'',
            direccion_em:'',
            nombre_em:'',
            descrip_em:'',
            descrip_dos:'',
            giro:'',
            id_em:'',
            loading : true,
            tituloModal:'',
            servi_id:'',
            tipoAccion:0,
            picFile:null,

            // Manejo de Errores
            errorEmpresa: 0,
            errorMsjEmpresa:[],
            // Manejo de Errores

            paginacion: {
                'total' : 0,
                'pagina_actual' : 0, // current_page
                'pag_mostrar' : 0, //numero de registros por pagina per_page
                'pag_alfinal' : 0, // last_page hasta ultima pagina
                'pag_actual' : 0, //from desde la pagina donde me encuentro
                'pag_ultima' : 0, //to hasta la pagina
            },
            offset:3,
            criterio: 'nombre', //para el buscar, cual es el campo de busqueda es un valor inicial
            buscar : '' //para el buscar, cual es el texto de busqueda para realizar todos los filtros
        }
        
    },

    computed:{
        isActived: function(){
            return this.paginacion.pagina_actual;
        },
        //calcula los elementos de la paginacion
        pagesNumber :function(){
            if(!this.paginacion.pag_ultima){
                return [];
            }

            var from = this.paginacion.pagina_actual - this.offset;
            if(from < 1 ){
                from = 1;
            }

            var to = from + (this.offset * 2);
            if (to >= this.paginacion.pag_alfinal ){
                to = this.paginacion.pag_alfinal;
            }

            var pagesArray = [];
            while (from <= to){
                pagesArray.push(from);
                from++;
            }
            return pagesArray;
        }
    },

    methods: {
        // Manejo de la Paginacion
        cambiarPagina(page,buscar,criterio){
            let me = this;
            //Actualiza a la pagina actual
            me.paginacion.pagina_actual = page;
            //Ahora enviamos la peticion para visualizar la data de dicha pag
            me.listarEmpresa(page,buscar,criterio);

        },
        // Manejo de la Paginacion
        
        // Funcionalidades
        mytable(){
            $(document).ready( function () {
                $('#myTable').DataTable({
                    "destroy":true,
                    "language": {
                        "info": "_TOTAL_ registros",
                        "search": "Buscar:",
                        "paginate" : {
                            "next" : "Siguiente",
                            "previous" : "Anterior"
                        },
                        "lengthMenu": 'Mostrar <select>'+
                                    '<option value="10">10</option>'+
                                    '<option value="25">25</option>'+
                                    '<option value="50">50</option>'+
                                    '<option value="100">100</option>'+
                                    '<option value="-1">Todos</option>'+
                                    '</select> registros',
                        "loadingRecords": "Cargando...",
                        "processing": "Procesando...",
                        "emptyTable": "No hay datos...",
                        "zeroRecords": "No Hay Coincidencias",
                        "infoEmpty": "...",
                        "infoFiltered":"..."
                    },
                    
                })

            } );
        },

        generarCodig(){
            let me=this;
            var url =this.ruta +'/empresas/codigo'
            axios.get(url).then(function (response) {
                var respuesta = response.data;
                if(respuesta.codigo == null){

                    me.codigo_em = 1;

                }else{
                    me.valor = respuesta.codigo["codigo_em"];
                    me.codigo_em = parseInt(me.valor);
                    me.codigo_em ++;
                }
                    
                // this.valor = respuesta.codigo;
                })
                .catch(function (error) {
                    console.log(error);
                });
        },

        listarEmpresa(){
            let me = this;
        
            var url =this.ruta +'/empresas'; 
            axios.get(url)
            .then((response) => {
                    var respuesta = response.data;
                    me.arrayEmpresa= respuesta.empresas;
                    me.mytable();
                    this.loading = false;
            })
            .catch(function(error) {
                    // handle error
                    console.log(error);
            });
        },

        registrarEmpresa(){
            if(this.validarEmpresa()){
                return;
            }else{
                let me = this;

                axios.post(this.ruta +'/empresas/registrar',{ //la ruta , los datos q recibimos  enviamos a registrar
                //campos de la bd : variabes de js
                    'codigo':this.codigo_em,
                    'nombre': this.nombre_em,
                    'descripcion': this.descrip_em,
                    'direccion' : this.direccion_em,
                    'empre_image' : this.picFile

                }).then(function (response) {
                    me.cerrarModal();
                    $("#myTable").dataTable().fnDestroy();
                    me.listarEmpresa();//listar por defecto  
                    me.registroExito();
                    })
                    .catch(function (error) {
                        console.log(error.response);
                    });
            }
        },

        sendNetwordCreateProduct(){
            if(this.validarEmpresa()){
                return;
            }else{
                let me = this;
                const formData = new FormData()
                formData.append('codigo',this.codigo_em)
                formData.append('rut_em',this.rut_em)
                formData.append('telefono_em',this.telefono_em)
                formData.append('correo_em',this.correo_em)
                formData.append('direccion_em',this.direccion_em)
                formData.append('nombre_em',this.nombre_em)
                formData.append('descrip_em',this.descrip_em)
                formData.append('descrip_dos',this.descrip_dos)
                formData.append('giro',this.giro)
                
                // por si no esta nulo
                if (this.picFile) {
                formData.append('empre_image',this.picFile)
                }
                //console.log(JSON.stringify(this))
                axios.post(this.ruta +"/empresas/registrar",formData)
                .then(response => {
                // limpiar campo_
                // alert(response.data.message)
                // cargar lista de nuevo
                // this.listCatService();
                // this.listProdService();
                me.cerrarModal();
                $("#myTable").dataTable().fnDestroy();
                me.listarEmpresa();
                me.registroExito();
                })
                .catch(error => {
                alert(error)
                })
            }
                

        },


        actualizarEmpresa(){
            if(this.validarEmpresa()){
                return;
            }else{
                let me = this;
                axios.put(this.ruta +'/empresas/actualizar',{ //la ruta , los datos q recibimos  enviamos a registrar
                //campos de la bd : variabes de js
                    'nombre': this.nombre_em,
                    'descripcion': this.descrip_em,
                    'direccion': this.direccion_em,
                    'id': this.id_em
                }).then(function (response) {
                    me.cerrarModal();
                    me.listarEmpresa();//listar por defecto  
                    me.registroExito();
                    })
                    .catch(function (error) {
                        console.log(error.response);
                    });
            }
        },

        eliminarEmpre(id){
            let me = this;
                swal.fire({
                title: '¿Desea eliminar esta Empresa?',
                text: "¡No Podra Seguir Usando esta Empresa!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si, Deseo Eliminarlo!'

            }).then((result) => {

            if (result.value) {

            axios.put(this.ruta +'/empresas/eliminar',{ //la ruta , los datos q recibimos  enviamos a registrar
                'id': id
            }).then(function (response) {
                
                $("#myTable").dataTable().fnDestroy();
                me.listarEmpresa();//listar por defecto  
                
                swal.fire(
                'Eliminado!',
                'El registro ha sido eliminado con éxito.',
                'success'
                )   

                })
                .catch(function (error) {
                    console.log(error.response);
                });
            }else if(result.dismiss == swal.DismissReason.cancel){

            }
            })
        },

        abrirModal(modelo, accion, data = []){ //se encarga de abrir el modal y los diferentes casos Y estados
            switch(modelo){
                case "empresas":
                {
                    switch(accion){
                        case 'registrar':
                        {
                            this.tipoAccion = 1; //para mostrar el boton guardar
                            this.modal = 1;//debe mostar ventana modal
                            this.tituloModal = 'Registrar Empresa'
                            this.nombre = '';
                            this.descripcion = '';
                            this.generarCodig();
                            
                            break;
                        }
                        case 'actualizar':
                        {
                            
                            this.tipoAccion = 2; //tipo de accion para actualizr es 2
                            this.tituloModal = "Actualizar Empresa"; //que se muetre este titulo
                            this.codigo_em = data['codigo_em']; 
                            this.id_em = data['id']; 
                            this.rut_em = data['rut_em']; 
                            this.telefono_em = data['telefono_em']; 
                            this.correo_em = data['correo_em']; 
                            this.direccion_em = data['direccion_em']; 
                            this.giro = data['giro']; 
                            this.nombre_em = data['nombre_em']; 
                            this.descrip_em = data['descrip_em']; 
                            this.descrip_dos = data['descrip_dos']; 
                            this.modal = 1;
                            break;

                        }
                    }
                }
            }
        },

        
        validarEmpresa(){
            this.errorEmpresa= 0; //inicializamos en 0
            this.errorMsjEmpresa = []; //a este array le anexaremos los msj d errores con el metodo push
            //evaluamos si nombre esta vacio agregamos este mensaje al array
            
            if(!this.nombre_em) this.errorMsjEmpresa.push("El nombre no puede estar vacio");
            if(!this.direccion_em) this.errorMsjEmpresa.push("La Direccion no puede estar vacio");
            if(!this.descrip_em) this.errorMsjEmpresa.push("La Descripcion no puede estar vacio");
            if(!this.picFile) this.errorMsjEmpresa.push("La Imagen no puede estar vacia");
            //evaluamos si este array tiene al menos 1 elmento, cambiamos errortipotrabajo a 1
            if(this.errorMsjEmpresa.length) this.errorEmpresa = 1;
            
            //aqui retornamos el valor 1
            return this.errorEmpresa;

        },

        cerrarModal(){
            this.modal=0;
            this.tituloModal = '';
            this.rut_em = '';
            this.telefono_em = '';
            this.correo_em = '';
            this.descrip_dos = '';
            this.nombre_em = '';
            this.descrip_em = '';
            this.direccion_em = '';
            this.giro = '';
            this.errorEmpresa= 0; 
            this.errorMsjEmpresa = [];
            this.picFile = null;
            // Limpiar el input de imagen
            const file = document.querySelector('#file');
            file.value='';
            
        },

        onUploadImage(){
            this.picFile = this.$refs.file.files[0];
            // console.log(" Get Picfile" + this.picFile);
        },

        registroExito(){
            swal.fire({
            position: 'top-end',
            icon: 'success',
            title: 'Registro Exitoso',
            showConfirmButton: false,
            timer: 1200
            })
        }


    },
    

    mounted() {
        this.listarEmpresa();
    }
}
</script>

<style>
    .modal-content{
        border-radius: .3rem;
        width: 100% !important;
        position: absolute !important;
        margin-bottom: 10px;
    }
    .modal-header{
        border-top-right-radius: .3rem;
        border-top-left-radius: .3rem;
        background-color: #3678A8;
        color: white;
        
    }
    .mostrar{ /* cuando mostrar es igual a 1*/
        display: list-item !important;
        opacity: 1 !important;
        background-color: #3c29297a !important;
        /* overflow-y: auto; */
    }

    .card{
        border: 0;
        border-radius: .3rem;
        box-shadow: 0 0 1px rgba(0,0,0,.125),0 1px 3px rgba(0,0,0,0.38);
    }
    .card-header{
        border: 0;
        border-top-left-radius: .3rem;
        border-top-right-radius: .3rem;
    }
    .card-footer{
        border: 0;
        border-radius: .3rem;
    }

    .form-control,.btn{
        border-radius: 3px;
    }
        .form-control,.btn{
        border-radius: 3px;
    }
</style>

