<template>
  <main class="main">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item"><a href="#">Admin</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
    <div class="container-fluid">
        <spinner v-show="loading"></spinner>
        <!-- Listar Estado de Pago -->
        <template v-if="listado == 0">
            <div class="card">

                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Estado de Pago de OTs 
                    <button type="button" @click="abrirTemplate('estados','registrar')" class="btn btn-primary"
                    data-toggle="tooltip" data-placement="bottom" title="Crear Nuevo Estado de Pago">
                        <i class="icon-plus"></i>&nbsp;Nuevo
                    </button>
                </div>

                <div class="card-body">

                    <div class="table-responsive">
                        <table class="table cell-border hover order-column table-sm" id="myTable">
                            <thead>
                                <tr>
                                    <th>N°</th>
                                    <th>Origen</th>
                                    <th>Inicial</th>
                                    <th>Final</th>
                                    <th>Razon.</th>
                                    <th>Total</th>
                                    <th>Tipo</th>
                                    <th>Estado</th>
                                    <th>Zona</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr v-for="pago in ArrayGuias" :key="pago.id">
                                    <td>{{'ES-PO-' + pago.folio_ept}}</td>
                                    <td v-text="pago.fechaorigen"></td>
                                    <td v-text="pago.fechaini"></td>
                                    <td v-text="pago.fechafin"></td>
                                    <td v-text="pago.razon"></td>
                                    <td>{{formatPrice(pago.pagotra_total)}}</td>

                                    <td v-if="pago.tipo==1"><span class="badge badge-pill badge-success">Contrato</span></td>
                                    <td v-else><span class="badge badge-pill badge-secondary text-white">N/Contrato</span></td>

                                    <td v-if="pago.idestado == 9"><span class="badge badge-pill badge-success">Pte de Factura</span></td>
                                    <td v-else><span class="badge badge-pill badge-success">{{pago.nombre_es}}</span></td>

                                    <td v-text="pago.nombre_zona"></td>

                                    <td>
                                        <button v-if="pago.tipo==0" type="button" class="btn btn-outline-primary btn-sm" @click="pdfGuia(pago.id,pago.id_cliente,pago.fechaini,pago.fechafin,
                                        pago.id_empresa,pago.folio_ept,pago.fechaorigen)"
                                        title="Ver Pdf">
                                        <i class="fa fa-file-text"></i>
                                        </button>

                                        <button v-if="pago.tipo==1" type="button" class="btn btn-outline-success btn-sm" @click="pdfGuia2(pago.id,pago.id_cliente,pago.fechaini,pago.fechafin,
                                        pago.id_empresa,pago.id_contrato,pago.folio_ept,pago.fechaorigen)"
                                        title="Ver Pdf">
                                        <i class="fa fa-file-text"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </template>
        
        <!-- Crear y Registrar Estado de Pago  -->
        <template v-if="listado == 1">
            <div class="card">
                <div class="card-header" v-text="tituloModal">
                    <i class="fa fa-align-justify"></i>
                </div> 
                <div class="card-body">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label>Fecha Inical <strong> ( * ) </strong>:</label>
                                <input v-model="fechaini" type="date" class="form-control" placeholder="Fecha">
                            </div>

                            <div class="form-group col-md-3">
                                <label>Fecha Final <strong> ( * ) </strong>:</label>
                                <input v-model="fechafin" type="date" class="form-control" placeholder="Fecha">
                            </div>

                            <div class="form-group col-md-3">
                                <label>Fecha Origen <strong> ( * ) </strong>:</label>
                                <input v-model="fechaorigen" type="date" class="form-control" placeholder="Fecha">
                            </div>

                            <div class="form-group col-md-3 text-center">
                                <label>Folio</label>
                                <h6><b>ES-PL-{{folio_ept}}</b></h6>
                            </div>

                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Clientes <strong> ( * ) </strong>:</label>
                                <select class="form-control" v-model="idem" @change="valoresBlanco()">
                                        <option value="0">Seleccione un Cliente</option>
                                    <option v-for="emp in arrayEmpresa" :key="emp.id" :value="emp.id" v-text="emp.razon">
                                    </option>
                                </select>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="inputState">Empresa a Cargo</label>
                                <select class="form-control" v-model="idem2" @change="verTrabajo()">
                                    <option value="0">Seleccionar...</option>
                                    <option v-for="empresa in arrayEmpresa2" :key="empresa.id" :value="empresa.id" v-text="empresa.nombre_em">
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputState">Tipo de Trabajos</label>
                                <select class="form-control" v-model="tipo" @change="sinContra()">
                                    <option value="0">Sin Contrato</option>
                                    <option value="1">Contrato</option>
                                </select>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="inputState">Contratos Asociados</label>
                                <select class="form-control" v-model="idcontra" @change="verificar()">
                                    <option value=''>Seleccionar...</option>
                                    <option v-for="contrato in arrayContratos" :key="contrato.id_contra" :value="contrato.id_contra" v-text="contrato.nombre_contra">
                                    </option>
                                </select>
                            </div>
                        </div>


                        <div class="form-row mt-2">
                            <div class="form-group col-md-12">
                                <label>Observaciones <strong> (Opcional) </strong>:</label>
                                <textarea v-model="observa_tra" class="form-control" rows="3" placeholder="Escriba algunas observaciones importantes"></textarea>
                            </div>
                        </div>

                        <div class="my-2">
                            <p class="text-center alert-light">Listado de Guias</p>
                            <hr>
                        </div>

                        <div class="text-center">
                            <div class="col-auto my-3">
                                <button type="button" class="btn btn-outline-secondary" @click="listarRegistros(idem,fechaini,fechafin,idem2, idcontra)"
                                data-toggle="tooltip" data-placement="bottom" title="Listar Guias"><i class="icon-magnifier"></i> Listar Guias</button> 
                            </div>
                        </div>

                        <!-- Tabla 1 -->
                        <div class="form-group row">
                            <div class="table-responsive col-md-12">
                                <table class="table table-bordered table-striped table-sm" >
                                    <thead>
                                        <tr>
                                            <th>Opcion</th>
                                            <th>Fecha</th>
                                            <th>OT</th>
                                            <th>Descripcion</th>
                                            <th>Lugar</th>
                                            <th>Unidad M.</th>
                                            <th>Cant.</th>
                                            <th>Patente</th>
                                            <th>Chofer</th>
                                            
                                            <th>Valor U.</th>
                                            <th>Subtotal</th>
                                        </tr>
                                    </thead>
                                    <tbody v-if="arrayItem.length">

                                        <tr v-for="(detalle) in arrayItem" :key="detalle.id">
                                            <td>
                                                <button type="button" @click="eliminarItem(detalle)" class="btn btn-outline-danger btn-sm">
                                                <i class="icon-close"></i></button>
                                            </td>
                                            <td v-text="detalle.fecha_ot"></td>
                                            <td v-text="detalle.folio_ot"></td>
                                            <td v-text="detalle.nomb_servi"></td>

                                            <td v-text="detalle.direccion_soli"></td>

                                            <td v-text="detalle.nombre_costo"></td>
                                            <td v-text="detalle.cantidad"></td>
                                            
                                            <td v-text="detalle.ppu"></td>

                                            <td v-text="detalle.nombre_tra +' '+ detalle.apellido_tra"></td>

                                            <td>
                                                {{formatPrice(detalle.valor_uni)}}
                                            </td>
                                            
                                            <td>
                                                {{formatPrice(detalle.valor_neto)}}
                                            </td>
                                        </tr>
                                        <!-- Totales y Subtotales -->
                                        
                                            <tr style="background-color: #CEECF5;">
                                                <td colspan="9" align="right"><strong>Total Monto:</strong></td>
                                                <td colspan="11" align="right">$ {{formatPrice(totalMonto=calcularTotal)}}</td>
                                                
                                            </tr>
                                            <!-- El Pago de la Orden -->
                                            <tr style="background-color: #CEECF5;">
                                                <td colspan="9" align="right"><strong>Iva:</strong></td>      
                                                <td colspan="11" align="right">$ {{formatPrice(totalIva=calcularTotalIva)}}</td>
                                            </tr>
                                            <tr style="background-color: #CEECF5;">
                                                <td colspan="9" align="right"><strong>Total Neto:</strong></td>
                                                <td colspan="11" align="right">$ {{formatPrice(totalNeto=calcularTotalCompleto)}}</td>
                                            </tr>
                                    </tbody>
                                    <tbody v-else>
                                        <tr>
                                            <td class="text-center alert-secondary" colspan="11">
                                                No hay Items Agregados
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>

                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="text-center">
                        <div class="col-auto my-1">
                            <button type="button" class="btn btn-light" @click="cerrarTemplate()"
                            data-toggle="tooltip" data-placement="bottom" title="Cerrar"><i class="icon-check"></i> Cancelar</button> 

                            <button type="button" class="btn btn-primary" v-if="tipoAccion==1" @click="registrarEstado()"
                            data-toggle="tooltip" data-placement="bottom" title="Registrar Estado de Pago"><i class="icon-check"></i> Registrar Estado de Pago</button> 
                        </div>
                    </div>
                </div>
            </div>
        </template>

    </div>
</main>
</template>

<script>
export default {
    props : ['ruta'],
    data(){
        return{
            loading : true,
            // Valores de manejo de componentes en la vista
            listado:0,
            tipoAccion:0,
            tituloModal:'',
            // Array de Datos
            arrayItem:[],
            ArrayGuias:[],
            arrayEmpresa:[],
            arrayEmpresa2:[],
            arrayContratos:[],
            // Variables
            folio_ept:'',
            fechaini:'',
            fechafin:'',
            fechaorigen:'',
            idem:0,
            idem2:0,
            observa_tra:'',

            idcontra:'',
            // Si contrato no Contrato
            tipo:0,
            // Valores de los totales
            totalNeto:0,
            totalIva:0,
            totalMonto:0,
            //
        }
    },

    computed:{
        calcularTotal : function(){
            var resultado=0.0;
            for(var i=0; i<this.arrayItem.length;i++){
                resultado=resultado+(this.arrayItem[i].valor_uni*this.arrayItem[i].cantidad)
            }
            return resultado
        },

        calcularTotalIva : function(){
            var resultado=0.0;
            var total = 0.0;
            for(var i=0; i<this.arrayItem.length;i++){
                resultado=resultado+(this.arrayItem[i].valor_uni*this.arrayItem[i].cantidad)
            }
            total = (resultado * 19)/100;
            return total
        },

        calcularTotalCompleto : function(){
            var resultado=0.0;
            var resultadoiva=0.0;
            var total = 0.0;
            var totalcompleto=0.0;

            for(var i=0; i<this.arrayItem.length;i++){
                resultado=resultado+(this.arrayItem[i].valor_uni*this.arrayItem[i].cantidad)
            }

            for(var i=0; i<this.arrayItem.length;i++){
                resultadoiva=resultadoiva+(this.arrayItem[i].valor_uni*this.arrayItem[i].cantidad)
            }
            total = (resultadoiva * 19)/100;

            totalcompleto = total + resultado;
            return totalcompleto
        },
    },

    methods:{
        mytable(){
            $(document).ready( function () {
                $('#myTable').DataTable({
                    "destroy":true,
                    "language": {
                        "info": "_TOTAL_ registros",
                        "search": "Buscar:",
                        "paginate" : {
                            "next" : "Siguiente",
                            "previous" : "Anterior"
                        },
                        "lengthMenu": 'Mostrar <select>'+
                                    '<option value="10">10</option>'+
                                    '<option value="25">25</option>'+
                                    '<option value="50">50</option>'+
                                    '<option value="100">100</option>'+
                                    '<option value="-1">Todos</option>'+
                                    '</select> registros',
                        "loadingRecords": "Cargando...",
                        "processing": "Procesando...",
                        "emptyTable": "No hay datos...",
                        "zeroRecords": "No Hay Coincidencias",
                        "infoEmpty": "...",
                        "infoFiltered":"..."
                    },
                    "order": [[0, "desc"]]  
                })

            } );
        },

        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', ',')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
        },

        generarCodig(){
            let me=this;
            var url =this.ruta +'/estadosot/codigo'
            axios.get(url).then(function (response) {
                var respuesta = response.data;
                if(respuesta.codigo == null){
                    me.folio_ept = 1;
                }else{
                    me.valor = respuesta.codigo["folio_ept"];
                    me.folio_ept = parseInt(me.valor);
                    me.folio_ept ++;
                }
                    
                // this.valor = respuesta.codigo;
                })
                .catch(function (error) {
                    console.log(error);
                });
        },

        selectEmpresa(){
            let me=this;
            var url =this.ruta +'/clientempresa/todos';
            axios.get(url).then(function (response) {
                var respuesta = response.data;
                me.arrayEmpresa = respuesta.clientes;//porque asi esta en e controlador
            })
            .catch(function (error) {
                    console.log(error);
            });
        },

        listarEmpresa(){
            let me = this;
        
            var url =this.ruta +'/empresas'; 
            axios.get(url).then(function(response) {
                    var respuesta = response.data;
                    me.arrayEmpresa2= respuesta.empresas;
            })
            .catch(function(error) {
                    // handle error
                    console.log(error);
            });
        },

        abrirTemplate(modelo, accion, data = []){ //Gestion de los Template
            switch(modelo){
                case "estados":
                {
                    switch(accion){
                        case 'registrar':
                        {
                            this.generarCodig();
                            this.tipoAccion = 1; //para mostrar el boton guardar
                            this.listado=1;
                            this.tituloModal = 'Registrar Nuevo Estado de Pago de OTs';
                            this.razon='';
                            this.observacion = '';
                            break;
                        } 
                    }
                }
                case "estados":
                {
                    switch(accion){
                        case 'actualizar':
                        {

                            // this.tipoAccion = 1; //para mostrar el boton guardar
                            this.listado=2;
                            this.selectEmpresa();
                            this.listarEmpresa();
                            this.tituloModal = 'Ver Estado de Pago';
                            this.folio_ept = data['folio_ept'];
                            this.fechaini = data['fechaini'];
                            this.fechafin = data['fechafin'];
                            this.fechafin = data['fechaorigen'];
                            this.idem = data['id_cliente'];
                            this.idem2 = data['id_empresa'];
                            this.razon='';
                            this.observacion = '';
                            break;
                        }
                        
                    }
                }
            }
        },

        cerrarTemplate(){
            this.listado=0;
            this.folio_ept = '';
            this.arrayItem=[];
            this.razon='';
            this.folio = '';
            this.fechaini = '';
            this.fechafin = '';
            this.fechaorigen = '';
            this.idem2 = 0;
            this.totalIva= 0;
            this.totalMonto= 0;
            this.totalNeto= 0;
            this.observa_tra = '';
            this.idesoli= 0;
            this.loading = true;
            this.idem = 0;
            this.tipo=0;
            $("#myTable").dataTable().fnDestroy();
            this.listarEstados();
        },

        listarEstados(){
            let me = this;
            var url =this.ruta +'/estadosot'; 
            axios.get(url)
            .then((response) => {
                    var respuesta = response.data;
                    me.ArrayGuias= respuesta.espagui;
                    me.mytable();
                    me.loading = false;
            })
            .catch(function(error) {
                    // handle error
                    console.log(error);
            });
        },

        listarRegistros(idem, fechaini, fechafin, idem2, idcontra){
            let me = this;
            if(me.idem == 0 || me.fechaini == "" || me.fechafin == "" || me.idem2 == 0 || me.tipo == 1 && idcontra == '' ){
                
                swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: '¡Existen Campos Vacios!',
                footer: '!Por Favor Corrija e Intente Nuevamente!'
                })

            }else{
            var url =this.ruta +'/resumen_estadosot?idem='+ idem + '&fechaini='+ fechaini + '&fechafin='+ fechafin + '&idem2='+ idem2 + '&idcontra='+ idcontra;
             axios.get(url).then(function (response) {
                var respuesta = response.data;
                me.arrayItem = respuesta.resumen;
                })
                .catch(function (error) {
                    console.log(error);
                });
            }
        },

        verTrabajo(data = []){
            let me = this;
            me.arrayContratos=[];

            var url =this.ruta +'/contratos/clientempresa?idcli=' + me.idem + '&idempre=' + me.idem2;
            axios.get(url).then(function (response) {
                var respuesta = response.data;
                me.arrayContratos = respuesta.contratos;  
                
            })
            .catch(function (error) {
                console.log(error);
            });
        },

        valoresBlanco(){
            let me = this;
            me.idem2 = "0";
            me.arrayContratos=[];
            me.arrayItem = [];
        },

        registrarEstado(){
            if(this.validarCliente()){
            return;
            }else{
            swal.fire({
                title: '¿Esta Seguro de Realizar este Registro?',
                text: "¡Tendra un Nuevo Estado de Pago OT!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si, Registralo!'
            }).then((result) => {
                if (result.value) {
                    
                let me = this;
                axios.post(this.ruta +'/estadosot/registrar',{ //la ruta , los datos q recibimos  enviamos a registrar
                //campos de la bd : variabes de js
                    'folio_ept':this.folio_ept,
                    'fechaini': this.fechaini,
                    'fechafin': this.fechafin,
                    'fechaorigen': this.fechaorigen,
                    'id_cliente': this.idem,
                    'id_empresa' : this.idem2, //empresa a cargo

                    'id_contrato': this.idcontra, //cliente
                    'tipo': this.tipo,
                    
                    'observa_tra' : this.observa_tra,
                    
                    'pagotra_neto': this.totalMonto, //monto
                    'pagotra_iva': this.totalIva,  //iva
                    'pagotra_total': this.totalNeto, //total a pagar

                    'data':this.arrayItem

                }).then(function (response) {
                    me.cerrarTemplate();
                    $("#myTable").dataTable().fnDestroy();
                    // me.listarEstados();//listar por defecto  
                    swal.fire(
                    'Registro Exitoso!',
                    'La Guia ha sido Registrada.',
                    'success'
                    )
                    
                    })
                    .catch(function (error) {
                        console.log(error.response);
                    });

                }
            })
            }
        },

        eliminarItem(index){
            let me=this;
            me.arrayItem.splice(index,1);
        },

        validarCliente(){
            this.errorCamion= 0; //inicializamos en 0
            this.errorMsjCamion = []; //a este array le anexaremos los msj d errores con el metodo push
            
            if(!this.folio_ept || this.folio_ept == 0) this.errorMsjCamion.push("La Direccion no puede estar vacio");
            if(!this.fechaini) this.errorMsjCamion.push("Debe Selecionar una fecha");
            if(!this.fechafin) this.errorMsjCamion.push("Debe Selecionar una fecha");
            if(!this.fechaorigen) this.errorMsjCamion.push("Debe Selecionar una fecha");

            if(!this.idem) this.errorMsjCamion.push("La Direccion no puede estar vacio");
            if(!this.idem2) this.errorMsjCamion.push("La Direccion no puede estar vacio");
            
            if(this.arrayItem < 1) this.errorMsjCamion.push("Debe Selecionar una fecha");
            if(this.errorMsjCamion.length) this.errorCamion = 1;
            //aqui retornamos el valor 1

            if(this.errorMsjCamion.length > 0){
                swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: '¡Existen Campos Vacios!',
                footer: '!Por Favor Corrija e Intente Nuevamente!'
                })
                return this.errorCamion = 1;
            }

        },

        sinContra(){
            let me = this;
            // me.idcontra = "";
            if(me.tipo == 0 ){
                me.idcontra = '';
            }
        },

        verificar(){
            let me = this;
            if(me.tipo == 0){
                me.idcontra = '';
            }
            // if(me.tipo == 0){
            //     // me.idcontra>0;
            // }
        },


        pdfGuia(id,idem,fechaini,fechafin,empre,folio,fechao){
            let me = this;
            window.open(this.ruta +'/estadosot/pdf/'+ id +'/'+ idem +'/'+ fechaini + '/' +fechafin +'/'+empre+'/'+folio+'/'+fechao);
        },

        pdfGuia2(id,idem,fechaini,fechafin,empre,contra,folio,fechao){
            let me = this;
            window.open(this.ruta +'/estadosot2/pdf/'+ id +'/'+ idem +'/'+ fechaini + '/' +fechafin +'/'+empre+'/'+contra+'/'+folio+'/'+fechao);
        }
    },

    mounted(){
        this.listarEstados();
        this.selectEmpresa();
        this.listarEmpresa();
    }

}
</script>

<style>

</style>