<template>
  <main class="main">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item"><a href="#">Admin</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
    <div class="container-fluid">
        <!-- Lista de Cuentas -->
        <template v-if="listado == 0">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Facturas EEPP GUIA
                    <button type="button" @click="abrirTemplate('facturas','registrar')" class="btn btn-primary"
                    data-toggle="tooltip" data-placement="bottom" title="Crear Nueva Empresas">
                        <i class="icon-plus"></i>&nbsp;Nuevo
                    </button>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table cell-border hover order-column table-sm" id="myTable">
                            <thead>
                                <tr>
                                    <th>N°</th>
                                    <th>Fecha E.</th>
                                    <th>Fecha V.</th>
                                    <th >Cliente</th>
                                    <th>Empresa</th>
                                    <th>Total</th>
                                    <th>Pagado</th>
                                    <th>Estado</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="facturas in arrayFacturas" :key="facturas.id">
                                    <td v-text="facturas.folio_fact"></td>
                                    <td v-text="facturas.fechaemi"></td>
                                    <td v-text="facturas.fechavenci"></td>
                                    <td v-text="facturas.razon"></td>
                                    <td v-text="facturas.nombre_em"></td>
                                    <td v-text="facturas.monto"></td>
                                    <td v-text="facturas.monto_actual"></td>

                                    <td v-if="facturas.idestado == 10"><span class="badge badge-pill badge-success">Pte de Pago</span></td>
                                    <td v-else><span class="badge badge-pill badge-success">{{facturas.nombre_es}}</span></td>

                                    <td>
                                        <!--Boton Ver-->
                                        <button type="button" @click="abrirTemplate('facturas','actualizar',facturas)" class="btn btn-outline-success btn-sm" title="Ver Servicios del Contrato">
                                            <i class="fa fa-eye"></i>
                                        </button>

                                        <!--Boton Ver-->
                                        <button type="button" class="btn btn-outline-primary btn-sm" title="Ver Servicios del Contrato"
                                            @click="abrirTemplate('facturas','verPagos',facturas)"> <i class="fa fa-file-text"></i>
                                        </button>

                                        <!-- Pagar Factura -->
                                        <button v-if="facturas.idestado < 12" type="button" class="btn btn-outline-success btn-sm" title="Pagar Factura" 
                                            @click="abrirTemplate('facturas', 'pagar', facturas)" > <i class="fa fa-money"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card-footer">
                    <div class="text-center">
                        <div class="col-auto my-1">
                            
                        </div>
                    </div>
                </div>

            </div>
        </template>
        <!-- /Lista de Cuentas -->

        <!-- Registrar Facturas -->
        <template v-if="listado == 1">
            <div class="card">
                <div class="card-header" v-text="tituloTemplate">
                    <i class="fa fa-align-justify"></i> 
                </div>

                <div class="card-body">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <label>Fecha de Emision<strong> ( * )</strong></label>
                                <input v-model="fechaemi" type="date" class="form-control" placeholder="Fecha">
                            </div>

                            <div class="form-group col-md-5">
                                <label>Fecha de Vencimiento<strong> ( * )</strong></label>
                                <input v-model="fechavenci" type="date" class="form-control" placeholder="Fecha">
                            </div>

                            <div class="col-md-2 control-label text-center">
                                <label>Folio</label>
                                <h5><b>N° {{folio}}</b></h5>
                            </div>

                        </div>

                        <div class="form-row">
                            <div class="col-md-4 form-group">
                                <label for="inputState">Empresa <strong> ( * )</strong></label>
                                <select class="form-control" v-model="id_empre" @change="limpiar()">
                                    <option value='0'>Seleccionar...</option>
                                    <option v-for="empresa in arrayEmpresa" :key="empresa.id" :value="empresa.id" v-text="empresa.nombre_em">
                                    </option>
                                </select>
                            </div>

                            <div class="col-md-4 form-group">
                                <label for="inputState">Cliente <strong> ( * )</strong></label>
                                <select class="form-control" v-model="id_cliente" @change="limpiar2()">
                                    <option value=0>Seleccionar...</option>
                                    <option v-for="cliente in arrayClientes" :key="cliente.id" :value="cliente.id" v-text="cliente.razon">
                                    </option>
                                </select>
                            </div>

                            <div class="col-md-4 form-group">
                                <label for="inputState">Tipo <strong> ( * )</strong></label>
                                <select class="form-control" v-model="tipo" @change="listarEstados()">
                                    <option value=''>Seleccionar...</option>
                                    <option value=1>Contrato</option>
                                    <option value=0>Sin Contrato</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label>Glosa <strong> ( * )</strong></label>
                                <textarea v-model="glosa" class="form-control" rows="5" placeholder="Observaciones Importantes"></textarea>
                            </div>
                        </div>  

                        <div class="my-2">
                            <hr>
                        </div>

                        <!-- Div de los Errores -->
                        <div v-show="errorFactu" class="align-self-center alert alert-danger text-center ml-2">
                            <div class="text-center">
                            <!-- recorremos todos loserrores denro del array y los mostramos con v-text -->
                            <div v-for="error in errorMsjFactu" :key="error" v-text="error"></div>
                            </div>
                        </div>
                        <!--  -->

                        <!-- Tabla 1 -->
                        <div class="form-group row">
                            <div class="table-responsive col-md-12">
                                <table class="table table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th width="80px">Opciones</th>
                                            <th>Folio</th>
                                            <th>Inicial</th>
                                            <th>Final</th>
                                            <th>Origen</th>
                                            <th>Neto</th>
                                            <th>Iva</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody v-if="arrayEPG.length">
                                        <tr v-for="(epg,index) in arrayEPG" :key="epg.id">
                                            <td>
                                                <button v-if="tipoAccion== 1" @click="eliminarItem(index)" type="button" class="btn btn-outline-danger btn-sm">
                                                    <i class="icon-close"></i>
                                                </button>
                                                
                                                <button v-if="tipoAccion== 2" @click="borrarDetalle(eepp.id)" type="button" class="btn btn-outline-danger btn-sm" title="Borrar Servicio del Cliente">
                                                    <i class="icon-trash"></i>
                                                </button>

                                                <button v-if="tipoAccion== 2" @click="actualizarDetalle(credito.id,credito.monto)" type="button" class="btn btn-outline-primary btn-sm" title="Actualizar Servicio del Cliente">
                                                    <i class="icon-reload"></i>
                                                </button>
                                            </td>

                                            <td>{{'ES-PG-' + epg.folio_epg}}</td>
                                            <td v-text="epg.fechaini"></td>
                                            <td v-text="epg.fechafin"></td>
                                            <td v-text="epg.fechaorigen"></td>
                                            <td v-text="epg.esguia_neto"></td>
                                            <td v-text="epg.esguia_iva"></td>
                                            <td v-text="epg.esguia_total"></td>
                                        </tr>
                                    </tbody>
                                    <tbody v-else>
                                        <tr>
                                            <td class="text-center alert-secondary" colspan="8">
                                                No hay Items Agregados
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- Tabla -->

                        <div class="row" style="margin-bottom: 20px">
                            <div class="col-md-5">
                            </div>
                            
                            <div class="col-md-7" style="text-align: center;">
                                <div class="row">
                                    <div class="col-md-6" style="padding:0">
                                        <hr>
                                        <h1>Total:</h1>
                                    </div>
                                    <div class="col-md-6" style="padding:0">
                                        <hr>
                                        <h2 id="total_final">${{formatPrice(monto = calcularTotal)}}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>

                <div class="card-footer">
                    <div class="text-center">
                        <button type="button" class="btn btn-light" @click="cerrarTemplate()"
                        data-toggle="tooltip" data-placement="bottom" title="Cancelar">
                        <i class="icon-check"></i> Cancelar</button> 

                        <button type="button" class="btn btn-primary" v-if="tipoAccion==1" @click="registrarFactu()"
                            title="Registrar Cuenta"><i class="icon-check"></i> Registrar Cuenta
                        </button> 

                        <button type="button" class="btn btn-primary" v-if="tipoAccion==2" @click="actualizarCuenta()"
                            title="Actualizar la Cuenta"><i class="icon-check"></i> Actualizar la Cuenta
                        </button> 
                    </div>
                </div>
            </div>
        </template>
        <!-- /Registrar Facturas -->

        <!-- Ver y Editar -->
        <template v-if="listado == 2">
            <div class="card">
                <div class="card-header" v-text="tituloTemplate">
                    <i class="fa fa-align-justify"></i> 
                </div>

                <div class="card-body">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <label>Fecha de Emision<strong> ( * )</strong></label>
                                <input v-model="fechaemi" type="date" class="form-control" placeholder="Fecha">
                            </div>

                            <div class="form-group col-md-5">
                                <label>Fecha de Vencimiento<strong> ( * )</strong></label>
                                <input v-model="fechavenci" type="date" class="form-control" placeholder="Fecha">
                            </div>

                            <div class="col-md-2 control-label text-center">
                                <label>Folio</label>
                                <h5><b>N° {{folio}}</b></h5>
                            </div>

                        </div>

                        <div class="form-row">
                            <div class="col-md-4 form-group">
                                <label for="inputState">Empresa <strong> ( * )</strong></label>
                                <select class="form-control" v-model="id_empre" @change="limpiar()">
                                    <option value=0>Seleccionar...</option>
                                    <option v-for="empresa in arrayEmpresa" :key="empresa.id" :value="empresa.id" v-text="empresa.nombre_em">
                                    </option>
                                </select>
                            </div>

                            <div class="col-md-4 form-group">
                                <label for="inputState">Cliente <strong> ( * )</strong></label>
                                <select class="form-control" v-model="id_cliente" @change="limpiar2()">
                                    <option value=0>Seleccionar...</option>
                                    <option v-for="cliente in arrayClientes" :key="cliente.id" :value="cliente.id" v-text="cliente.razon">
                                    </option>
                                </select>
                            </div>

                            <div class="col-md-4 form-group">
                                <label for="inputState">Tipo <strong> ( * )</strong></label>
                                <select class="form-control" v-model="tipo" @change="listarEstados()">
                                    <option value=''>Seleccionar...</option>
                                    <option value=1>Contrato</option>
                                    <option value=0>Sin Contrato</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label>Glosa <strong> ( * )</strong></label>
                                <textarea v-model="glosa" class="form-control" rows="5" placeholder="Observaciones Importantes"></textarea>
                            </div>
                        </div>  

                        

                        <!-- Div de los Errores -->
                        <div v-show="errorFactu" class="align-self-center alert alert-danger text-center ml-2">
                            <div class="text-center">
                            <!-- recorremos todos loserrores denro del array y los mostramos con v-text -->
                            <div v-for="error in errorMsjFactu" :key="error" v-text="error"></div>
                            </div>
                        </div>
                        <!--  -->

                        <!-- Tabla 1 -->
                        <div class="form-group row">
                            <div class="table-responsive col-md-12">
                                <table class="table table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th width="80px">Opciones</th>
                                            <th>Folio</th>
                                            <th>Inicial</th>
                                            <th>Final</th>
                                            <th>Origen</th>
                                            <th>Neto</th>
                                            <th>Iva</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody v-if="arrayEPG.length">
                                        <tr v-for="(epg,index) in arrayEPG" :key="epg.id">
                                            <td>
                                                <button v-if="tipoAccion== 1" @click="eliminarItem(index)" type="button" class="btn btn-danger btn-sm">
                                                    <i class="icon-close"></i>
                                                </button>
                                                
                                                <button v-if="tipoAccion== 2" @click="borrarDetalle(eepp.id)" type="button" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="bottom" title="Borrar Servicio del Cliente">
                                                    <i class="icon-trash"></i>
                                                </button>
                                            </td>

                                            <td>{{'ES-PG-' + epg.folio_epg}}</td>
                                            <td v-text="epg.fechaini"></td>
                                            <td v-text="epg.fechafin"></td>
                                            <td v-text="epg.fechaorigen"></td>
                                            <td v-text="epg.esguia_neto"></td>
                                            <td v-text="epg.esguia_iva"></td>
                                            <td v-text="epg.esguia_total"></td>
                                        </tr>
                                    </tbody>
                                    <tbody v-else>
                                        <tr>
                                            <td class="text-center alert-secondary" colspan="8">
                                                No hay Items Agregados
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- Tabla -->

                        <div class="row" style="margin-bottom: 20px">
                            <div class="col-md-5">
                            </div>
                            
                            <div class="col-md-7" style="text-align: center;">
                                <div class="row">
                                    <div class="col-md-6" style="padding:0">
                                        <hr>
                                        <h1>Total:</h1>
                                    </div>
                                    <div class="col-md-6" style="padding:0">
                                        <hr>
                                        <h2 id="total_final">${{formatPrice(monto = calcularTotal)}}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>

                <div class="card-footer">
                    <div class="text-center">
                        <button type="button" class="btn btn-light" @click="cerrarTemplate()"
                        data-toggle="tooltip" data-placement="bottom" title="Cancelar">
                        <i class="icon-check"></i> Cancelar</button> 

                        <button type="button" class="btn btn-primary" v-if="tipoAccion==1" @click="registrarFactu()"
                            title="Registrar Cuenta"><i class="icon-check"></i> Registrar Cuenta
                        </button> 

                        <button type="button" class="btn btn-primary" v-if="tipoAccion==2" @click="actualizarCuenta()"
                            title="Actualizar la Cuenta"><i class="icon-check"></i> Actualizar la Cuenta
                        </button> 
                    </div>
                </div>
            </div>
        </template>
        <!--  -->

        <!-- Pagar -->
        <div v-if="modal==1" class="modal fade in" :class="{'mostrar': modal}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{tituloModal}} | Factura N° {{folio}}</h5>
                        <button type="button" class="close" @click="cerrarModalPagar()" aria-label="Close">
                        <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                            
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label class="control-label">Cuenta Destino <strong> ( * ) </strong>:</label>
                                    <v-select 
                                        :options="arrayCuentas"
                                        placeholder="Seleccionar Cuenta"
                                        label="nombre_cuenta"
                                        :onChange="cargarDatos" 
                                    >           
                                    </v-select>
                                </div>

                                <div class="form-group col-md-6">
                                    <label class="control-label">Empresa:</label>
                                    <input type="text" v-model="nombre_em" class="form-control" placeholder="Empresa">
                                </div>

                            </div>

                            <div class="form-row">

                                <div class="form-group col-md-6">
                                    <label class="control-label">Banco:</label>
                                    <input type="text" v-model="nom_banco" class="form-control" placeholder="Banco">
                                </div>

                                <div class="form-group col-md-6">
                                    <label class="control-label">Numero de Cuenta:</label>
                                    <input type="text" v-model="num_cuenta" class="form-control" placeholder="Cuenta">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputState">Forma de Pago <strong> ( * ) </strong>:</label>
                                    <select class="form-control" v-model="tipo_pago">
                                        <option value=0>Seleccionar...</option>
                                        <option value=1>Cheque</option>
                                        <option value=2>Efectivo</option>
                                        <option value=3>Transferencia</option>
                                    </select>
                                </div>

                                <div class="form-group col-md-6">
                                    <label class="control-label">Fecha <strong> ( * ) </strong>:</label>
                                    <input v-model="fecha_pago" type="date" class="form-control" placeholder="Fecha">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label class="control-label">Ingresar Monto a Pagar <strong> ( * ) </strong>:</label>
                                    <input type="number" min="0" v-model="montoPagar" class="form-control" placeholder="Ingresar Monto $">
                                </div>
                            </div>

                            <div class="row" style="margin-bottom: 20px">

                                <div class="col-md-6 text-center">
                                    <div class="row">
                                        <div class="col-md-6 p-0 text-center">
                                            <hr>
                                            <h5>Restante:</h5>
                                        </div>
                                        <div class="col-md-6 p-0">
                                            <hr>
                                            <h5>${{formatPrice(montoResta)}}</h5>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-6" style="text-align: center;">
                                    <div class="row">
                                        <div class="col-md-6 p-0" >
                                            <hr>
                                            <h5>Total:</h5>
                                        </div>
                                        <div class="col-md-6 p-0" >
                                            <hr>
                                            <h5 id="total_final">${{formatPrice(monto)}}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>                    

                    <!-- Div de los Errores -->
                        <div v-show="errorPago" class="align-self-center alert alert-danger text-center ml-2">
                            <div class="text-center">
                            <div v-for="errorp in errorMsjPago" :key="errorp" v-text="errorp"></div>
                            </div>
                        </div>
                        <!--  -->

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @click="cerrarModalPagar()" 
                        data-toggle="tooltip" data-placement="bottom" title="Cerrar">Cerrar</button>

                        <button type="button" class="btn btn-primary" @click="registrarPago()"
                        data-toggle="tooltip" data-placement="bottom" title="Guardar">Registrar</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- Pagar -->

        <!-- Ver Listado de Pagos -->
        <div v-if="modal == 2" class="modal fade" :class="{'mostrar': modal}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{tituloModal}}  N° {{folio}}</h5>
                        <button type="button" class="close" @click="cerrarModalPagos()" aria-label="Close">
                        <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table table-striped"> 
                                <thead>
                                    <tr>
                                        <th>N°</th>
                                        <th>Fecha</th>
                                        <th>Tipo</th>
                                        <th>Monto</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="pagos in arrayPagos" :key="pagos.id">
                                        <td v-text="pagos.id"></td>
                                        <td v-text="pagos.fecha_pago"></td>
                                        <td v-if="pagos.tipo== 1">Cheque</td>
                                        <td v-if="pagos.tipo== 2">Efectivo</td>
                                        <td v-if="pagos.tipo== 3">Transferencia</td>
                                        <td v-text="pagos.monto_pago"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="row " style="margin-bottom: 20px">
                            <div class="col-md-6 text-center">
                                <div class="row">
                                    <div class="col-md-6 p-0">
                                        <hr>
                                        <h5>Restante:</h5>
                                    </div>
                                    <div class="col-md-6 p-0">
                                        <hr>
                                        <h5>${{formatPrice(montoResta)}}</h5>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-6" style="text-align: center;">
                                <div class="row">
                                    <div class="col-md-6 p-0" >
                                        <hr>
                                        <h5>Total:</h5>
                                    </div>
                                    <div class="col-md-6 p-0" >
                                        <hr>
                                        <h5 id="total_final">${{formatPrice(monto)}}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>                    

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @click="cerrarModalPagos()"
                        data-toggle="tooltip" data-placement="bottom" title="Cerrar">Cerrar</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- Ve Listado de Pagos -->
    </div>
  
  </main>
</template>

<script>
import datatables from 'datatables';
import vSelect from 'vue-select';
import toastr from 'toastr';
export default {
    props : ['ruta'],
    data(){
        return{
            modal:0,
            listado:0,
            tipoAccion:1,
            
            // Valores a usar para registros
            id_empre:0,
            id_cliente:0,
            banco:0,
            tipo:'',
            folio:0,
            valor:'',
            monto:0,
            fechaemi:'',
            fechavenci:'',
            glosa:'',

            cargando2 : false,

            nom_banco:'',
            nombre_em:'',
            idcuenta:'',
            tipo_pago:0,
            fecha_pago:'',
            num_cuenta:'',
            id_factu:0,

            activo : 0,

            montoPagar:0,
            montoResta:0,
            montoActual:0,

            // Arrays
            arrayFacturas:[],
            arrayEmpresa:[],
            arrayClientes:[],

            arrayPagos:[],
            arrayEPG:[],
            
            arrayCuentas:[],
            arrayBancos:[],

            ArrayEstados:[],
            // Titulos
            tituloTemplate:'',

            errorFactu:0,
            errorMsjFactu:[],

            errorPago: 0,
            errorMsjPago : []
            
        }

    },

    components:{
        vSelect
    },

    computed:{
        calcularTotal : function(){
            var resultado=0.0;
            for(var i=0; i<this.arrayEPG.length;i++){
                resultado=resultado+(parseInt(this.arrayEPG[i].esguia_total, 10));
            }
            return resultado
        },
    },

    methods:{
        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', ',')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
        },

        mytable(){
            $(document).ready( function () {
                $('#myTable').DataTable({
                    "destroy":true,
                    "language": {
                        "info": "_TOTAL_ registros",
                        "search": "Buscar:",
                        "paginate" : {
                            "next" : "Siguiente",
                            "previous" : "Anterior"
                        },
                        "lengthMenu": 'Mostrar <select>'+
                                    '<option value="10">10</option>'+
                                    '<option value="25">25</option>'+
                                    '<option value="50">50</option>'+
                                    '<option value="100">100</option>'+
                                    '<option value="-1">Todos</option>'+
                                    '</select> registros',
                        "loadingRecords": "Cargando...",
                        "processing": "Procesando...",
                        "emptyTable": "No hay datos...",
                        "zeroRecords": "No Hay Coincidencias",
                        "infoEmpty": "...",
                        "infoFiltered":"..."
                    },
                    
                })

            });
        },

        generarCodig(){
            let me=this;
            var url =this.ruta +'/facturas/codigo'
            axios.get(url).then(function (response) {
                var respuesta = response.data;
                if(respuesta.codigo == null){
                    me.folio = 1;
                }else{
                    me.valor = respuesta.codigo["folio_fact"];
                    me.folio = parseInt(me.valor);
                    me.folio ++;
                }
                    
                // this.valor = respuesta.codigo;
                })
                .catch(function (error) {
                    console.log(error);
                });
        },

        listarFacturas(){
            let me = this;
            var url =this.ruta +'/facturas2'; 
            axios.get(url).then(function(response) {
                    var respuesta = response.data;
                    me.arrayFacturas= respuesta.facturas;
                    me.arrayEmpresa= respuesta.empresas;
                    me.mytable();
            })
            .catch(function(error) {
                    // handle error
                    console.log(error);
            });
        },

        listarCuenta(){
            let me = this;
        
            var url =this.ruta +'/cuentas'; 
            axios.get(url)
            .then((response) => {
                    var respuesta = response.data;
                    me.arrayCuentas= respuesta.cuentas;
                    me.arrayBancos= respuesta.bancos;
                    me.mytable();
                    // this.loading = false;
            })
            .catch(function(error) {
                    // handle error
                    console.log(error);
            });
        },

        listarCliente(){
            let me=this;
            var url =this.ruta +'/clientempresa/todos';
            axios.get(url).then(function (response) {
                var respuesta = response.data;
                me.arrayClientes = respuesta.clientes;//porque asi esta en e controlador
            })
            .catch(function (error) {
                    console.log(error);
            });
        },

        listarEstados(){
            let me = this;
            me.ti
            var url =this.ruta +'/facturas2/resumengui?id_cliente='+ me.id_cliente + '&tipo=' +me.tipo; 
            axios.get(url)
            .then((response) => {
                    var respuesta = response.data;
                    me.arrayEPG= respuesta.resumengui;
                    if(me.arrayEPG.length > 0){
                        toastr.success('Puede ver los detalles en el recuadro','Se encontraron EEPP-GUIA!')
                    }else{
                        toastr.error('El recuadro de los detalles esta vacio.', 'No se encontraron EEPP-GUIA!')
                    }
                    // me.mytable();
                    // me.loading = false;
            })
            .catch(function(error) {
                    // handle error
                    console.log(error);
            });
        },

        cargarDatos(val1){
            let me = this;
            me.num_cuenta = val1.num_cuenta;
            me.nom_banco =val1.nom_banco;
            me.nombre_em =val1.nombre_em;
            me.idcuenta =val1.idcuenta;
        },

        abrirTemplate(modelo, accion, data = []){
            switch(modelo){
                case "facturas":
                {
                    switch(accion){
                        case "registrar":
                        {
                            this.tipoAccion = 1;
                            this.listado = 1;
                            this.tituloTemplate = 'Registrar Nueva Factura Guia';
                            this.generarCodig();
                            break;
                            
                        }

                        case "actualizar":
                        {
                            let me = this;
                            me.tipoAccion = 2;
                            me.listado = 2;
                            me.tituloTemplate = 'Editar Factura';
                            me.fechaemi = data['fechaemi'];
                            me.fechavenci = data['fechavenci'];
                            me.folio = data['folio_fact'];
                            me.id_empre = data['idem'];
                            me.id_cliente = data['cli'];
                            me.tipo = data['tipo_contra'];
                            me.glosa = data['glosa'];

                            var url =this.ruta +'/facturas2/epguia?id=' + data['idfac'];
                            axios.get(url).then(function (response) {
                                var respuesta = response.data;
                                me.arrayEPG = respuesta.detalles;  
                            })
                            .catch(function (error) {
                                console.log(error);
                            });

                            break;
                        }

                        case "pagar":
                        {
                            let me = this;
                            me.modal = 1;
                            me.tituloModal = "Pagar Factura";
                            me.folio = data['folio_fact'];
                            me.monto = data['monto'];
                            me.id_factu = data['idfac'];
                            me.montoActual = data['monto_actual'];
                            me.montoResta = me.monto - me.montoActual;

                            var url =this.ruta +'/facturas2/epguia?id=' + data['idfac'];
                            axios.get(url).then(function (response) {
                                var respuesta = response.data;
                                me.arrayEPG = respuesta.detalles;  
                            })
                            .catch(function (error) {
                                console.log(error);
                            });

                            break;
                        }

                        case "verPagos":
                        {
                            let me = this;
                            me.modal = 2;
                            me.folio = data['folio_fact'];
                            me.monto = data['monto'];
                            me.montoActual = data['monto_actual'];
                            me.montoResta = me.monto - me.montoActual;

                            me.tituloModal = "Pagos de la Factura";

                            var url =this.ruta +'/facturas/pagosOT?id=' + data['idfac'];
                            axios.get(url).then(function (response) {
                                var respuesta = response.data;
                                me.arrayPagos = respuesta.pagos;  
                            })
                            .catch(function (error) {
                                console.log(error);
                            });

                            break;
                        }
                    }


                }
            }
        },

        cerrarTemplate(){
            let me = this;
            me.listado=0;
            me.folio=0;
            me.fechaemi='',
            me.fechavenci='',
            me.id_empre = 0;
            me.id_cliente = 0;
            me.tipo = '';
            me.arrayEPG = [];
            me.glosa = '';
            $("#myTable").dataTable().fnDestroy();
            this.listarFacturas();
        },

        cerrarModalPagar(){
            let me = this;
            me.modal = 0;
            me.folio = '';
            me.tituloModal = '';
            me.monto = '';
            me.num_cuenta = '';
            me.nom_banco = '';
            me.nombre_em = '';
            me.idcuenta = '';
            me.tipo_pago = 0;
            me.fecha_pago = '';
            me.monto= 0;
            me.montoActual=0;
            me.montoResta = 0;
            me.montoPagar = 0;
            me.id_factu = 0;
            me.errorPago = 0;
            me.errorMsjPago = [];
            me.arrayEPO = [];
            // me.activo = 0;
            me.listarFacturas();
        },

        cerrarModalPagos(){
            let me = this;
            me.modal = 0;
            me.folio = '';
            me.tituloModal = '';
            me.monto= 0;
            me.montoActual=0;
            me.montoResta = 0;
            me.arrayPagos = [];
        },

        eliminarItem(index){
            let me=this;
            me.arrayEPG.splice(index,1);
        },

        limpiar(){
            let me = this;
            me.id_cliente=0;
            me.tipo= '';
            me.arrayEPG = [];
        },

        limpiar2(){
            let me = this;
            me.tipo= '';
            me.arrayEPG = [];
        },

        validarFactura(){
            this.errorFactu= 0; //inicializamos en 0
            this.errorMsjFactu = []; //a este array le anexaremos los msj d errores con el metodo push
            if(!this.folio || this.folio == 0) this.errorMsjFactu.push("El folio no puede estar vacio");
            if(!this.fechaemi) this.errorMsjFactu.push("Debe seleccionar una fecha de emision");
            if(!this.fechavenci) this.errorMsjFactu.push("Debe selecionar una fecha de vencimiento");
            if(!this.id_cliente) this.errorMsjFactu.push("Debe seleccionar un cliente");
            if(!this.id_empre) this.errorMsjFactu.push("Debe seleccionar una empresa");
            if(!this.tipo) this.errorMsjFactu.push("Debe seleccionar un tipo de contrato");
            if(this.arrayEPG < 1) this.errorMsjFactu.push("La lista de EEPP no puede estar vacia");
            if(this.errorMsjFactu.length) this.errorFactu = 1;
            if(this.errorMsjFactu.length > 0){
                swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: '¡Existen Campos Vacios!',
                footer: '!Por Favor Corrija e Intente Nuevamente!'
                })
                return this.errorFactu = 1;
            }

        },

        validarPago(){
            this.errorPago= 0; 
            this.errorMsjPago = []; 

            if(!this.folio || this.folio == 0) this.errorMsjPago.push("El folio no puede estar vacio.");
            if(!this.fecha_pago) this.errorMsjPago.push("Debe seleccionar una fecha de pago.");
            if(!this.montoPagar || this.montoPagar == 0) this.errorMsjPago.push("Debe Ingresar un monto a pagar.");
            if(!this.idcuenta) this.errorMsjPago.push("Debe seleccionar una cuenta.");
            if(!this.id_factu) this.errorMsjPago.push("Debe seleccionar una factura.");
            if(!this.tipo_pago) this.errorMsjPago.push("Debe seleccionar una forma de pago.");

            if(this.montoPagar > this.montoResta) this.errorMsjPago.push("El monto a pagar no puede ser mayor que el restante.")

            if(this.montoPagar == this.montoResta ) this.activo = 1;

            if(this.errorMsjPago.length) this.errorPago = 1;
            return this.errorPago;
        },

        registrarFactu(){
            if(this.validarFactura()){
                return;
            }else{
                swal.fire({
                    title: '¿Esta Seguro de Realizar este Registro?',
                    text: "¡Tendra un Nueva Factura!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si, Registralo!'
                }).then((result) => {
                    if (result.value) {
                        
                    let me = this;
                    axios.post(this.ruta +'/facturas2/registrar',{ //la ruta , los datos q recibimos  enviamos a registrar
                    //campos de la bd : variabes de js
                        'folio_fact':this.folio,
                        'fechaemi': this.fechaemi,
                        'fechavenci': this.fechavenci,
                        'id_empre': this.id_empre,
                        'id_cliente': this.id_cliente,
                        'glosa' : this.glosa, //empresa a cargo
                        'monto': this.monto, //cliente
                        'tipo_contra': this.tipo, // 0 porq es por Guia
                        'data':this.arrayEPG

                    }).then(function (response) {
                        me.cerrarTemplate();
                        $("#myTable").dataTable().fnDestroy();
                        // me.listarEstados();//listar por defecto  
                        swal.fire(
                        'Registro Exitoso!',
                        'La Factura ha sido Registrada.',
                        'success'
                        )
                        
                        })
                        .catch(function (error) {
                            console.log(error.response);
                        });

                    }
                })
            }
        },

        registrarPago(){
            if(this.validarPago()){
                return;
            }else{
                swal.fire({
                    title: '¿Esta Seguro de Realizar este Registro?',
                    text: "¡Tendra un Nuevo Pago!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si, Registralo!'
                }).then((result) => {
                    if (result.value) {
                        
                    let me = this;
                    axios.post(this.ruta +'/facturas/pagarguia',{
                        'origen':"Fact EPGUIA",
                        'numero': this.folio, //folio
                        'fecha' : this.fecha_pago,
                        'cuenta': this.num_cuenta,
                        'ingresos': this.montoPagar,
                        'idcuenta': this.idcuenta,

                        'id_factu':this.id_factu,
                        'fecha_pago': this.fecha_pago,
                        'monto_pago': this.montoPagar,
                        'tipo' : this.tipo_pago,
                        'activo' : this.activo,
                        'data': this.arrayEPG

                    }).then(function (response) {
                        me.cerrarModalPagar();
                        // $("#myTable").dataTable().fnDestroy();
                        // me.listarEstados();//listar por defecto  
                        swal.fire(
                        '¡Registro Exitoso!',
                        'El Pago ha sido Registrado.',
                        'success'
                        )
                        
                        })
                        .catch(function (error) {
                            console.log(error.response);
                        });

                    }
                })
            }
        }
    },

    mounted(){
        this.listarFacturas();
        this.listarCuenta();
        this.listarCliente();
    }



}
</script>

<style>

</style>
