<template>
    <main class="main">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item"><a href="#">Admin</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="container-fluid">
            <spinner v-show="loading"></spinner>
            <!-- Ejemplo de tabla Listado -->
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Finiquitos
                    <!-- <button type="button" @click="abrirModal('finiquitos','registrar')" class="btn btn-primary">
                        <i class="icon-plus"></i>&nbsp;Nuevo
                    </button> -->
                </div>
                
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table cell-border hover order-column table-sm" id="myTable">
                            <thead>
                                <tr>
                                    <th>Finiquito</th>
                                    <th>Contrato</th>
                                    <th>Nombre  </th>
                                    <th>Fechas</th>
                                    <th>Estado</th>
                                    <th>Causal</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="finiquitos in arrayFiniquitos" :key="finiquitos.id">
                                    <td v-text="finiquitos.id"></td>
                                    <td v-text="finiquitos.num_contrato"></td>
                                    <td>{{finiquitos.nombre_tra + ' ' + finiquitos.apellido_tra}}</td>
                                    <td v-text="finiquitos.fecha_finiquito"></td>
                                    <td v-text="finiquitos.estadofiniquito"></td>
                                    <td v-text="finiquitos.causal"></td>
                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-sm" @click="abrirModal('finiquitos','actualizar', servicios)">
                                        <i class="fa fa-pencil"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-danger btn-sm" @click="eliminarServi(finiquitos.id)">
                                        <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card-footer">
                    <div class="text-center">
                        <div class="col-auto my-1">
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fin ejemplo de tabla Listado -->
        </div>

        <!-- Errores -->
        
        <!-- /Errores -->

        <!--Inicio del modal agregar/actualizar-->
        <div class="modal fade" :class="{'mostrar': modal}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" v-text="tituloModal"></h5>
                        <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                        <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                            <div class="form-group row">

                                <label class="col-md-2 control-label" for="text-input">Fecha</label>
                                <div class="col-md-4">
                                    <input type="date" v-model="fecha_finiquito" class="form-control" placeholder="Fecha">
                                </div>

                                <label class="col-md-1 control-label" for="text-input">Estado</label>
                                <div class="col-md-4">
                                    <input type="text" v-model="estado_finiquito" class="form-control" placeholder="Estado Finiquito">
                                </div>

                                
                            </div>

                            <div class="form-group row">
                                <label class="col-md-2 control-label" for="email-input">Causal</label>
                                <div class="col-md-9">
                                    <textarea v-model="causal" class="form-control" rows="3" placeholder="Descripcion del Causal"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- este bloque muestra los errrores, se muestra si errrorTipotrabajo=1 -->
                    <div v-show="errorServicio" class="align-self-center alert alert-danger text-center ml-2">
                        <div class="text-center">
                        <!-- recorremos todos loserrores denro del array y los mostramos con v-text -->
                        <div v-for="error in errorMsjServicio" :key="error" v-text="error"></div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @click="cerrarModal()">Cerrar</button>
                        <button type="button"  v-if="tipoAccion== '1'" class="btn btn-primary" @click="registrarFiniquito()">Guardar</button>
                        <button type="button"  v-if="tipoAccion == '2'"  class="btn btn-primary" @click="actualizarFiniquito()">Actualizar</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!--Fin del modal-->
        
    </main>
</template>

<script>
import datatables from 'datatables';
    export default {
        props : ['ruta'],
        data(){
            return{
                loading : true,
                arrayFiniquitos:[],
                modal : 0,
                num_contrato:'',
                fecha_finiquito:'',
                causal:'',
                estado_finiquito:'',
                id_traem:'',
                tituloModal:'',
                tipoAccion:0,
                // Manejo de Errores
                errorServicio: 0,
                errorMsjServicio:[],
                // Manejo de Errores

                paginacion: {
                    'total' : 0,
                    'pagina_actual' : 0, // current_page
                    'pag_mostrar' : 0, //numero de registros por pagina per_page
                    'pag_alfinal' : 0, // last_page hasta ultima pagina
                    'pag_actual' : 0, //from desde la pagina donde me encuentro
                    'pag_ultima' : 0, //to hasta la pagina
                },
                offset:3,
                criterio: 'nombre', //para el buscar, cual es el campo de busqueda es un valor inicial
                buscar : '' //para el buscar, cual es el texto de busqueda para realizar todos los filtros
            }
            
        },

        computed:{
            isActived: function(){
                return this.paginacion.pagina_actual;
            },
            //calcula los elementos de la paginacion
            pagesNumber :function(){
                if(!this.paginacion.pag_ultima){
                    return [];
                }

                var from = this.paginacion.pagina_actual - this.offset;
                if(from < 1 ){
                    from = 1;
                }

                var to = from + (this.offset * 2);
                if (to >= this.paginacion.pag_alfinal ){
                    to = this.paginacion.pag_alfinal;
                }

                var pagesArray = [];
                while (from <= to){
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;
            }
        },

        methods: {
            // Manejo de la Paginacion
           cambiarPagina(page,buscar,criterio){
                let me = this;
                //Actualiza a la pagina actual
                me.paginacion.pagina_actual = page;
                //Ahora enviamos la peticion para visualizar la data de dicha pag
                me.listarFiniquitos(page,buscar,criterio);

            },
            // Manejo de la Paginacion
           
            // Funcionalidades
            mytable(){
                $(document).ready( function () {
                    $('#myTable').DataTable({
                        "destroy":true,
                        "language": {
                            "info": "_TOTAL_ registros",
                            "search": "Buscar:",
                            "paginate" : {
                                "next" : "Siguiente",
                                "previous" : "Anterior"
                            },
                            "lengthMenu": 'Mostrar <select>'+
                                        '<option value="10">10</option>'+
                                        '<option value="25">25</option>'+
                                        '<option value="50">50</option>'+
                                        '<option value="100">100</option>'+
                                        '<option value="-1">Todos</option>'+
                                        '</select> registros',
                            "loadingRecords": "Cargando...",
                            "processing": "Procesando...",
                            "emptyTable": "No hay datos...",
                            "zeroRecords": "No Hay Coincidencias",
                            "infoEmpty": "...",
                            "infoFiltered":"..."
                        },
                        "order": [[0, "desc"]]
                        
                    })

                });
            },

            listarFiniquitos(){
                let me = this;
            
                var url =this.ruta +'/finiquitos'; 
                axios.get(url)
                .then((response) => {
                        var respuesta = response.data;
                        me.arrayFiniquitos = respuesta.finiquitos;
                        me.mytable();
                        me.loading = false;
                })
                .catch(function(error) {
                        // handle error
                        console.log(error);
                });
            },

            registrarFiniquito(){
                if(this.validarServicio()){
                    return;
                }else{
                    let me = this;
                    axios.post(this.ruta +'/finiquitos/registrar',{ //la ruta , los datos q recibimos  enviamos a registrar
                    //campos de la bd : variabes de js
                        'num_contrato': this.num_contrato,
                        'fecha_finiquito': this.fecha_finiquito,
                        'causal': this.causal,
                        'id_traem':this.id_traem,
                        'estado_finiquito':this.estado_finiquito
                    }).then(function (response) {
                        me.cerrarModal();
                        $("#myTable").dataTable().fnDestroy();
                        me.listarFiniquitos();//listar por defecto  
                        me.registroExito();
                        })
                        .catch(function (error) {
                            console.log(error.response);
                        });
                }
            },

            actualizarFiniquito(){
                if(this.validarServicio()){
                    return;
                }else{
                    let me = this;
                    axios.put(this.ruta +'/finiquitos/actualizar',{ //la ruta , los datos q recibimos  enviamos a registrar
                    //campos de la bd : variabes de js
                        'nombre': this.nombre,
                        'descripcion': this.descripcion,
                        'id': this.servi_id
                    }).then(function (response) {
                        me.cerrarModal();
                        me.listarFiniquitos();//listar por defecto  
                        me.registroExito();
                        })
                        .catch(function (error) {
                            console.log(error.response);
                        });
                }
            },

            eliminarFini(id){
                // if(this.validarServicio()){
                //     return;
                // }
                let me = this;
                axios.put(this.ruta +'/finiquitos/eliminar',{ //la ruta , los datos q recibimos  enviamos a registrar
                //campos de la bd : variabes de js
                    'id': id
                }).then(function (response) {
                    
                    me.listarFiniquitos();//listar por defecto  
                    })
                    .catch(function (error) {
                        console.log(error.response);
                    });
            },

            abrirModal(modelo, accion, data = []){ //se encarga de abrir el modal y los diferentes casos Y estados
                switch(modelo){
                    case "finiquitos":
                    {
                        switch(accion){
                            case 'registrar':
                            {
                                this.tipoAccion = 1; //para mostrar el boton guardar
                                this.modal = 1;//debe mostar ventana modal
                                this.tituloModal = 'Registrar Finiquitos'
                                this.nombre = '';
                                this.descripcion = '';
                                
                                break;
                            }
                            case 'actualizar':
                            {
                                
                                this.tipoAccion = 2; //tipo de accion para actualizr es 2
                                this.tituloModal = "Actualizar Finiquitos"; //que se muetre este titulo
                                this.servi_id = data['id']; //tomo la clave primaria
                                this.nombre = data['nomb_servi']; //enlazadas con el objeto nombre q viene en data
                                this.descripcion = data['descrip_servi']; //enlazadas con el objeto descripcion q viene en data
                                this.modal = 1;
                                break;

                            }
                        }
                    }
                }
            },

            
            validarServicio(){
                this.errorServicio= 0; //inicializamos en 0
                this.errorMsjServicio = []; //a este array le anexaremos los msj d errores con el metodo push
                //evaluamos si nombre esta vacio agregamos este mensaje al array
               
               if(!this.nombre) this.errorMsjServicio.push("El nombre de la inpeccion de estado no puede estar vacio");
                //evaluamos si este array tiene al menos 1 elmento, cambiamos errortipotrabajo a 1
                if(this.errorMsjServicio.length) this.errorServicio = 1;
                
                //aqui retornamos el valor 1
                return this.errorServicio;

            },

            cerrarModal(){
                this.modal=0;
                this.tituloModal = '';
                this.nombre = '';
                this.descripcion = '';
                this.errorServicio= 0; 
                this.errorMsjServicio = [];
                
            },

            registroExito(){
                swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'Registro Exitoso',
                showConfirmButton: false,
                timer: 1200
                })
            }


        },
        

        mounted() {
            this.listarFiniquitos();
        }
    }
</script>

<style>
    .modal-content{
        border-radius: .3rem;
        width: 100% !important;
        position: absolute !important;
    }
    .modal-header{
        border-top-right-radius: .3rem;
        border-top-left-radius: .3rem;
        background-color: #3678A8;
        color: white;
        
    }

    .mostrar{ /* cuando mostrar es igual a 1*/
        display: list-item !important;
        opacity: 1 !important;
        background-color: #3c29297a !important;
        overflow-y: auto;
    }

    .card{
        border: 0;
        border-radius: .3rem;
        box-shadow: 0 0 1px rgba(0,0,0,.125),0 1px 3px rgba(0,0,0,0.38);
    }
    .card-header{
        border: 0;
        border-top-left-radius: .3rem;
        border-top-right-radius: .3rem;
    }
    .card-footer{
        border: 0;
        border-radius: .3rem;
    }

    .form-control,.btn{
        border-radius: 3px;
    }
        .form-control,.btn{
        border-radius: 3px;
    }
</style>
