<template>
    <main class="main">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item"><a href="#">Admin</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
            <li class="breadcrumb-item">Fecha: {{fecha_hoy = fechas }}</li>
        </ol>
        <div class="container-fluid">
            <spinner v-show="carga"></spinner>
            <!--Listado de Contratos -->
            <template v-if="listado == 0">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i>{{tituloModal}}
                        <button type="button" @click="abrirTemplate('gestion','registrar')" class="btn btn-primary"
                        data-toggle="tooltip" data-placement="bottom" title="Crear Nuevo Contrato de Trabajo">
                            <i class="icon-plus"></i>&nbsp;Nuevo
                        </button>
                    </div>
                    
                    <div class="card-body">
                        
                        <div class="table-responsive">
                            <table class="table cell-border hover order-column table-sm" id="myTable">
                                <thead>
                                    <tr>
                                        <th>N°</th>
                                        <th>Nombres  </th>
                                        <th>Rut</th>
                                        <th>Contrato</th>
                                        <th>Fecha Ini</th>
                                        <th>Fecha Fin</th>
                                        <th>Cargo</th>
                                        <th>Sueldo</th>
                                        <th width="40px">Estado</th>
                                        <th width="40px">Alertar</th>
                                        <th width="40px">Zona</th>
                                        <th width="60px">Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="contratos in arrayContratos" :key="contratos.id">
                                        <td v-text="contratos.num_contrato"></td>
                                        <td v-text="contratos.nombre_tra  +' '+  contratos.apellido_tra"> </td>
                                        <td v-text="contratos.rut"></td>
                                        <td v-text="contratos.tipo_contrato"></td>
                                        <td v-text="contratos.fecha_ini"></td>
                                        <td v-text="contratos.fecha_fin"></td>
                                        <td v-text="contratos.nombre_depa"></td>
                                        <td>{{formatPrice(contratos.remuneracion)}}</td>

                                        <td v-if="contratos.estado_trabajo == 1">
                                            <span class="badge badge-pill badge-success">Activo</span>
                                        </td>
                                        <td v-else>
                                            <span class="badge badge-pill badge-danger">Desactivado</span>
                                        </td>
                                        
                                        <td v-if="contratos.tipo_contrato == 'Plazo Fijo'" v-bind:style="vencidos==false?'color:red':'color:blue'"> {{comprobarMayoria(contratos.fecha_fin) }}</td>
                                        <td v-else> N/A</td>

                                        <td v-text="contratos.nombre_zona"></td>

                                        <td>
                                            <button type="button" class="btn btn-outline-success btn-sm" @click="abrirTemplate('gestion','actualizar', contratos)">
                                            <i class="fa fa-pencil"></i>
                                            </button>

                                            <button type="button" class="btn btn-outline-info btn-sm" @click="verContratos(contratos.id)">
                                            <i class="fa fa-eye"></i>
                                            </button>

                                            <button v-if="contratos.estado_trabajo == 0 && contratos.tipo_contrato == 'Finiquito'" type="button" 
                                            class="btn btn-outline-danger btn-sm" @click="verFiniquito(contratos.id)">
                                            <i class="fa fa-eye"></i>
                                            </button>

                                            <button v-if="contratos.estado_trabajo == 1 && contratos.tipo_contrato != 'Indefinido'" type="button" class="btn btn-outline-primary btn-sm" @click="addContratos(contratos.num_contrato,contratos.id,contratos.trabajador_id)">
                                            <i class="fa fa-user-plus"></i>
                                            </button>

                                            <button v-if="contratos.estado_trabajo == 1" type="button" class="btn btn-outline-danger btn-sm" @click="finiquitoTra(contratos.num_contrato,contratos.id)">
                                            <i class="fa fa-user-times"></i>
                                            </button>
                                        </td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="card-footer">
                        <div class="text-center">
                            <div class="col-auto my-1">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            <!-- FinListado de Contratos -->

            <!-- Registrar Contrato -->
            <template v-if="listado == 1">
                <div class="card">
                    <div class="card-header" v-text="tituloModal">
                        <i class="fa fa-align-justify"></i> 
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form row">
                                <div class="col-md-6"><!--Cliente-->
                                    <div class="form-group" v-if="tipoAccion == 1">
                                        <label for="">Personal <span class="badge badge-pill badge-danger">(*)</span></label>
                                        <v-select
                                            :on-search="selectTrabaja" 
                                            label="nombre_tra"
                                            :options="arrayTraba"
                                            placeholder="Buscar Personal"
                                            :onChange="getDatosTraba" 
                                        >
                                        </v-select>
                                    </div>

                                    <div class="form-group" v-if="tipoAccion == 2">
                                        <label for="">Personal:</label>
                                        <h5 class="card-title mb-4"> <b>{{vernombre}}</b></h5>
                                    </div>
                                </div>
                                
                                <div class="form-group col-md-4">
                                    <label>Rut</label>
                                    <!-- <p>{{rut_tra}}</p> -->
                                    <input v-model="rut_tra" readonly class="form-control" placeholder="Rut">
                                </div>

                                <div class="form-group col-md-2">
                                    <label>Contrato:</label>
                                    <h6><b>N° {{num_contra}}</b></h6>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label>Fecha Inicio <span>(*)</span></label>
                                    <input type="date" v-model="fecha_ini" class="form-control" placeholder="Fecha Inicio">
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Fecha Fin <span>(*)</span></label>
                                    <input type="date" v-model="fecha_fin" class="form-control" placeholder="Fecha Fin">
                                </div>

                                <div class="form-group col-md-3">
                                    <label>Fecha Ci. <span>(*)</span></label>
                                    <input type="date" v-model="fecha_ci" class="form-control" placeholder="Fecha Inicio">
                                </div>

                                <div class="form-group col-md-3">
                                    <label>Fecha Lic. <span>(*)</span></label>
                                    <input type="date" v-model="fecha_lic" class="form-control" placeholder="Fecha Inicio">
                                </div>
                            </div>

                            <div class="form-row">
                                <div v-if="tipoAccion==1" class="form-group col-md-3">
                                    <label for="inputState">Tipo de Contrato <span>(*)</span></label>
                                    <select v-model="tipocontra" @change="validarContratos()" class="form-control">
                                        <option value=''>Seleccionar...</option>
                                        <option value="Plazo Fijo" >Plazo Fijo</option>
                                        <!-- <option value="Indefinido" >Indefinido</option> -->
                                    </select>
                                </div>

                                <div class="form-group col-md-3">
                                    <label>Sueldo Base <span>(*)</span></label>
                                    <input v-model="sueldo" type="number" class="form-control" placeholder="Sueldo Base">
                                </div>

                                <div class="form-group col-md-3">
                                    <label>Banco <span>(*)</span></label>
                                    <select class="form-control" v-model="banco">
                                        <option value=0>Seleccionar...</option>
                                        <option v-for="banco in arrayBancos" :key="banco.id" :value="banco.id" v-text="banco.nom_banco">
                                        </option>                                    
                                    </select>
                                </div> 
                   
                                <div class="form-group col-md-3">
                                    <label>N° Cuenta <span>(*)</span></label>
                                    <input v-model="cuenta" type="text" class="form-control" placeholder="Cuenta">
                                </div>  
                            </div>

                            <div class="form-row">              
                                <div class="form-group col-md-4">
                                    <label for="inputState">Cargo <span>(*)</span></label>
                                    <select class="form-control" v-model="idcar">
                                        <option value=''>Seleccionar...</option>
                                        <option v-for="depa in arrayDepartamentos" :key="depa.id" :value="depa.id" v-text="depa.nombre_depa">
                                        </option>
                                    </select>
                                </div>    

                                <div class="form-group col-md-4">
                                    <label for="inputState">Empresa <span>(*)</span></label>
                                    <select class="form-control" v-model="idem">
                                        <option value=''>Seleccionar...</option>
                                        <option v-for="emp in arrayEmpresa" :key="emp.id" :value="emp.id" v-text="emp.nombre_em">
                                        </option>
                                    </select>
                                </div>
                                
                                <div class="form-group col-md-4">
                                    <label class="inputState">Zona <span>(*)</span></label>
                                    <select class="form-control" v-model="idzona">
                                        <option value="0">Seleccione una zona</option>
                                        <option v-for="zona in arrayZonas" :key="zona.id" :value="zona.id" v-text="zona.nombre_zona">
                                        </option>
                                    </select>
                                </div>
                                

                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label>Bonos</label>
                                    <input v-model="bonos" type="text"  class="form-control" placeholder="Insertar Bonos">
                                </div> 

                                <div class="form-group col-md-3">
                                    <label>Gratificacion</label>
                                    <input v-model="gratificacion" type="text"  class="form-control" placeholder="Insertar Gratificacion">
                                </div>    

                                <div class="form-group col-md-3">
                                    <label>Movilizacion</label>
                                    <input v-model="movilizacion" type="text"  class="form-control" placeholder="Insertar Movilizacion">
                                </div>

                                <div class="form-group col-md-3">
                                    <label>Colacion</label>
                                    <input v-model="colacion" type="text"  class="form-control" placeholder="Insertar Colacion">
                                </div> 

                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label>Jornada</label>
                                    <input v-model="jornada" type="text"  class="form-control" placeholder="Insertar Jornada">
                                </div>

                                <div class="form-group col-md-8">
                                    <label>Ubicacion de Archivos Personales</label>
                                    <input v-model="archivos" type="text"  class="form-control" placeholder="Insertar Archivos">
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="card-footer">
                        <div class="text-center">
                            <div class="col-auto my-1">
                                <button type="button" class="btn btn-light" @click="cerrarTemplate()"
                                data-toggle="tooltip" data-placement="bottom" title="Cancelar"><i class="icon-check"></i> Cancelar</button> 

                                <button type="button" class="btn btn-primary" v-if="tipoAccion==1 && valorContra==0" @click="registrarContra()"
                                data-toggle="tooltip" data-placement="bottom" title="Guardar Contrato"><i class="icon-check"></i> Registrar Contrato</button> 

                                <button type="button" class="btn btn-primary" v-if="tipoAccion==2 && estado_tra == 1" @click="actualizarContrato()"
                                data-toggle="tooltip" data-placement="bottom" title="Actualizar Contrato"><i class="icon-check"></i> Actualizar Contrato</button> 
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            <!-- Registrar Solicitud -->
        
        </div>
       
        <!--Inicio del modal agregar/actualizar-->
        <div v-if="modal == 1" class="modal fade" :class="{'mostrar': modal}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" v-text="tituloModal"></h5>
                        <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                        <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table"> 
                            <thead class="thead-dark">
                                <tr>
                                    <th>N°</th>
                                    <th>F. Inicio</th>
                                    <th>F. Fin</th>
                                    <th>Jornada</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="percontra in arrayPercontratos" :key="percontra.id">
                                    <td v-text="percontra.num_contrato"></td>
                                    <td v-text="percontra.fecha_ini"></td>
                                    <td v-text="percontra.fecha_fin"></td>
                                    <td v-text="percontra.tipo_contrato"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>                    

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @click="cerrarModal()"
                        data-toggle="tooltip" data-placement="bottom" title="Cerrar">Cerrar</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        <div v-if="modal == 2" class="modal fade" :class="{'mostrar': modal}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" v-text="tituloModal"></h5>
                        <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                        <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">


                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label class="control-label" for="email-input">Fecha Inicial</label>
                                    <input type="date" v-model="fecha_ini" class="form-control" rows="3" placeholder="Ingresar Fecha de N.">
                                </div>

                                <div class="form-group col-md-6">
                                    <label class="control-label" for="text-input">Fecha Final</label>
                                    <input type="date" v-model="fecha_fin" class="form-control" rows="3" placeholder="Ingresar Fecha de N."> 
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label class="control-label" for="inputState">Tipo de Contrato</label>
                                    <select v-model="tipocontra" @change="validarContratos2()" class="form-control">
                                        <option value=''>Seleccionar...</option>
                                        <option value="Plazo Fijo" >Plazo Fijo</option>
                                        <option value="Indefinido" >Indefinido</option>
                                    </select>
                                </div>

                                <div class="form-group col-md-6">
                                    <label class="control-label" for="text-input">Jornada</label>
                                    <input type="text" v-model="jornada" class="form-control" rows="3" placeholder="Ingresar Jornada.">
                                </div>
                            </div>

                            <!-- Bloue de los Errores -->
                            <div v-show="errorAne" class="align-self-center alert alert-danger text-center ml-2">
                                <div class="text-center">
                                    <div v-for="error in errorMsjAne" :key="error" v-text="error"></div>
                                </div>
                            </div>
                            
                        </form>
                    </div>                    

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @click="cerrarModal()"
                        data-toggle="tooltip" data-placement="bottom" title="Cerrar">Cerrar</button>

                        <button type="button"  v-if="tipoAccion== 1 && valorContra == 0" class="btn btn-primary" @click="registrarAnexo()"
                        data-toggle="tooltip" data-placement="bottom" title="Guardar Anexo">Guardar</button>
                        
                        <button type="button"  v-if="tipoAccion == '2'"  class="btn btn-primary" @click="actualizarTrabajador()"
                        data-toggle="tooltip" data-placement="bottom" title="Actualizar Anexo">Actualizar</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        <div v-if="modal == 3" class="modal fade" :class="{'mostrar': modal}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog  modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" v-text="tituloModal"></h5>
                        <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                        <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                            
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label class="control-label" for="text-input">Fecha del Finiquito</label>
                                    <input type="date" v-model="fecha_finiquito" class="form-control" placeholder="Fecha">
                                </div>

                                <div class="form-group col-md-6">
                                    <label class="control-label" for="text-input">Estado del Finiquito</label>
                                    <input type="text" v-model="estado_finiquito" class="form-control" placeholder="Estado Finiquito">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label class="control-label" for="email-input">Causal del Finiquito</label>
                                    <textarea v-model="causal" class="form-control" rows="3" placeholder="Descripcion del Causal"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- este bloque muestra los errrores, se muestra si errrorTipotrabajo=1 -->
                    <div v-show="errorFiniquito" class="align-self-center alert alert-danger text-center ml-2">
                        <div class="text-center">
                        <!-- recorremos todos loserrores denro del array y los mostramos con v-text -->
                        <div v-for="error in errorMsjFiniquito" :key="error" v-text="error"></div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @click="cerrarModal()"
                        data-toggle="tooltip" data-placement="bottom" title="Cerrar">Cerrar</button>

                        <button type="button"  v-if="tipoAccion== '1'" class="btn btn-primary" @click="registrarFiniquito()"
                        data-toggle="tooltip" data-placement="bottom" title="Guardar Finiquito">Guardar</button>

                        <button type="button"  v-if="tipoAccion == '2'"  class="btn btn-primary" @click="actualizarFiniquito()"
                        data-toggle="tooltip" data-placement="bottom" title="Actualizar Finiquito">Actualizar</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>  

        <!-- Aqui se veran lo detalles del finiquito -->
        <div v-if="modal == 4" class="modal fade" :class="{'mostrar': modal}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog  modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" v-text="tituloModal"></h5>
                        <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                        <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                            
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label class="control-label" for="text-input">Fecha del Finiquito</label>
                                    <input type="date" v-model="fecha_finiquito" class="form-control" placeholder="Fecha">
                                </div>

                                <div class="form-group col-md-6">
                                    <label class="control-label" for="text-input">Estado del Finiquito</label>
                                    <input type="text" v-model="estado_finiquito" class="form-control" placeholder="Estado Finiquito">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label class="control-label" for="email-input">Causal del Finiquito</label>
                                    <textarea v-model="causal" class="form-control" rows="3" placeholder="Descripcion del Causal"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @click="cerrarModal()">Cerrar</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        <!--Fin del modal-->
        
    </main>
</template>

<script>
    import moment from 'moment';
    import vSelect from 'vue-select';
    import datatables from 'datatables';
    export default {
        props : ['ruta'],
        data(){
            return{
                carga : true,
                arrayTrabajadores:[],
                arrayServicios:[],
                arrayAsignar:[],
                modal : 0,
                vencidos:false, //para camiar colores de alertas
                rut_tra:'',
                nom_tra:'',
                ape_tra:'',
                fecha_naci:'',
                afp_tra:'',
                salud_tra:'',
                telefono_tra:'',
                correo_tra:'',
                direccion_tra:'',
                vernombre:'',
                // Valores para el form de Contratos
                nom_ape:'',
                num_contra:0,
                fecha_fin:'',
                fecha_ini:'',
                fecha_ci:'',
                fecha_lic:'',
                idem:'',
                idcar:'',
                arrayDepartamentos:[],
                arrayEmpresa:[],
                arrayTraba:[],
                arrayContratos:[],
                arrayPercontratos:[],
                arrayZonas:[],
                arrayValicontratos:[],
                arrayBancos:[],
                
                tipocontra:'',
                sueldo:0,
                archivos:'',
                cuenta:'',
                idtra:'',
                idzona:0,
                movilizacion:0,
                colacion:0,
                gratificacion:0,
                banco:0,
                bonos:0,
                jornada:'',
                

                valorContra:0,
                //
                // Finiquitos
                fecha_finiquito:'',
                causal:'',
                estado_finiquito:'',
                estado_tra:'',
                // Modales
                tituloModal:'Lista de Contratos',
                tra_id:'',
                trabajador_id:'',
                tipoAccion:1,
                servicio:'',
                date:'',
                verfini:[],

                // Templates
                listado : 0,
                // Manejo de Errores
                errorAne: 0, //esta variable evaluara si hubo un error de campos vacio 1/0
                errorMsjAne: [], //array donde ire alamacenando lostipos de errores que tenga, inicializo vacio

                errorContrato: 0,
                errorMsjContrato:[],
                errorFiniquito:0,
                errorMsjFiniquito:[],
                // Manejo de Errores

                paginacion: {
                    'total' : 0,
                    'pagina_actual' : 0, // current_page
                    'pag_mostrar' : 0, //numero de registros por pagina per_page
                    'pag_alfinal' : 0, // last_page hasta ultima pagina
                    'pag_actual' : 0, //from desde la pagina donde me encuentro
                    'pag_ultima' : 0, //to hasta la pagina
                },
                offset:3,
                criterio: 'codigo_camion', 
                buscar : '' ,
                fecha_hoy:'', //fecha para la consulta
            }
            
        },
        components:{
            vSelect
        },
        computed:{
            fechas : function(){

                var hoy = new Date();
                var  dd = hoy.getDate();
                var  mm = hoy.getMonth()+1;
                var  yyyy = hoy.getFullYear();

                function addZero(i) {
                    if (i < 10) {
                        i = '0' + i;
                    }
                    return i;
                }

                mm=addZero(mm);
                dd=addZero(dd);

                return hoy = yyyy+'-'+mm+'-'+dd;
            },
            
        },

        watch: {
            cambiar_estilo : function () {

            }
        },  

        methods: {

            comprobarMayoria(fecha_fin){  
                    let mensaje = '';
                    let vencidos = false;
                    var hoy = new Date();
                    var  dd = hoy.getDate();
                    var  mm = hoy.getMonth()+1;
                    var  yyyy = hoy.getFullYear();
                    function addZero(i) {
                        if (i < 10) {
                            i = '0' + i;
                        }
                        return i;
                    }
                    mm=addZero(mm);
                    dd=addZero(dd);

                    var hoy = yyyy+'-'+mm+'-'+dd;
                    // return resultadoefectivo
                    var fechaInicio = new Date(hoy).getTime();
                    var fechaFin    = new Date(fecha_fin).getTime();

                    var diff = fechaFin - fechaInicio;

                    var valor = diff/(1000*60*60*24);
                    
                    if(valor == 0){
                        mensaje = "Vencido ";
                        vencidos = true;
                    }
                    else if ( valor <= 7 ){
                        mensaje = "Alerta";
                        vencidos = true;

                    }else{
                        mensaje = "Normal";
                        vencidos = false;
                    }

                    return mensaje;
                    return vencidos;
            },


            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', ',')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
            },
           
            // Funcionalidades
            mytable(){
                $(document).ready( function () {
                    $('#myTable').DataTable({
                        "destroy":true,
                        "language": {
                            "info": "_TOTAL_ registros",
                            "search": "Buscar:",
                            "paginate" : {
                                "next" : "Siguiente",
                                "previous" : "Anterior"
                            },
                            "lengthMenu": 'Mostrar <select>'+
                                        '<option value="10">10</option>'+
                                        '<option value="25">25</option>'+
                                        '<option value="50">50</option>'+
                                        '<option value="100">100</option>'+
                                        '<option value="-1">Todos</option>'+
                                        '</select> registros',
                            "loadingRecords": "Cargando...",
                            "processing": "Procesando...",
                            "emptyTable": "No hay datos...",
                            "zeroRecords": "No Hay Coincidencias",
                            "infoEmpty": "...",
                            "infoFiltered":"..."
                        },
                        "order": [[0, "desc"]]
                    })

                } );
            },

            generarCodig(){
                let me=this;
                var url =this.ruta +'/camiones/codigo'
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    if(respuesta.codigo == null){
                        me.codigo_cami = 1;
                    }else{
                        me.valor = respuesta.codigo["codigo_camion"];
                        me.codigo_cami = parseInt(me.valor);
                        me.codigo_cami ++;
                    }
                        
                    // this.valor = respuesta.codigo;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            listarEmpresa(){
                let me = this;
            
                var url =this.ruta +'/empresas'; 
                axios.get(url).then(function(response) {
                        var respuesta = response.data;
                        me.arrayEmpresa= respuesta.empresas;
                })
                .catch(function(error) {
                        // handle error
                        console.log(error);
                });
            },

            listarCargos(){
                let me = this;
            
                var url =this.ruta +'/departamentos'; 
                axios.get(url).then(function(response) {
                        var respuesta = response.data;
                        me.arrayDepartamentos= respuesta.departamentos;
                        
                })
                .catch(function(error) {
                        // handle error
                        console.log(error);
                });
            },
         
            actualizarContrato(){
                    let me = this;
                    axios.put(this.ruta +'/gestionp/actualizar',{ 
                        'empresa_id':this.idem,
                        'cargo':this.idcar,
                        'tipo_contra':this.tipocontra,
                        'cuenta':this.cuenta,
                        'gratificacion': this.gratificacion,
                        'movilizacion': this.movilizacion,
                        'idzona':this.idzona,
                        'colacion': this.colacion,
                        'archivos':this.archivos,
                        'bonos':this.bonos,
                        'banco':this.banco,
                        'remuneracion': this.sueldo,               
                        'fecha_i':this.fecha_ini,
                        'fecha_f':this.fecha_fin,
                        'fecha_ci':this.fecha_ci,
                        'fecha_lic':this.fecha_lic,
                        'jornada':this.jornada,
                        'id': this.tra_id

                    }).then(function (response) {
                        me.cerrarTemplate();
                        me.listarContratos();//listar por defecto  
                        })
                        .catch(function (error) {
                            console.log(error.response);
                        });
                // }
            },

            eliminarTrabajador(id){
                let me = this;
                axios.put(this.ruta +'/personal/eliminar',{ //la ruta , los datos q recibimos  enviamos a registrar
                //campos de la bd : variabes de js
                    'id': id
                }).then(function (response) {
                    
                    me.listarTrabajador(1, '', 'nombre');//listar por defecto  
                    })
                    .catch(function (error) {
                        console.log(error.response);
                    });
            },

            abrirTemplate(modelo, accion, data = []){ //se encarga de abrir el modal y los diferentes casos Y estadosx
                switch(modelo){
                    case "gestion":
                    {
                        switch(accion){
                            case 'registrar':
                            {
                                this.tipoAccion=1;
                                this.generarCodigContra();
                                this.tipoAccion = 1; //para mostrar el boton guardar
                                this.listado=1;//debe mostar ventana modal
                                this.tituloModal = 'Registrar Contratos'
                                this.nom_tra = '';
                                this.rut_tra = '';
                                this.fecha_ini = '';
                                this.fecha_fin = '';
                                this.tipo_contra = '';
                                this.sueldo = 0;
                                this.banco = 0;
                                this.cuenta = '';
                                this.idcar = '';
                                this.idem = '';
                                this.bonos = 0;
                                this.gratificacion = 0;
                                this.colacion = 0;
                                this.jornada = '';
                                this.archivos = '';
                                
                                break;
                            }
                            case 'actualizar':
                            {

                                this.tipoAccion = 2; //tipo de accion para actualizr es 2
                                this.tituloModal = "Actualizar Contratos"; //que se muetre este titulo
                                this.num_contra = data['num_contrato']; 
                                this.rut_tra = data['rut']; 
                                this.fecha_ini = data['fecha_ini']; 
                                this.fecha_fin = data['fecha_fin'];
                                this.fecha_ci = data['fecha_ci']; 
                                this.fecha_lic = data['fecha_lic'];    
                                this.sueldo = data['remuneracion'];  
                                this.banco = data['banco'];  
                                this.cuenta = data['cuenta'];  
                                this.idcar = data['departamento_id'];
                                this.idem = data['empresa_id'];
                                this.idzona = data['idzona'];
                                this.bonos = data['bonos'];
                                this.gratificacion = data['gratificacion'];
                                this.movilizacion = data['movilizacion'];
                                this.colacion = data['colacion'];
                                this.jornada = data['jornada'];
                                this.archivos = data['archivos'];
                                this.tra_id = data['id'];
                                this.tipocontra = data['tipo_contrato'];
                                this.estado_tra = data['estado_trabajo'];
                                this.vernombre = data['nombre_tra'] +" "+data['apellido_tra'];
                                this.listado = 1;
                               
                                break;

                            }
                        }
                    }
                }
            },

            //Contratos de Trabajaos //
            listarContratos(buscar){
                let me = this;
                

                var url =this.ruta +'/gestionp/contratos?buscar=' + buscar; 
                axios.get(url).then(function(response) {
                        var respuesta = response.data;
                        me.arrayContratos= respuesta.contratos;
                        me.arrayBancos= respuesta.bancos;
                        me.mytable();
                        me.carga = false;
                })
                .catch(function(error) {
                        // handle error
                        console.log(error);
                });
                    
            },

            generarCodigContra(){
                let me=this;
                var url =this.ruta +'/gestionp/codcontrato'
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    if(respuesta.codigo == null){
                        me.num_contra = 1;
                    }else{
                        me.valor = respuesta.codigo["num_contrato"];
                        me.num_contra = parseInt(me.valor);
                        me.num_contra ++;
                    }
                        
                    // this.valor = respuesta.codigo;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            selectTrabaja(search,loading){
                let me=this;
                loading(true);

                var url =this.ruta +'gestionp/selectTraba?filtro='+search;
                axios.get(url).then(function (response) {
                    let respuesta = response.data;
                    q:search
                    me.arrayTraba = respuesta.trabajadores; 
                    loading(false)

                })
                .catch(function (error) {
                        console.log(error);
                });
            },

            getDatosTraba(val1){
                let me = this;
                me.loading = true;
                me.idtra = val1.id;
                me.rut_tra = val1.rut;
            },


            registrarContra(){
                if(this.validarContrato()){
                    return;
                }else{

                swal.fire({
                    title: 'Esta Seguro de Realizar este Registro',
                    text: "¡Tendra un Nuevo Trabajador!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si, Registralo!'
                }).then((result) => {
                if (result.value) {

                    let me = this;
                    axios.post(this.ruta +'/gestionp/regcontrato',{ //la ruta , los datos q recibimos  enviamos a registrar
                    //campos de la bd : variabes de js
                        'num_contra':this.num_contra,
                        'rut':this.rut_tra,
                        'trabajador_id':this.idtra,
                        'empresa_id':this.idem,
                        'idzona':this.idzona,
                        'cargo':this.idcar,
                        'tipo_contra':this.tipocontra,
                        'cuenta':this.cuenta,
                        'gratificacion': this.gratificacion,
                        'movilizacion': this.movilizacion,
                        'colacion': this.colacion,
                        'archivos':this.archivos,
                        'bonos':this.bonos,
                        'banco':this.banco,
                        'remuneracion': this.sueldo,
                                    
                        'fecha_ci':this.fecha_ci,
                        'fecha_lic':this.fecha_lic,              
                        'fecha_i':this.fecha_ini,
                        'fecha_f':this.fecha_fin,
                        'jornada':this.jornada

                    }).then(function (response) {
                        me.cerrarTemplate();
                        $("#myTable").dataTable().fnDestroy();
                        me.listarContratos(1, '', 'nombre');
                        
                        })
                        .catch(function (error) {
                            console.log(error.response);
                        });


                        swal.fire(
                        'Registro Exitoso!',
                        'Contrato Registrado.',
                        'success'
                        )
                        }
                    })
                }
            },

            registrarAnexo(){
                let me = this;
                 if(this.validarAnexo()){
                    return;
                 }
                    axios.post(this.ruta +'/gestionp/anexar',{ //la ruta , los datos q recibimos  enviamos a registrar
                    //campos de la bd : variabes de js
                        'num_contrato': this.num_contra,
                        'jornada': this.jornada,
                        'fecha_ini': this.fecha_ini,
                        'fecha_fin': this.fecha_fin,
                        'tipo_contrato': this.tipocontra,
                        'trabajador_id':this.trabajador_id,
                        'id_traem':this.tra_id,
                        

                    }).then(function (response) {
                        me.cerrarModal();
                        $("#myTable").dataTable().fnDestroy();
                        me.listarContratos();//listar por defecto  
                        // me.registroExito();
                        })
                    .catch(function (error) {
                        console.log(error.response);
                    });
            },

            validarAnexo(){
                this.errorAne= 0; 
                this.errorMsjAne = [];
                if(!this.fecha_ini) this.errorMsjAne.push("La Fecha de Inicio no puede estar Vacia"); 
                if(this.tipocontra == '') this.errorMsjAne.push("El Tipo de Contrato no puede estar Vacio"); 
                if(!this.jornada) this.errorMsjAne.push("La Jornada no puede estar Vacia");
                if(this.errorMsjAne.length) this.errorAne = 1;
                return this.errorAne;
            },

            registrarFiniquito(){
                // if(this.validarServicio()){
                //     return;
                // }else{
                    let me = this;
                    axios.post(this.ruta +'/finiquitos/registrar',{ //la ruta , los datos q recibimos  enviamos a registrar
                    //campos de la bd : variabes de js
                        'num_contrato': this.num_contra,
                        'fecha_finiquito': this.fecha_finiquito,
                        'causal': this.causal,
                        'id_traem':this.id_traem,
                        'estado_finiquito':this.estado_finiquito
                    }).then(function (response) {
                        me.cerrarModal();
                        $("#myTable").dataTable().fnDestroy();
                        me.listarContratos();//listar por defecto  
                        me.registroExito();
                        })
                        .catch(function (error) {
                            console.log(error.response);
                        });
                // }
            },
            //****Contratos****/ //
            verContratos(id){
                var me = this;
                var url =me.ruta +'gestionp/vercontratos?id=' + id;
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    me.arrayPercontratos = respuesta.contratos;  
                    
                })
                .catch(function (error) {
                    console.log(error);
                });
                me.modal = 1;
            },

            //****Finiquito****/ //
            verFiniquito(id){
                var me = this;
                me.tituloModal = 'Detalles del Finiquito';
                var url =me.ruta +'gestionp/verfiniquito?id=' + id;
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    me.verfini = respuesta;
                    me.fecha_finiquito = me.verfini[0].fecha_finiquito;
                    me.estado_finiquito = me.verfini[0].estadofiniquito;
                    me.causal = me.verfini[0].causal;
                    
                })
                .catch(function (error) {
                    console.log(error);
                });
                me.modal = 4;
            },

            addContratos(contra,idcontra,trabajador){
                let me = this;
                me.num_contra = contra;
                me.tra_id=idcontra; // este va para el campo id_traem
                me.trabajador_id = trabajador;
                me.modal = 2;
                me.tituloModal = "Agregar anexos de Contrato";
                
            },  

            validarContratos2(){
                let me=this;
                if(me.tipocontra == "Plazo Fijo" && me.fecha_ini != "" && me.fecha_fin != "" ){
                    var sw=0;
                    me.valorContra = 0;
                    var url =me.ruta +'gestionp/vercontratos2?id=' + me.tra_id + '&fecha1=' + me.fecha_ini + '&fecha2=' + me.fecha_fin;
                    axios.get(url).then(function (response) {
                        if(response.data == 1){
                            me.valorContra = response.data;
                            sw = true;
                            swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: '¡Ya Existe un Contrato en este rango de Fechas!',
                            footer: '!Por Favor Corregir e Intentar Nuevamente!'
                            })  
                            me.tipocontra='';
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                }
            },

            finiquitoTra(contrato, id){
                let me = this;
                me.num_contra = contrato; //tomar numero contrato
                me.id_traem = id; //para tomar el id del contrato
                me.modal = 3;
                me.tituloModal= "Registrar Finiquito";
            },
            
            validarContrato(){
                this.errorContrato= 0;
                this.errorMsjContrato = [];
                
               if(!this.rut_tra) this.errorMsjContrato.push("El Año no puede estar vacio");
               if(!this.fecha_ini) this.errorMsjContrato.push("La Marca no puede estar vacio");
               if(!this.fecha_fin) this.errorMsjContrato.push("Los Campos de Fechas no pueden estar vacios");
                //    if(!this.fecha_ci) this.errorMsjContrato.push("Los Campos de Fechas no pueden estar vacios");
                //    if(!this.fecha_lic) this.errorMsjContrato.push("Los Campos de Fechas no pueden estar vacios");

               if(!this.tipocontra) this.errorMsjContrato.push("El Tipo de Contrato no puede estar vacio");
               if(!this.sueldo) this.errorMsjContrato.push("El Sueldo Base no puede estar vacio");
               if(!this.banco) this.errorMsjContrato.push("El Banco no puede estar vacio");
               if(!this.cuenta) this.errorMsjContrato.push("La Cuenta no puede estar vacio");
               
               if(!this.idcar) this.errorMsjContrato.push("El Cargo no puede estar vacio");
               if(!this.idem) this.errorMsjContrato.push("El Campo empresa no puede estar vacio");
               if(!this.idzona) this.errorMsjContrato.push("El Campo zona no puede estar vacio");

            //    if(this.bonos == "") this.errorMsjContrato.push("El Campo bonos no puede estar vacio");
            //    if(this.gratificacion == "") this.errorMsjContrato.push("El Campo gratificacion no puede estar vacio");
            //    if(this.movilizacion == "") this.errorMsjContrato.push("El Campo movilizacion no puede estar vacio");
            //    if(this.colacion == "") this.errorMsjContrato.push("El Campo colacion no puede estar vacio");

               if(!this.jornada) this.errorMsjContrato.push("La Jornada no puede estar vacio");
               if(!this.archivos) this.errorMsjContrato.push("Los Documentos no pueden estar vacios");

                if(this.errorMsjContrato.length > 0){
                    swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Existen Campos Vacios!',
                    footer: '!Por Favor Corrija e Intente Nuevamente'
                    })
                    return this.errorContrato = 1;
                }
                
            },


            cerrarTemplate(){
               this.tipoAccion = 1; //para mostrar el boton guardar
                this.listado=0;//debe mostar ventana modal
                this.tituloModal = 'Lista de Contratos'
                this.nom_tra = '';
                this.rut_tra = '';
                this.fecha_ini = '';
                this.fecha_ci = '';
                this.fecha_lic = '';
                this.fecha_fin = '';
                this.sueldo = 0;
                this.banco = 0;
                this.idcar = '';
                this.idem = '';
                this.bonos = 0;
                this.idzona= 0;
                this.gratificacion = 0;
                this.movilizacion = 0;
                this.colacion = 0;
                this.jornada = '';
                this.archivos = '';
                this.tipo_contra = '';
                this.tipocontra='';
                this.loading = true;
                this.valorContra=0;
                $("#myTable").dataTable().fnDestroy();
                this.listarContratos();//listar por defecto 
            },

            cerrarModal(){
                let me = this;
                me.modal = 0;
                me.tipo_contra = '';
                me.jornada = '';
                me.fecha_ini = '';
                me.fecha_fin = '';

                me.fecha_finiquito = '';
                me.estado_finiquito = '';
                me.causal = '';

                me.arrayPercontratos = [];
                me.tituloModal = "Lista de Contratos";
                me.valorContra = 0;
                me.tra_id='';
                me.errorMsjAne = [];
                me.errorAne = 0;
                me.tipocontra = '';
            },

            registroExito(){
                swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'Trabajador Finiquitado',
                showConfirmButton: false,
                timer: 1500
                })
            },

            mensajeErrorRegistra(){
                Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Existen Campos Vacios!',
                footer: '!Por Favor Corrija e Intente Nuevamente'
                })
            },

            cancelarContrato(){
                this.listado = 0;
                
            },

            listarZonas(){
                let me=this;
                var url =this.ruta +'/zonas';
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    me.arrayZonas = respuesta.zonas;//porque asi esta en e controlador
                    
                })
                .catch(function (error) {
                        console.log(error);
                });
            },

            validarContratos(){
                var sw=0;
                let me=this;
                var url =me.ruta +'gestionp/vercontratos2?id=' + me.idtra + '&fecha1=' + me.fecha_ini + '&fecha2=' + me.fecha_fin;
                axios.get(url).then(function (response) {
                    if(response.data == 1){
                        me.valorContra = response.data;
                        sw = true;
                        swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: '¡Ya Existe un Contrato en este rango de Fechas!',
                        footer: '!Por Favor Corregir e Intentar Nuevamente!'
                        })  
                        me.tipocontra='';
                    }
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            

        },
        

        mounted() {
            this.buscar = this.fecha_hoy;
            this.listarContratos(this.buscar);
            this.listarEmpresa();
            this.listarCargos();
            this.listarZonas();
        }
    }
</script>

<style>
    .modal-content{
        border-radius: .3rem;
        width: 100% !important;
        position: absolute !important;
    }
    .modal-header{
        border-top-right-radius: .3rem;
        border-top-left-radius: .3rem;
        background-color: #3678A8;
        color: white;
    }
    
    .modal{
        overflow: auto !important;
    }
    .modal-largo {
        max-width: 1000px;
    }

    .mostrar{ /* cuando mostrar es igual a 1*/
        display: list-item !important;
        opacity: 1 !important;
        background-color: #3c29297a !important;
        /* overflow-y: auto !important; */
        border-radius: .3rem;
    }
    .modal-header{
        border-top-right-radius: .3rem;
        border-top-left-radius: .3rem;
    }


    .card{
        border: 0;
        border-radius: .3rem;
        box-shadow: 0 0 1px rgba(0,0,0,.125),0 1px 3px rgba(0,0,0,0.38);
    }
    .card-header{
        border: 0;
        border-top-left-radius: .3rem;
        border-top-right-radius: .3rem;
    }
    .card-footer{
        border: 0;
        border-radius: .3rem;
    }

    .form-control,.btn{
        border-radius: 3px;
    }
    
</style>
