<template>
    <main class="main">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item"><a href="#">Admin</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>

        <div class="container-fluid">
            <spinner v-show="loading"></spinner>
            <!-- Listado de Guias -->
            <template v-if="listado == 0">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> Guias de Despachos
                        <button type="button" @click="abrirTemplate('guias','registrar')" class="btn btn-primary"
                        data-toggle="tooltip" data-placement="bottom" title="Crear Nueva Guia de Despacho">
                            <i class="icon-plus"></i>&nbsp;Nuevo
                        </button>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table cell-border hover order-column table-sm" id="myTable">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Coord</th>
                                        <th>GUIA</th>
                                        <th>Fecha</th>
                                        <th>Hora</th>
                                        <th>Cliente</th>
                                        <th>Empresa</th>
                                        <!-- <th>Monto</th> -->
                                        <!-- <th>Iva</th> -->
                                        <th>Total</th>
                                        <th>Estado</th>
                                        <th>Zona</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr v-for="guia in ArrayGuias" :key="guia.id">
                                        <td v-text="guia.id"></td>
                                        <td v-text="guia.folio_cordi"></td>
                                        <td v-text="guia.folio_guia"></td>
                                        <td v-text="guia.fecha_guia"></td>
                                        <td v-text="guia.hora_guia"></td>
                                        <td v-text="guia.razon"></td>
                                        <td v-text="guia.nombre_em"></td>
                                        <!-- <td>{{formatPrice(guia.monto_guia)}}</td> -->
                                        <!-- <td>{{formatPrice(guia.iva_guia)}}</td> -->
                                        <td>{{formatPrice(guia.total_guia)}}</td>

                                        <td>
                                            <span v-if="guia.idestado == 7" class="badge badge-pill badge-danger">{{guia.nombre_es}}</span>
                                            <span v-if="guia.idestado > 7" class="badge badge-pill badge-success">{{guia.nombre_es}}</span>
                                        </td>
                                        <td v-text="guia.nombre_zona"></td>
                                        <td>
                                            <button type="button" class="btn btn-outline-primary btn-sm" @click="abrirTemplate('guias','verPdf', guia)"
                                            title="Ver Pdf">
                                            <i class="fa fa-file-text"></i>
                                            </button>

                                            <button type="button" class="btn btn-outline-success btn-sm" @click="abrirTemplate('guias','actualizar', guia)"
                                            title="Ver">
                                            <i class="fa fa-eye"></i>
                                            </button>

                                            <button v-if="guia.idestado == 8" type="button" class="btn btn-outline-success btn-sm" @click="abrirModal('pagar','registrar', guia)"
                                            title="Pagar">
                                            <i class="fa fa-money"></i>
                                            </button>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="footer">

                    </div>
                </div>
            </template>
            <!-- Fin Guias -->

            <!-- Registrar Guias -->
            <template v-if="listado == 1">
                <div class="card">
                    <div class="card-header" v-text="tituloModal">
                        <i class="fa fa-align-justify"></i>
                    </div>

                    <div class="card-body">
                        <form>
                            <div class="form-row">

                                <div class="col-md-6 form-group">
                                    <label>Cliente:</label>
                                    <h6><b>{{razon}}</b></h6>
                                </div>

                                <div class="form-group col-md-2 text-center">
                                    <label>Coordinacion</label>
                                    <h6><b>N° {{folio_cordi}}</b></h6>
                                </div>

                                <div class="form-group col-md-4">
                                    <label>Folio <strong> ( * )</strong></label>
                                    <input v-model="folio" class="form-control" placeholder="Insertar Num Guia">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Fecha de Emision <strong> ( * )</strong></label>
                                    <input v-model="fecha_guia" type="date" class="form-control" placeholder="Fecha">
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="">Hora <strong> ( * )</strong></label>
                                    <input v-model="hora_guia" type="time" class="form-control">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label>Observaciones de la Guia <strong> ( * )</strong></label>
                                    <textarea v-model="observa_guia" class="form-control" rows="3" placeholder="Observaciones del Presupuesto"></textarea>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <button type="button" class="form-control btn btn-outline-success" @click="listarSolicitudes2()"
                                    data-toggle="tooltip" data-placement="bottom" title="Coordinaciones"><i class="fa fa-search"></i>&nbsp;Coordinaciones</button>
                                </div>
                            </div>

                            <!-- Tabla 1 -->
                            <div class="my-2">
                                <p class="text-center alert-light">Servicios y Asignacion Coordinada</p>
                                <hr>
                            </div>
                            
                            <div class="form-group row">
                                <div class="table-responsive col-md-12">
                                    <table class="table table-bordered table-striped table-sm">
                                        <thead>
                                            <tr>
                                                <th>Opciones</th>
                                                <th>Servicios</th>
                                                <th class="numero">Cantidad</th>
                                                <th>Unidad Medida</th>
                                                <th class="numero">Valor Unitario</th>
                                                <th class="ancho">Valor Neto</th>
                                            </tr>
                                        </thead>
                                        <tbody v-if="arrayItem.length">

                                            <tr v-for="(detalle) in arrayItem" :key="detalle.id">
                                                <td></td>
                                                <td v-text="detalle.nomb_servi"></td>

                                                 <td>
                                                    {{detalle.cantidad}}
                                                </td>

                                                <td>
                                                    {{detalle.nombre_costo}}
                                                </td>

                                                <td>
                                                    {{formatPrice(detalle.valor_uni)}}
                                                </td>
                                                
                                                <td>
                                                    {{formatPrice(detalle.valor_neto)}}
                                                </td>
                                            </tr>
                                            <!-- Totales y Subtotales -->
                                            
                                                <tr style="background-color: #CEECF5;">
                                                    <td colspan="5" align="right"><strong>Total Monto:</strong></td>
                                                    <td colspan="5">$ {{formatPrice(totalMonto=calcularTotal)}}</td>
                                                    
                                                </tr>

                                                <!-- El Pago de la Orden -->
                                                <tr style="background-color: #CEECF5;">
                                                    <td colspan="5" align="right"><strong>Iva:</strong></td>      
                                                    <td colspan="5">$ {{formatPrice(totalIva=calcularTotalIva)}}</td>
                                                </tr>

                                                <tr style="background-color: #CEECF5;">
                                                    <td colspan="5" align="right"><strong>Total Neto:</strong></td>
                                                    <td colspan="5">$ {{formatPrice(totalNeto = calcularTotalCompleto)}}</td>
                                                </tr>
                                            
                                        </tbody>

                                        <tbody v-else>
                                            <tr>
                                                <td class="text-center alert-secondary" colspan="6">
                                                    No hay Items Agregados
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                            <!-- Fin Tabla 1 -->

                            <!-- Tabla 2 -->
                            <div class="my-2">
                                <p class="text-center alert-light">Servicios a Registrar en la Guia.</p>
                                <hr>
                            </div>

                            <div class="form-group row">
                                <div class="table-responsive col-md-12">
                                    <table class="table table-bordered table-striped table-sm">
                                        <thead>
                                            <tr>
                                                <th>Opciones</th>
                                                <th>Servicios</th>
                                                <th class="numero">Cantidad</th>
                                                <th>Unidad Medida</th>
                                                <th class="numero">Valor Unitario</th>
                                                <th class="ancho">Valor Neto</th>
                                            </tr>
                                        </thead>
                                        <tbody v-if="arrayItem2.length">
                                            <tr v-for="(detalle2,index) in arrayItem2" :key="detalle2.id">
                                                <td>
                                                    <button @click="eliminarItem2(index)" type="button" class="btn btn-danger btn-sm">
                                                        <i class="icon-close"></i>
                                                    </button>
                                                    <!-- <button @click="eliminarDetalle(detalle.idprenda)" type="button" class="btn btn-danger btn-sm">
                                                        <i class="icon-close"></i>
                                                    </button> -->
                                                </td>
                                                <td v-text="detalle2.nomb_servi"></td>

                                                 <td>
                                                    <input v-model.number="detalle2.cantidad" type="number" value="1" min="1" class="form-control">
                                                </td>

                                                <td class="text-center" v-text="detalle2.nombre_costo" :value="detalle2.forma_id">
                                                </td>

                                                <td>
                                                    <input v-model.number="detalle2.valor_uni" type="number" value="1" min="1" class="form-control">
                                                </td>
                                                
                                                <td>
                                                    $ {{ formatPrice(detalle2.cantidad * detalle2.valor_uni)}}
                                                </td>
                                            </tr>
                                            <!-- Totales y Subtotales -->
                                            <tr style="background-color: #CEECF5;">
                                                <td colspan="5" align="right"><strong>Total Monto:</strong></td>
                                                <td colspan="5">$ {{formatPrice(totalMonto=calcularTotal2)}}</td>
                                                
                                            </tr>

                                            <!-- El Pago de la Orden -->
                                            <tr style="background-color: #CEECF5;">
                                                <td colspan="5" align="right"><strong>Iva:</strong></td>      
                                                <td colspan="5">$ {{formatPrice(totalIva=calcularTotalIva2)}}</td>
                                            </tr>

                                            <tr style="background-color: #CEECF5;">
                                                <td colspan="5" align="right"><strong>Total Neto:</strong></td>
                                                <td colspan="5">$ {{formatPrice(totalNeto = calcularTotalCompleto2)}}</td>
                                            </tr>

                                        </tbody>

                                        <tbody v-else>
                                            <tr>
                                                <td class="text-center alert-secondary" colspan="6">
                                                    No hay Items Agregados
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                            <!-- Fin Tabla 2-->

                        </form>
                    </div>

                    <div class="card-footer">
                        <div class="text-center">
                            <div class="col-auto my-1">
                                <button type="button" class="btn btn-light" @click="cerrarTemplate()"
                                data-toggle="tooltip" data-placement="bottom" title="Cancelar"><i class="icon-check"></i> Cancelar</button> 
                                
                                <button type="button" class="btn btn-primary" v-if="tipoAccion==1" @click="registrarPresu()"
                                data-toggle="tooltip" data-placement="bottom" title="Registrar"><i class="icon-check"></i> Registrar Guia de Despacho</button> 
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            <!-- Fin Guias -->

            <!-- Ver y Editar Solicitud -->
            <template v-if="listado == 2">
                <div class="card">
                    <div class="card-header" v-text="tituloModal">
                        <i class="fa fa-align-justify"></i> 
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form row">
                                <div class="col-md-8"><!--Cliente-->
                                    <div class="form-group">
                                        <label for="">Cliente: <span class="badge badge-pill badge-danger">(*)</span></label>
                                        <!-- <input v-model="razon"  class="form-control" placeholder="Cliente"> -->
                                        <h4><b>{{razon}}</b></h4>
                                    </div>
                                </div>
                                

                                <div class="form-group col-md-4">
                                    <label>Numero Orden de Trabajo</label>
                                    <h4><b>N° {{folio}}</b></h4>
                                </div>
                            </div>

                            <div class="form row">
                                <div class="form-group col-md-6">
                                    <label>Fecha <span class="badge badge-pill badge-danger">(*)</span></label>
                                    <input v-model="fecha_guia" type="date" class="form-control" placeholder="Folio">
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="">Hora de Inicial<span class="badge badge-pill badge-danger">(*)</span></label>
                                    <input v-model="hora_guia" type="time" class="form-control">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label>Observacion Presupuesto <span class="badge badge-pill badge-danger">(*)</span></label>
                                    <textarea v-model="observa_guia" class="form-control" rows="3" placeholder="Oservaciones del Presupuesto"></textarea>
                                </div>
                            </div>

                            <!-- Tabla 1 -->
                            <div class="my-2">
                                <p class="text-center alert-light">Servicios en la Guia.</p>
                                <hr>
                            </div>
                            
                            <div class="form-group row">
                                <div class="table-responsive col-md-12">
                                    <table class="table table-bordered table-striped table-sm">
                                        <thead>
                                            <tr>
                                                <th>Opciones</th>
                                                <th>Servicios</th>
                                                <th class="numero">Cantidad</th>
                                                <th>Unidad Medida</th>
                                                <th class="numero">Valor Unitario</th>
                                                <th class="ancho">Valor Neto</th>
                                            </tr>
                                        </thead>
                                        <tbody v-if="arrayItem2.length">
                                            <tr v-for="(detalle2) in arrayItem2" :key="detalle2.id">
                                                <td>
                                                </td>
                                                <td v-text="detalle2.nomb_servi"></td>

                                                 <td v-text="detalle2.cantidad"></td>

                                                <td v-text="detalle2.nombre_costo" :value="detalle2.forma_id">
                                                </td>
                                                 
                                                <td>$ {{formatPrice(detalle2.valor_uni)}}</td>
                                                
                                                <td>
                                                    $ {{ formatPrice(detalle2.cantidad * detalle2.valor_uni)}}
                                                </td>
                                            </tr>
                                            <!-- Totales y Subtotales -->
                                            <tr style="background-color: #CEECF5;">
                                                <td colspan="5" align="right"><strong>Total Monto:</strong></td>
                                                <td colspan="5">$ {{formatPrice(totalMonto=calcularTotal2)}}</td>
                                                
                                            </tr>

                                            <!-- El Pago de la Orden -->
                                            <tr style="background-color: #CEECF5;">
                                                <td colspan="5" align="right"><strong>Iva:</strong></td>      
                                                <td colspan="5">$ {{formatPrice(totalIva=calcularTotalIva2)}}</td>
                                            </tr>

                                            <tr style="background-color: #CEECF5;">
                                                <td colspan="5" align="right"><strong>Total Neto:</strong></td>
                                                <td colspan="5">$ {{formatPrice(totalNeto = calcularTotalCompleto2)}}</td>
                                            </tr>

                                        </tbody>

                                        <tbody v-else>
                                            <tr>
                                                <td class="text-center alert-secondary" colspan="6">
                                                    No hay Items Agregados
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                            <!--  -->

                            <!-- Tabla 2 -->
                            <div class="my-2">
                                <p class="text-center alert-light">Servicios Asignados</p>
                                <hr>
                            </div>

                            <div class="form-group row">
                                <div class="table-responsive col-md-12">
                                    <table class="table table-bordered table-striped table-sm">
                                        <thead>
                                            <tr>
                                                <th>Opciones</th>
                                                <th>Servicios</th>
                                                <th class="numero">Cantidad</th>
                                                <th>Unidad Medida</th>
                                                <th class="numero">Valor Unitario</th>
                                                <th class="ancho">Valor Neto</th>
                                            </tr>
                                        </thead>
                                        <tbody v-if="arrayItem.length">
                                            <tr v-for="(detalle) in arrayItem" :key="detalle.id">
                                                <td>
                                                    
                                                </td>
                                                <td v-text="detalle.nomb_servi"></td>

                                                <td v-text="detalle.cantidad"></td>

                                                <td v-text="detalle.nombre_costo">
                                                </td>

                                                <td>
                                                    $ {{formatPrice(detalle.valor_uni)}}
                                                </td>
                                                
                                                <td>
                                                    $ {{ formatPrice(detalle.valor_neto)}}
                                                </td>
                                            </tr>
                                            <!-- Totales y Subtotales -->
                                            <tr style="background-color: #CEECF5;">
                                                <td colspan="5" align="right"><strong>Total Monto:</strong></td>
                                                 <td colspan="5">$ {{formatPrice(totalMonto=calcularTotal)}}</td>
                                                
                                            </tr>

                                            <!-- El Pago de la Orden -->
                                            <tr style="background-color: #CEECF5;">
                                                <td colspan="5" align="right"><strong>Iva:</strong></td>      
                                                <td colspan="5">$ {{formatPrice(totalIva=calcularTotalIva)}}</td>
                                            </tr>

                                            <tr style="background-color: #CEECF5;">
                                                <td colspan="5" align="right"><strong>Total Neto:</strong></td>
                                                <td colspan="5">$ {{formatPrice(totalNeto = calcularTotalCompleto)}}</td>
                                            </tr>

                                        </tbody>

                                        <tbody v-else>
                                            <tr>
                                                <td colspan="6">
                                                    No hay Prendas Agregadas
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                            <!--  -->
                        </form>
                    </div>

                    <div class="card-footer">
                        <div class="text-center">
                            <div class="col-auto my-1">
                                <button type="button" class="btn btn-light" @click="cerrarTemplate()"><i class="icon-check"></i> Cancelar</button> 
                                <button type="button" class="btn btn-primary" v-if="tipoAccion==1" @click="registrarPresu()"><i class="icon-check"></i> Registrar Solicitud</button> 
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            <!-- Ver y Editar Solicitud -->

            <!-- Ver Pdf de Solicitud -->
            <template v-if="listado == 3">
                <div class="card">
                    <div class="card-body">
                        
                        <div class="container-fluid d-flex justify-content-between">
                            <div class="col-lg-6 pl-0">
                                <p class="text-left mt-3"><b>EMPRESA:</b></p>
                                <p class="mb-0 mt-2 text-uppercase" style="font-size:22px"><b>{{nombre_empre}}</b></p>
                            </div>

                            <div class="col-lg-6">
                                <p class="text-right text-uppercase mt-3"><b>GUIA DE DESPACHO</b></p>
                                <h3 class="text-right my-2 "><b> N° {{folio}} </b></h3>
                                
                            </div>
                        </div>

                        <div class="container-fluid d-flex justify-content-between">

                            <div class="col-lg-9 pl-0">
                                <p class="mt-4 mb-2 text-uppercase"><b>{{razon}}</b></p>
                                <p class="mb-1 text-capitalize">Rut: {{rut}}</p>
                                <p class="text-capitalize mb-2">Telefono: {{tel_em}}</p>
                                <p class="mb-2 text-capitalize">Direccion Servicio: {{direccion_soli}}</p>
                            </div>

                            <div class="col-lg-3 pl-0">
                                <p class="mt-4 mb-2 text-uppercase text-right"><b>Contactos:</b></p>
                                <p class="text-right text-capitalize mb-1">Tlf: {{tel_contac}}</p>
                                <p class="text-right text-capitalize mb-1">Correo: {{correo_contac}}</p>
                                <br>
                            </div>

                        </div>

                        <div class="mt-3 container-fluid d-flex justify-content-center">
                            <div class="col-lg-12 px-0">
                                <p class="my-1 text-center text-uppercase"><b>Obervaciones:</b></p>
                                <p class="mb-1 text-capitalize">{{observa_guia}}</p>
                                <hr>
                            </div>
                        </div>

                        
                         <div class="mt-3 container-fluid d-flex justify-content-center">
                            <div class="col-lg-12 px-0">
                                <p class="my-1 text-center text-uppercase"><b>Descripcion detalla del Trabajo:</b></p>
                            </div>
                        </div>
                        <hr>
                            <div class="container-fluid mt-2 d-flex justify-content-center w-100">
                                <div class="table-responsive w-100">
                                    <table class="table">
                                        <thead>
                                            <tr class="bg-dark text-white">
                                                <th class="text-center">#</th>
                                                <th class="text-center">Servicios</th>
                                                <th class="text-center">Cantidad</th>
                                                <th class="text-center">Unidad</th>
                                                <th class="text-center">Valor Unitario</th>
                                                <th class="text-center">Valor Neto</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="text-justify text-uppercase" v-for="detalle in arrayItemServi" :key="detalle.id">
                                                <td class="text-center" v-text="detalle.servi_id"></td>
                                                <td class="text-center" v-text="detalle.nomb_servi"></td>
                                                <td class="text-center" v-text="detalle.cantidad"></td>
                                                <td class="text-center" v-text="detalle.nombre_costo"></td>
                                                <td class="text-center">$ {{formatPrice(detalle.valor_uni)}}</td>
                                                <td class="text-center">$ {{ formatPrice(detalle.valor_neto)}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>    
                            </div> 

                            <div v-for="monto in arrayItemOrden" :key="monto.id" class="container-fluid mt-2 w-100">
                                <p class="text-right mb-2"><b>Monto:</b> ${{ formatPrice(monto.monto_guia)}}</p>
                                <p class="text-right mb-2"><b>Iva:</b> ${{ formatPrice(monto.iva_guia)}}</p>
                                <h5 class="text-right mb-5"><b>Total:</b> ${{ formatPrice(monto.total_guia)}}</h5>
                            </div>                        

                        <hr>

                        <div class="container-fluid w-100">
                            <button class="btn btn-secondary float-left mt-4 ml-2" @click="cerrarTemplate()">
                                <i class="icon-close mr-1">
                                </i>
                                Cerrar
                            </button>
                        </div>

                        <div class="container-fluid w-100">
                            <button class="btn btn-primary float-right mt-4 ml-2" @click="pdfGuia()"><i class="icon-printer mr-1"></i>Imprimir</button>
                        </div>

                    </div>

                </div>
            </template>
            <!-- Ver Pdf de Solicitud -->
            
            <!-- Modal Coordinaciones -->
            <div v-if="modal==2" class="modal fade" :class="{'mostrar': modal}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-dark modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Lista de Coordinaciones</h4>
                            <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                            <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="div1">
                                <div class="table-responsive">
                                    <table class="table" id="myTable2"> 
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>Coordi.</th>
                                                <th>Tipo</th>
                                                <th>Razon</th>
                                                <th>F. Realizada</th>
                                                <th>Estado</th>
                                                <th>Opciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="solicitudes in arraySolicitudes2" :key="solicitudes.id">
                                                <td v-text="solicitudes.folio_cordi"></td>

                                                <td v-if="solicitudes.tipo == 1"><span class="badge badge-pill badge-primary text-white">Presupuesto</span></td>
                                                <td v-else><span class="badge badge-pill badge-primary text-white">Asignacion</span></td>
                                                
                                                <td v-text="solicitudes.razon"></td>
                                                <td v-text="solicitudes.fecha"></td>
                                                <td><span class="badge badge-pill badge-success">{{solicitudes.nombre_es}}</span></td>
                                                <td>
                                                    <button type="button" @click="agregarSolicitante(solicitudes)" class="btn btn-outline-success btn-sm">
                                                    <i class="icon-check"></i></button>

                                                    <button type="button" @click="verCordi(solicitudes.id)" class="btn btn-outline-success btn-sm">
                                                    <i class="icon-eye"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>                    
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" @click="cerrarModal()">Cerrar</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- Solicitudes -->


            <!-- Pagar -->
            <div v-if="modal==3" class="modal fade in" :class="{'mostrar': modal}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">{{tituloModal}} | N° {{folio}}</h5>
                            <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                            <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                
                                <div class="form-row">
                                    <div class="form-group col-md-6 mb-1">
                                        <label class="control-label">Cuenta Destino:</label>
                                        <v-select 
                                            :options="ArrayCuentas"
                                            placeholder="Seleccionar Cuenta"
                                            label="nombre_cuenta"
                                            :onChange="cargarDatos" 
                                        >           
                                        </v-select>
                                    </div>

                                    <div class="form-group col-md-6 mb-1">
                                        <label class="control-label">Empresa</label>
                                        <input type="text" v-model="nombre_em" class="form-control" placeholder="Empresa">
                                    </div>

                                </div>

                                <div class="form-row">

                                    <div class="form-group col-md-6 mb-1">
                                        <label class="control-label">Banco</label>
                                        <input type="text" v-model="nom_banco" class="form-control" placeholder="Banco">
                                    </div>

                                    <div class="form-group col-md-6 mb-1">
                                        <label class="control-label">Numero de Cuenta</label>
                                        <input type="text" v-model="num_cuenta" class="form-control" placeholder="Cuenta">
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputState">Forma de Pago <span>(*)</span></label>
                                        <select class="form-control" v-model="tipo_pago">
                                            <option value=0>Seleccionar...</option>
                                            <option value=1>Cheque</option>
                                            <option value=2>Efectivo</option>
                                            <option value=3>Transferencia</option>
                                        </select>
                                    </div>

                                    <!-- <div class="form-group col-md-6 mb-1">
                                        <label class="control-label">Monto</label>
                                        <input type="number" value="0" min="0" v-model="monto" class="form-control" placeholder="Ingresar Monto $">
                                    </div> -->

                                    <div class="form-group col-md-6">
                                        <label>Fecha<span>(*)</span></label>
                                        <input v-model="fecha_pago" type="date" class="form-control" placeholder="Fecha">
                                    </div>
                                </div>

                                <div v-show="errorPago" class="align-self-center alert alert-danger text-center ml-2">
                                    <div class="text-center">
                                        <div v-for="error in errorMsjPago" :key="error" v-text="error"></div>
                                    </div>
                                </div>

                                <div class="row" style="margin-bottom: 20px">
                                    <div class="col-md-6">
                                    </div>
                                    
                                    <div class="col-md-6" style="text-align: center;">
                                        <div class="row">
                                            <div class="col-md-6" style="padding:0">
                                                <hr>
                                                <h5>Total:</h5>
                                            </div>
                                            <div class="col-md-6" style="padding:0">
                                                <hr>
                                                <h5 id="total_final">${{monto}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>                    

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" @click="cerrarModal2()" 
                            data-toggle="tooltip" data-placement="bottom" title="Cerrar">Cerrar</button>

                            <button type="button"  v-if="tipoAccion== '1'" class="btn btn-primary" @click="registrarPago()"
                            data-toggle="tooltip" data-placement="bottom" title="Guardar">Registrar</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- Pagar -->
        </div>
    </main>
</template>

<script>
import datatables from 'datatables';
import vSelect from 'vue-select';
    export default {
        props : ['ruta'],
        data(){
            return{
                loading : true,
                // Manejo de Datos
                    listado : 0,
                    tituloModal: '',
                    folio: 0,
                    folio_cordi:'',
                    fecha_guia:'',
                    hora_guia:'',
                    observa_guia:'',
                    modal:0,

                    // Datos de la Cuenta Destino
                    banco:0,
                    num_cuenta:'',
                    nom_banco:'',
                    nombre_em:'',
                    monto:0,
                    tipo_pago:0,
                    fecha_pago:'',
                    idcuenta:'',
                    idguia:0,
                    id_asig:0,
                    // 

                    // Identifica tipo 1 presupuesto 0 asignacion
                    tipo:'',

                    razon:'',
                    rut:'',
                    correo_contac:'',
                    tel_em:'',
                    tel_contac:'',
                    // esta variables es igual a usar id_asig es l valor q maneja y usa
                    id_cordi:0,
                    id_pre:0,
                    id_empre:0,
                    id_em_cargo:0,
                    id_orden:0,
                    idclientempre:0,
                    idesoli:0,
                    clicontratos:'',
                    
                    // Valores de los totales
                    totalNeto:0,
                    totalIva:0,
                    totalMonto:0,
                    //

                //Array de Datos
                    ArrayCuentas: [],
                    ArrayGuias : [],
                    arrayItem : [],
                    arrayItem2 : [],
                    arraySolicitudes2 : [],
                    arrayItemServi : [],
                    arrayItemOrden : [],
                //

                // Manejo de Errores
                    errorCamion: 0,
                    errorMsjCamion:[],

                    errorPago:0,
                    errorMsjPago:[]
                //
            }
        },

        components:{
            vSelect
        },

        computed:{
            calcularTotal : function(){
                var resultado=0.0;
                for(var i=0; i<this.arrayItem.length;i++){
                    resultado=resultado+(this.arrayItem[i].valor_uni*this.arrayItem[i].cantidad)
                }
                return resultado
            },
            calcularTotalIva : function(){
                var resultado=0.0;
                var total = 0.0;
                for(var i=0; i<this.arrayItem.length;i++){
                    resultado=resultado+(this.arrayItem[i].valor_uni*this.arrayItem[i].cantidad)
                }
                total = (resultado * 19)/100;
                return total
            },

            calcularTotalCompleto : function(){
                var resultado=0.0;
                var resultadoiva=0.0;
                var total = 0.0;
                var totalcompleto=0.0;

                for(var i=0; i<this.arrayItem.length;i++){
                    resultado=resultado+(this.arrayItem[i].valor_uni*this.arrayItem[i].cantidad)
                }

                for(var i=0; i<this.arrayItem.length;i++){
                    resultadoiva=resultadoiva+(this.arrayItem[i].valor_uni*this.arrayItem[i].cantidad)
                }
                total = (resultadoiva * 19)/100;

                totalcompleto = total + resultado;
                return totalcompleto
            },
            // Estas son para array Item 2
            calcularTotal2 : function(){
                var resultado=0.0;
                for(var i=0; i<this.arrayItem2.length;i++){
                    resultado=resultado+(this.arrayItem2[i].valor_uni*this.arrayItem2[i].cantidad)
                }
                return resultado
            },

            calcularTotalIva2 : function(){
                var resultado=0.0;
                var total = 0.0;
                for(var i=0; i<this.arrayItem2.length;i++){
                    resultado=resultado+(this.arrayItem2[i].valor_uni*this.arrayItem2[i].cantidad)
                }
                total = (resultado * 19)/100;
                return total
            },

            calcularTotalCompleto2 : function(){
                var resultado=0.0;
                var resultadoiva=0.0;
                var total = 0.0;
                var totalcompleto=0.0;

                for(var i=0; i<this.arrayItem2.length;i++){
                    resultado=resultado+(this.arrayItem2[i].valor_uni*this.arrayItem2[i].cantidad)
                }

                for(var i=0; i<this.arrayItem2.length;i++){
                    resultadoiva=resultadoiva+(this.arrayItem2[i].valor_uni*this.arrayItem2[i].cantidad)
                }
                total = (resultadoiva * 19)/100;

                totalcompleto = total + resultado;
                return totalcompleto
            },
        },

        methods:{
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', ',')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
            },

            mytable(){
                $(document).ready( function () {
                    $('#myTable').DataTable({
                        "destroy":true,
                        "language": {
                            "info": "_TOTAL_ registros",
                            "search": "Buscar:",
                            "paginate" : {
                                "next" : "Siguiente",
                                "previous" : "Anterior"
                            },
                            "lengthMenu": 'Mostrar <select>'+
                                        '<option value="10">10</option>'+
                                        '<option value="25">25</option>'+
                                        '<option value="50">50</option>'+
                                        '<option value="100">100</option>'+
                                        '<option value="-1">Todos</option>'+
                                        '</select> registros',
                            "loadingRecords": "Cargando...",
                            "processing": "Procesando...",
                            "emptyTable": "No hay datos...",
                            "zeroRecords": "No Hay Coincidencias",
                            "infoEmpty": "...",
                            "infoFiltered":"..."
                        },
                      "order": [[0, "desc"]]  
                    })

                } );
            },

            // Tabla Coordinaciones
            mytable2(){
                $(document).ready( function () {
                    $('#myTable2').DataTable({
                        "destroy":true,
                        "language": {
                            "info": "_TOTAL_ registros",
                            "search": "Buscar:",
                            "paginate" : {
                                "next" : "Siguiente",
                                "previous" : "Anterior"
                            },
                            "lengthMenu": 'Mostrar <select>'+
                                        '<option value="10">10</option>'+
                                        '<option value="25">25</option>'+
                                        '<option value="50">50</option>'+
                                        '<option value="100">100</option>'+
                                        '<option value="-1">Todos</option>'+
                                        '</select> registros',
                            "loadingRecords": "Cargando...",
                            "processing": "Procesando...",
                            "emptyTable": "No hay datos...",
                            "zeroRecords": "No Hay Coincidencias",
                            "infoEmpty": "...",
                            "infoFiltered":"..."
                        },
                        "order": [[0, "desc"]]
                    })

                } );
            },

            listarGuias(){
                let me = this;
                var url =this.ruta +'/guias'; 
                axios.get(url)
                .then((response) => {
                        var respuesta = response.data;
                        me.ArrayGuias= respuesta.guias;
                        me.ArrayCuentas= respuesta.cuentas;
                        me.mytable();
                        me.loading = false;
                })
                .catch(function(error) {
                        // handle error
                        console.log(error);
                });
            },

            abrirTemplate(modelo, accion, data = []){ //se encarga de abrir el modal y los diferentes casos Y estados
                switch(modelo){
                    case "guias":
                    {
                        switch(accion){
                            case 'registrar':
                            {
                                this.tipoAccion = 1; //para mostrar el boton guardar
                                // this.modal = 1;//debe mostar ventana modal
                                this.listado=1;
                                this.tituloModal = 'Registrar Guia de Despacho'
                                this.razon='';
                                this.observacion = '';
                                this.direccion_soli = '';
                                this.fecha_soli = '';
                                break;
                            }

                            case 'actualizar':
                            {
                                let me = this;
                                this.tipoAccion = 2; //tipo de accion para actualizr es 2
                                this.tituloModal = "Ver Guia de Despacho"; //que se muetre este titulo
                                this.razon = data['razon']; 
                                this.id_orden = data['id'];
                                this.folio = data['folio_guia'];

                                this.id_pre = data['id_asig'];
                                this.fecha_guia = data['fecha_guia'];
                                this.hora_guia = data['hora_guia'];
                                
                                this.observa_guia = data['observa_guia'];
                                this.totalMonto = data['monto_guia'];
                                this.totalIva = data['iva_guia'];
                                this.totalNeto = data['total_guia'];
                                
                                //Obtener Detalles
                                var url =this.ruta +'/asignaciones/obtenerDetalles?id=' + this.id_pre;
                                axios.get(url).then(function (response) {
                                    var respuesta = response.data;
                                    me.arrayItem = respuesta.asignaciones; 
                                    
                                    
                                })
                                .catch(function (error) {
                                    console.log(error);
                                });

                                 //Obtener Detalles de La OT
                                var url =this.ruta +'/guias/obtenerDetalles?id=' + me.id_orden;
                                axios.get(url).then(function (response) {
                                    var respuesta = response.data;
                                    me.arrayItem2 = respuesta.guia_traba;  //Servicios
                                    // me.arrayItemOrden = respuesta.orden;  //Montos
                                    
                                })
                                .catch(function (error) {
                                    console.log(error);
                                });

                                this.listado = 2;
                                break;
                            }

                            case 'verPdf':
                            {
                                let me = this;
                                
                                me.listado= 3;
                                me.folio = data['folio_guia'];
                                me.razon = data['razon'];
                                me.rut = data['rut'];
                                me.tel_em = data['tel_em'];
                                me.correo_contac = data['correo_contac'];
                                me.tel_contac = data['tel_contac'];
                                me.direccion_soli = data['direccion_soli'];
                                me.id_orden = data['id'];
                                me.id_empre = data['id_empre'];
                                me.nombre_empre = data['nombre_em'];
                                me.observa_guia = data['observa_guia'];
                                me.totalMonto = data['monto_guia'];
                                me.totalIva = data['iva_guia'];
                                me.totalNeto = data['total_guia'];
                                


                                 //Obtener Detalles de La OT
                                var url =this.ruta +'/guias/obtenerDetalles?id=' + me.id_orden;
                                axios.get(url).then(function (response) {
                                    var respuesta = response.data;
                                    me.arrayItemServi = respuesta.guia_traba;  //Servicios
                                    me.arrayItemOrden = respuesta.guia;  //Montos
                                    
                                })
                                .catch(function (error) {
                                    console.log(error);
                                });

                                

                                this.listado = 3;
                                break;

                            }
                        }
                    }
                }
            },

            listarSolicitudes2(){
                let me = this;
                me.modal = 2;
                var url =this.ruta +'/coordinacion/ot2'; 
                axios.get(url).then(function(response) {
                        var respuesta = response.data;
                        me.arraySolicitudes2= respuesta.coordinaciones;
                        me.mytable2();
                })
                .catch(function(error) {
                        // handle error
                        console.log(error);
                });
                
            },
            
            // Para Pagar //
            abrirModal(modelo, accion, data = []){ //se encarga de abrir el modal y los diferentes casos Y estados
                switch(modelo){
                    case "pagar":
                    {
                        switch(accion){
                            case 'registrar':
                            {
                                let me = this;
                                this.tipoAccion = 1; //para mostrar el boton guardar
                                this.modal = 3;//debe mostar ventana modal
                                this.folio = data['folio_guia'];
                                this.monto = data['total_guia'];
                                this.idguia = data['id'];
                                this.idesoli = data['id_soli'],
                                this.id_asig = data['id_asig'];
                                this.id_cordi = data['id_coordi'];
                                this.tituloModal = 'Pagar Guia de Despacho';
                                this.id_orden = data['id'];
                                
                                //Obtener Detalles de La OT
                                var url =this.ruta +'/guias/obtenerDetalles?id=' + this.id_orden;
                                axios.get(url).then(function (response) {
                                    var respuesta = response.data;
                                    me.arrayItem2 = respuesta.guia_traba;  //Servicios
                                    // me.arrayItemOrden = respuesta.orden;  //Montos
                                    
                                })
                                .catch(function (error) {
                                    console.log(error);
                                });

                                break;
                            }
                            case 'actualizar':
                            {

                            }
                        }
                    }
                }
            },

            cerrarModal2(){
                this.modal = 0;
                this.num_cuenta = '';
                this.nom_banco = '';
                this.nombre_em = '';
                this.monto = 0;
                this.fecha_pago = '';
                this.idcuenta = '';
                this.idguia = 0;
                this.idesoli = 0;
                this.id_asig = 0;
                this.id_cordi = 0;
                this.arrayItem2 = [];
                this.arrayMsjPago = [];
                this.errorPago = 0;
                this.listarGuias();

            },

            cargarDatos(val1){
                let me = this;
                me.num_cuenta = val1.num_cuenta;
                me.nom_banco =val1.nom_banco;
                me.nombre_em =val1.nombre_em;
                me.idcuenta =val1.idcuenta;
            },

            registrarPago(){
                
                if(this.validarPago()){
                    return;
                }else{
                    swal.fire({
                        title: '¿Esta Seguro de Realizar este Pago?',
                        text: "¡Tendra un Nuevo Pago y Termina la Guia!",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, Registralo!'
                    }).then((result) => {
                            if (result.value) {

                            let me = this;
                            axios.post(this.ruta +'/cuentas/pagarGuia',{ //la ruta , los datos q recibimos  enviamos a registrar
                        //campos de la bd : variabes de js
                            'origen':"Guia",
                            'numero': this.folio, //folio
                            'fecha' : this.fecha_pago,
                            'cuenta': this.num_cuenta,
                            'ingresos': this.monto,
                            'idcuenta': this.idcuenta,
                            'idguia': this.idguia,
                            'tipo' : this.tipo_pago,
                            
                            'idesoli': this.idesoli,
                            'id_asig': this.id_asig,
                            'id_cordi': this.id_cordi,
                            'data': this.arrayItem2
                            
                            }).then(function (response) {
                            me.cerrarModal2();
                            swal.fire(
                            'Registro Exitoso!',
                            'El Pago de la Guia ha sido Ingresado.',
                            'success'
                            )
                            
                            })
                            .catch(function (error) {
                                console.log(error.response);
                            }); 
                        }
                    })
                }
            },

            agregarSolicitante(data = []){
                let me = this;
                me.razon = data['razon'];
                me.id_cordi = data['id'];
                me.idesoli = data['soli_id'];
                me.folio_cordi = data['folio_cordi'];

                me.idclientempre = data['idclientempre'];

                me.tipo = data['tipo'];
                me.clicontratos = data['clicontratos'];

                //Si Vino por presupuesto
                if(me.tipo == 1){
                    me.id_pre = data['pre_id'];
                    var url =this.ruta +'/presupuesto/obtenerDetalles?id=' + this.id_pre;
                    axios.get(url).then(function (response) {
                        var respuesta = response.data;
                        me.arrayItem = respuesta.presupuestos; 
                        me.id_empre = respuesta.empresa[0].id_empre; 
                        
                    })
                    .catch(function (error) {
                        console.log(error);
                    });

                    //Obtener Detalles
                    var url =this.ruta +'/presupuesto/obtenerDetalles?id=' + this.id_pre;
                    axios.get(url).then(function (response) {
                        var respuesta = response.data;
                        me.arrayItem2 = respuesta.presupuestos;  
                        
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                }else{
                    //Si Vino por Asignacion
                    me.id_pre = data['asig_id'];
                    var url =this.ruta +'/asignaciones/obtenerDetalles?id=' + this.id_pre;
                    axios.get(url).then(function (response) {
                        var respuesta = response.data;
                        me.arrayItem = respuesta.asignaciones; 
                        me.id_empre = respuesta.empresa[0].id_empre;
                        me.clicontratos = respuesta.empresa[0].clicontratos;  
                        
                    })
                    .catch(function (error) {
                        console.log(error);
                    });

                    //Obtener Detalles
                    var url =this.ruta +'/asignaciones/obtenerDetalles?id=' + this.id_pre;
                    axios.get(url).then(function (response) {
                        var respuesta = response.data;
                        me.arrayItem2 = respuesta.asignaciones;  
                        
                    })
                    .catch(function (error) {
                        console.log(error);
                    });

                }
                
            },

            validarCliente(){
                this.errorCamion= 0; //inicializamos en 0
                this.errorMsjCamion = []; //a este array le anexaremos los msj d errores con el metodo push
                
                if(!this.folio || this.folio == 0) this.errorMsjCamion.push("La Direccion no puede estar vacio");
                if(!this.idclientempre) this.errorMsjCamion.push("La Direccion no puede estar vacio");
                if(!this.observa_guia) this.errorMsjCamion.push("La Direccion no puede estar vacio");
                if(!this.fecha_guia) this.errorMsjCamion.push("Debe Selecionar una fecha");
                if(!this.hora_guia) this.errorMsjCamion.push("Debe Selecionar una fecha");
                if(this.arrayItem2 > 1) this.errorMsjCamion.push("Debe Selecionar una fecha");
                if(this.errorMsjCamion.length) this.errorCamion = 1;
                //aqui retornamos el valor 1

                if(this.errorMsjCamion.length > 0){
                    swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: '¡Existen Campos Vacios!',
                    footer: '!Por Favor Corrija e Intente Nuevamente!'
                    })
                    return this.errorCamion = 1;
                }

            },

            validarPago(){
                console.log("Si entra");
                this.errorPago = 0; //inicializamos en 0
                this.errorMsjPago = []; //a este array le anexaremos los msj d errores con el metodo push
                
                if(!this.folio || this.folio == 0) this.errorMsjPago.push("Debe seleccionar un Folio");
                if(!this.fecha_pago) this.errorMsjPago.push("Debe Selecionar una fecha");
                if(!this.num_cuenta) this.errorMsjPago.push("El Numero de Cuenta no puede estar vacio");
                if(!this.monto) this.errorMsjPago.push("Debe ingresar un monto");
                if(!this.idcuenta) this.errorMsjPago.push("Debe seleccionar una cuenta");
                if(!this.idguia) this.errorMsjPago.push("Debe seleccionar una guia");
                if(!this.tipo_pago) this.errorMsjPago.push("Debe seleccionar una forma de pago");
                if(!this.idesoli) this.errorMsjPago.push("Debe seleccionar una solicitud");
                if(!this.id_asig) this.errorMsjPago.push("Debe seleccionar una asignacion");
                if(!this.id_cordi) this.errorMsjPago.push("Debe seleccionar una coordinacion");
                if(this.arrayItem2.length == 0) this.errorMsjPago.push("Estan Vacios");

                if(this.errorMsjPago.length) this.errorPago = 1;
                //aqui retornamos el valor 1
                return this.errorPago;
            },

            verCordi(id){
                let me = this;
                window.open(this.ruta +'/Evento/details/' + id );    
            },

            registrarPresu(){
                    if(this.validarCliente()){
                    return;
                }else{
                    swal.fire({
                        title: '¿Esta Seguro de Realizar este Registro?',
                        text: "¡Tendra una Nueva Guia de Despacho!",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, Registralo!'
                    }).then((result) => {
                        if (result.value) {
                            
                        let me = this;
                        axios.post(this.ruta +'/guias/registrar',{ //la ruta , los datos q recibimos  enviamos a registrar
                        //campos de la bd : variabes de js
                            'folio_guia':this.folio,
                            'fecha_guia': this.fecha_guia,
                            'hora_guia': this.hora_guia,
                            'id_empre': this.id_empre,//empresa acargo
                            'id_cli': this.idclientempre, //cliente
                            'id_soli': this.idesoli,

                            'tipo': this.tipo,
                            // 'id_presu': this.id_pre,

                            'clicontratos':this.clicontratos,

                            'id_coordi' : this.id_cordi,    
                            'id_asig': this.id_pre,

                            'observa_guia' : this.observa_guia,

                            // 'id_contrato' : this.id_contrato,

                            'id_contrato' : this.clicontratos,

                            'monto_guia': this.totalMonto,
                            'iva_guia': this.totalIva,
                            'total_guia': this.totalNeto,
                            
                            'data':this.arrayItem2

                        }).then(function (response) {
                            me.cerrarTemplate();
                            $("#myTable").dataTable().fnDestroy();
                            me.listarGuias();//listar por defecto  
                            swal.fire(
                            'Registro Exitoso!',
                            'La Guia ha sido Registrada.',
                            'success'
                            )
                            
                            })
                            .catch(function (error) {
                                console.log(error.response);
                            });

                        }
                    })
                }
            },

            pdfGuia(){
                let me = this;
                window.open(this.ruta +'/guia/pdf/' + me.id_orden);
            },

            cerrarModal(){
                this.modal=0;
                this.arrayServicios=[];
                this.arraySolicitudes2=[];
                // this.arrayItem = [];
            },

            cerrarTemplate(){
                let me = this;
                me.listado=0;
                me.arrayItemOrden=[];
                me.arrayItemServi=[];

                me.arrayServicios=[];
                me.arrayItem=[];
                me.arrayItem2=[];
                me.arrayMonto=[];
                me.razon='';
                me.folio = '';
                me.folio_cordi = '';
                me.fecha_guia = '';
                me.totalIva= 0;
                me.totalMonto= 0;
                me.totalNeto= 0;
                me.observa_guia = '';
                me.idesoli= 0;

                me.id_pre=0;
                me.id_orden=0;

                me.tel_em = '';
                me.hora_guia = '';
                this.loading = true;
                $("#myTable").dataTable().fnDestroy();
                this.listarGuias();//listar por defecto 
                
            }

        },

        mounted(){
            this.listarGuias();
        }
    }
</script>

<style>
     .ancho{
        width: 19%;
    }
    .numero {
        width: 15%;
    }

    .modal-content{
        border-radius: .3rem;
        width: 100% !important;
        position: absolute !important;
    }
    .modal-header{
        border-top-right-radius: .3rem;
        border-top-left-radius: .3rem;
        background-color: #3678A8;
        color: white;
        
    }
    
    .modal{
        overflow: auto !important;
    }
    .modal-largo {
        max-width: 1000px;
    }

    .mostrar{ /* cuando mostrar es igual a 1*/
        display: list-item !important;
        opacity: 1 !important;
        background-color: #3c29297a !important;
        overflow-y: auto !important;
        border-radius: .3rem;
    }
    .modal-header{
        border-top-right-radius: .3rem;
        border-top-left-radius: .3rem;
    }


    .mostrar{ /* cuando mostrar es igual a 1*/
        display: list-item !important;
        opacity: 1 !important;
        background-color: #3c29297a !important;
        overflow-y: auto;
    }

    .card{
        border: 0;
        border-radius: .3rem;
        box-shadow: 0 0 1px rgba(0,0,0,.125),0 1px 3px rgba(0,0,0,.2);
    }
    .card-header{
        border: 0;
        border-top-left-radius: .3rem;
        border-top-right-radius: .3rem;
    }
    .card-footer{
        border: 0;
        border-radius: .3rem;
    }

    .form-control,.btn{
        border-radius: 3px;
    }

    #imagen{
        width: 230px;
        height: 75px;
    }
</style>