<template>
    <li class="nav-item d-md-down-none" data-toggle="tooltip" data-placement="bottom" title="Cedulas por Vencer">
        <a class="nav-link" href="#" data-toggle="dropdown">
            <i class="icon-bell"></i>
            <span class="badge badge-pill badge-danger">{{arrayCdlas.length + arrayLic.length}}</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" id="div1">
            <div class="dropdown-header text-center">
                <strong>Notificaciones</strong>
            </div>

            <!-- <div v-if="arrayNotifications.cdlas.length" > -->
                <!-- Recorremos las notificaciones -->
                <li v-for="item in arrayCdlas" :key="item.id">
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-envelope-o mr-0"></i>Cedulas:
                        <span style="font-size:80%" class="badge badge-success">{{item.nombre_tra}}</span>
                    </a>
                </li>

                <li v-for="item2 in arrayLic" :key="item2.id">
                    <a class="dropdown-item" href="#" data-toggle="tooltip" data-placement="bottom" title="Licencias por Vencer">
                        <i class="fa fa-tasks mr-0"></i> Licencias:
                        <span class="badge badge-danger">{{item2.nombre_tra}}</span>
                    </a>
                </li>
            <!-- </div> -->
            <!-- <div v-else=""> -->
                <!-- <a> <span>No tiene Notificaciones</span> </a> -->
            <!-- </div> -->
        </div>
        
    </li>
</template>
<script>
let user = document.head.querySelector('meta[name="user"]');
// console.log(user);
export default {
    props: ['notifications'],

    data (){
        return {
            arrayCdlas:[],
            arrayLic:[],
            usuario:'',
            arrayNotifications:[]
            
        }
    },
    computed:{
        user: function(){
                var usuario=0;
                usuario = JSON.parse(user.content).id_rol
                return usuario
            },

        // las computadas estan atentas si pasa algo para dar una respuesta
        listar : function(){
            var cedu = this.arrayNotifications.cdlas.length;
            return cedu;  
        }
    },

    methods: {
            lista() {
                let me = this;
                axios.get('/notification/get').then(function(response) {
                    me.arrayNotifications = response.data;
                    me.arrayCdlas = me.arrayNotifications.cdlas;
                    me.arrayLic = me.arrayNotifications.lic;
                }).catch(function(error) {
                    console.log(error);
                });
                // // Con esto tomo el id del usuario que esta usando el system
                // var userId = $('meta[name="userId"]').attr('content');

                // Echo.private('App.User.' + userId).notification((notification) => {
                //     // para que todo evento se agrege al inicio
                //     me.notifications.unshift(notification);
                // });
            }
    },

    mounted() {
        this.lista();
    }

    
    
}
</script>
<style>
#div1 {
    overflow: scroll;
    max-height: 1000px;
    max-width: 1500px;
    }

</style>
