<template>
    <main class="main">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item"><a href="#">Admin</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="container-fluid">
            <spinner v-show="loading"></spinner>
            <!-- Listados de Solicitudes -->
            <div class="card">
                <template v-if="listado == 0">    
                        <div class="card-header">
                            <i class="fa fa-align-justify"></i> Ordenes de Trabajo
                            <button type="button" @click="abrirModal('ordenes','registrar')" class="btn btn-primary"
                            data-toggle="tooltip" data-placement="bottom" title="Crear Orden de Trabajo">
                                <i class="icon-plus"></i>&nbsp;Nuevo
                            </button>
                        </div>
                        
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table cell-border hover order-column table-sm" id="myTable">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Coord</th>
                                            <th>OT</th>
                                            <th>Fecha</th>
                                            <th>Hora</th>
                                            <th>Cliente</th>
                                            <th>Empresa</th>
                                            <!-- <th>Monto</th> -->
                                            <!-- <th>Iva</th> -->
                                            <th>Total</th>
                                            <th>Estado</th>
                                            <th>Zona</th>
                                            <th>Opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="ordenes in arrayOrdenes" :key="ordenes.id">
                                            <td v-text="ordenes.id"></td>
                                            <td v-text="ordenes.folio_cordi"></td>
                                            <td v-text="ordenes.folio_ot"></td>
                                            <td v-text="ordenes.fecha_ot"></td>
                                            <td v-text="ordenes.hora_ot"></td>
                                            <td v-text="ordenes.razon"></td>
                                            <td v-text="ordenes.nombre_em"></td>
                                            <!-- <td>{{formatPrice(ordenes.monto_ot)}}</td> -->
                                            <!-- <td>{{formatPrice(ordenes.iva_ot)}}</td> -->
                                            <td>{{formatPrice(ordenes.total_ot)}}</td>
                                            <td><span class="badge badge-pill badge-success">{{ordenes.nombre_es}}</span></td>
                                            <td v-text="ordenes.nombre_zona"></td>
                                            <td>
                                                <button type="button" class="btn btn-outline-primary btn-sm" @click="abrirModal('ordenes','verPdf', ordenes)"
                                                title="Ver en Pdf">
                                                <i class="fa fa-file-text"></i>
                                                </button>

                                                <button type="button" class="btn btn-outline-success btn-sm" @click="abrirModal('ordenes','actualizar', ordenes)"
                                                title="Ver Detalles">
                                                <i class="fa fa-eye"></i>
                                                </button>

                                               <button v-if="ordenes.respuesta_ot == 8" type="button" class="btn btn-outline-success btn-sm"
                                                     title="Culminar y Facturar" @click="abrirModal('ordenes', 'pagar', ordenes)" >
                                                    <i class="fa fa-money"></i>
                                                </button>
                                            </td>
                                            
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    
                </template>
            <!-- Fin Solicitudes -->
            
                <!-- Registrar Orden -->
                <template v-if="listado == 1">
                        <div class="card-header" v-text="tituloModal">
                            <i class="fa fa-align-justify"></i> 
                        </div>

                        <div class="card-body">
                            
                                <div class="form-group row">
                                    <div class="form-group col-md-6"><!--Cliente-->
                                        <label for="">Cliente:</label>
                                        <h6><b>{{razon}}</b></h6>
                                    </div>
                                    <div class="form-group col-md-2 text-center">
                                        <label>Coordinacion</label>
                                        <h6><b>N° {{folio_cordi}}</b></h6>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Numero de OT <strong> ( * )</strong></label>
                                        <input v-model="folio" class="form-control" placeholder="Insertar Num Orden">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="form-group col-md-6">
                                        <label>Fecha de Emision <strong> ( * )</strong></label>
                                        <input v-model="fecha_ot" type="date" class="form-control" placeholder="Folio">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="">Hora <strong> ( * )</strong></label>
                                        <input v-model="hora_ot" type="time" class="form-control">
                                    </div>

                                </div>


                                <div class="form-group row">
                                    <div class="form-group col-md-12">
                                        <label>Observaciones de la OT <strong> ( * )</strong></label>
                                        <textarea v-model="observacion" class="form-control" rows="2" placeholder="Observaciones de la Orden"></textarea>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="form-group col-md-12">
                                        <button type="button" class="form-control btn btn-outline-success" @click="listarSolicitudes2()"><i class="fa fa-search"
                                        data-toggle="tooltip" data-placement="bottom" title="Lista de Coordinaciones"></i>&nbsp;Coordinaciones</button>
                                    </div>

                                </div>

                                <div class="my-2">
                                    <p class="text-center alert-light">Servicios Coordinados</p>
                                    <hr>
                                </div>
                                <!-- Tabla 1 -->
                                <div class="form-group row">
                                    <div class="table-responsive col-md-12">
                                        <table class="table table-bordered table-striped table-sm">
                                            <thead>
                                                <tr>
                                                    <th>Opciones</th>
                                                    <th>Servicios</th>
                                                    <th class="numero">Cantidad</th>
                                                    <th>Unidad Medida</th>
                                                    <th class="numero">Valor Unitario</th>
                                                    <th class="ancho">Valor Neto</th>
                                                </tr>
                                            </thead>
                                            <tbody v-if="arrayItem.length">

                                                <tr v-for="(detalle) in arrayItem" :key="detalle.id">
                                                    <td></td>
                                                    <td v-text="detalle.nomb_servi"></td>

                                                    <td>
                                                        {{detalle.cantidad}}
                                                    </td>

                                                    <td class="text-center">
                                                        {{detalle.nombre_costo}}
                                                    </td>

                                                    <td>
                                                        {{formatPrice(detalle.valor_uni)}}
                                                    </td>
                                                    
                                                    <td>
                                                        {{formatPrice(detalle.valor_neto)}}
                                                    </td>
                                                </tr>
                                                <!-- Totales y Subtotales -->
                                                
                                                    <tr style="background-color: #CEECF5;">
                                                        <td colspan="5" align="right"><strong>Total Monto:</strong></td>
                                                        <td colspan="5">$ {{formatPrice(totalMonto=calcularTotal)}}</td>
                                                        
                                                    </tr>

                                                    <!-- El Pago de la Orden -->
                                                    <tr style="background-color: #CEECF5;">
                                                        <td colspan="5" align="right"><strong>Iva:</strong></td>      
                                                        <td colspan="5">$ {{formatPrice(totalIva=calcularTotalIva)}}</td>
                                                    </tr>

                                                    <tr style="background-color: #CEECF5;">
                                                        <td colspan="5" align="right"><strong>Total Neto:</strong></td>
                                                        <td colspan="5">$ {{formatPrice(totalNeto = calcularTotalCompleto)}}</td>
                                                    </tr>
                                                
                                            </tbody>

                                            <tbody v-else>
                                                <tr>
                                                    <td class="text-center alert-secondary" colspan="6">
                                                        No hay Items Agregados
                                                    </td>
                                                </tr>
                                            </tbody>

                                        </table>
                                    </div>
                                </div>

                                <div class="my-2">
                                    <p class="text-center alert-light">Servicios a registrar en la OT.</p>
                                    <hr>
                                </div>

                                <!-- Tabla 2 -->
                                <div class="form-group row">
                                    <div class="table-responsive col-md-12">
                                        <table class="table table-bordered table-striped table-sm">
                                            <thead>
                                                <tr>
                                                    <th>Opciones</th>
                                                    <th>Servicios</th>
                                                    <th class="numero">Cantidad</th>
                                                    <th>Unidad Medida</th>
                                                    <th class="numero">Valor Unitario</th>
                                                    <th class="ancho">Valor Neto</th>
                                                </tr>
                                            </thead>
                                            <tbody v-if="arrayItem2.length">
                                                <tr v-for="(detalle2,index) in arrayItem2" :key="detalle2.id">
                                                    <td>
                                                        <button @click="eliminarItem2(index)" type="button" class="btn btn-danger btn-sm">
                                                            <i class="icon-close"></i>
                                                        </button>
                                                        <!-- <button @click="eliminarDetalle(detalle.idprenda)" type="button" class="btn btn-danger btn-sm">
                                                            <i class="icon-close"></i>
                                                        </button> -->
                                                    </td>
                                                    <td v-text="detalle2.nomb_servi"></td>

                                                    <td>
                                                        <input v-model.number="detalle2.cantidad" type="number" value="1" min="1" class="form-control">
                                                    </td>

                                                    <td class="text-center" v-text="detalle2.nombre_costo" :value="detalle2.forma_id">
                                                    </td>

                                                    <td>
                                                        <input v-model.number="detalle2.valor_uni" type="number" value="1" min="1" class="form-control">
                                                    </td>
                                                    
                                                    <td>
                                                        $ {{ formatPrice(detalle2.cantidad * detalle2.valor_uni)}}
                                                    </td>
                                                </tr>
                                                <!-- Totales y Subtotales -->
                                                <tr style="background-color: #CEECF5;">
                                                    <td colspan="5" align="right"><strong>Total Monto:</strong></td>
                                                    <td colspan="5">$ {{formatPrice(totalMonto=calcularTotal2)}}</td>
                                                    
                                                </tr>

                                                <!-- El Pago de la Orden -->
                                                <tr style="background-color: #CEECF5;">
                                                    <td colspan="5" align="right"><strong>Iva:</strong></td>      
                                                    <td colspan="5">$ {{formatPrice(totalIva=calcularTotalIva2)}}</td>
                                                </tr>

                                                <tr style="background-color: #CEECF5;">
                                                    <td colspan="5" align="right"><strong>Total Neto:</strong></td>
                                                    <td colspan="5">$ {{formatPrice(totalNeto = calcularTotalCompleto2)}}</td>
                                                </tr>

                                            </tbody>

                                            <tbody v-else>
                                                <tr>
                                                    <td class="text-center alert-secondary" colspan="6">
                                                        No hay Items Agregados
                                                    </td>
                                                </tr>
                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                            
                                <div class="text-center">
                                    <div class="col-auto my-1">
                                        <button type="button" class="btn btn-light" @click="cerrarTemplate()"
                                        data-toggle="tooltip" data-placement="bottom" title="Cerrar"><i class="icon-check"></i> Cancelar</button> 
                                        
                                        <button type="button" class="btn btn-primary" v-if="tipoAccion==1" @click="registrarPresu()"
                                        data-toggle="tooltip" data-placement="bottom" title="Registrar"><i class="icon-check"></i> Registrar OT</button> 
                                    </div>
                                </div>
                        </div>
                    
                </template>
                <!-- Registrar Orden -->

                <!-- Ver y Editar Solicitud -->
                <template v-if="listado == 2">
                    <!-- <div class="card"> -->
                        <div class="card-header" v-text="tituloModal">
                            <i class="fa fa-align-justify"></i> 
                        </div>
                        <div class="card-body">
                            
                                <div class="form-group row">
                                    <div class="col-md-8"><!--Cliente-->
                                        <div class="form-group">
                                            <label for="">Cliente: <span class="badge badge-pill badge-danger">(*)</span></label>
                                            <!-- <input v-model="razon"  class="form-control" placeholder="Cliente"> -->
                                            <h4><b>{{razon}}</b></h4>
                                        </div>
                                    </div>
                                    

                                    <div class="form-group col-md-4">
                                        <label>Numero Orden de Trabajo</label>
                                        <h4><b>N° {{folio}}</b></h4>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="form-group col-md-6">
                                        <label>Fecha <span class="badge badge-pill badge-danger">(*)</span></label>
                                        <input v-model="fecha_pre" type="date" class="form-control" placeholder="Folio">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="">Hora de Inicial<span class="badge badge-pill badge-danger">(*)</span></label>
                                        <input v-model="hora_ot" type="time" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="form-group col-md-12">
                                        <label>Observacion Presupuesto <span class="badge badge-pill badge-danger">(*)</span></label>
                                        <textarea v-model="observacion" class="form-control" rows="3" placeholder="Oservaciones del Presupuesto"></textarea>
                                    </div>
                                </div>

                                <!-- Tabla 1 -->
                                <div class="my-2">
                                    <p class="text-center alert-light">Servicios en la OT.</p>
                                    <hr>
                                </div>
                                
                                <div class="form-group row">
                                    <div class="table-responsive col-md-12">
                                        <table class="table table-bordered table-striped table-sm">
                                            <thead>
                                                <tr>
                                                    <th>Opciones</th>
                                                    <th>Servicios</th>
                                                    <th class="numero">Cantidad</th>
                                                    <th>Unidad Medida</th>
                                                    <th class="numero">Valor Unitario</th>
                                                    <th class="ancho">Valor Neto</th>
                                                </tr>
                                            </thead>
                                            <tbody v-if="arrayItem2.length">
                                                <tr v-for="(detalle2) in arrayItem2" :key="detalle2.id">
                                                    <td>
                                                    </td>
                                                    <td v-text="detalle2.nomb_servi"></td>

                                                    <td v-text="detalle2.cantidad"></td>

                                                    <td v-text="detalle2.nombre_costo" :value="detalle2.forma_id">
                                                    </td>
                                                    
                                                    <td>$ {{formatPrice(detalle2.valor_uni)}}</td>
                                                    
                                                    <td>
                                                        $ {{ formatPrice(detalle2.cantidad * detalle2.valor_uni)}}
                                                    </td>
                                                </tr>
                                                <!-- Totales y Subtotales -->
                                                <tr style="background-color: #CEECF5;">
                                                    <td colspan="5" align="right"><strong>Total Monto:</strong></td>
                                                    <td colspan="5">$ {{formatPrice(totalMonto=calcularTotal2)}}</td>
                                                    
                                                </tr>

                                                <!-- El Pago de la Orden -->
                                                <tr style="background-color: #CEECF5;">
                                                    <td colspan="5" align="right"><strong>Iva:</strong></td>      
                                                    <td colspan="5">$ {{formatPrice(totalIva=calcularTotalIva2)}}</td>
                                                </tr>

                                                <tr style="background-color: #CEECF5;">
                                                    <td colspan="5" align="right"><strong>Total Neto:</strong></td>
                                                    <td colspan="5">$ {{formatPrice(totalNeto = calcularTotalCompleto2)}}</td>
                                                </tr>

                                            </tbody>

                                            <tbody v-else>
                                                <tr>
                                                    <td class="text-center alert-secondary" colspan="6">
                                                        No hay Items Agregados
                                                    </td>
                                                </tr>
                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                                <!--  -->

                                <!-- Tabla 2 -->
                                <div class="my-2">
                                    <p class="text-center alert-light">Servicios Cotizados</p>
                                    <hr>
                                </div>

                                <div class="form-group row">
                                    <div class="table-responsive col-md-12">
                                        <table class="table table-bordered table-striped table-sm">
                                            <thead>
                                                <tr>
                                                    <th>Opciones</th>
                                                    <th>Servicios</th>
                                                    <th class="numero">Cantidad</th>
                                                    <th>Unidad Medida</th>
                                                    <th class="numero">Valor Unitario</th>
                                                    <th class="ancho">Valor Neto</th>
                                                </tr>
                                            </thead>
                                            <tbody v-if="arrayItem.length">
                                                <tr v-for="(detalle) in arrayItem" :key="detalle.id">
                                                    <td>
                                                        
                                                    </td>
                                                    <td v-text="detalle.nomb_servi"></td>

                                                    <td v-text="detalle.cantidad"></td>

                                                    <td v-text="detalle.nombre_costo">
                                                    </td>

                                                    <td>
                                                        $ {{formatPrice(detalle.valor_uni)}}
                                                    </td>
                                                    
                                                    <td>
                                                        $ {{ formatPrice(detalle.valor_neto)}}
                                                    </td>
                                                </tr>
                                                <!-- Totales y Subtotales -->
                                                <tr style="background-color: #CEECF5;">
                                                    <td colspan="5" align="right"><strong>Total Monto:</strong></td>
                                                    <td colspan="5">$ {{formatPrice(totalMonto=calcularTotal)}}</td>
                                                    
                                                </tr>

                                                <!-- El Pago de la Orden -->
                                                <tr style="background-color: #CEECF5;">
                                                    <td colspan="5" align="right"><strong>Iva:</strong></td>      
                                                    <td colspan="5">$ {{formatPrice(totalIva=calcularTotalIva)}}</td>
                                                </tr>

                                                <tr style="background-color: #CEECF5;">
                                                    <td colspan="5" align="right"><strong>Total Neto:</strong></td>
                                                    <td colspan="5">$ {{formatPrice(totalNeto = calcularTotalCompleto)}}</td>
                                                </tr>

                                            </tbody>

                                            <tbody v-else>
                                                <tr>
                                                    <td colspan="6">
                                                        No hay Prendas Agregadas
                                                    </td>
                                                </tr>
                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                                <!--  -->

                                
                                <div class="text-center my-1">
                                    <button type="button" class="btn btn-light" @click="cerrarTemplate()"><i class="icon-check"></i> Cancelar</button> 
                                    <button type="button" class="btn btn-primary" v-if="tipoAccion==1" @click="registrarPresu()"><i class="icon-check"></i> Registrar Solicitud</button> 
                                </div>
                                
                        </div>

                        <!-- <div class="card-footer"> -->
                            
                        <!-- </div> -->
                    <!-- </div> -->
                </template>
                <!-- Ver y Editar Solicitud -->

                <!-- Ver Pdf de Solicitud -->
                <template v-if="listado == 3">
                    <!-- <div class="card"> -->
                            <div class="card-body">
                            
                                <div class="container-fluid d-flex justify-content-between">
                                    <div class="col-lg-6 pl-0">
                                        <p class="text-left mt-3"><b>EMPRESA:</b></p>
                                        <p class="mb-0 mt-2 text-uppercase" style="font-size:22px"><b>{{nombre_empre}}</b></p>
                                    </div>

                                    <div class="col-lg-6">
                                        <p class="text-right text-uppercase mt-3"><b>ORDEN DE TRABAJO</b></p>
                                        <h3 class="text-right my-2 "><b> N° {{folio}} </b></h3>
                                        
                                    </div>
                                </div>

                                <div class="container-fluid d-flex flex-row">

                                    <div class="col-lg-9 pl-0">
                                        <p class="mt-2 text-uppercase"><b>Empresa Que Solicita El Trabajo:</b> {{razon}}</p>
                                        
                                        <p class="mb-1 text-capitalize">Rut: {{rut}}</p>
                                        <p class="text-capitalize mb-2">Telefono: {{tel_em}}</p>
                                        <!-- <p class="mb-2 text-capitalize">Direccion Servicio: {{direccion_soli}}</p> -->
                                    </div>

                                    <div class="col-lg-3 pl-0">
                                        <p class="mt-4 mb-2 text-uppercase text-right"><b>Contactos:</b></p>
                                        <p class="text-right text-capitalize mb-1">Tlf: {{tel_contac}}</p>
                                        <p class="text-right text-capitalize mb-1">Correo: {{correo_contac}}</p>
                                        <br>
                                    </div>

                                </div>

                                <div class="mt-3 container-fluid d-flex justify-content-start">
                                    <div class="col-lg-12 px-0">
                                        <p class="my-1 text-uppercase"><b>Direccion donde se Realiza la Faena:</b></p>
                                        
                                        <p class="mb-1 text-capitalize">{{direccion_soli}}</p>
                                    </div>
                                </div>

                                <div class="mt-3 container-fluid d-flex justify-content-center">
                                    <div class="col-lg-12 px-0">
                                        <p class="my-1 text-uppercase"><b>Obervaciones:</b></p>
                                        
                                        <p class="mb-1 text-capitalize">{{observacion}}</p>
                                    </div>
                                </div>

                                <hr>
                                
                                    <div class="container-fluid mt-2 d-flex justify-content-center w-100">
                                        <div class="table-responsive w-100">
                                            <table class="table">
                                                <thead>
                                                    <tr class="bg-dark text-white">
                                                        <th class="text-center">#</th>
                                                        <th class="text-center">Servicios</th>
                                                        <th class="text-center">Cantidad</th>
                                                        <th class="text-center">Unidad</th>
                                                        <th class="text-center">Valor Unitario</th>
                                                        <th class="text-center">Valor Neto</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="text-justify text-uppercase" v-for="detalle in arrayItemServi" :key="detalle.id">
                                                        <td class="text-center" v-text="detalle.servi_id"></td>
                                                        <td class="text-center" v-text="detalle.nomb_servi"></td>
                                                        <td class="text-center" v-text="detalle.cantidad"></td>
                                                        <td class="text-center" v-text="detalle.nombre_costo"></td>
                                                        <td class="text-center">$ {{formatPrice(detalle.valor_uni)}}</td>
                                                        <td class="text-center">$ {{ formatPrice(detalle.valor_neto)}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>    
                                    </div> 

                                    <div v-for="monto in arrayItemOrden" :key="monto.id" class="container-fluid mt-2 w-100">
                                        <p class="text-right mb-2"><b>Monto:</b> ${{ formatPrice(monto.monto_ot)}}</p>
                                        <p class="text-right mb-2"><b>Iva:</b> ${{ formatPrice(monto.iva_ot)}}</p>
                                        <h5 class="text-right mb-5"><b>Total:</b> ${{ formatPrice(monto.total_ot)}}</h5>
                                    </div>                        
                                    <br>
                                <hr>
                            </div>
                            <div class="card-footer">
                                <div class="container-fluid w-100">
                                    <button class="btn btn-secondary float-left mt-4 ml-2" @click="cerrarTemplate()">
                                        <i class="icon-close mr-1">
                                        </i>
                                        Cerrar
                                    </button>
                                </div>

                                <div class="container-fluid w-100">
                                    <button class="btn btn-primary float-right mt-4 ml-2" @click="pdfOrden()"><i class="icon-printer mr-1"></i>Imprimir</button>
                                </div>
                            </div>
                        
                        <!-- <div class="form-group row">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-secondary" @click="cerrarModal2()">Cerrar</button>
                            </div>
                        </div> -->
                    <!-- </div> -->
                </template>
                <!-- Ver Pdf de Solicitud -->
           </div> 
        </div>

        <!-- Modal y Servicios -->
        <div v-if="modal==1" class="mostrar modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dark modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Lista de Servicios</h4>
                        <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                        <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="div1">
                            <div class="table-responsive">
                                <table class="table" id="myTable3"> 
                                    <thead class="thead-dark">
                                        <tr>
                                            <th width="80px">ID</th>
                                            <th>Nombre</th>
                                            <th width="80px">Agregar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="servicios in arrayServicios" :key="servicios.id">
                                            <td v-text="servicios.id"></td>
                                            <td v-text="servicios.nomb_servi"></td>
                                            <td>
                                                <button type="button" @click="agregarDetalleModal(servicios)" class="btn btn-outline-success btn-sm">
                                                <i class="icon-check"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @click="cerrarModal()">Cerrar</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- Servicios -->

        <!-- Modal Coordinaciones -->
        <div v-if="modal==2" class="modal fade" :class="{'mostrar': modal}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dark modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Lista de Coordinaciones</h4>
                        <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                        <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="div1">
                            <div class="table-responsive">
                                <table class="table" id="myTable2"> 
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Coordi.</th>
                                            <th>Tipo</th>
                                            <th>Razon</th>
                                            <th>F. Realizada</th>
                                            <th>Estado</th>
                                            <th>Opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="solicitudes in arraySolicitudes2" :key="solicitudes.id">
                                            <td v-text="solicitudes.folio_cordi"></td>

                                            <td v-if="solicitudes.tipo == 1"><span class="badge badge-pill badge-primary text-white">Presupuesto</span></td>
                                            <td v-else><span class="badge badge-pill badge-primary text-white">Asignacion</span></td>
                                            
                                            <td v-text="solicitudes.razon"></td>
                                            <td v-text="solicitudes.fecha"></td>
                                            <td><span class="badge badge-pill badge-success">{{solicitudes.nombre_es}}</span></td>
                                            <td>
                                                <button type="button" @click="agregarSolicitante(solicitudes)" class="btn btn-outline-success btn-sm">
                                                <i class="icon-check"></i></button>

                                                <button type="button" @click="verCordi(solicitudes.id)" class="btn btn-outline-success btn-sm">
                                                <i class="icon-eye"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @click="cerrarModal()">Cerrar</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- Coordinaciones -->
        
        <!-- Ver Solicitud desde Formato -->
        <div v-if="modal2==3" class="modal fade" :class="{'mostrar': modal}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dark modal-largo" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Datos de la Solicitud</h4>
                        <button type="button" class="close" @click="cerrarModal2()" aria-label="Close">
                        <span aria-hidden="true">×</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="container-fluid d-flex">
                            <div class="col-lg-6 pl-0">
                                <p class="mb-0 mt-2 text-uppercase" style="font-size:22px"><b>{{razon}}</b></p>
                            </div>

                            <div class="col-lg-6">
                                <h3 class="text-right my-2">N° {{folio}}</h3>
                            </div>
                            
                        </div>

                        <div class="container-fluid d-flex justify-content-between">
                            <div class="col-lg-9 pl-0">
                                <p class="mt-5 mb-2 text-uppercase"><b>{{razon}}</b></p>
                                <p class="mb-1 text-capitalize">Rut: {{rut}}</p>
                                <p class="text-capitalize mb-2">Telefono: {{tel_em}}</p>
                                <p class="mb-2 text-capitalize">Direccion Servicio: {{direccion_soli}}</p>
                            </div>
                        
                            <div class="col-lg-3 pl-0">
                                <p class="mt-5 mb-2 text-uppercase text-right"><b>Contactos:</b></p>
                                <p class="text-right text-capitalize mb-1">Tlf: {{tel_contac}}</p>
                                <p class="text-right text-capitalize mb-1">Correo: {{tel_contac}}</p>
                                <br>
                            </div>    
                        </div>

                        <hr>

                        <div class="mt-4 container-fluid d-flex justify-content-center">
                            <div class="col-lg-12 px-0">
                                <p class="my-1 text-center text-uppercase bg-dark text-white py-2"><b>Obervaciones:</b></p>
                                <p class="mb-1 text-capitalize">{{observacion_soli}}</p>
                            </div>
                        </div>
                        
                        
                    </div>                    

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @click="cerrarModal2()">Cerrar</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- Formato -->

        <!-- Pagar -->
        <div v-if="modal==3" class="modal fade in" :class="{'mostrar': modal}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{tituloModal}} | N° {{folio}}</h5>
                        <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                        <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                            
                            <div class="form-row">
                                <div class="form-group col-md-6 mb-1">
                                    <label class="control-label">Cuenta Destino:</label>
                                    <v-select 
                                        :options="ArrayCuentas"
                                        placeholder="Seleccionar Cuenta"
                                        label="nombre_cuenta"
                                        :onChange="cargarDatos" 
                                    >           
                                    </v-select>
                                </div>

                                <div class="form-group col-md-6 mb-1">
                                    <label class="control-label">Empresa</label>
                                    <input type="text" v-model="nombre_em" class="form-control" placeholder="Empresa">
                                </div>

                            </div>

                            <div class="form-row">

                                <div class="form-group col-md-6 mb-1">
                                    <label class="control-label">Banco</label>
                                    <input type="text" v-model="nom_banco" class="form-control" placeholder="Banco">
                                </div>

                                <div class="form-group col-md-6 mb-1">
                                    <label class="control-label">Numero de Cuenta</label>
                                    <input type="text" v-model="num_cuenta" class="form-control" placeholder="Cuenta">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputState">Forma de Pago <span>(*)</span></label>
                                    <select class="form-control" v-model="tipo_pago">
                                        <option value=0>Seleccionar...</option>
                                        <option value=1>Cheque</option>
                                        <option value=2>Efectivo</option>
                                        <option value=3>Transferencia</option>
                                    </select>
                                </div>

                                <!-- <div class="form-group col-md-6 mb-1">
                                    <label class="control-label">Monto</label>
                                    <input type="number" value="0" min="0" v-model="monto" class="form-control" placeholder="Ingresar Monto $">
                                </div> -->

                                <div class="form-group col-md-6">
                                    <label>Fecha<span>(*)</span></label>
                                    <input v-model="fecha_pago" type="date" class="form-control" placeholder="Fecha">
                                </div>
                            </div>

                            <div v-show="errorPago" class="align-self-center alert alert-danger text-center ml-2">
                                <div class="text-center">
                                    <div v-for="error in errorMsjPago" :key="error" v-text="error"></div>
                                </div>
                            </div>

                            <div class="row" style="margin-bottom: 20px">
                                <div class="col-md-6">
                                </div>
                                
                                <div class="col-md-6" style="text-align: center;">
                                    <div class="row">
                                        <div class="col-md-6" style="padding:0">
                                            <hr>
                                            <h5>Total:</h5>
                                        </div>
                                        <div class="col-md-6" style="padding:0">
                                            <hr>
                                            <h5 id="total_final">${{monto}}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>                    

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @click="cerrarModalPago()" 
                        data-toggle="tooltip" data-placement="bottom" title="Cerrar">Cerrar</button>

                        <button type="button" class="btn btn-primary" @click="registrarPago()"
                        data-toggle="tooltip" data-placement="bottom" title="Guardar">Registrar</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- Pagar -->

       
    </main>
</template>

<script>
import datatables from 'datatables';
import vSelect from 'vue-select';
    export default {
        props : ['ruta'],
        data(){
            return{
                loading : true,
                arrayOrdenes:[],
                arrayServicios:[],
                arraySolicitudes2:[],                
                arrayItem:[],
                arrayMonto:[],
                arrayItem2:[],
                arrayEm:[],
                arrayCosto:[],

                ArrayCuentas: [],
                arrayItemOrden:[],
                arrayItemServi:[],
                arrayCordi : [],

                id_empre:0,

                // variable para toar el contrato en caso de tener
                clicontratos:0,

                id_em_cargo:0,
                id_preid:0,

                idesoli:0,
                id_pre:0,
                id_cordi:0,
                id_orden:0,
                
                // Pagar Datos de la Cuenta Destino
                banco:0,
                num_cuenta:'',
                nom_banco:'',
                nombre_em:'',
                monto:0,
                tipo_pago:0,
                fecha_pago:'',
                idcuenta:'',
                // 

                // Variable ve que tipo de trabajo presupuesto o asignacion
                tipo:'',
                // 
                // Variable solo para mostrar nombre de la empresa
                nombre_empre:'',

                idclientempre:0,
                observacion:'',
                descripcion:'',
                modal : 0,
                modal2:0,
                rut:'',
                razon:'',
                fecha_soli:'',
                correo_contac:'',
                folio_soli:'',
                direccion_em:'',
                tel_em:'',
                observacion_soli:'',
                valor:'',
                correo_contac:'',
                tel_contac:'',
                folio:'',
                folio_cordi:'',
                fecha_ot:'',
                hora_ot:'',
                valor:'',
                
                listado: 0,
                tituloModal:'',
                tra_id:'',
                tipoAccion:0,
                servicio:'',
                date:'',
                idcosto:0,
                textcosto:'',
                totalNeto:0,
                totalIva:0,
                totalMonto:0,

                // Manejo de Errores
                errorCamion: 0,
                errorMsjCamion:[],

                errorPago:0,
                errorMsjPago:[],
                // Manejo de Errores
            }
            
        },
        components:{
            vSelect
        },
        computed:{
            
            calcularTotal : function(){
                var resultado=0.0;
                for(var i=0; i<this.arrayItem.length;i++){
                    resultado=resultado+(this.arrayItem[i].valor_uni*this.arrayItem[i].cantidad)
                }
                return resultado
            },
            calcularTotalIva : function(){
                var resultado=0.0;
                var total = 0.0;
                for(var i=0; i<this.arrayItem.length;i++){
                    resultado=resultado+(this.arrayItem[i].valor_uni*this.arrayItem[i].cantidad)
                }
                total = (resultado * 19)/100;
                return total
            },

            calcularTotalCompleto : function(){
                var resultado=0.0;
                var resultadoiva=0.0;
                var total = 0.0;
                var totalcompleto=0.0;

                for(var i=0; i<this.arrayItem.length;i++){
                    resultado=resultado+(this.arrayItem[i].valor_uni*this.arrayItem[i].cantidad)
                }

                for(var i=0; i<this.arrayItem.length;i++){
                    resultadoiva=resultadoiva+(this.arrayItem[i].valor_uni*this.arrayItem[i].cantidad)
                }
                total = (resultadoiva * 19)/100;

                totalcompleto = total + resultado;
                return totalcompleto
            },

            // Estas son para array Item 2
            calcularTotal2 : function(){
                var resultado=0.0;
                for(var i=0; i<this.arrayItem2.length;i++){
                    resultado=resultado+(this.arrayItem2[i].valor_uni*this.arrayItem2[i].cantidad)
                }
                return resultado
            },
            calcularTotalIva2 : function(){
                var resultado=0.0;
                var total = 0.0;
                for(var i=0; i<this.arrayItem2.length;i++){
                    resultado=resultado+(this.arrayItem2[i].valor_uni*this.arrayItem2[i].cantidad)
                }
                total = (resultado * 19)/100;
                return total
            },

            calcularTotalCompleto2 : function(){
                var resultado=0.0;
                var resultadoiva=0.0;
                var total = 0.0;
                var totalcompleto=0.0;

                for(var i=0; i<this.arrayItem2.length;i++){
                    resultado=resultado+(this.arrayItem2[i].valor_uni*this.arrayItem2[i].cantidad)
                }

                for(var i=0; i<this.arrayItem2.length;i++){
                    resultadoiva=resultadoiva+(this.arrayItem2[i].valor_uni*this.arrayItem2[i].cantidad)
                }
                total = (resultadoiva * 19)/100;

                totalcompleto = total + resultado;
                return totalcompleto
            },

            
        },

        methods: {
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', ',')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
            },
           
            // Funcionalidades
            mytable(){
                $(document).ready( function () {
                    $('#myTable').DataTable({
                        "destroy":true,
                        "language": {
                            "info": "_TOTAL_ registros",
                            "search": "Buscar:",
                            "paginate" : {
                                "next" : "Siguiente",
                                "previous" : "Anterior"
                            },
                            "lengthMenu": 'Mostrar <select>'+
                                        '<option value="10">10</option>'+
                                        '<option value="25">25</option>'+
                                        '<option value="50">50</option>'+
                                        '<option value="100">100</option>'+
                                        '<option value="-1">Todos</option>'+
                                        '</select> registros',
                            "loadingRecords": "Cargando...",
                            "processing": "Procesando...",
                            "emptyTable": "No hay datos...",
                            "zeroRecords": "No Hay Coincidencias",
                            "infoEmpty": "...",
                            "infoFiltered":"..."
                        },
                        "order": [[0, "desc"]]
                    })

                } );
            },

            // Tabla Coordinaciones
            mytable2(){
                $(document).ready( function () {
                    $('#myTable2').DataTable({
                        "destroy":true,
                        "language": {
                            "info": "_TOTAL_ registros",
                            "search": "Buscar:",
                            "paginate" : {
                                "next" : "Siguiente",
                                "previous" : "Anterior"
                            },
                            "lengthMenu": 'Mostrar <select>'+
                                        '<option value="10">10</option>'+
                                        '<option value="25">25</option>'+
                                        '<option value="50">50</option>'+
                                        '<option value="100">100</option>'+
                                        '<option value="-1">Todos</option>'+
                                        '</select> registros',
                            "loadingRecords": "Cargando...",
                            "processing": "Procesando...",
                            "emptyTable": "No hay datos...",
                            "zeroRecords": "No Hay Coincidencias",
                            "infoEmpty": "...",
                            "infoFiltered":"..."
                        },
                        "order": [[0, "desc"]]
                    })

                } );
            },

            // Tabla Servicios
            mytable3(){
                $(document).ready( function () {
                    $('#myTable3').DataTable({
                        "destroy":true,
                        "language": {
                            "info": "_TOTAL_ registros",
                            "search": "Buscar:",
                            "paginate" : {
                                "next" : "Siguiente",
                                "previous" : "Anterior"
                            },
                            "lengthMenu": 'Mostrar <select>'+
                                        '<option value="10">10</option>'+
                                        '<option value="25">25</option>'+
                                        '<option value="50">50</option>'+
                                        '<option value="100">100</option>'+
                                        '<option value="-1">Todos</option>'+
                                        '</select> registros',
                            "loadingRecords": "Cargando...",
                            "processing": "Procesando...",
                            "emptyTable": "No hay datos...",
                            "zeroRecords": "No Hay Coincidencias",
                            "infoEmpty": "...",
                            "infoFiltered":"..."
                        },
                        "order": [[0, "desc"]]
                    })

                } );
            },

            listarOrdenes(){
                let me = this;
                var url =this.ruta +'/ordenes'; 
                axios.get(url)
                .then((response) => {
                        var respuesta = response.data;
                        me.arrayOrdenes= respuesta.ordenes;
                        me.ArrayCuentas= respuesta.cuentas;
                        me.mytable();
                        me.loading = false;
                })
                .catch(function(error) {
                        // handle error
                        console.log(error);
                });
            },

            listarSolicitudes2(){
                let me = this;
                me.modal = 2;
                var url =this.ruta +'/coordinacion/ot'; 
                axios.get(url).then(function(response) {
                        var respuesta = response.data;
                        me.arraySolicitudes2= respuesta.coordinaciones;
                        me.mytable2();
                })
                .catch(function(error) {
                        // handle error
                        console.log(error);
                });
                
            },

            listarServicios(){
                let me = this;
                me.modal = 1;
                me.arrayServicios=[];
                var url =this.ruta +'/servicios'; 
                axios.get(url).then(function(response) {
                        var respuesta = response.data;
                        me.arrayServicios= respuesta.servicios;
                        $("#myTable3").dataTable().fnDestroy();
                        me.mytable3();
                        
                })
                .catch(function(error) {
                        // handle error
                        console.log(error);
                });

            },

            listarCostos(){
                let me = this;
                me.arrayCosto=[];
                var url =this.ruta +'/formasc'; 
                axios.get(url).then(function(response) {
                        var respuesta = response.data;
                        me.arrayCosto= respuesta.formac;
                })
                .catch(function(error) {
                        // handle error
                        console.log(error);
                });
            },

            agregarDetalleModal(data = []){
                let me=this;

                if(me.encuentra(data['id'])){
                        swal.fire({
                            icon:'error',
                            type: 'error',
                            title: 'Error...',
                            text: 'Este Servicio ya se encuentra agregado!',
                            })

                    }else{
                        me.arrayItem2.push({
                        id : data['id'],
                        nomb_servi: data['nomb_servi'],
                        costos: this.arrayCosto,
                        precio:0,
                        cantidad: 0,
                        textcosto:'',
                        idcosto: 0
                        }); 
                    }
            },

            agregarSolicitante(data = []){
                let me = this;
                me.razon = data['razon'];
                me.id_cordi = data['id'];
                me.idesoli = data['soli_id'];
                me.folio_cordi = data['folio_cordi'];
                
                me.idclientempre = data['idclientempre'];
                
                // me.id_preid = data['pre_id'];
                me.tipo = data['tipo'];


                //Si Vino por presupuesto
                if(me.tipo == 1){
                    me.id_pre = data['pre_id'];
                    var url =this.ruta +'/presupuesto/obtenerDetalles?id=' + this.id_pre;
                    axios.get(url).then(function (response) {
                        var respuesta = response.data;
                        me.arrayItem = respuesta.presupuestos;  
                        me.id_empre = respuesta.empresa[0].id_empre;
                        
                    })
                    .catch(function (error) {
                        console.log(error);
                    });

                    //Obtener Detalles
                    var url =this.ruta +'/presupuesto/obtenerDetalles?id=' + this.id_pre;
                    axios.get(url).then(function (response) {
                        var respuesta = response.data;
                        me.arrayItem2 = respuesta.presupuestos;  
                        
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                    // 
                }else{
                    // Si Vino por Asignacion Aqui
                    //Obtener Detalles
                    me.id_pre = data['asig_id'];
                    var url =this.ruta +'/asignaciones/obtenerDetalles?id=' + this.id_pre;
                    axios.get(url).then(function (response) {
                        var respuesta = response.data;  
                        me.arrayItem = respuesta.asignaciones;
                        me.id_empre = respuesta.empresa[0].id_empre;        
                        me.clicontratos = respuesta.empresa[0].clicontratos;      
                        
                    })
                    .catch(function (error) {
                        console.log(error);
                    });

                    //Obtener Detalles
                    var url =this.ruta +'/asignaciones/obtenerDetalles?id=' + this.id_pre;
                    axios.get(url).then(function (response) {
                        var respuesta = response.data;
                        me.arrayItem2 = respuesta.asignaciones;  
                        
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                }
                // 

                
               
                
            },

            verSolicitud(data = []){
                let me = this;
                me.modal2=3;
                me.folio_soli = data['folio_soli'];
                me.razon = data['razon'];
                me.fecha_soli = data['fecha_soli'];
                me.rut = data['rut'];
                me.correo_contac = data['correo_contac'];
                me.tel_em = data['tel_em'];
                me.direccion_em = data['direccion_em'];
                me.tel_contac = data['tel_contac'];
                me.direccion_soli = data['direccion_soli'];
                me.observacion_soli = data['observacion'];
                

            },

            verCordi(id){
                let me = this;
                window.open(this.ruta +'/Evento/details/' + id );    
            },

            encuentra(id){ //FUNCION PARA ENCONTRAR DATOS REPETIDOS EN LA TABLA DETALLES
                var sw=0;
                for(var i=0; i<this.arrayItem.length; ++i){
                    if(this.arrayItem[i].id == id){
                        sw=true;
                    }
                }
                return sw;
            },

            cargarDatos(val1){
                let me = this;
                me.num_cuenta = val1.num_cuenta;
                me.nom_banco =val1.nom_banco;
                me.nombre_em =val1.nombre_em;
                me.idcuenta =val1.idcuenta;
            },

            registrarPresu(){
                    if(this.validarCliente()){
                    return;
                }else{
                    swal.fire({
                        title: '¿Esta Seguro de Realizar este Registro?',
                        text: "¡Tendra una Nueva Orden de Trabajo!",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, Registralo!'
                    }).then((result) => {
                        if (result.value) {
                            
                        let me = this;
                        axios.post(this.ruta +'/ordenes/registrar',{ //la ruta , los datos q recibimos  enviamos a registrar
                        //campos de la bd : variabes de js
                            'folio_ot':this.folio,
                            'fecha_ot': this.fecha_ot,
                            'hora_ot': this.hora_ot,
                            'id_empre': this.id_empre,//empresa acargo
                            'id_cli': this.idclientempre, //cliente
                            'id_soli': this.idesoli,

                            'tipo': this.tipo,
                            'id_presu': this.id_pre,

                            'clicontratos':this.clicontratos,

                            'id_coordi' : this.id_cordi,
                            'observac_ot' : this.observacion,
                            // 'descrip_ot' : this.descripcion,
                            'monto_ot': this.totalMonto,
                            'iva_ot': this.totalIva,
                            'total_ot': this.totalNeto,
                            'data':this.arrayItem2

                        }).then(function (response) {
                            me.cerrarTemplate();
                            $("#myTable").dataTable().fnDestroy();
                            me.listarOrdenes();//listar por defecto  
                            swal.fire(
                            'Registro Exitoso!',
                            'La Orden se ha sido Registrada.',
                            'success'
                            )
                            
                            })
                            .catch(function (error) {
                                console.log(error.response);
                            });
                        }
                    })
                }
            },

            cobrarSoli(id,soli,presu,cordi){
                let me = this;     
                axios.put(this.ruta +'/orden/cobrar',{ //la ruta , los datos q recibimos  enviamos a registrar
                    'id': id,
                    'soli': soli,
                    'presu': presu,
                    'cordi': cordi,
                }).then(function (response) {
                me.listarOrdenes();//listar por defecto  
                })
                .catch(function (error) {
                    console.log(error.response);
                });
            },

            registrarPago(){
                if(this.validarPago()){
                    return;
                }else{
                     swal.fire({
                        title: '¿Esta Seguro de Realizar este Pago?',
                        text: "¡Tendra un Nuevo Pago y Terminara la OT!",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, Registralo!'
                    }).then((result) => {
                        if (result.value) {

                            let me = this;
                            axios.post(this.ruta +'/cuentas/pagarOt',{ //la ruta , los datos q recibimos  enviamos a registrar
                            //campos de la bd : variabes de js
                                'origen':"OT",
                                'numero': this.folio, //folio
                                'fecha' : this.fecha_pago,
                                'cuenta': this.num_cuenta,
                                'ingresos': this.monto,
                                'idcuenta': this.idcuenta,

                                'tipo' : this.tipo_pago,
                                'id_orden': this.id_orden,
                                'idesoli': this.idesoli,
                                'id_pre': this.id_pre,
                                'id_cordi': this.id_cordi,
                                'data': this.arrayItemServi

                            }).then(function (response) {
                                me.cerrarModalPago();
                                swal.fire(
                                'Registro Exitoso!',
                                'El Pago ha sido Ingresado.',
                                'success'
                                )
                                
                            })
                            .catch(function (error) {
                                console.log(error.response);
                            }); 
                        }
                    })
                }
            },

            abrirModal(modelo, accion, data = []){ //se encarga de abrir el modal y los diferentes casos Y estados
                switch(modelo){
                    case "ordenes":
                    {
                        switch(accion){
                            case 'registrar':
                            {
                                $("#myTable").dataTable().fnDestroy();
                                this.tipoAccion = 1; //para mostrar el boton guardar
                                // this.modal = 1;//debe mostar ventana modal
                                this.listado=1;
                                this.tituloModal = 'Registrar Orden de Trabajo'
                                this.razon='';
                                this.observacion = '';
                                this.direccion_soli = '';
                                this.fecha_soli = '';
                                
                                break;
                            }
                            case 'actualizar':
                            {
                                let me = this;
                                this.tipoAccion = 2; //tipo de accion para actualizr es 2
                                this.tituloModal = "Ver Orden de Trabajo"; //que se muetre este titulo
                                this.razon = data['razon']; 
                                me.id_orden = data['id'];
                                this.id_pre = data['id_presu'];
                                this.fecha_pre = data['fecha_ot'];
                                this.hora_ot = data['hora_ot'];
                                this.folio = data['folio_ot'];
                                this.observacion = data['observac_ot'];
                                this.totalMonto = data['monto_ot'];
                                this.totalIva = data['iva_ot'];
                                this.totalNeto = data['total_ot'];
                                
                                //Obtener Detalles
                                var url =this.ruta +'/presupuesto/obtenerDetalles?id=' + this.id_pre;
                                axios.get(url).then(function (response) {
                                    var respuesta = response.data;
                                    me.arrayItem = respuesta.presupuestos; 
                                    
                                    
                                })
                                .catch(function (error) {
                                    console.log(error);
                                });
                                $("#myTable").dataTable().fnDestroy();
                                 //Obtener Detalles de La OT
                                var url =this.ruta +'/ordenes/obtenerDetalles?id=' + me.id_orden;
                                axios.get(url).then(function (response) {
                                    var respuesta = response.data;
                                    me.arrayItem2 = respuesta.tra_ordenes;  //Servicios
                                    // me.arrayItemOrden = respuesta.orden;  //Montos
                                    
                                })
                                .catch(function (error) {
                                    console.log(error);
                                });

                                this.listado = 2;
                                break;
                            }

                            case 'verPdf':
                            {
                                let me = this;
                                me.listado= 3;
                                me.folio = data['folio_ot'];
                                me.razon = data['razon'];
                                me.id_pre = data['id_presu'];
                                me.rut = data['rut'];
                                me.tel_em = data['tel_em'];
                                me.correo_contac = data['correo_contac'];
                                me.tel_contac = data['tel_contac'];
                                me.direccion_soli = data['direccion_soli'];
                                me.totalMonto = data['monto_ot'];
                                me.totalIva = data['iva_ot'];
                                me.totalNeto = data['total_ot'];
                                me.id_orden = data['id'];
                                me.id_empre = data['id_empre'];
                                me.nombre_empre = data['nombre_em'];
                                me.observacion = data['observac_ot'];
                                $("#myTable").dataTable().fnDestroy();
                                //Obtener Detalles de la Coordinacion
                                var url =this.ruta +'/presupuesto/obtenerDetalles?id=' + me.id_pre;
                                axios.get(url).then(function (response) {
                                    var respuesta = response.data;
                                    me.arrayItem = respuesta.presupuestos;  
                                    me.arrayMonto = respuesta.montospresu;
                                })
                                .catch(function (error) {
                                    console.log(error);
                                });

                                 //Obtener Detalles de La OT
                                var url =this.ruta +'/ordenes/obtenerDetalles?id=' + me.id_orden;
                                axios.get(url).then(function (response) {
                                    var respuesta = response.data;
                                    me.arrayItemServi = respuesta.tra_ordenes; //Servicios
                                    me.arrayItemOrden = respuesta.orden; //Montos
                                    
                                })
                                .catch(function (error) {
                                    console.log(error);
                                });

                                

                                this.listado = 3;
                                break;

                            }

                            case 'pagar':
                            {
                                let me = this;
                                me.modal = 3;
                                me.folio = data['folio_ot'];
                                me.tituloModal = 'Pagar Orden de Trabajo';
                                me.monto = data['total_ot'];
                                me.idesoli = data['id_soli'];
                                me.id_pre = data['id_presu'];
                                me.id_cordi = data['id_coordi'];
                                me.id_orden = data['id'];

                                //Obtener Detalles de La OT
                                var url =this.ruta +'/ordenes/obtenerDetalles?id=' + me.id_orden;
                                axios.get(url).then(function (response) {
                                    var respuesta = response.data;
                                    me.arrayItemServi = respuesta.tra_ordenes; //Servicios
                                    
                                })
                                .catch(function (error) {
                                    console.log(error);
                                });

                                break;
                            }
                        }
                    }
                }
            },
            
            validarCliente(){
                this.errorCamion= 0; //inicializamos en 0
                this.errorMsjCamion = []; //a este array le anexaremos los msj d errores con el metodo push
                
               if(!this.folio) this.errorMsjCamion.push("La Direccion no puede estar vacio");
               if(!this.razon) this.errorMsjCamion.push("La Direccion no puede estar vacio");
               if(!this.observacion) this.errorMsjCamion.push("La Direccion no puede estar vacio");
               if(!this.fecha_ot) this.errorMsjCamion.push("Debe Selecionar una fecha");
               if(!this.hora_ot) this.errorMsjCamion.push("Debe Selecionar una fecha");
               if(this.arrayItem2 > 1) this.errorMsjCamion.push("Debe Selecionar una fecha");
                if(this.errorMsjCamion.length) this.errorCamion = 1;
                //aqui retornamos el valor 1

                if(this.errorMsjCamion.length > 0){
                    swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: '¡Existen Campos Vacios!',
                    footer: '!Por Favor Corrija e Intente Nuevamente!'
                    })
                    return this.errorCamion = 1;
                }


            },

            validarPago(){
                this.errorPago = 0; //inicializamos en 0
                this.errorMsjPago = []; //a este array le anexaremos los msj d errores con el metodo push
                
                if(!this.folio || this.folio == 0) this.errorMsjPago.push("Debe seleccionar un Folio");
                if(!this.fecha_pago) this.errorMsjPago.push("Debe Selecionar una fecha");
                if(!this.num_cuenta) this.errorMsjPago.push("El Numero de Cuenta no puede estar vacio");
                if(!this.monto) this.errorMsjPago.push("Debe ingresar un monto");
                if(!this.idcuenta) this.errorMsjPago.push("Debe seleccionar una cuenta");
                if(!this.id_orden) this.errorMsjPago.push("Debe seleccionar una guia");
                if(!this.tipo_pago) this.errorMsjPago.push("Debe seleccionar una forma de pago");
                if(!this.idesoli) this.errorMsjPago.push("Debe seleccionar una solicitud");
                if(!this.id_cordi) this.errorMsjPago.push("Debe seleccionar una coordinacion");
                if(this.arrayItemServi.length == 0) this.errorMsjPago.push("Estan Vacios");

                if(this.errorMsjPago.length) this.errorPago = 1;
                //aqui retornamos el valor 1
                return this.errorPago;
            },

            cerrarModal(){
                this.modal=0;
                this.arrayServicios=[];
                this.arraySolicitudes2=[];
                // this.arrayItem = [];
                
            },

            cerrarModal2(){
                let me= this;
                me.modal2=0;

            },

            cerrarModalPago(){
                let me = this;
                me.modal = 0;
                me.folio = '';
                me.fecha_pago = '';
                me.num_cuenta = '';
                me.monto = 0;
                me.idcuenta = '';
                me.id_orden=0;
                me.tipo_pago = 0;
                
                me.tituloModal = '';
                me.monto = '';
                me.idesoli = 0;
                me.id_cordi = 0;
                me.nom_banco = '';
                me.nombre_em = '';
                
                me.arrayItemServi = [];
                me.errorMsjPago = [];
                me.errorPago = 0;
                me.listarOrdenes();
            },

            cerrarTemplate(){
                this.listado=0;
                this.arrayServicios=[];
                this.arrayItem=[];
                this.arrayItem2=[];
                this.arrayItemOrden=[];
                this.arrayItemServi=[];
                this.arrayMonto=[];
                this.razon='';
                this.folio = '';
                this.folio_cordi = '';
                this.fecha_pre = '';
                this.totalIva= 0;
                this.totalMonto= 0;
                this.totalNeto= 0;
                this.observacion = '';
                this.fecha_pre='';
                this.idesoli= 0;
                this.tel_em = '';
                this.fecha_ot = '';
                this.hora_ot = '';
                this.observacion = ''; //esta es la variable para a direccion realizada el trabajo
                this.clicontratos = '';
                // nombre empresa
                this.nombre_empre = '';
                this.loading = true;
                $("#myTable").dataTable().fnDestroy();
                this.listarOrdenes();//listar por defecto 
                
            },

            registroExito(){
                swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'Registro Exitoso',
                showConfirmButton: false,
                timer: 1200
                })
            },

            pdfOrden(){
                let me = this;
                window.open(this.ruta +'/orden/pdf/' + me.id_orden);
            },

            eliminarItem(index){
                let me=this;
                me.arrayItem.splice(index,1);
            },

            eliminarItem2(index){
                let me=this;
                me.arrayItem2.splice(index,1);
            },

        },
        

        mounted() {
            this.listarOrdenes();
            this.listarCostos();
        }
    }
</script>

<style>
    .ancho{
        width: 19%;
    }
    .numero {
        width: 15%;
    }

    .modal-content{
        border-radius: .3rem;
        width: 100% !important;
        position: absolute !important;
    }
    .modal-header{
        border-top-right-radius: .3rem;
        border-top-left-radius: .3rem;
        background-color: #3678A8;
        color: white;
        
    }
    
    .modal{
        overflow: auto !important;
    }
    .modal-largo {
        max-width: 1000px;
    }

    .mostrar{ /* cuando mostrar es igual a 1*/
        display: list-item !important;
        opacity: 1 !important;
        background-color: #3c29297a !important;
        overflow-y: auto !important;
        border-radius: .3rem;
    }
    .modal-header{
        border-top-right-radius: .3rem;
        border-top-left-radius: .3rem;
    }


    .mostrar{ /* cuando mostrar es igual a 1*/
        display: list-item !important;
        opacity: 1 !important;
        background-color: #3c29297a !important;
        overflow-y: auto;
    }

    .card{
        border: 0;
        border-radius: .3rem;
        box-shadow: 0 0 1px rgba(0,0,0,.125),0 1px 3px rgba(0,0,0,0.38);
    }
    .card-header{
        border: 0;
        border-top-left-radius: .3rem;
        border-top-right-radius: .3rem;
    }
    .card-footer{
        border: 0;
        border-radius: .3rem;
    }

    .form-control,.btn{
        border-radius: 3px;
    }

    #imagen{
        width: 230px;
        height: 75px;
    }
    


</style>
