<template>
    <main class="main">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item"><a href="#">Admin</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="container-fluid">
            <spinner v-show="loading"></spinner>
            <!-- Listados de Contratos -->
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Cliente Particular
                    <button type="button" @click="abrirModal('clientes','registrar')" class="btn btn-primary"
                    data-toggle="tooltip" data-placement="bottom" title="Crear Nuevo Cliente">
                        <i class="icon-plus"></i>&nbsp;Nuevo
                    </button>
                </div>
                
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table cell-border hover order-column table-sm" id="myTable">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Direccion</th>
                                    <th>Telefono</th>
                                    <th>Correo</th>
                                    <th nowrap>Contrato</th>
                                    <th>Zona</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="clientes in arrayClientes" :key="clientes.id">
                                    <td v-text="clientes.id"> </td>
                                    <td v-text="clientes.razon"> </td>
                                    <td v-text="clientes.direccion_em"></td>
                                    <td v-text="clientes.tel_em"></td>
                                    <td v-text="clientes.correo_contac"></td>
                                    <td nowrap>
                                        <div v-if="clientes.contrato">
                                            <spa class="badge badge-pill badge-success">Contrato</spa>
                                        </div>

                                        <div v-else>
                                            <span class="badge badge-pill badge-primary">N/A</span>
                                        </div>
                                    </td>
                                    <td v-text="clientes.nombre_zona"></td>
                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-sm" @click="abrirModal('clientes','actualizar', clientes)"
                                        title="Editar"> <i class="fa fa-pencil"></i>
                                        </button>
                                        
                                        <button type="button" class="btn btn-outline-danger btn-sm" @click="eliminarCliente(clientes.id)"
                                        title="Eliminar"><i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                </div>

                <div class="card-footer">
                    <div class="text-center">
                        <div class="col-auto my-1">
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fin ejemplo de tabla Listado -->
        </div>

        <!-- Errores -->
        <!-- /Errores -->

        <!--Inicio del modal agregar/actualizar-->
        <div v-if="modal==1" class="modal fade in" :class="{'mostrar': modal}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" v-text="tituloModal"></h5>
                        <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                        <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                            <div class="form-group row">
                                <label class="col-lg-1 control-label" for="text-input">Nombres</label>
                                <div class="col-lg-10">
                                    <input type="text" v-model="nombre_clip" class="form-control" placeholder="Ingresar Nombres">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-1 control-label">Direccion</label>
                                <div class="col-lg-11">
                                    <input type="text" v-model="direccion_clip" class="form-control" placeholder="Ingresar Direccion">
                                </div>
                            </div>

                            <div class="form-group row">
                                 <label class="col-lg-1 control-label" for="email-input">Telefono</label>
                                <div class="col-lg-11">
                                    <input v-model="telefono_clip" class="form-control" rows="3" placeholder="Ingresar Telefono">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-1 control-label">Correo</label>
                                <div class="col-lg-11">
                                    <input v-model="correo_clip" class="form-control" rows="3" placeholder="Ingresar Correo Electronico">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-1 form-control-label">Zona</label>
                                <div class="col-lg-11">
                                    <select class="form-control" v-model="idzona">
                                            <option value="0">Seleccione una zona</option>
                                        <option v-for="zona in arrayZonas" :key="zona.id" :value="zona.id" v-text="zona.nombre_zona">
                                        </option>
                                    </select>
                                </div>
                            </div>

                        </form>
                    </div>                    
                    <!-- este bloque muestra los errrores, se muestra si errrorTipotrabajo=1 -->
                    <div v-show="errorCamion" class="align-self-center alert alert-danger text-center ml-2">
                        <div class="text-center">
                        <!-- recorremos todos loserrores denro del array y los mostramos con v-text -->
                        <div v-for="error in errorMsjCamion" :key="error" v-text="error"></div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @click="cerrarModal()" 
                        title="Cerrar">Cerrar
                        </button>

                        <button type="button"  v-if="tipoAccion== '1'" class="btn btn-primary" @click="registrarCliente()"
                        title="Guardar">Guardar
                        </button>

                        <button type="button"  v-if="tipoAccion == '2'"  class="btn btn-primary" @click="actualizarCliente()"
                        title="Actualizar">Actualizar
                        </button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!--Fin del modal-->
        
    </main>
</template>

<script>
import datatables from 'datatables';
import Parti from './Parti.vue'
    export default {
        props : ['ruta'],
        data(){
            return{
                loading : true,
                arrayTrabajadores:[],
                arrayClientes:[],
                arrayAsignar:[],
                arrayZona:[],
                modal : 0,

                idzona:0,
                nombre_clip:'',
                direccion_clip:'',
                telefono_clip:'',
                correo_clip:'',

                tituloModal:'',
                tra_id:'',
                tipoAccion:0,
                servicio:'',
                date:'',

                // Manejo de Errores
                errorCamion: 0,
                errorMsjCamion:[],
                // Manejo de Errores

                paginacion: {
                    'total' : 0,
                    'pagina_actual' : 0, // current_page
                    'pag_mostrar' : 0, //numero de registros por pagina per_page
                    'pag_alfinal' : 0, // last_page hasta ultima pagina
                    'pag_actual' : 0, //from desde la pagina donde me encuentro
                    'pag_ultima' : 0, //to hasta la pagina
                },
                offset:3,
                criterio: 'codigo_camion', 
                buscar : '' 
            }
            
        },
        components:{
        Parti
        },
        computed:{
            isActived: function(){
                return this.paginacion.pagina_actual;
            },
            //calcula los elementos de la paginacion
            pagesNumber :function(){
                if(!this.paginacion.pag_ultima){
                    return [];
                }

                var from = this.paginacion.pagina_actual - this.offset;
                if(from < 1 ){
                    from = 1;
                }

                var to = from + (this.offset * 2);
                if (to >= this.paginacion.pag_alfinal ){
                    to = this.paginacion.pag_alfinal;
                }

                var pagesArray = [];
                while (from <= to){
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;
            }
        },

        methods: {
            // Funcionalidades
            mytable(){
                $(document).ready( function () {
                    $('#myTable').DataTable({
                        "destroy":true,
                        "language": {
                            "info": "_TOTAL_ registros",
                            "search": "Buscar:",
                            "paginate" : {
                                "next" : "Siguiente",
                                "previous" : "Anterior"
                            },
                            "lengthMenu": 'Mostrar <select>'+
                                        '<option value="10">10</option>'+
                                        '<option value="25">25</option>'+
                                        '<option value="50">50</option>'+
                                        '<option value="100">100</option>'+
                                        '<option value="-1">Todos</option>'+
                                        '</select> registros',
                            "loadingRecords": "Cargando...",
                            "processing": "Procesando...",
                            "emptyTable": "No hay datos...",
                            "zeroRecords": "No Hay Coincidencias",
                            "infoEmpty": "...",
                            "infoFiltered":"..."
                        },
                        "order": [[0, "desc"]]
                        
                    })

                } );
            },
           

            listarCliente(){
                let me = this;
                var url =this.ruta +'/clienteparti'; 
                axios.get(url)
                .then((response) => {
                        var respuesta = response.data;
                        me.arrayClientes= respuesta.clientes;
                        me.mytable();
                        me.loading = false;
                })
                .catch(function(error) {
                        // handle error
                        console.log(error);
                });
            },

            registrarCliente(){
                     if(this.validarCliente()){
                    return;
                }else{
                    swal.fire({
                        title: '¿Esta Seguro de Realizar este Registro?',
                        text: "¡Tendra un Nuevo Cliente Particular!",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, Registralo!'
                    }).then((result) => {
                        if (result.value) {
                            
                        let me = this;
                        axios.post(this.ruta +'/clienteparti/registrar',{ //la ruta , los datos q recibimos  enviamos a registrar
                        //campos de la bd : variabes de js
                            'nombre_clip':this.nombre_clip,
                            'direccion_clip': this.direccion_clip,
                            'telefono_clip': this.telefono_clip,
                            'correo_clip' : this.correo_clip,
                            'idzona': this.idzona
                        }).then(function (response) {
                            me.cerrarModal();
                            $("#myTable").dataTable().fnDestroy();
                            me.listarCliente();//listar por defecto  
                             swal.fire(
                            'Registro Exitoso!',
                            'El Cliente Registrado.',
                            'success'
                            )
                            
                            })
                            .catch(function (error) {
                                console.log(error.response);
                            });

                        
                       
                        }
                    })
                }
            },

            actualizarCliente(){
                if(this.validarCliente()){
                    return;
                }else{
                    let me = this;
                    axios.put(this.ruta +'/clienteparti/actualizar',{ //la ruta , los datos q recibimos  enviamos a registrar
                    //campos de la bd : variabes de js
                        'nombre_clip':this.nombre_clip,
                        'direccion_clip': this.direccion_clip,
                        'telefono_clip': this.telefono_clip,
                        'correo_clip' : this.correo_clip,
                        'id':this.tra_id,
                        'idzona': this.idzona
                    }).then(function (response) {
                        me.registroExito();
                        me.cerrarModal();
                        $("#myTable").dataTable().fnDestroy();
                        me.listarCliente();//listar por defecto  
                        })
                        .catch(function (error) {
                            console.log(error.response);
                        });
                }
            },

            eliminarCliente(id){
                 let me = this;
                 swal.fire({
                    title: '¿Desea eliminar el Cliente?',
                    text: "¡No Podra Seguir Usando este Cliente!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si, Deseo Eliminarlo!'

                }).then((result) => {

                if (result.value) {

                axios.put(this.ruta +'/clienteparti/eliminar',{ //la ruta , los datos q recibimos  enviamos a registrar
                //campos de la bd : variabes de js
                    'id': id
                }).then(function (response) {
                   
                    $("#myTable").dataTable().fnDestroy();
                    me.listarCliente();//listar por defecto  
                    
                    swal.fire(
                    'Eliminado!',
                    'El registro ha sido eliminado con éxito.',
                    'success'
                    )   

                    })
                    .catch(function (error) {
                        console.log(error.response);
                    });
                }else if(result.dismiss == swal.DismissReason.cancel){

                }
                })
            },

            abrirModal(modelo, accion, data = []){ //se encarga de abrir el modal y los diferentes casos Y estados
                switch(modelo){
                    case "clientes":
                    {
                        switch(accion){
                            case 'registrar':
                            {
                                this.tipoAccion = 1; //para mostrar el boton guardar
                                this.modal = 1;//debe mostar ventana modal
                                this.tituloModal = 'Registrar Cliente Particular'
                                this.nombre_clip='';
                                this.direccion_clip='';
                                this.telefono_clip='';
                                this.correo_clip='';

                                break;
                            }
                            case 'actualizar':
                            {

                                this.tipoAccion = 2; //tipo de accion para actualizr es 2
                                this.tituloModal = "Actualizar Cliente"; //que se muetre este titulo
                                this.nombre_clip = data['razon']; 
                                this.direccion_clip= data['direccion_em']; 
                                this.telefono_clip = data['tel_em']; 
                                this.correo_clip = data['correo_contac']; 
                                this.tra_id = data['id'];  
                                this.idzona = data['idzona'];  
                                this.modal = 1;
                                break;
                            }
                        }
                    }
                }
            },

            
            validarCliente(){
                this.errorCamion= 0; //inicializamos en 0
                this.errorMsjCamion = []; //a este array le anexaremos los msj d errores con el metodo push
                //evaluamos si nombre esta vacio agregamos este mensaje al array
               if(!this.nombre_clip) this.errorMsjCamion.push("El Nombre no puede estar vacio");
               if(!this.direccion_clip) this.errorMsjCamion.push("La Direccion no puede estar vacio");
               if(!this.telefono_clip) this.errorMsjCamion.push("El Telefono no puede estar vacio");
               if(!this.correo_clip) this.errorMsjCamion.push("El Correo no pueden estar vacios");
                //evaluamos si este array tiene al menos 1 elmento, cambiamos errortipotrabajo a 1
                if(this.errorMsjCamion.length) this.errorCamion = 1;
                //aqui retornamos el valor 1
                return this.errorCamion;

            },

            cerrarModal(){
                this.modal=0;
                this.tituloModal = '';
                this.anio_cami = '';
                this.color_cami = '';
                this.codigo_cami = '';
                this.foto_cami = '';
                this.marca_cami = '';
                this.ppu_cami = '';
                this.km_cami = '';
                this.errorCamion= 0; 
                this.idzona = 0;
                this.errorMsjCamion = [];
                this.servicio=[];
                this.servicios=[];
                
            },

            registroExito(){
                swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'Registro Exitoso',
                showConfirmButton: false,
                timer: 1200
                })
            },

            listarZonas(){
                let me=this;
                var url =this.ruta +'/zonas';
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    me.arrayZonas = respuesta.zonas;//porque asi esta en e controlador
                    
                })
                .catch(function (error) {
                        console.log(error);
                });
            }
        },
        mounted() {
            this.listarCliente();
            this.listarZonas();
            
        }
    }
</script>

<style>

    .modal-content{
        border-radius: .3rem;
        width: 100% !important;
        position: absolute !important;    
    }

    .modal-header{
        border-top-right-radius: .3rem;
        border-top-left-radius: .3rem;
        background-color: #3678A8;
        color: white;
        
    }
    
    .mostrar{ /* cuando mostrar es igual a 1*/
        display: list-item !important;
        opacity: 1 !important;
        background-color: #3c29297a !important;
        overflow-y: auto;
        transition: opacity .15s linear !important;
    }

    .card{
        border: 0;
        border-radius: .3rem;
        box-shadow: 0 0 1px rgba(0,0,0,.125),0 1px 3px rgba(0,0,0,0.38);
    }
    .card-header{
        border: 0;
        border-top-left-radius: .3rem;
        border-top-right-radius: .3rem;
    }
    .card-footer{
        border: 0;
        border-radius: .3rem;
    }

    .form-control,.btn{
        border-radius: 3px;
    }
</style>
