<template>
    <main class="main">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item"><a href="#">Admin</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="container-fluid">
            <!-- Listados de Contratos -->
            <spinner v-show="loading"></spinner>
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i>Lista de Trabajadores
                    <button type="button" @click="abrirModal('trabajadores','registrar')" class="btn btn-primary"
                    data-toggle="tooltip" data-placement="bottom" title="Crear Nuevo Trabajador">
                        <i class="icon-plus"></i>&nbsp;Nuevo
                    </button>
                </div>
                
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table cell-border hover order-column table-sm" id="myTable">
                            <thead>
                                <tr>
                                    <th>Nombres </th>
                                    <th>Rut</th>
                                    <th>Fecha N.</th>
                                    <th>Afp</th>
                                    <th>Salud</th>
                                    <th>Telefono</th>
                                    <th>Correo</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="trabajadores in arrayTrabajadores" :key="trabajadores.id">
                                    <td v-text="trabajadores.nombre_tra  +' '+  trabajadores.apellido_tra"> </td>
                                    <td v-text="trabajadores.rut"></td>
                                    <td v-text="trabajadores.fecha_nacitra"></td>
                                    <td v-text="trabajadores.afp"></td>
                                    <td v-text="trabajadores.salud"></td>
                                    <td v-text="trabajadores.telefono"></td>
                                    <td v-text="trabajadores.correo_tra"></td>
                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-sm" @click="abrirModal('trabajadores','actualizar', trabajadores)"
                                        data-toggle="tooltip" data-placement="bottom" title="Editar Datos del Trabajador">
                                        <i class="fa fa-pencil"></i>
                                        </button>
                                        <!-- <button type="button" class="btn btn-outline-info btn-sm" @click="abrirModal('trabajadores','actualizar', trabajadores)">
                                        <i class="icon-eye"></i>
                                        </button> -->
                                        <button type="button" class="btn btn-outline-danger btn-sm" @click="eliminarTrabajador(trabajadores.id)"
                                        data-toggle="tooltip" data-placement="bottom" title="Eliminar Tabajador">
                                        <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card-footer">
                    <div class="text-center">
                        <div class="col-auto my-1">
                            
                        </div>
                    </div>
                </div>

            </div>
            <!-- Fin ejemplo de tabla Listado -->
        </div>

        <!-- Errores -->
        
        <!-- /Errores -->

        <!--Inicio del modal agregar/actualizar-->
        <div class="modal fade" :class="{'mostrar': modal}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" v-text="tituloModal"></h5>
                        <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                        <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">

                            <div class="form-row">
                                <div class="col-md-4 mb-1">
                                    <label class="control-label" for="text-input">Rut</label>
                                    <input type="text" v-model="rut_tra" class="form-control" placeholder="Ingresar el Rut">
                                </div>

                                <div class=" col-md-4 mb-1">
                                    <label class="control-label">Fecha Nacimiento</label>
                                    <input type="date" v-model="fecha_naci" class="form-control" rows="3" placeholder="Ingresar Fecha de N.">
                                </div>
                                
                                <div class=" col-md-4 mb-1">
                                    <label class="control-label" for="text-input">Pais</label>
                                    <input type="text" v-model="nacionalidad" class="form-control" placeholder="Ingresar Nacionalidad">
                                </div> 
                            
                            </div>

                            <div class="form-row">
                                <div class=" col-lg-4 mb-1">
                                    <label class="control-label" for="text-input">Nombres</label>
                                    <input type="text" v-model="nom_tra" class="form-control" placeholder="Ingresar los Nombres">
                                </div>                                

                                <div class=" col-lg-4 mb-1">
                                    <label class="control-label">Apellidos</label>
                                    <input type="text" v-model="ape_tra" class="form-control" placeholder="Ingresar los Apellidos">
                                </div>

                                <div class=" col-lg-4 mb-1">
                                    <label class="control-label">Estado Civil</label>
                                    <input type="text" v-model="estadocivil" class="form-control" placeholder="Ingresar el Estado Civil">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class=" col-lg-4 mb-1">
                                    <label class="control-label" for="email-input">Afp</label>
                                    <input v-model="afp_tra" class="form-control" rows="3" placeholder="Ingresar Afp">
                                </div>

                                <div class=" col-lg-4 mb-1">
                                    <label class="control-label">Salud</label>
                                    <input v-model="salud_tra" class="form-control" placeholder="Ingresar Salud">
                                </div>
                                
                                <div class=" col-lg-4 mb-1">
                                    <label class="control-label">Cargas</label>
                                    <input v-model="numero_cargas" class="form-control" placeholder="Ingresar Cargas">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class=" col-lg-6 mb-1">
                                    <label class="control-label" for="email-input">Telefono</label>    
                                    <input v-model="telefono_tra" class="form-control" placeholder="Ingresar Telefono">
                                </div>

                                <div class="col-lg-6 mb-1">
                                    <label class="control-label">Telefono Adicional</label>
                                    <input v-model="tel_adicional" class="form-control" placeholder="Ingresar Telefono Adicional">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-lg-12 mb-1">
                                    <label class="control-label">Correo</label>
                                    <input v-model="correo_tra" class="form-control" placeholder="Ingresar Correo">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-lg-12 mb-1">
                                    <label class="control-label" for="email-input">Direccion</label>
                                    <textarea v-model="direccion_tra" class="form-control" rows="2" placeholder="Ingresar Direccion"></textarea>
                                </div>

                            </div>
                        </form>
                    </div>                    
                    <!-- este bloque muestra los errrores, se muestra si errrorTipotrabajo=1 -->
                    <div v-show="errorCamion" class="align-self-center alert alert-danger text-center ml-2">
                        <div class="text-center">
                        <!-- recorremos todos loserrores denro del array y los mostramos con v-text -->
                        <div v-for="error in errorMsjCamion" :key="error" v-text="error"></div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @click="cerrarModal()"
                        data-toggle="tooltip" data-placement="bottom" title="Cerrar">Cerrar</button>

                        <button type="button"  v-if="tipoAccion== '1'" class="btn btn-primary" @click="registrarTrabajador()"
                        data-toggle="tooltip" data-placement="bottom" title="Guardar Nuevo Trabajador">Guardar</button>

                        <button type="button"  v-if="tipoAccion == '2'"  class="btn btn-primary" @click="actualizarTrabajador()"
                        data-toggle="tooltip" data-placement="bottom" title="Actualizar Datos del Trabajador">Actualizar</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!--Fin del modal-->
        
    </main>
</template>

<script>
    import datatables from 'datatables';
    import Multiselect from 'vue-multiselect';
    export default {
        props : ['ruta'],
        data(){
            return{
                loading : true,
                arrayTrabajadores:[],
                arrayServicios:[],
                arrayAsignar:[],
                modal : 0,
                rut_tra:'',
                nom_tra:'',
                ape_tra:'',
                fecha_naci:'',
                afp_tra:'',
                salud_tra:'',
                telefono_tra:'',
                tel_adicional:'',
                correo_tra:'',
                direccion_tra:'',
                nacionalidad:'',
                estadocivil:'',
                numero_cargas:'',

                tituloModal:'',
                tra_id:'',
                tipoAccion:0,
                servicio:'',
                date:'',

                // Manejo de Errores
                errorCamion: 0,
                errorMsjCamion:[],
                // Manejo de Errores

                paginacion: {
                    'total' : 0,
                    'pagina_actual' : 0, // current_page
                    'pag_mostrar' : 0, //numero de registros por pagina per_page
                    'pag_alfinal' : 0, // last_page hasta ultima pagina
                    'pag_actual' : 0, //from desde la pagina donde me encuentro
                    'pag_ultima' : 0, //to hasta la pagina
                },
                offset:3,
                criterio: 'codigo_camion', 
                buscar : '' 
            }
            
        },
        components:{
            Multiselect
        },
        computed:{
            
        //  Fn = {
        //     // Valida el rut con su cadena completa "XXXXXXXX-X"
        //     validaRut : function (rutCompleto) {
        //         if (!/^[0-9]+[-|‐]{1}[0-9kK]{1}$/.test( rutCompleto ))
        //             return false;
        //         var tmp 	= rutCompleto.split('-');
        //         var digv	= tmp[1]; 
        //         var rut 	= tmp[0];
        //         if ( digv == 'K' ) digv = 'k' ;
        //         return (Fn.dv(rut) == digv );
        //     },
        //     dv : function(T){
        //         var M=0,S=1;
        //         for(;T;T=Math.floor(T/10))
        //             S=(S+T%10*(9-M++%6))%11;
        //         return S?S-1:'k';
        //     }
        // }

        },

        methods: {
            // Manejo de la Paginacion
            cambiarPagina(page,buscar,criterio){
                let me = this;
                //Actualiza a la pagina actual
                me.paginacion.pagina_actual = page;
                //Ahora enviamos la peticion para visualizar la data de dicha pag
                me.listarTrabajador(page,buscar,criterio);

            },
            // Manejo de la Paginacion
           
            // Funcionalidades
            mytable(){
                $(document).ready( function () {
                    $('#myTable').DataTable({
                        "destroy":true,
                        "language": {
                            "info": "_TOTAL_ registros",
                            "search": "Buscar:",
                            "paginate" : {
                                "next" : "Siguiente",
                                "previous" : "Anterior"
                            },
                            "lengthMenu": 'Mostrar <select>'+
                                        '<option value="10">10</option>'+
                                        '<option value="25">25</option>'+
                                        '<option value="50">50</option>'+
                                        '<option value="100">100</option>'+
                                        '<option value="-1">Todos</option>'+
                                        '</select> registros',
                            "loadingRecords": "Cargando...",
                            "processing": "Procesando...",
                            "emptyTable": "No hay datos...",
                            "zeroRecords": "No Hay Coincidencias",
                            "infoEmpty": "...",
                            "infoFiltered":"..."
                        },
                        "order": [[0, "desc"]]
                    })

                });
            },

            generarCodig(){
                let me=this;
                var url =this.ruta +'/camiones/codigo'
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    if(respuesta.codigo == null){
                        me.codigo_cami = 1;
                    }else{
                        me.valor = respuesta.codigo["codigo_camion"];
                        me.codigo_cami = parseInt(me.valor);
                        me.codigo_cami ++;
                    }
                        
                    // this.valor = respuesta.codigo;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            listarTrabajador(){
                let me = this;
            
                var url =this.ruta +'/personal'; 
                axios.get(url)
                .then((response) => {
                        var respuesta = response.data;
                        me.arrayTrabajadores= respuesta.trabajadores
                        me.mytable();
                        me.loading = false;
                })
                .catch(function(error) {
                        // handle error
                        console.log(error);
                });
            },


            registrarTrabajador(){
  
                    swal.fire({
                        title: 'Esta Seguro de Realizar este Registro',
                        text: "¡Tendra un Nuevo Trabajador!",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, Registralo!'
                    }).then((result) => {

                        if (result.value) {
                            
                        let me = this;
                        axios.post(this.ruta +'/personal/registrar',{ //la ruta , los datos q recibimos  enviamos a registrar
                        //campos de la bd : variabes de js
                            'nombre':this.nom_tra,
                            'apellido': this.ape_tra,
                            'rut': this.rut_tra,
                            'nacimiento' : this.fecha_naci,
                            'afp': this.afp_tra,
                            'salud':this.salud_tra,
                            'telefono': this.telefono_tra,
                            'correo':this.correo_tra,
                            'direccion':this.direccion_tra,
                            'nacionalidad':this.nacionalidad,
                            'estado_civil':this.estadocivil,
                            'numero_cargas':this.numero_cargas,
                            'tel_adicional':this.tel_adicional

                        }).then(function (response) {
                            me.cerrarModal();
                            $("#myTable").dataTable().fnDestroy();
                            me.listarTrabajador();//listar por defecto  
                            
                            })
                            .catch(function (error) {
                                console.log(error.response);
                            });

                        
                        swal.fire(
                        'Registro Exitoso!',
                        'El Trabajador Registrado.',
                        'success'
                        )
                        }
                    })
            },

            actualizarTrabajador(){
                // if(this.validarCamion()){
                //     return;
                // }else{
                    let me = this;
                    axios.put(this.ruta +'/personal/actualizar',{ //la ruta , los datos q recibimos  enviamos a registrar
                    //campos de la bd : variabes de js
                        'nombre':this.nom_tra,
                        'apellido': this.ape_tra,
                        'rut': this.rut_tra,
                        'nacimiento' : this.fecha_naci,
                        'afp': this.afp_tra,
                        'salud':this.salud_tra,
                        'telefono': this.telefono_tra,
                        'correo':this.correo_tra,
                        'direccion':this.direccion_tra,
                        'nacionalidad':this.nacionalidad,
                        'estado_civil':this.estadocivil,
                        'numero_cargas':this.numero_cargas,
                        'tel_adicional':this.tel_adicional,
                        'id': this.tra_id
                    }).then(function (response) {
                        me.cerrarModal();
                        me.listarTrabajador();//listar por defecto  
                        me.registroExito();
                        })
                        .catch(function (error) {
                            console.log(error.response);
                        });
                // }
            },

            eliminarTrabajador(id){
                 let me = this;
                 swal.fire({
                    title: '¿Desea eliminar este Trabajador?',
                    text: "¡No Podra Contratar al Trabajador!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si, Deseo Eliminarlo!'

                }).then((result) => {

                if (result.value) {

                axios.put(this.ruta +'/personal/eliminar',{ //la ruta , los datos q recibimos  enviamos a registrar
                //campos de la bd : variabes de js
                    'id': id
                }).then(function (response) {

                    $("#myTable").dataTable().fnDestroy();
                    me.listarTrabajador();//listar por defecto  
                    
                    swal.fire(
                    'Eliminado!',
                    'El registro ha sido eliminado con éxito.',
                    'success'
                    )   

                    })
                    .catch(function (error) {
                        console.log(error.response);
                    });
                }else if(result.dismiss == swal.DismissReason.cancel){

                }
                })
            },

            abrirModal(modelo, accion, data = []){ //se encarga de abrir el modal y los diferentes casos Y estados
                switch(modelo){
                    case "trabajadores":
                    {
                        switch(accion){
                            case 'registrar':
                            {
                                this.tipoAccion = 1; //para mostrar el boton guardar
                                this.modal = 1;//debe mostar ventana modal
                                this.tituloModal = 'Registrar Trabajador'
                                this.nom_tra = '';
                                this.ape_tra = '';
                                this.rut_tra = '';
                                this.fecha_naci = '';
                                this.afp_tra = '';
                                this.salud_tra = '';
                                this.telefono_tra = '';
                                this.correo_tra = '';
                                this.direccion_tra = '';
                                this.nacionalidad = '';
                                this.estadocivil = '';
                                this.numero_cargas = '';

                                break;
                            }
                            case 'actualizar':
                            {

                                this.tipoAccion = 2; //tipo de accion para actualizr es 2
                                this.tituloModal = "Actualizar Trabajador"; //que se muetre este titulo
                                this.nom_tra = data['nombre_tra']; 
                                this.ape_tra = data['apellido_tra']; 
                                this.fecha_naci = data['fecha_nacitra']; 
                                this.rut_tra = data['rut']; 
                                this.afp_tra = data['afp']; 
                                this.salud_tra = data['salud'];  
                                this.telefono_tra = data['telefono'];  
                                this.tel_adicional = data['tel_adicional'];  
                                this.correo_tra = data['correo_tra'];
                                this.direccion_tra = data['direccion_tra'];
                                this.tra_id = data['id'];
                                this.estadocivil = data['estado_civil'];
                                this.nacionalidad = data['nacionalidad'];
                                this.numero_cargas = data['numero_cargas'];

                                this.modal = 1;
                                break;

                            }
                        }
                    }
                }
            },

            
            validarCamion(){
                this.errorCamion= 0; //inicializamos en 0
                this.errorMsjCamion = []; //a este array le anexaremos los msj d errores con el metodo push
                //evaluamos si nombre esta vacio agregamos este mensaje al array
               if(!this.ppu_cami) this.errorMsjCamion.push("El PPU no puede estar vacio");
               if(!this.anio_cami) this.errorMsjCamion.push("El Año no puede estar vacio");
               if(!this.marca_cami) this.errorMsjCamion.push("La Marca no puede estar vacio");
               if(!this.km_cami) this.errorMsjCamion.push("Los Km no pueden estar vacios");
               if(!this.color_cami) this.errorMsjCamion.push("El Color no pueden estar vacios");
               if(!this.foto_cami) this.errorMsjCamion.push("Por favor asociar alguna foto");
               if(this.servicio.length <= 0 | !this.servicio) this.errorMsjCamion.push("Debe Asociarles Servicios");
                //evaluamos si este array tiene al menos 1 elmento, cambiamos errortipotrabajo a 1

                if(this.errorMsjCamion.length) this.errorCamion = 1;
                //aqui retornamos el valor 1
                return this.errorCamion;

            },

            cerrarModal(){
                this.modal=0;
                this.tituloModal = '';
                this.anio_cami = '';
                this.color_cami = '';
                this.codigo_cami = '';
                this.foto_cami = '';
                this.marca_cami = '';
                this.ppu_cami = '';
                this.km_cami = '';
                this.estadocivil = '';
                this.numero_cargas = '';
                this.nacionalidad = '';
                this.errorCamion= 0; 
                this.errorMsjCamion = [];
                this.servicio=[];
                this.servicios=[];
                this.telefono_tra='';
                this.tel_adicional = '';
            },

            registroExito(){
                swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'Registro Exitoso',
                showConfirmButton: false,
                timer: 1200
                })
            }


        },
        

        mounted() {
            this.listarTrabajador();
            
        }
    }
</script>

<style>

    .modal-content{
        border-radius: .3rem;
        width: 100% !important;
        position: absolute !important;
    }
    .modal-header{
        border-top-right-radius: .3rem;
        border-top-left-radius: .3rem;
        background-color: #3678A8;
        color: white;
        
    }
    
    .modal-largo {
        max-width: 1000px;
    }

    .mostrar{ /* cuando mostrar es igual a 1*/
        display: list-item !important;
        opacity: 1 !important;
        background-color: #3c29297a !important;
        overflow-y: auto;
    }

    .card{
        border: 0;
        border-radius: .3rem;
        box-shadow: 0 0 1px rgba(0,0,0,.125),0 1px 3px rgba(0,0,0,0.38);
    }
    .card-header{
        border: 0;
        border-top-left-radius: .3rem;
        border-top-right-radius: .3rem;
    }
    .card-footer{
        border: 0;
        border-radius: .3rem;
    }

    .form-control,.btn{
        border-radius: 3px;
    }
</style>
