<template>
    <main class="main">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item"><a href="#">Admin</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="container-fluid">
            <spinner v-show="loading"></spinner>
            <!-- Listados de Cotizaciones-->
            <template v-if="listado == 0">
                <div class="card">
                    
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> Cotizaciones
                        <button type="button" @click="abrirModal('solicitud','registrar')" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Crear Nueva Cotizacion">
                            <i class="icon-plus"></i>&nbsp;Nuevo
                        </button>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table cell-border hover order-column table-sm" id="myTable">
                                <thead>
                                    <tr>
                                        <th>N°</th>
                                        <th>Soli</th>
                                        <th>Tipo</th>
                                        <th>Razon</th>
                                        <th>Fecha</th>
                                        <!-- <th>Direccion</th>
                                        <th>Ciudad</th> -->
                                        <th>Total</th>
                                        <th width="50px">Estado</th>
                                        <th>Zona</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr v-for="solicitudes in arraySolicitudes" :key="solicitudes.id">
                                        <td v-text="solicitudes.folio_pre"></td>
                                        <td v-text="solicitudes.folio_soli"></td>
                                        <td v-if="solicitudes.tipocli == 1"><span class="badge badge-pill badge-primary text-white">Empresa</span> </td>
                                        <td v-else><span class="badge badge-pill badge-primary text-white">Particular</span></td>
                                        <td v-text="solicitudes.razon"> </td>
                                        <td v-text="solicitudes.fecha_pre"></td>
                                        <!-- <td v-text="solicitudes.direccion_soli"></td>
                                        <td v-text="solicitudes.ciudad"></td> -->
                                        <td>{{formatPrice(solicitudes.total_pre)}}</td>
                                        <td v-if="solicitudes.respuesta_presu == 4"><span class="badge badge-pill badge-danger">{{solicitudes.nombre_es}}</span></td>
                                        <td v-else><span class="badge badge-pill badge-success">{{solicitudes.nombre_es}}</span></td>
                                        <td v-text="solicitudes.nombre_zona"></td>
                                        <td>
                                            <button type="button" class="btn btn-outline-primary btn-sm" @click="abrirModal('solicitud','verPdf', solicitudes)"
                                             title="Ver Formato de la Cotizacion">
                                            <i class="fa fa-file-text"></i>
                                            </button>

                                            <button type="button" class="btn btn-outline-success btn-sm" @click="abrirModal('solicitud','actualizar', solicitudes)"
                                             title="Ver Detalles de la Cotizacion">
                                            <i class="fa fa-eye"></i>
                                            </button>
                                            
                                            <button v-if="solicitudes.respuesta_presu < 3" type="button" class="btn btn-outline-success btn-sm" @click="aprobarSolicitud(solicitudes.idpresu,solicitudes.soli_id)"
                                             title="Aprobar Cotizacion">
                                            <i class="fa fa-check-circle"></i>
                                            </button>

                                            <button v-if="solicitudes.respuesta_presu < 3" type="button" class="btn btn-outline-danger btn-sm" @click="rechazarSolicitud(solicitudes.idpresu,solicitudes.soli_id)"
                                             title="Rechazar Cotizacion">
                                            <i class="fa fa-times"></i>
                                            </button>

                                            <button type="button" class="btn btn-outline-danger btn-sm" @click="eliminarSolicitud(solicitudes.idpresu)"
                                             title="Eliminar Cotizacion">
                                            <i class="fa fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    <div class="card-footer">
                        <div class="text-center">
                            <div class="col-auto my-1">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            <!-- Fin Cotizaciones -->
            
            <!-- Registrar Cotizacion -->
            <template v-if="listado == 1">
                <div class="card">
                    <div class="card-header" v-text="tituloModal">
                        <i class="fa fa-align-justify"></i> 
                    </div>

                    <div class="card-body">
                        <form>
                            <div class="form row">
                                <div class="col-md-8"><!--Cliente-->
                                    <div class="form-group">
                                        <label for="">Cliente: <strong> ( * )</strong></label>
                                        <!-- <input v-model="razon"  class="form-control" placeholder="Cliñente"> -->
                                        <h5><b>{{razon}}</b></h5>
                                    </div>
                                </div>
                                <div class="form-group col-md-2 text-center">
                                    <label>Folio:</label>
                                    <h5><b>N° {{folio}}</b></h5>
                                </div>  
                                <div class="form-group col-md-2 text-center">
                                    <label>Solicitud:</label>
                                    <h5><b>N° {{folio_soli}}</b></h5>
                                </div>  

                                <div class="form-group col-md-12">
                                    <label>Servicio Solicitado:</label>
                                    <p><b>{{observacion_soli}}</b></p>
                                </div>  
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <button type="button" class="form-control btn btn-outline-success" @click="listarSolicitudes2(1,'','')"
                                    data-toggle="tooltip" data-placement="bottom" title="Abrir Lista de Solicitudes"><i class="fa fa-search"></i>&nbsp;Solicitudes</button>
                                </div>

                                <div class="form-group col-md-6">
                                    <button type="button" class="form-control btn btn-outline-primary" @click="listarServicios(1,'','')"
                                    data-toggle="tooltip" data-placement="bottom" title="Abrir Lista de Servicios"><i class="fa fa-search"></i>&nbsp;Servicios</button>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-8">
                                    <label for="inputState">Asignar Empresa <strong> ( * )</strong></label>
                                    <select class="form-control" v-model="idem">
                                        <option value=0>Seleccionar...</option>
                                        <option v-for="empresa in arrayEmpresa" :key="empresa.id" :value="empresa.id" v-text="empresa.nombre_em">
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Fecha de Cotizacion <strong> ( * )</strong></label>
                                    <input v-model="fecha_pre" type="date" class="form-control" placeholder="Folio">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label>Observacion Presupuesto <strong> ( * )</strong></label>
                                    <textarea v-model="observacion" class="form-control" rows="3" placeholder="Observaciones del Presupuesto"></textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="table-responsive col-md-12">
                                    <table class="table table-bordered table-striped table-sm">
                                        <thead>
                                            <tr>
                                                <th>Opciones</th>
                                                <th>Servicios</th>
                                                <th class="numero">Cantidad</th>
                                                <th>Unidad Medida</th>
                                                <th class="numero">Valor Unitarios</th>
                                                <th class="ancho">Valor Neto</th>
                                            </tr>
                                        </thead>
                                        <tbody v-if="arrayItem.length">
                                            <tr v-for="(detalle,index) in arrayItem" :key="detalle.id">
                                                <td>
                                                    <button @click="eliminarItem(index)" type="button" class="btn btn-danger btn-sm">
                                                        <i class="icon-close"></i>
                                                    </button>
                                                    <!-- <button @click="eliminarDetalle(detalle.idprenda)" type="button" class="btn btn-danger btn-sm">
                                                        <i class="icon-close"></i>
                                                    </button> -->
                                                </td>
                                                <td v-text="detalle.nomb_servi"></td>

                                                 <td>
                                                    <input v-model.number="detalle.cantidad" type="number" value="1" min="1" class="form-control">
                                                </td>

                                                <td>
                                                    <select class="form-control" v-model="detalle.idcosto">
                                                        <option v-for="emp in arrayItem[index].costos" :key="emp.id" :value="emp.id"  v-text="emp.nombre_costo">
                                                        </option>
                                                    </select>
                                                </td>

                                                <td>
                                                    <input v-model.number="detalle.precio" type="number" value="1" min="1" class="form-control">
                                                </td>
                                                
                                                <td>
                                                    $ {{ formatPrice(detalle.precio * detalle.cantidad)}}
                                                </td>
                                            </tr>
                                            <!-- Totales y Subtotales -->
                                            <tr style="background-color: #CEECF5;">
                                                <td colspan="5" align="right"><strong>Total Monto:</strong></td>
                                                <td colspan="5">$ {{formatPrice(totalMonto=calcularTotal)}}</td>
                                                
                                            </tr>

                                            <!-- El Pago de la Orden -->
                                            <tr style="background-color: #CEECF5;">
                                                <td colspan="5" align="right"><strong>Iva:</strong></td>      
                                                <td colspan="5">$ {{formatPrice(totalIva=calcularTotalIva)}}</td>
                                            </tr>

                                            <tr style="background-color: #CEECF5;">
                                                <td colspan="5" align="right"><strong>Total Neto:</strong></td>
                                                <td colspan="5">$ {{formatPrice(totalNeto = calcularTotalCompleto)}}</td>
                                            </tr>

                                        </tbody>

                                        <tbody v-else>
                                            <tr>
                                                <td class="text-center alert-secondary" colspan="6">
                                                    No hay Items Agregados
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>

                        </form>
                    </div>

                    <div class="card-footer">
                        <div class="text-center">
                            <div class="col-auto my-1">
                                <button type="button" class="btn btn-light" @click="cerrarTemplate()"
                                data-toggle="tooltip" data-placement="bottom" title="Cancelar"><i class="icon-check"></i> Cancelar</button> 

                                <button type="button" class="btn btn-primary" v-if="tipoAccion==1" @click="registrarPresu()"
                                data-toggle="tooltip" data-placement="bottom" title="Registrar la Cotizacion"><i class="icon-check"></i> Registrar Cotizacion</button> 
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            <!-- Registrar Cotizacion -->

            <!-- Ver y Editar Cotizacion-->
            <template v-if="listado == 2">
                <div class="card">
                    <div class="card-header" v-text="tituloModal">
                        <i class="fa fa-align-justify"></i> 
                    </div>

                    <div class="card-body">
                        <form>
                            <div class="form row">
                                <div class="col-md-7"><!--Cliente-->
                                    <div class="form-group">
                                        <label for="">Cliente:</label>
                                        <h5><b>{{razon}}</b></h5>
                                    </div>
                                </div>

                                <div class="form-group col-md-3">
                                    <label>Fecha:</label>
                                    <p><b>{{fecha_pre}}</b></p>
                                    <!-- <input v-model="fecha_pre" type="date" class="form-control" placeholder="Folio">
                                    <h5><b>N° {{folio}}</b></h5> -->
                                
                                </div>
                                
                                <div class="form-group col-md-2">
                                    <label>Cotizacion:</label>
                                    <h5><b>N° {{folio}}</b></h5>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label>Observacion Presupuesto:</label>
                                    <textarea v-model="observacion" class="form-control" rows="3" placeholder="Oservaciones del Presupuesto"></textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="table-responsive col-md-12">
                                    <table class="table table-bordered table-striped table-sm">
                                        <thead>
                                            <tr>
                                                <th>Opciones</th>
                                                <th>Servicios</th>
                                                <th class="numero">Cantidad</th>
                                                <th>Unidad Medida</th>
                                                <th class="numero">Valor Unitario</th>
                                                <th class="ancho">Valor Neto</th>
                                            </tr>
                                        </thead>
                                        <tbody v-if="arrayItem.length">
                                            <tr v-for="(detalle,index) in arrayItem" :key="detalle.id">
                                                <td>
                                                    <button @click="eliminarItem(index)" type="button" class="btn btn-danger btn-sm">
                                                        <i class="icon-close"></i>
                                                    </button>
                                                    <!-- <button @click="eliminarDetalle(detalle.idprenda)" type="button" class="btn btn-danger btn-sm">
                                                        <i class="icon-close"></i>
                                                    </button> -->
                                                </td>
                                                <td v-text="detalle.nomb_servi"></td>

                                                <td v-text="detalle.cantidad"></td>

                                                <td v-text="detalle.nombre_costo">
                                                </td>

                                                <td>
                                                    $ {{formatPrice(detalle.valor_uni)}}
                                                </td>
                                                
                                                <td>
                                                    $ {{ formatPrice(detalle.valor_neto)}}
                                                </td>
                                            </tr>
                                            <!-- Totales y Subtotales -->
                                            <tr style="background-color: #CEECF5;">
                                                <td colspan="5" align="right"><strong>Total Monto:</strong></td>
                                                <td colspan="5">$ {{formatPrice(totalMonto)}}</td>
                                                
                                            </tr>

                                            <!-- El Pago de la Orden -->
                                            <tr style="background-color: #CEECF5;">
                                                <td colspan="5" align="right"><strong>Iva:</strong></td>      
                                                <td colspan="5">$ {{formatPrice(totalIva)}}</td>
                                            </tr>

                                            <tr style="background-color: #CEECF5;">
                                                <td colspan="5" align="right"><strong>Total Neto:</strong></td>
                                                <td colspan="5">$ {{formatPrice(totalNeto)}}</td>
                                            </tr>

                                        </tbody>

                                        <tbody v-else>
                                            <tr>
                                                <td colspan="6">
                                                    No hay Prendas Agregadas
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                                
                            </div>
                        </form>
                    </div>

                    <div class="card-footer">
                        <div class="text-center">
                            <div class="col-auto my-1">
                                <button type="button" class="btn btn-light" @click="cerrarTemplate()"><i class="icon-check"></i> Cancelar</button> 
                                <button type="button" class="btn btn-primary" v-if="tipoAccion==1" @click="registrarPresu()"><i class="icon-check"></i> Registrar Solicitud</button> 
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            <!-- Ver y Editar Cotizacion-->

            <!--Ver Pdf del pCotizacion-->
            <template v-if="listado == 3">
                <div class="card">
                    <div class="card-header p-0" >

                    </div>

                    <div class="card-body">
                        <div class="container-fluid d-flex justify-content-between">
                            <div class="col-lg-6 pl-0">
                                <p class="text-left mt-3"><b>EMPRESA:</b></p>
                                <p class="mb-0 mt-2 text-uppercase" style="font-size:22px"><b>{{nombre_empre}}</b></p>
                            </div>

                            <div class="col-lg-6">
                                <p class="text-right mt-3"><b>COTIZACION:</b></p>
                                <h3 class="text-right my-2"><b>N° {{folio}}</b></h3>
                                
                            </div>
                        </div>

                        <div class="container-fluid d-flex justify-content-between">

                            <div class="col-lg-9 pl-0">
                                <p class="mt-5 mb-2 text-uppercase"><b>{{razon}}</b></p>
                                <p class="mb-1 text-capitalize">Rut: {{rut}}</p>
                                <p class="text-capitalize mb-2">Telefono: {{tel_em}}</p>
                                <p class="mb-2 text-capitalize">Direccion del Servicio: {{direccion_soli}}</p>
                            </div>

                            <div class="col-lg-3 pl-0">
                                <p class="mt-5 mb-2 text-uppercase text-right"><b>Contactos:</b></p>
                                <p class="text-right text-capitalize mb-1">Tlf: {{tel_contac}}</p>
                                <p class="text-right text-capitalize mb-1">Correo: {{tel_contac}}</p>
                                <br>
                            </div>

                        </div>

                        <div class="mt-4 container-fluid d-flex justify-content-center">
                            <div class="col-lg-12 px-0">
                                <p class="my-1 text-center text-uppercase"><b>Obervaciones:</b></p>
                                <p class="mb-1 text-capitalize">{{observacion_soli}}</p>
                            </div>
                        </div>

                        <hr>
                        <div class="container-fluid mt-5 d-flex justify-content-center w-100">
                            <div class="table-responsive w-100">
                                <table class="table">
                                    <thead>
                                        <tr class="bg-dark text-white">
                                            <th class="text-center">#</th>
                                            <th class="text-center">Servicios</th>
                                            <th class="text-center">Cantidad</th>
                                            <th class="text-center">Unidad</th>
                                            <th class="text-center">Valor Unitario</th>
                                            <th class="text-center">Valor Neto</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="text-justify text-uppercase" v-for="detalle in arrayItem" :key="detalle.id">
                                            <td class="text-center" v-text="detalle.servi_id"></td>
                                            <td class="text-center" v-text="detalle.nomb_servi"></td>
                                            <td class="text-center" v-text="detalle.cantidad"></td>
                                            <td class="text-center" v-text="detalle.nombre_costo"></td>
                                            <td class="text-center">$ {{formatPrice(detalle.valor_uni)}}</td>
                                            <td class="text-center">$ {{ formatPrice(detalle.valor_neto)}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>    
                        </div>

                        <div class="container-fluid mt-5 w-100">
                            <p class="text-right mb-1"><b>Monto:</b> ${{ formatPrice(totalMonto)}}</p>
                            <p class="text-right mb-1"><b>Iva:</b> ${{ formatPrice(totalIva)}}</p>
                            <h5 class="text-right mb-5"><b>Total:</b> ${{ formatPrice(totalNeto)}}</h5>

                        </div>
                        <hr>
                    </div>
                    <div class="card-footer">
                        <div class="container-fluid w-100">
                            <button class="btn btn-secondary float-left mt-4 ml-2" @click="cerrarTemplate()">
                                <i class="icon-close mr-1">
                                </i>
                                Cerrar
                            </button>
                        </div>

                        <div class="container-fluid w-100">
                            <button class="btn btn-primary float-right mt-4 ml-2" @click="pdfCotizacion()"><i class="icon-printer mr-1"></i>Imprimir</button>
                        </div>
                    </div>
                </div>
            </template>
            <!-- Ver Pdf de Cotizacion -->
            
        </div>

        <!-- Modal y Servicios -->
        <div v-if="modal==1" class="mostrar modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dark modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Lista de Servicios</h4>
                        <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                        <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="div1">
                            <div class="table-responsive-xl">
                                <table class="table" id="myTable2"> 
                                    <thead class="thead-dark">
                                        <tr>
                                            <th width="90px">ID</th>
                                            <th>Nombre</th>
                                            <th width="90px">Agregar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="servicios in arrayServicios" :key="servicios.id">
                                            <td v-text="servicios.id"></td>
                                            <td v-text="servicios.nomb_servi"></td>
                                            <td>
                                                <button type="button" @click="agregarDetalleModal(servicios)" class="btn btn-outline-success btn-sm">
                                                <i class="icon-check"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @click="cerrarModal()">Cerrar</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- Servicios -->

        <!-- Modal Solicitudes -->
        <div v-if="modal==2" class="modal fade" :class="{'mostrar': modal}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dark modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Lista de Solicitudes</h4>
                        <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                        <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="div1">
                            <div class="table-responsive">
                                <table class="table" id="myTable3"> 
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Folio</th>
                                            <th>Tipo</th>
                                            <th>Razon</th>
                                            <th>F. Solicitada</th>
                                            <th>Estado</th>
                                            <th>Opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="solicitudes in arraySolicitudes2" :key="solicitudes.id">
                                            <td v-text="solicitudes.folio_soli"></td>

                                            <td v-if="solicitudes.tipocli == 1"><span class="badge badge-pill badge-primary text-white">Empresa</span></td>
                                            <td v-else><span class="badge badge-pill badge-primary text-white">Particular</span></td>
                                            
                                            <td v-text="solicitudes.razon"></td>
                                            <td v-text="solicitudes.fecha_soli"></td>
                                            <td><span class="badge badge-pill badge-success">{{solicitudes.nombre_es}}</span></td>
                                            <td>
                                                <!-- <button type="button" @click="agregarSolicitante(solicitudes)" class="btn btn-outline-success btn-sm">
                                                <i class="icon-check"></i></button> -->

                                                <button type="button" @click="verSolicitud(solicitudes)" class="btn btn-outline-success btn-sm"
                                                data-toggle="tooltip" data-placement="bottom" title="Ver y Seleccionar Solicitud">
                                                <i class="icon-eye"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @click="cerrarModal()">Cerrar</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- Solicitudes -->
        
        <!-- Ver Solicitud desde Formato -->
        <div v-if="modal2==3" class="modal fade" :class="{'mostrar': modal}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dark modal-lg" role="document">

                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Datos de la Solicitud</h4>
                        <button type="button" class="close" @click="cerrarModal2()" aria-label="Close">
                        <span aria-hidden="true">×</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="container-fluid d-flex">
                            <div class="col-lg-6 pl-0">
                                <p class="mb-0 mt-2 text-uppercase" style="font-size:22px"><b>{{razon}}</b></p>
                            </div>

                            <div class="col-lg-6">
                                <h4 class="text-right my-2"><b>N°{{folio_soli}} </b></h4>
                            </div>
                            
                        </div>

                        <div class="container-fluid d-flex justify-content-between">
                            <div class="col-lg-8 pl-0">
                                <p class="mt-4 mb-2 text-uppercase"><b>{{razon}}</b></p>
                                <p class="mb-1 text-capitalize">Rut: {{rut}}</p>
                                <p class="text-capitalize mb-1">Telefono: {{tel_em}}</p>
                                <p class="text-capitalize mb-1">Fecha Creacion: {{fecha_creacion}}</p>
                            </div>
                        
                            <div class="col-lg-4 pl-0">
                                <p class="mt-4 mb-2 text-uppercase text-right"><b>Contactos:</b></p>
                                <p class="text-right text-capitalize mb-1">Tlf: {{tel_contac}}</p>
                                <p class="text-right text-capitalize mb-1">Correo: {{tel_contac}}</p>
                                <p class="text-right text-capitalize mb-1">Fecha Trabajo: {{fecha_soli}}</p>
                                <br>
                            </div>    
                        </div>

                        <div class="mt-1 container-fluid d-flex justify-content-center">
                            <div class="col-lg-12 px-0">
                                <p class="my-1 text-center text-uppercase pt-1"><b>Direccion Solicitud:</b></p>
                                <p class="mb-1 text-capitalize">{{direccion_soli}}</p>
                            </div>
                        </div>

                        <hr>

                        <div class="mt-4 container-fluid d-flex justify-content-center">
                            <div class="col-lg-12 px-0">
                                <p class="my-1 text-center text-uppercase bg-dark text-white py-2"><b>Servicios Solicitados:</b></p>
                                <p class="mb-1 text-capitalize">{{observacion_soli}}</p>
                            </div>
                        </div>
                        
                        
                    </div>                    

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @click="cerrarModal2()">Cerrar</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- Formato -->

       
    </main>
</template>

<script>
import datatables from 'datatables';
    export default {
        props : ['ruta'],
        data(){
            return{
                loading : true,
                arrayTrabajadores:[],
                arraySolicitudes:[],
                arrayServicios:[],
                arraySolicitudes2:[],                
                arrayPrueba:[],
                arrayItem:[],
                arrayEmpresa:[],
                arrayCosto:[],
                arrayOt:[],
                idem : 0,
                observacion:'',
                modal : 0,
                modal2:0,
                rut:'',
                razon:'',
                fecha_soli:'',
                fecha_creacion:'',
                correo_contac:'',
                folio_soli:'',
                direccion_em:'',
                tel_em:'',
                observacion_soli:'',
                valor:'',
                correo_contac:'',
                tel_contac:'',
                folio:'',
                fecha_pre:'',
                valor:'',
                idesoli:0,
                listado: 0,
                tituloModal:'',
                tra_id:'',
                tipoAccion:0,
                servicio:'',
                date:'',
                idcosto:0,
                textcosto:'',
                totalNeto:0,
                totalIva:0,
                totalMonto:0,
                
                nombre_empre:'',
                // Manejo de Errores
                errorCamion: 0,
                errorMsjCamion:[],
                // Manejo de Errores

                paginacion: {
                    'total' : 0,
                    'pagina_actual' : 0, // current_page
                    'pag_mostrar' : 0, //numero de registros por pagina per_page
                    'pag_alfinal' : 0, // last_page hasta ultima pagina
                    'pag_actual' : 0, //from desde la pagina donde me encuentro
                    'pag_ultima' : 0, //to hasta la pagina
                },
                offset:3,
                criterio: 'codigo_camion', 
                buscar : '' 
            }
            
        },
        components:{

        },
        computed:{
            isActived: function(){
                return this.paginacion.pagina_actual;
            },
            //calcula los elementos de la paginacion
            pagesNumber :function(){
                if(!this.paginacion.pag_ultima){
                    return [];
                }

                var from = this.paginacion.pagina_actual - this.offset;
                if(from < 1 ){
                    from = 1;
                }

                var to = from + (this.offset * 2);
                if (to >= this.paginacion.pag_alfinal ){
                    to = this.paginacion.pag_alfinal;
                }

                var pagesArray = [];
                while (from <= to){
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;
            },
            calcularTotal : function(){
                var resultado=0.0;
                for(var i=0; i<this.arrayItem.length;i++){
                    resultado=resultado+(this.arrayItem[i].precio*this.arrayItem[i].cantidad)
                }
                return resultado
            },
            calcularTotalIva : function(){
                var resultado=0.0;
                var total = 0.0;
                for(var i=0; i<this.arrayItem.length;i++){
                    resultado=resultado+(this.arrayItem[i].precio*this.arrayItem[i].cantidad)
                }
                total = (resultado * 19)/100;
                return total
            },

            calcularTotalCompleto : function(){
                var resultado=0.0;
                var resultadoiva=0.0;
                var total = 0.0;
                var totalcompleto=0.0;

                for(var i=0; i<this.arrayItem.length;i++){
                    resultado=resultado+(this.arrayItem[i].precio*this.arrayItem[i].cantidad)
                }

                for(var i=0; i<this.arrayItem.length;i++){
                    resultadoiva=resultadoiva+(this.arrayItem[i].precio*this.arrayItem[i].cantidad)
                }
                total = (resultadoiva * 19)/100;

                totalcompleto = total + resultado;
                return totalcompleto
            },

            
        },

        methods: {
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', ',')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
            },
           
            // Funcionalidades
            // Tabla Prespuestos
            mytable(){
                $(document).ready( function () {
                    $('#myTable').DataTable({
                        "destroy":true,
                        "language": {
                            "info": "_TOTAL_ registros",
                            "search": "Buscar:",
                            "paginate" : {
                                "next" : "Siguiente",
                                "previous" : "Anterior"
                            },
                            "lengthMenu": 'Mostrar <select>'+
                                        '<option value="10">10</option>'+
                                        '<option value="25">25</option>'+
                                        '<option value="50">50</option>'+
                                        '<option value="100">100</option>'+
                                        '<option value="-1">Todos</option>'+
                                        '</select> registros',
                            "loadingRecords": "Cargando...",
                            "processing": "Procesando...",
                            "emptyTable": "No hay datos...",
                            "zeroRecords": "No Hay Coincidencias",
                            "infoEmpty": "...",
                            "infoFiltered":"..."
                        },
                        "order": [[0, "desc"]]
                        
                    })

                });
            },
            // Tabla Servicios
            mytable2(){
                $(document).ready( function () {
                    $('#myTable2').DataTable({
                        "destroy":true,
                        "language": {
                            "info": "_TOTAL_ registros",
                            "search": "Buscar:",
                            "paginate" : {
                                "next" : "Siguiente",
                                "previous" : "Anterior"
                            },
                            "lengthMenu": 'Mostrar <select>'+
                                        '<option value="10">10</option>'+
                                        '<option value="25">25</option>'+
                                        '<option value="50">50</option>'+
                                        '<option value="100">100</option>'+
                                        '<option value="-1">Todos</option>'+
                                        '</select> registros',
                            "loadingRecords": "Cargando...",
                            "processing": "Procesando...",
                            "emptyTable": "No hay datos...",
                            "zeroRecords": "No Hay Coincidencias",
                            "infoEmpty": "...",
                            "infoFiltered":"..."
                        },
                        "order": [[0, "desc"]]
                    })

                } );
            },
            // Tabla Solicitudes
            mytable3(){
                $(document).ready( function () {
                    $('#myTable3').DataTable({
                        "destroy":true,
                        "language": {
                            "info": "_TOTAL_ registros",
                            "search": "Buscar:",
                            "paginate" : {
                                "next" : "Siguiente",
                                "previous" : "Anterior"
                            },
                            "lengthMenu": 'Mostrar <select>'+
                                        '<option value="10">10</option>'+
                                        '<option value="25">25</option>'+
                                        '<option value="50">50</option>'+
                                        '<option value="100">100</option>'+
                                        '<option value="-1">Todos</option>'+
                                        '</select> registros',
                            "loadingRecords": "Cargando...",
                            "processing": "Procesando...",
                            "emptyTable": "No hay datos...",
                            "zeroRecords": "No Hay Coincidencias",
                            "infoEmpty": "...",
                            "infoFiltered":"..."
                        },
                        "order": [[0, "desc"]]
                    })

                } );
            },

            generarCodig(){
                let me=this;
                var url =this.ruta +'/presupuesto/codigo'
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    if(respuesta.codigo == null){
                        me.folio = 1;
                    }else{
                        me.valor = respuesta.codigo["folio_pre"];
                        me.folio = parseInt(me.valor);
                        me.folio ++;
                    }
                        
                    // this.valor = respuesta.codigo;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            listarPresupuestos(){
                let me = this;
                var url =this.ruta +'/presupuesto'; 
                axios.get(url)
                .then((response) => {
                        var respuesta = response.data;
                        me.arraySolicitudes= respuesta.presupuesto;
                        me.mytable();
                        me.loading = false;
                })
                .catch(function(error) {
                        // handle error
                        console.log(error);
                });
            },

            listarSolicitudes2(){
                let me = this;
                me.modal = 2;
                var url =this.ruta +'/solicitudes'; 
                axios.get(url).then(function(response) {
                        var respuesta = response.data;
                        me.arraySolicitudes2= respuesta.solicitudes;
                        me.mytable3();
                })
                .catch(function(error) {
                        // handle error
                        console.log(error);
                });
                
            },

            listarServicios(){
                let me = this;
                me.modal = 1;
                me.arrayServicios=[];
                var url =this.ruta +'/servicios'; 
                axios.get(url).then(function(response) {
                        var respuesta = response.data;
                        me.arrayServicios= respuesta.servicios;
                        me.mytable2();
                })
                .catch(function(error) {
                        // handle error
                        console.log(error);
                });
                
            },

            listarCostos(){
                let me = this;
                me.arrayCosto=[];
                var url =this.ruta +'/formasc'; 
                axios.get(url).then(function(response) {
                        var respuesta = response.data;
                        me.arrayCosto= respuesta.formac;
                })
                .catch(function(error) {
                        // handle error
                        console.log(error);
                });
            },

            listarEmpresa(){
                let me = this;
            
                var url =this.ruta +'/empresas'; 
                axios.get(url).then(function(response) {
                        var respuesta = response.data;
                        me.arrayEmpresa= respuesta.empresas;
                })
                .catch(function(error) {
                        // handle error
                        console.log(error);
                });
            },

            agregarDetalleModal(data = []){
                let me=this;

                if(me.encuentra(data['id'])){
                        swal.fire({
                            icon:'error',
                            type: 'error',
                            title: 'Error...',
                            text: 'Este Servicio ya se encuentra agregado!',
                            })

                    }else{
                        me.arrayItem.push({
                        id : data['id'],
                        nomb_servi: data['nomb_servi'],
                        costos: this.arrayCosto,
                        precio:0,
                        cantidad: 0,
                        textcosto:'',
                        idcosto: 0
                        }); 
                    }
            },

            // agregarSolicitante(data = []){
            //     let me = this;
            //     me.razon = data['razon'];
            //     me.tra_id = data['idesoli'];
            //     me.idesoli = data['ide'];
            // },

            verSolicitud(data = []){
                let me = this;
                me.modal2=3;
                me.folio_soli = data['folio_soli'];
                me.razon = data['razon'];
                me.fecha_soli = data['fecha_soli'];
                me.fecha_creacion = data['created_at'];
                me.rut = data['rut'];
                me.correo_contac = data['correo_contac'];
                me.tel_em = data['tel_em'];
                me.direccion_em = data['direccion_em'];
                me.tel_contac = data['tel_contac'];
                me.direccion_soli = data['direccion_soli'];
                me.observacion_soli = data['observacion'];
                me.idesoli = data['ide'];
                me.tra_id = data['idesoli'];
            },


            encuentra(id){ //FUNCION PARA ENCONTRAR DATOS REPETIDOS EN LA TABLA DETALLES
                var sw=0;
                for(var i=0; i<this.arrayItem.length; ++i){
                    if(this.arrayItem[i].id == id){
                        sw=true;
                    }
                }
                return sw;
            },

            registrarPresu(){
                    if(this.validarCliente()){
                    return;
                }else{
                    swal.fire({
                        title: '¿Esta Seguro de Realizar este Registro?',
                        text: "¡Tendra una Nueva Cotizacion!",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, Registralo!'
                    }).then((result) => {
                        if (result.value) {
                            
                        let me = this;
                        axios.post(this.ruta +'/presupuesto/registrar',{ //la ruta , los datos q recibimos  enviamos a registrar
                        //campos de la bd : variabes de js
                            'folio_pre':this.folio,
                            'fecha_pre': this.fecha_pre,
                            'iva_pre': this.totalIva,
                            'monto_pre': this.totalMonto,
                            'total_pre': this.totalNeto,
                            'observacion_pre':this.observacion,
                            'soli_id': this.tra_id,
                            'idclientempre': this.idesoli,
                            'id_empre':this.idem,
                            'data':this.arrayItem

                        }).then(function (response) {
                            me.cerrarTemplate();
                            swal.fire(
                            'Registro Exitoso!',
                            'La Cotizacion ha sido Registrado.',
                            'success'
                            )
                            $("#myTable").dataTable().fnDestroy();
                            this.listarPresupuestos();//listar por defecto  
                            
                            
                            })
                            .catch(function (error) {
                                console.log(error.response);
                            });
                       
                        }
                    })
                }
            },

            actualizarCliente(){
                if(this.validarCliente()){
                    return;
                }else{
                    let me = this;
                    axios.put(this.ruta +'/gestionsoli/actualizar',{ //la ruta , los datos q recibimos  enviamos a registrar
                    //campos de la bd : variabes de js
                        'fecha_soli':this.fecha_soli,
                        'ciudad': this.ciudad,
                        'direccion_soli': this.direccion_soli,
                        'observacion' : this.observacion,
                        'id':this.idesoli
                    }).then(function (response) {
                        me.cerrarModal();
                        me.listado = 0;
                        me.listarSolicitudes(1,'','');
                        me.registroExito();
                        })
                        .catch(function (error) {
                            console.log(error.response);
                        });
                }
            },

            eliminarSolicitud(id){
                let me = this;
                swal.fire({
                    title: 'Desea Eliminar este Registro',
                    text: "¡Tendra un Presupuesto Menos!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si, Deseo Eliminarlo!'

                }).then((result) => {
                    if (result.value) {
                        axios.put(this.ruta +'/presupuesto/eliminar',{ //la ruta , los datos q recibimos  enviamos a registrar
                            'id': id
                        }).then(function (response) {
                            $("#myTable").dataTable().fnDestroy();
                            me.listarPresupuestos();//listar por defecto  
                            
                            swal.fire(
                            'Eliminado Exitosamente!',
                            'El Presupuesto ha sido Eliminado.',
                            'success'
                            )

                            })
                            .catch(function (error) {
                                console.log(error.response);
                            });

                        
                    }
                })
            },

            aprobarSolicitud(id,soli){
                let me = this;
                swal.fire({
                        title: '¿Esta Seguro?',
                        text: "¡Deseas Aprobar la Cotización!",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, Estoy seguro!'
                    }).then((result) => {
                    if (result.value) {
                        axios.put(this.ruta +'/presupuesto/aprobar',{ //la ruta , los datos q recibimos  enviamos a registrar
                            'id': id,
                            'soli':soli
                        }).then(function (response) {
                            swal.fire(
                            'Aprobada con exito!',
                            'La Cotización ha sido Aprobada.',
                            'success'
                            )
                        me.listarPresupuestos();//listar por defecto  
                        })
                        .catch(function (error) {
                            console.log(error.response);
                        });
                    }
                })
            },

            rechazarSolicitud(id,soli){
                let me = this; 
                swal.fire({
                        title: '¿Esta Seguro?',
                        text: "¡Deseas Rechazar la Cotización!",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, Estoy seguro!'
                    }).then((result) => {  
                    if (result.value) {  
                        axios.put(this.ruta +'/presupuesto/rechazar',{ //la ruta , los datos q recibimos  enviamos a registrar
                            'id': id,
                            'soli':soli
                        }).then(function (response) {
                            swal.fire(
                            'Rechazada con exito!',
                            'La Cotización ha sido Rechazada.',
                            'success'
                            )
                        me.listarPresupuestos();//listar por defecto  
                        })
                        .catch(function (error) {
                            console.log(error.response);
                        });
                    }
                })

            },

            abrirModal(modelo, accion, data = []){ //se encarga de abrir el modal y los diferentes casos Y estados
                switch(modelo){
                    case "solicitud":
                    {
                        switch(accion){
                            case 'registrar':
                            {
                                this.tipoAccion = 1; //para mostrar el boton guardar
                                // this.modal = 1;//debe mostar ventana modal
                                this.listado=1;
                                this.generarCodig();
                                this.tituloModal = 'Registrar Cotizacion'
                                this.razon='';
                                this.observacion = '';
                                this.direccion_soli = '';
                                this.fecha_soli = '';
                                break;
                            }
                            case 'actualizar':
                            {
                                let me = this;
                                $("#myTable").dataTable().fnDestroy();
                                this.idesoli = data['idpresu'];
                                this.tipoAccion = 2; //tipo de accion para actualizr es 2
                                this.tituloModal = "Ver Cotizacion"; //que se muetre este titulo
                                this.razon = data['razon']; 
                                this.tra_id = data['id'];  
                                this.fecha_pre = data['fecha_pre'];
                                this.folio = data['folio_pre'];
                                this.observacion = data['observacion_presu'];
                                this.totalMonto = data['monto_pre'];
                                this.totalIva = data['iva_pre'];
                                this.totalNeto = data['total_pre'];
                                this.idem = data['id_empre'];
                                this.correo_contac = data['correo_contac'];
                                
                                //Obtener Detalles
                                var url =this.ruta +'/presupuesto/obtenerDetalles?id=' + me.idesoli;
                                axios.get(url).then(function (response) {
                                    var respuesta = response.data;
                                    me.arrayItem = respuesta.presupuestos;  
                                    
                                })
                                .catch(function (error) {
                                    console.log(error);
                                });

                                this.listado = 2;
                                break;
                            }

                            case 'verPdf':
                            {
                                let me = this;
                                $("#myTable").dataTable().fnDestroy();
                                me.arrayPrueba = [];
                                
                                me.listado= 3;
                                me.idesoli = data['idpresu'];
                                me.folio = data['folio_pre'];
                                me.razon = data['razon'];
                                me.fecha_soli = data['fecha_soli'];
                                me.rut = data['rut'];
                                me.correo_contac = data['correo_contac'];
                                me.tel_em = data['tel_em'];
                                me.direccion_em = data['direccion_em'];
                                me.tel_contac = data['tel_contac'];
                                me.direccion_soli = data['direccion_soli'];
                                me.observacion_soli = data['observacion_presu'];
                                me.idem = data['id_empre'];
                                me.nombre_empre = data['nombre_em'];
                                me.correo_contac = data['correo_contac'];

                                me.totalMonto = data['monto_pre'];
                                me.totalIva = data['iva_pre'];
                                me.totalNeto = data['total_pre'];
                                

                                //Obtener Detalles
                                var url =this.ruta +'/presupuesto/obtenerDetalles?id=' + me.idesoli;
                                axios.get(url).then(function (response) {
                                    var respuesta = response.data;
                                    me.arrayItem = respuesta.presupuestos;  
                                    
                                })
                                .catch(function (error) {
                                    console.log(error);
                                });

                                this.listado = 3;
                                break;

                            }
                        }
                    }
                }
            },

            pdfCotizacion(){
                let me = this;
                window.open(this.ruta +'/cotizacion/pdf/' + me.idesoli);
            },
            
            
            validarCliente(){
                this.errorCamion= 0; //inicializamos en 0
                this.errorMsjCamion = []; //a este array le anexaremos los msj d errores con el metodo push
                
               
               if(!this.razon) this.errorMsjCamion.push("La Direccion no puede estar vacio");
               if(!this.observacion) this.errorMsjCamion.push("La Direccion no puede estar vacio");
               if(!this.fecha_pre) this.errorMsjCamion.push("Debe Selecionar una fecha");
               if(this.idem == "0" || this.idem == 0) this.errorMsjCamion.push("La Direccion no puede estar vacio");
               if(this.arrayItem.length <= 0) this.errorMsjCamion.push("Debe Selecionar una fecha");
                if(this.errorMsjCamion.length) this.errorCamion = 1;
                //aqui retornamos el valor 1

                if(this.errorMsjCamion.length > 0){
                    swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: '¡Existen Campos Vacios!',
                    footer: '!Por Favor Corrija e Intente Nuevamente!'
                    })
                    return this.errorCamion = 1;
                }
            },

            cerrarModal(){
                this.modal=0;
                this.arrayServicios=[];
                this.arraySolicitudes2=[];
                // this.arrayItem = [];
                
            },

            cerrarModal2(){
                let me= this;
                me.modal2=0;
                // this.arrayPrueba = [];

            },

            cerrarTemplate(){
                this.listado=0;
                this.arrayServicios=[];
                this.arrayItem=[];
                this.razon='';
                this.folio = '';
                this.fecha_pre = '';
                this.totalIva= 0;
                this.totalMonto= 0;
                this.totalNeto= 0;
                this.observacion = '';
                this.fecha_pre='';
                this.idesoli= 0;
                this.loading = true;
                this.idem = 0;
                this.folio_soli = '';
                this.nombre_empre = '';
                this.observacion_soli = '';
                $("#myTable").dataTable().fnDestroy();
                this.listarPresupuestos();
            },

            registroExito(){
                swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'Registro Exitoso',
                showConfirmButton: false,
                timer: 1200
                })
            },

            eliminarItem(index){
                let me=this;
                me.arrayItem.splice(index,1);
            },

        },
        

        mounted() {
            this.generarCodig();
            this.listarPresupuestos();
            this.listarCostos();
            this.listarEmpresa();
        }
    }
</script>

<style>
    .ancho{
        width: 19%;
    }
    .numero {
        width: 15%;
    }

    .modal-content{
        border-radius: .3rem;
        width: 100% !important;
        position: absolute !important;
    }
    .modal-header{
        border-top-right-radius: .3rem;
        border-top-left-radius: .3rem;
        background-color: #3678A8;
        color: white;
        
    }
    
    .modal{
        overflow: auto !important;
    }
    .modal-largo {
        max-width: 1000px;
    }

    .mostrar{ /* cuando mostrar es igual a 1*/
        display: list-item !important;
        opacity: 1 !important;
        background-color: #3c29297a !important;
        overflow-y: auto !important;
        border-radius: .3rem;
    }
    .modal-header{
        border-top-right-radius: .3rem;
        border-top-left-radius: .3rem;
    }


    .mostrar{ /* cuando mostrar es igual a 1*/
        display: list-item !important;
        opacity: 1 !important;
        background-color: #3c29297a !important;
        overflow-y: auto;
    }

    .card{
        border: 0;
        border-radius: .3rem;
        box-shadow: 0 0 1px rgba(0,0,0,.125),0 1px 3px rgba(0,0,0,0.38);
    }
    .card-header{
        border: 0;
        border-top-left-radius: .3rem;
        border-top-right-radius: .3rem;
    }
    .card-footer{
        border: 0;
        border-radius: .3rem;
    }

    .form-control,.btn{
        border-radius: 3px;
    }



</style>
