<template>
    <main class="main">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item"><a href="#">Admin</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="container-fluid">
            <spinner v-show="cargar"></spinner>
            <!-- Listados de Solicitudes -->
            <template v-if="listado == 0">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> Solicitudes Empresas
                            <button type="button" @click="abrirModal('solicitud','registrar')" class="btn btn-primary"
                            data-toggle="tooltip" data-placement="bottom" title="Crear Nueva Solicitud">
                                <i class="icon-plus"></i>&nbsp;Nuevo
                            </button>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table cell-border hover order-column table-sm" id="myTable">
                                <thead>
                                    <tr>
                                        <th>N°</th>
                                        <th>Fecha T.</th>
                                        <th>Razon</th>
                                        <th>Rut</th>
                                        <th>Ciudad</th>
                                        <th>Tipo</th>
                                        <th>Contrato</th>
                                        <th>Estado</th>
                                        <th>Zona</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="solicitudes in arraySolicitudes" :key="solicitudes.id">
                                        <td v-text="solicitudes.folio_soli"> </td>
                                        <td v-text="solicitudes.fecha_soli"></td>
                                        <td v-text="solicitudes.razon"> </td>
                                        <td v-text="solicitudes.rut"></td>
                                        <td v-text="solicitudes.ciudad"></td>

                                        <td v-if="solicitudes.desplaza==1"><span class="badge badge-pill badge-success">Guia D.</span></td>
                                        <td v-else><span class="badge badge-pill badge-success">Orden T.</span></td>

                                        <td v-if="solicitudes.contrato==1"><span class="badge badge-pill badge-success">Contrato</span></td>
                                        <td v-else><span class="badge badge-pill badge-danger">No Contrato</span></td>
                                        
                                        <td><span class="badge badge-pill badge-success">{{solicitudes.nombre_es}}</span></td>


                                        <td v-text="solicitudes.nombre_zona"></td>
                                        <td>
                                            <button type="button" class="btn btn-outline-success btn-sm" @click="abrirModal('solicitud','actualizar', solicitudes)"
                                            data-toggle="tooltip" data-placement="bottom" title="Editar">
                                            <i class="fa fa-pencil"></i>
                                            </button>
                                            
                                            <button type="button" class="btn btn-outline-danger btn-sm" @click="eliminarSolicitud(solicitudes.idesoli)"
                                            data-toggle="tooltip" data-placement="bottom" title="Eliminar">
                                            <i class="fa fa-trash"></i>
                                            </button>
                                        </td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="card-footer">
                        <div class="text-center">
                            <div class="col-auto my-1">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            <!-- Fin Solicitudes -->
            
            <!-- Registrar Solicitud -->
            <template v-if="listado == 1">
                <div class="card">
                    <div class="card-header" v-text="tituloModal">
                        <i class="fa fa-align-justify"></i> 
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form row">
                                <div class="col-md-9"><!--Cliente-->
                                    <div class="form-group">
                                        <label for="">Empresas <span class="badge badge-pill badge-danger">(*)</span></label>
                                        <v-select
                                            :on-search="selectEm" 
                                            label="razon"
                                            :options="arrayEm"
                                            placeholder="Buscar Empresa"
                                            :onChange="getDatosEm" 
                                        >
                                        </v-select>
                                    </div>
                                </div>
                               
                                <div class="form-group col-md-3 text-center">
                                    <label>Folio</label>
                                    <h5><b>N° {{folio}}</b></h5>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="inputState">Tipo Solicitud <span class="badge badge-pill badge-danger">(*)</span></label>
                                    <select class="form-control" v-model="tipoContra" @change="validar()">
                                        <option value="">Seleccionar...</option>
                                        <option value=0>Sin Contrato</option>
                                        <option value=1>Contrato</option>
                                    </select>
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="inputState">Tipo de Trabajo <span class="badge badge-pill badge-danger">(*)</span></label>
                                    <select class="form-control" v-model="desplaza">
                                        <option value="">Seleccionar...</option>
                                        <option value=0>Sin Desplazamiento</option>
                                        <option value=1>Con Desplazamiento</option>
                                    </select>
                                </div>

                                <div class="form-group col-md-4">
                                    <label>Fecha a Realizar el Trabajo <span class="badge badge-pill badge-danger">(*)</span></label>
                                    <input v-model="fecha_soli" type="date" class="form-control" placeholder="Fecha">
                                </div>
                            </div>

                            <div class="form-row">
                                 <div class="form-group col-md-12">
                                    <label>Rut Empresa</label>
                                    <input v-model="rut"  class="form-control" placeholder="Rut">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-8">
                                    <label>Direccion Empresa</label>
                                    <input type="text" v-model="direccion_em" class="form-control" placeholder="Direccion">
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Tel Empresa</label>
                                    <input type="text" v-model="tel_em" class="form-control" placeholder="Telefono">
                                </div>

                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-8">
                                    <label>Correo Contacto</label>
                                    <input v-model="correo_contac" type="text"  class="form-control" placeholder="Correo Contacto">
                                </div> 

                                <div class="form-group col-md-4">
                                    <label>Tel Contacto</label>
                                    <input v-model="tel_contac" type="text"  class="form-control" placeholder="Telefono Contactos">
                                </div> 
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label>Ciudad Solicitud <span class="badge badge-pill badge-danger">(*)</span></label>
                                    <input type="text" v-model="ciudad" class="form-control" placeholder="Ciudad de la Solicitud">
                                </div>
                                
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label>Direccion Solicitud <span class="badge badge-pill badge-danger">(*) Escribir direccion exacta ya que se vera reflejada en los estado de pagos</span></label>
                                    <input type="text" v-model="direccion_soli" class="form-control" placeholder="Direccion de la Solicitud">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label>Servicio a Solicitar <span class="badge badge-pill badge-danger">(*)</span></label>
                                    <textarea v-model="observacion" class="form-control" rows="5" placeholder="Observaciones de la Solicitud"></textarea>
                                </div>
                            </div>

                        </form>
                    </div>

                    <div class="card-footer">
                        <div class="text-center">
                            <div class="col-auto my-1">
                                <button type="button" class="btn btn-light" @click="cerrarTemplate()"
                                data-toggle="tooltip" data-placement="bottom" title="Cancelar">
                                <i class="icon-check"></i> Cancelar</button> 

                                <button type="button" class="btn btn-primary" v-if="tipoAccion==1" @click="registrarSoli()"
                                data-toggle="tooltip" data-placement="bottom" title="Registrar Solicitud"><i class="icon-check"></i> Registrar Solicitud</button> 
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            <!-- Registrar Solicitud -->

            <!-- Ver y Editar Solicitud -->
            <template v-if="listado == 2"> 
                <div class="card">
                    <div class="card-header" v-text="tituloModal">
                        <i class="fa fa-align-justify"></i> 
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form row">
                                <div class="col-md-9"><!--Cliente-->
                                    <div class="form-group">
                                        <label for="">Empresa:</label>
                                        <h5 class="card-title mb-4"> <b>{{razon}}</b></h5>
                                    </div>
                                </div>
                                
                                <div class="form-group col-md-3">
                                    <label>Numero de Solicitud</label>
                                    <h4><b>N° {{folio}}</b></h4>
                                </div>
                            </div>


                            <div class="form-row">
                                <div class="form-group col-md-8">
                                    <label>Rut Empresa</label>
                                    <input v-model="rut" type="text" class="form-control" placeholder="Rut">
                                </div>

                                <div class="form-group col-md-4">
                                    <label>Fecha <span class="badge badge-pill badge-danger">(*)</span></label>
                                    <input v-model="fecha_soli" type="date" class="form-control" placeholder="Fecha de Solicitud">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-8">
                                    <label>Direccion</label>
                                    <input type="text" v-model="direccion_em" class="form-control" placeholder="Direccion">
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Tel Empresa</label>
                                    <input type="text" v-model="tel_em" class="form-control" placeholder="Telefono">
                                </div>

                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-8">
                                    <label>Correo Contacto</label>
                                    <input v-model="correo_contac" type="text"  class="form-control" placeholder="Correo Contacto">
                                </div> 

                                <div class="form-group col-md-4">
                                    <label>Tel Contacto</label>
                                    <input v-model="tel_contac" type="text"  class="form-control" placeholder="Telefono Contactos">
                                </div> 
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label>Ciudad Solicitud <span class="badge badge-pill badge-danger">(*)</span></label>
                                    <input type="text" v-model="ciudad" class="form-control" placeholder="Ciudad de la Solicitud">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label>Direccion Solicitud <span class="badge badge-pill badge-danger">(*) Escribir direccion exacta ya que se vera reflejada en los estado de pagos</span></label>
                                    <input type="text" v-model="direccion_soli" class="form-control" placeholder="Direccion de la Solicitud">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label>Observacion Solicitud <span class="badge badge-pill badge-danger">(*)</span></label>
                                    <textarea v-model="observacion" class="form-control" rows="5" placeholder="Oservaciones de la Solicitud"></textarea>
                                </div>
                            </div>

                        </form>
                    </div>

                    <div class="card-footer">
                        <div class="text-center">
                            <div class="col-auto my-1">
                                <button type="button" class="btn btn-light" @click="cerrarTemplate()"><i class="icon-check"></i> Cancelar</button> 
                                <button type="button" class="btn btn-primary" v-if="tipoAccion==2" @click="actualizarCliente()"><i class="icon-check"></i> Actuaizar Solicitud</button> 
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            <!-- Ver y Editar Solicitud -->
            
        </div>

        <!--Inicio del modal agregar/actualizar-->
        <div class="modal fade" :class="{'mostrar': modal}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-primary modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" v-text="tituloModal"></h4>
                        <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                        <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="div1">
                            <table class="table"> 
                                <thead class="thead-dark">
                                    <tr>
                                        <th>ID</th>
                                        <th>Servicios</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="servicios in arrayServicios" :key="servicios.id">
                                        <td v-text="servicios.id"></td>
                                        <td v-text="servicios.nomb_servi"></td>
                                        <td>
                                            <button type="button" @click="agregarDetalleModal(servicios)" class="btn btn-success btn-sm" style="padding: 5px 10px;">
                                            <i class="icon-check"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @click="cerrarModal()">Cerrar</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!--Fin del modal-->
        
    </main>
</template>

<script>
    import Multiselect from 'vue-multiselect';
    import vSelect from 'vue-select';
    import datatables from 'datatables';
    export default {
        props : ['ruta'],
        data(){
            return{
                cargar:true,
                arrayTrabajadores:[],
                arraySolicitudes:[],
                arrayServicios:[],
                arrayItem:[],
                arrayEm:[],
                cliContra:'',//para validar si el cliente tiene o no contrato

                tipoContra: '',
                desplaza:'',

                observacion:'',
                modal : 0,
                rut:'',
                razon:'',
                direccion_em:'',
                
                ciudad:'',
                direccion_soli:'',
                tel_em:'',
                correo_contac:'',
                tel_contac:'',
                folio:'',
                fecha_soli:'',
                valor:'',
                idesoli:'',
                listado: 0,
                tituloModal:'',
                tra_id:'',
                tipoAccion:0,
                servicio:'',
                date:'',

                // Manejo de Errores
                errorCamion: 0,
                errorMsjCamion:[],
                // Manejo de Errores

                paginacion: {
                    'total' : 0,
                    'pagina_actual' : 0, // current_page
                    'pag_mostrar' : 0, //numero de registros por pagina per_page
                    'pag_alfinal' : 0, // last_page hasta ultima pagina
                    'pag_actual' : 0, //from desde la pagina donde me encuentro
                    'pag_ultima' : 0, //to hasta la pagina
                },
                offset:3,
                criterio: 'codigo_camion', 
                buscar : '' 
            }
            
        },

        components:{
            Multiselect,
            vSelect
        },
        computed:{
            isActived: function(){
                return this.paginacion.pagina_actual;
            },
            //calcula los elementos de la paginacion
            pagesNumber :function(){
                if(!this.paginacion.pag_ultima){
                    return [];
                }

                var from = this.paginacion.pagina_actual - this.offset;
                if(from < 1 ){
                    from = 1;
                }

                var to = from + (this.offset * 2);
                if (to >= this.paginacion.pag_alfinal ){
                    to = this.paginacion.pag_alfinal;
                }

                var pagesArray = [];
                while (from <= to){
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;
            }
        },

        methods: {
            // Manejo de la Paginacion
            cambiarPagina(page,buscar,criterio){
                let me = this;
                //Actualiza a la pagina actual
                me.paginacion.pagina_actual = page;
                //Ahora enviamos la peticion para visualizar la data de dicha pag
                me.listarTrabajador(page,buscar,criterio);

            },
            // Manejo de la Paginacion
           
            // Funcionalidades
            mytable(){
                $(document).ready( function () {
                    $('#myTable').DataTable({
                        "destroy":true,
                        "language": {
                            "info": "_TOTAL_ registros",
                            "search": "Buscar:",
                            "paginate" : {
                                "next" : "Siguiente",
                                "previous" : "Anterior"
                            },
                            "lengthMenu": 'Mostrar <select>'+
                                        '<option value="10">10</option>'+
                                        '<option value="25">25</option>'+
                                        '<option value="50">50</option>'+
                                        '<option value="100">100</option>'+
                                        '<option value="-1">Todos</option>'+
                                        '</select> registros',
                            "loadingRecords": "Cargando...",
                            "processing": "Procesando...",
                            "emptyTable": "No hay datos...",
                            "zeroRecords": "No Hay Coincidencias",
                            "infoEmpty": "...",
                            "infoFiltered":"..."
                        },
                        "order": [[0, "desc"]]
                    })

                } );
            },

            generarCodig(){
                let me=this;
                var url =this.ruta +'/gestionsoli/codigo'
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    if(respuesta.codigo == null){
                        me.folio = 1;
                    }else{
                        me.valor = respuesta.codigo["folio_soli"];
                        me.folio = parseInt(me.valor);
                        me.folio ++;
                    }
                        
                    // this.valor = respuesta.codigo;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            selectEm(search,loading){
                let me=this;
                loading(true);

                var url =this.ruta +'gestionsoli/selectEmpre?filtro='+search;
                axios.get(url).then(function (response) {
                    let respuesta = response.data;
                    q:search
                    me.arrayEm = respuesta.empresa; 
                    loading(false)

                })
                .catch(function (error) {
                        console.log(error);
                });
            },

            getDatosEm(val1){
                let me = this;
                me.loading = true;
                me.tra_id = val1.id;
                me.rut = val1.rut;
                me.razon = val1.razon;
                me.direccion_em = val1.direccion_em;
                me.tel_em = val1.tel_em;
                me.correo_contac = val1.correo_contac;
                me.tel_contac = val1.tel_contac;
                me.tipoContra = val1.contrato;
                me.cliContra = val1.contrato; //para ver si el cliente tiene algun contrato
            },
            

            listarSolicitudes(){
                let me = this;
                var url =this.ruta +'/gestionsoli'; 
                axios.get(url)
                .then( (response) => {
                        var respuesta = response.data;
                        me.arraySolicitudes= respuesta.solicitudes;
                        me.mytable();
                        me.cargar = false;
                })
                .catch(function(error) {
                        // handle error
                        console.log(error);
                });
            },

            listarServicios(){
                let me = this;
                me.modal = 1;
                me.arrayServicios=[];
                var url =this.ruta +'/servicios'; 
                axios.get(url).then(function(response) {
                        var respuesta = response.data;
                        me.arrayServicios= respuesta.servicios;
                })
                .catch(function(error) {
                        // handle error
                        console.log(error);
                });
            },

            agregarDetalleModal(data = []){
                let me=this;

                if(me.encuentra(data['id'])){
                        swal.fire({
                            icon:'error',
                            type: 'error',
                            title: 'Error...',
                            text: 'Este Servicio ya se encuentra agregado!',
                            })

                    }else{
                        me.arrayItem.push({
                        id : data['id'],
                        nomb_servi: data['nomb_servi'],
                        }); 
                    }
            },

            encuentra(id){ //FUNCION PARA ENCONTRAR DATOS REPETIDOS EN LA TABLA DETALLES
                var sw=0;
                for(var i=0; i<this.arrayItem.length; ++i){
                    if(this.arrayItem[i].id == id){
                        sw=true;
                    }
                }
                return sw;
            },


            registrarSoli(){
                    if(this.validarCliente()){
                    return;
                }else{
                    swal.fire({
                        title: '¿Esta Seguro de Realizar este Registro?',
                        text: "¡Tendra una Nueva Solicitud!",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, Registralo!'
                    }).then((result) => {
                        if (result.value) {
                            
                        let me = this;
                        axios.post(this.ruta +'/gestionsoli/registrar',{ //la ruta , los datos q recibimos  enviamos a registrar
                        //campos de la bd : variabes de js
                            'folio_soli':this.folio,
                            'razon': this.razon,
                            'fecha_soli': this.fecha_soli,
                            'ciudad': this.ciudad,
                            'direccion_soli': this.direccion_soli,
                            'idclientempre':this.tra_id,
                            'observacion': this.observacion,
                            'tipo_contra': this.tipoContra,
                            'desplaza': this.desplaza

                        }).then(function (response) {
                            me.cerrarTemplate();
                            $("#myTable").dataTable().fnDestroy();
                            me.listarSolicitudes();//listar por defecto  
                             swal.fire(
                            'Registro Exitoso!',
                            'La Solicitud ha sido Registrada.',
                            'success'
                            )
                            
                            })
                            .catch(function (error) {
                                console.log(error.response);
                            });

                        
                       
                        }
                    })
                }
            },

            actualizarCliente(){
                if(this.validarCliente()){
                    return;
                }else{
                    let me = this;
                    axios.put(this.ruta +'/gestionsoli/actualizar',{ //la ruta , los datos q recibimos  enviamos a registrar
                    //campos de la bd : variabes de js
                        'fecha_soli':this.fecha_soli,
                        'ciudad': this.ciudad,
                        'direccion_soli': this.direccion_soli,
                        'observacion' : this.observacion,
                        'id':this.idesoli
                    }).then(function (response) {
                        me.cerrarModal();
                        me.listado = 0;
                        me.listarSolicitudes();
                        me.registroExito();
                        })
                        .catch(function (error) {
                            console.log(error.response);
                        });
                }
            },

            eliminarSolicitud(id){
                let me = this;
                axios.put(this.ruta +'/gestionsoli/eliminar',{ //la ruta , los datos q recibimos  enviamos a registrar
                    'id': id
                }).then(function (response) {
                    $("#myTable").dataTable().fnDestroy();
                    me.listarSolicitudes();//listar por defecto  
                    })
                    .catch(function (error) {
                        console.log(error.response);
                    });
            },

            abrirModal(modelo, accion, data = []){ //se encarga de abrir el modal y los diferentes casos Y estados
                switch(modelo){
                    case "solicitud":
                    {
                        switch(accion){
                            case 'registrar':
                            {
                                this.tipoAccion = 1; //para mostrar el boton guardar
                                // this.modal = 1;//debe mostar ventana modal
                                this.listado=1;
                                this.generarCodig();
                                this.tituloModal = 'Registrar Solicitud Empresas'
                                this.rut='';
                                this.razon='';
                                this.direccion_em='';
                                this.tel_em='';
                                this.ciudad='';
                                this.correo_contac='';
                                this.tel_contac='';
                                this.observacion = '';
                                this.direccion_soli = '';
                                this.fecha_soli = '';
                                
                                break;
                            }
                            case 'actualizar':
                            {
                                let me = this;
                                $("#myTable").dataTable().fnDestroy();
                                this.tipoAccion = 2; //tipo de accion para actualizr es 2
                                this.tituloModal = "Actualizar Solicitud Empresa"; //que se muetre este titulo
                                this.rut = data['rut']; 
                                this.razon = data['razon']; 
                                this.direccion_em = data['direccion_em']; 
                                this.tel_em = data['tel_em']; 
                                this.correo_contac = data['correo_contac']; 
                                this.tel_contac = data['tel_contac'];  
                                this.tra_id = data['id'];  
                                this.direccion_em = data['direccion_soli'];
                                this.ciudad = data['ciudad'];
                                this.observacion = data['observacion'];
                                this.direccion_soli = data['direccion_soli'];
                                this.idesoli = data['idesoli'];
                                this.fecha_soli = data['fecha_soli'];
                                this.folio = data['folio_soli'];
                                
                                //Obtener Detalles
                                var url =this.ruta +'gestionsoli/obtenerDetalles?id=' + this.idesoli;
                                axios.get(url).then(function (response) {
                                    var respuesta = response.data;
                                    me.arrayItem = respuesta.servicios;  
                                    
                                })
                                .catch(function (error) {
                                    console.log(error);
                                });

                                this.listado = 2;
                                break;
                            }
                        }
                    }
                }
            },

            
            validarCliente(){
                this.errorCamion= 0; //inicializamos en 0
                this.errorMsjCamion = []; //a este array le anexaremos los msj d errores con el metodo push
                //evaluamos si nombre esta vacio agregamos este mensaje al array
               if(!this.direccion_em) this.errorMsjCamion.push("El Rut no puede estar vacio");
               if(!this.correo_contac) this.errorMsjCamion.push("La Razon no puede estar vacio");
               if(!this.razon) this.errorMsjCamion.push("La Direccion no puede estar vacio");
               if(!this.rut) this.errorMsjCamion.push("El Telefono no pueden estar vacios");
               if(!this.tel_contac) this.errorMsjCamion.push("El Correo no pueden estar vacios");
               if(!this.tel_em) this.errorMsjCamion.push("El Telefono no puede estar vacio");
               if(!this.ciudad) this.errorMsjCamion.push("La Ciudad no puede estar vacia");
               if(!this.direccion_soli) this.errorMsjCamion.push("Direccion de Solicitud no puede estar vacia");
               if(!this.fecha_soli) this.errorMsjCamion.push("Debe Selecionar una fecha");
                if(this.errorMsjCamion.length) this.errorCamion = 1;
                //aqui retornamos el valor 1

                if(this.errorMsjCamion.length > 0){
                    swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: '¡Existen Campos Vacios!',
                    footer: '!Por Favor Corrija e Intente Nuevamente!'
                    })
                    return this.errorCamion = 1;
                }


            },

            cerrarModal(){
                this.modal=0;
                this.arrayServicios=[];
                
            },

            cerrarTemplate(){
                this.listado=0;
                this.arrayServicios=[];
                this.arrayItem=[];
                this.correo_contac='';
                this.direccion_em='';
                this.razon='';
                this.rut='';
                this.tel_contac='';
                this.tel_em='';
                this.arrayItem = '';
                this.folio = '';
                this.tra_id = '';
                this.tipoContra = '';
                this.desplaza = '';
                this.cliContra='';
                $("#myTable").dataTable().fnDestroy();
                this.listarSolicitudes();
            },

            registroExito(){
                swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'Registro Exitoso',
                showConfirmButton: false,
                timer: 1200
                })
            },

            eliminarItem(index){
                let me=this;
                me.arrayItem.splice(index,1);
            },

            validar(){
                let me = this;

                if(me.cliContra == 0 && me.tipoContra == "1") {
                    swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: '¡El Cliente no tiene Contrato!',
                    footer: '!La Solicitud no se puede Gestionar por esta Via!'
                    })

                    me.tipoContra = '';
                }
                
            }

        },
        

        mounted() {
            this.generarCodig();
            this.listarSolicitudes();
            
            
        }
    }
</script>

<style>
    .modal-content{
        border-radius: .3rem;
        width: 100% !important;
        position: absolute !important;
    }
    .modal-header{
        border-top-right-radius: .3rem;
        border-top-left-radius: .3rem;
        background-color: #3678A8;
        color: white;
        
    }
    
    .modal-largo {
        max-width: 1000px;
    }

    .mostrar{ /* cuando mostrar es igual a 1*/
        display: list-item !important;
        opacity: 1 !important;
        background-color: #3c29297a !important;
        overflow-y: auto;
    }

    .card{
        border: 0;
        border-radius: .3rem;
        box-shadow: 0 0 1px rgba(0,0,0,.125),0 1px 3px rgba(0,0,0,0.38);
    }
    .card-header{
        border: 0;
        border-top-left-radius: .3rem;
        border-top-right-radius: .3rem;
    }
    .card-footer{
        border: 0;
        border-radius: .3rem;
        
    }

    .form-control,.btn{
        border-radius: 3px;
    }
</style>
