<template>
    <main class="main">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item"><a href="#">Admin</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="container-fluid">
            <!-- Ejemplo de tabla Listado -->
            <spinner v-show="carga"></spinner>
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Usuarios
                    <button type="button" @click="abrirModal('users','registrar')" class="btn btn-primary" 
                    data-toggle="tooltip" data-placement="bottom" title="Crear Nuevo Usuario">
                        <i class="icon-plus"></i>&nbsp;Nuevo
                    </button>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table cell-border hover order-column table-sm"  id="myTable">
                            <thead>
                                <tr>
                                    <th width="60px">Usuario</th>
                                    <th>Rol</th>
                                    <th>Nombre T.</th>
                                    <th>Rut</th>
                                    <th>Telefono</th>
                                    <th>Cargo</th>
                                    <th width="60px">Estado</th>
                                    <th>Zona</th>
                                    <th width="60px">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="users in arrayUsuarios" :key="users.id">
                                    <td v-text="users.usuario"></td>
                                    <td v-text="users.roles"></td>
                                    <td v-text="users.nombre_tra  +' '+  users.apellido_tra"> </td>
                                    <td v-text="users.rut"></td>
                                    <td v-text="users.telefono"></td>
                                    <td v-text="users.nombre_depa"></td>
                                    <td v-if="users.condicion == 1">
                                        <span class="badge badge-pill badge-success">Activo</span>
                                    </td>
                                    <td v-else>
                                        <span class="badge badge-pill badge-danger">Desactivado</span>
                                    </td>
                                    <td v-text="users.zona"></td>
                                    <td>
                                        <button type="button"  class="btn btn-outline-success btn-sm" @click="abrirModal('users','actualizar', users)"
                                        data-toggle="tooltip" data-placement="bottom" title="Editar">
                                        <i class="fa fa-pencil"></i>
                                        </button>
                                        <button v-if="users.condicion == 1" type="button" class="btn btn-outline-danger btn-sm" @click="eliminarCamion(users.userid)"
                                        data-toggle="tooltip" data-placement="bottom" title="Desactivar">
                                        <i class="fa fa-times"></i>
                                        </button>
                                        <button v-if="users.condicion == 0" type="button" class="btn btn-outline-success btn-sm" @click="activarCamion(users.userid)"
                                        data-toggle="tooltip" data-placement="bottom" title="Activar">
                                        <i class="fa fa-check"></i>
                                        </button>
                                    </td>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Paginacion -->

                </div>
                
                <div class="card-footer">
                    <div class="text-center">
                        <div class="col-auto my-1">
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fin ejemplo de tabla Listado -->
        </div>

        <!--Inicio del modal agregar/actualizar-->
        <div class="modal fade" :class="{'mostrar': modal}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog  modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title justify-content-center" v-text="tituloModal"></h5>
                        <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                        <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                             <div class="form-group row" v-if="tipoAccion == 1">
                                 <label class="col-md-2">Trabajadores<span>(*)</span></label>
                                <div class="col-md-10">
                                <v-select
                                    :on-search="selectEm" 
                                    label="nombre_tra"
                                    :options="arrayTra"
                                    placeholder="Buscar Trabajador"
                                    :onChange="getDatosEm" 
                                >
                                </v-select>
                                </div>
                            </div>

                            <div class="form-row" v-if="tipoAccion == 2">
                                <div class="col-md-12"><!--Cliente-->
                                    <div class="form-group">
                                        <!-- <label for="">Usuario:</label> -->
                                        <h5 class="card-title mb-4 text-center"><b>{{nombre_tra + ' ' + apellido_tra}}</b></h5>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-2 form-control-label">Rol (*)</label>
                                <div class="col-md-10">
                                    <select class="form-control" v-model="idrol" @change="validarUsuario()">
                                            <option value="0">Seleccione un rol</option>
                                        <option v-for="rol in arrayRoles" :key="rol.id" :value="rol.id" v-text="rol.nombre">
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-2 form-control-label">Zona (*)</label>
                                <div class="col-md-10">
                                    <select class="form-control" v-model="idzona">
                                            <option value="0">Seleccione una zona</option>
                                        <option v-for="zona in arrayZonas" :key="zona.id" :value="zona.id" v-text="zona.nombre_zona">
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-2 control-label">Usuario</label>
                                <div class="col-md-10">
                                    <input type="y" v-model="usuario" class="form-control" placeholder="Nombre Usuario">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-2 form-control-label" for="email-input">Password (*)</label>
                                <div class="col-md-10">
                                    <input type="text" v-model="password" class="form-control" placeholder="Password de Usuario">
                                </div>
                            </div>


                        </form>
                    </div>                    
                    <!-- este bloque muestra los errrores, se muestra si errrorTipotrabajo=1 -->
                    <div v-show="errorCamion" class="align-self-center alert alert-danger text-center ml-2">
                        <div class="text-center">
                        <!-- recorremos todos loserrores denro del array y los mostramos con v-text -->
                        <div v-for="error in errorMsjCamion" :key="error" v-text="error"></div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @click="cerrarModal()"
                        data-toggle="tooltip" data-placement="bottom" title="Cerrar">Cerrar</button>
                        <button type="button"  v-if="tipoAccion== '1'" class="btn btn-primary" @click="registrarCamion()"
                        data-toggle="tooltip" data-placement="bottom" title="Guardar">Guardar</button>

                        <button type="button"  v-if="tipoAccion == '2'"  class="btn btn-primary" @click="actualizarCamion()"
                        data-toggle="tooltip" data-placement="bottom" title="Actualizar">Actualizar</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!--Fin del modal-->
        
    </main>
</template>

<script>
    import vSelect from 'vue-select';
    import datatables from 'datatables';
    export default {
        props : ['ruta'],
        data(){
            return{
                carga: true,
                arrayUsuarios:[],
                arrayServicios:[],
                arrayAsignar:[],
                arrayTra:[],
                arrayRoles:[],
                arrayZonas:[],
                modal : 0,
                password:'',
                usuario:'',
                idrol:0,
                idzona:0,
                userid:'',
                nombre_tra:'',
                apellido_tra:'',
                tra_id:0,
                tituloModal:'',
                servi_id:'',
                tipoAccion:0,
                servicio:'',
                date:'',

                

                // Manejo de Errores
                errorCamion: 0,
                errorMsjCamion:[],
                // Manejo de Errore
            }
            
        },
        components:{
          vSelect  
        },
        computed:{

        },

        methods: {
            // Funcionalidades
            mytable(){
                $(document).ready( function () {
                       $('#myTable').DataTable({
                            "destroy":true,
                            "language": {
                                "info": "_TOTAL_ registros",
                                "search": "Buscar:",
                                "paginate" : {
                                    "next" : "Siguiente",
                                    "previous" : "Anterior"
                                },
                                "lengthMenu": 'Mostrar <select>'+
                                            '<option value="10">10</option>'+
                                            '<option value="25">25</option>'+
                                            '<option value="50">50</option>'+
                                            '<option value="100">100</option>'+
                                            '<option value="-1">Todos</option>'+
                                            '</select> registros',
                                "loadingRecords": "Cargando...",
                                "processing": "Procesando...",
                                "emptyTable": "No hay datos...",
                                "zeroRecords": "No Hay Coincidencias",
                                "infoEmpty": "...",
                                "infoFiltered":"..."
                            },
                            "order": [[0, "desc"]]
                            
                        })

                    } );
            },

            listarRoles(){
                let me=this;
                var url =this.ruta +'/roles';
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    me.arrayRoles = respuesta.roles;//porque asi esta en e controlador
                    
                })
                .catch(function (error) {
                        console.log(error);
                });
            },

            listarZonas(){
                let me=this;
                var url =this.ruta +'/zonas';
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    me.arrayZonas = respuesta.zonas;//porque asi esta en e controlador
                    
                })
                .catch(function (error) {
                        console.log(error);
                });
            },

            listarUsuarios(){
                let me = this;
                
                var url =this.ruta +'/user'; 
                axios.get(url)
                .then((response) => {
                        var respuesta = response.data;
                        me.arrayUsuarios= respuesta.users;
                        // me.paginacion = respuesta.paginacion;
                        me.mytable();
                        me.carga = false;
                })
                .catch(function(error) {
                        // handle error
                        console.log(error);
                });
                
            },

            selectEm(search,loading){
                let me=this;
                loading(true);

                var url =this.ruta +'gestionp/selectTrabau?filtro='+search;
                axios.get(url).then(function (response) {
                    let respuesta = response.data;
                    q:search
                    me.arrayTra = respuesta.trabajadores; 
                    loading(false)

                })
                .catch(function (error) {
                        console.log(error);
                });
            },

            getDatosEm(val1){
                let me = this;
                me.loading = true;
                me.tra_id = val1.id;
            },
            
            
            registrarCamion(){
                if(this.validarCamion()){
                    return;
                }else{
                    let me = this;
                    axios.post(this.ruta +'/users/registrar',{ //la ruta , los datos q recibimos  enviamos a registrar
                    //campos de la bd : variabes de js
                        'usuario': this.usuario,
                        'password': this.password,
                        'idrol' : this.idrol,
                        'id_tra': this.tra_id,
                        'idzona': this.idzona
                    }).then(function (response) {
                        me.cerrarModal();
                        $("#myTable").dataTable().fnDestroy();
                        me.listarUsuarios();//listar por defecto  
                        me.registroExito();
                        })
                        .catch(function (error) {
                            console.log(error.response);
                            alert(error);
                        });
                }
            },

            actualizarCamion(){
                if(this.validarCamion()){
                    return;
                }else{
                    let me = this;
                    axios.put(this.ruta +'/user/actualizar',{ //la ruta , los datos q recibimos  enviamos a registrar
                    //campos de la bd : variabes de js
                        'usuario': this.usuario,
                        'idrol': this.idrol,
                        'password': this.password,
                        'id': this.userid,
                        'idzona' : this.idzona
                    }).then(function (response) {
                        me.cerrarModal();
                        me.listarUsuarios();//listar por defecto  
                        me.registroExito();
                        })
                        .catch(function (error) {
                            console.log(error.response);
                        });
                }
            },

            eliminarCamion(id){
               let me = this;
                 swal.fire({
                    title: '¿Desea Desactivar este Usuario?',
                    text: "¡Este Usuario no podra seguir ingresando al Sistema!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si, Deseo Desactivarlo!'

                }).then((result) => {

                if (result.value) {

                axios.put(this.ruta +'/user/desactivar',{ //la ruta , los datos q recibimos  enviamos a registrar
                    'id': id
                }).then(function (response) {

                     $("#myTable").dataTable().fnDestroy();
                    me.listarUsuarios();//listar por defecto  
                    
                    swal.fire(
                    'Desactivado!',
                    'El usuario no podra ingrear al sistema.',
                    'success'
                    )   

                    })
                    .catch(function (error) {
                        console.log(error.response);
                    });
                }else if(result.dismiss == swal.DismissReason.cancel){

                }
                })
            },

            activarCamion(id){
               let me = this;
                 swal.fire({
                    title: '¿Desea Activar este Usuario?',
                    text: "¡Este Usuario podra seguir ingresando al Sistema!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si, Deseo Activarlo!'

                }).then((result) => {

                if (result.value) {

                axios.put(this.ruta +'/user/activar',{ //la ruta , los datos q recibimos  enviamos a registrar
                    'id': id
                }).then(function (response) {

                     $("#myTable").dataTable().fnDestroy();
                    me.listarUsuarios();//listar por defecto  
                    
                    swal.fire(
                    'Activado!',
                    'El usuario ha sido activado con éxito.',
                    'success'
                    )   

                    })
                    .catch(function (error) {
                        console.log(error.response);
                    });
                }else if(result.dismiss == swal.DismissReason.cancel){

                }
                })
            },

            abrirModal(modelo, accion, data = []){ //se encarga de abrir el modal y los diferentes casos Y estados
                
                switch(modelo){
                    case "users":
                    {
                        switch(accion){
                            case 'registrar':
                            {
                                this.listarRoles();
                                this.tipoAccion = 1; //para mostrar el boton guardar
                                this.modal = 1;//debe mostar ventana modal
                                this.tituloModal = 'Registrar Usuarios'
                                this.nombre = '';
                                this.descripcion = '';
                                
                                break;
                            }
                            case 'actualizar':
                            {
                                let me = this;
                                this.tipoAccion = 2; //tipo de accion para actualizr es 2
                                this.tituloModal = "Actualizar Usuario"; //que se muetre este titulo
                                this.usuario = data['usuario']; 
                                this.nombre_tra = data['nombre_tra'];
                                this.apellido_tra = data['apellido_tra'];
                                this.idrol = data['idrol'];
                                this.idzona = data['idzona'];
                                this.tra_id = data['traid'];
                                this.userid = data['userid'];
                                
                                this.modal = 1;
                                
                                break;

                            }
                        }
                    }
                }
            },

            
            validarCamion(){
                this.errorCamion= 0; //inicializamos en 0
                this.errorMsjCamion = []; //a este array le anexaremos los msj d errores con el metodo push
                
               if(!this.tra_id) this.errorMsjCamion.push("Por favor asociar un Trabajador");
               if(!this.usuario) this.errorMsjCamion.push("Debe ingrear un Usuario");
               if(!this.password) this.errorMsjCamion.push("Debe ingresar un Password");
               if(!this.idrol) this.errorMsjCamion.push("Por favor asociar algun rol");
                
                if(this.errorMsjCamion.length) this.errorCamion = 1;
                //aqui retornamos el valor 1
                return this.errorCamion;

            },

            cerrarModal(){
                this.modal=0;
                this.tituloModal = '';
                this.tra_id=0;
                this.usuario='';
                this.password='';
                this.idrol=0;
                this.arrayTra = [];
                
            },
             limpiar(){
                // this.modal=0;
                this.tituloModal = '';
                // this.tra_id=0;
                this.usuario='';
                this.password='';
                this.idrol=0;
                // this.arrayTra = [];
                
            },

            registroExito(){
                swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'Registro Exitoso',
                showConfirmButton: false,
                timer: 1200
                })
            },

            validarUsuario(){
                var sw=0;
                let me=this;
                var url =me.ruta +'/users/validar?id=' + me.tra_id;
                axios.get(url).then(function (response) {
                    if(response.data == 1){
                        me.valorContra = response.data;
                        sw = true;
                        swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: '¡Este Usuario ya Existe!',
                        footer: '!Por Favor Corregir e Intentar Nuevamente!'
                        })  
                        me.limpiar();
                    }
                })
                .catch(function (error) {
                    console.log(error);
                });
            }
        },
        mounted() {
            this.listarZonas();
            this.listarRoles();
            this.listarUsuarios();
        }
    }
</script>

<style>

    .modal-content{
        border-radius: .3rem;
        width: 100% !important;
        position: absolute !important;
    }
    .modal-header{
        border-top-right-radius: .3rem;
        border-top-left-radius: .3rem;
        background-color: #3678A8;
        color: white;
    }

    .mostrar{ /* cuando mostrar es igual a 1*/
        display: list-item !important;
        opacity: 1 !important;
        background-color: #3c29297a !important;
        overflow-y: auto;
    }

    .card{
        border: 0;
        border-radius: .3rem;
        box-shadow: 0 0 1px rgba(0,0,0,.125),0 1px 3px rgba(0,0,0,0.38);
    }
    .card-header{
        border: 0;
        border-top-left-radius: .3rem;
        border-top-right-radius: .3rem;
    }

    .card-footer{
        border: 0;
        border-radius: .3rem;
    }
    .form-control,.btn{
        border-radius: 3px;
    }
        .form-control,.btn{
        border-radius: 3px;
    }
</style>
